<div class="container-fluid">
				<!-- Breadcrumbs -->
				<ol class="breadcrumb">
						<li class="breadcrumb-item">
								<a href="/">Home</a>
						</li>
						<li class="breadcrumb-item">
								Clinical Pathology Tools
						</li>
							<li class="breadcrumb-item active"><i class="fa fa-transgender-alt mr-2"></i>Transfusion Antibody</li>
				</ol>

 {{> message-center this}}

				<div class="card mb-3">
						<div class="card-header">
								<i class="fa fa-transgender-alt mr-2"></i> Transfusion antibody identification with comments
						</div>
						<div class="card-header">
								<!-- How to use and modal -->
								<div class="row">
										<button class="btn btn-default btn-block" data-target="#flipFlop" data-toggle="modal" id="openhelp"
														type="button">How to use the Antibody identification tool
										</button>
										<!-- The modal -->
{{> page-modals/clin-path/antibody-how-to-use}}
								</div>
						</div>

				</div>
				<div class="row">

										<!-- bottom left column-->
										<div class="col col-md-6" id="bottom-l">
										<div class="card">
												<div class="card-header">
														<p>Select your antibody</p>
												</div>
												<div class="card-block">
														<select class="form-control" id="antibody">
																<option value="000" selected hidden>Choose</option>
																<option value="_100">Anti-A1</option>
																<option value="_110">Anti-C</option>
																<option value="_111">Anti-C + e</option>
																<option value="_120">Anti-D baby</option>
																<option value="_121">Anti-D mom</option>
																<option value="_130">Anti-E</option>
																<option value="_140">Anti-I</option>
																<option value="_141">Anti-IH</option>
																<option value="_150">Anti-K</option>
																<option value="_160">Anti-Le(a)</option>
																<option value="_170">Anti-M</option>
																<option value="_180">Anti-P1</option>
																<option value="_190">Warm Auto</option>
																<option value="_191">Cold Agglutinin</option>
																<option value="_200">Positive DAT and reactive elution</option>
														</select>
												</div>
										</div>
										</div>
										<!-- middle right text output-->
										<div class="col col-md-6" id="bottom-r">
												<div class="card text-center">
													<div class="card-header button-box">
															<ul class="nav nav-pills standard-button-box">
																	<a class="btn btn-lg btn-outline-info p-2" id="writeReport">
																			<small>Write Report</small>
																	</a>

																	<a class="btn btn-lg btn-outline-success p-2 ml-4" >
																			<small class="copy btn-default" data-toggle="popover" data-placement="top" data-content="Diff copied to clipboard!" data-clipboard-target="#outPut-1" >
																					Copy</small>
																	</a>

																	<a class="btn btn-lg btn-outline-danger p-2 ml-4" id="Reset" >
																			<small>Reset</small>
																	</a>
															</ul>
													</div>


														<div class="card-block">
															{{> page-partials/case-reference}}
																<div class="form-group">

																		<textarea class="form-control" id="outPut-1" rows="12" placeholder="Final text"></textarea>

																</div>
																<div class="card-footer">
																	<p>
																		Note, %age availability of uncommon red cell units may be different in your region. Adjust text accordingly.
																	</p>
																</div>
														</div>
												</div>
										</div>
				</div>
				{{> page-modals/new-case-reference}}
				{{> page-partials/history-module}}
				<!-- end container-fluid -->
		</div>

<!--
"specificScripts":
	[
		"/json/json-abid.js",
		"/js/clin-path/antibody-scripts.js"
	]
-->
