<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            Clinical Pathology Tools
        </li>
        <li class="breadcrumb-item active" id="bc-jump"><i class="fa fa-align-left fa-rotate-270 mr-2"></i>Hemoglobin Electrophoresis</li>
    </ol>

    {{> message-center this}}

    <!-- Full width row + card -->
    <div class="row">
        <!-- top card-->
        <div class="col col-md-12">
            <div class="card">
                <div class="card-header">
                    <!-- inline header form-->
                    <form class="form-inline">

                        <div class="col col-md-4 ">
                            <button type="button" class="btn btn-primary btn-md p-1 w-100" data-toggle="modal"
                                    data-target="#modal-1">How to Use
                            </button>
                        </div>
                        <div class="col col-md-4">
                            <button type="button" class="btn btn-warning btn-md p-1 w-100" data-toggle="modal"
                                    data-target="#modal-2">List of Abnormal Hb by Capillary Zone
                            </button>
                        </div>
                        <div class="col col-md-4">
                            <button type="button" class="btn btn-success btn-md p-1 w-100" data-toggle="modal"
                                    data-target="#modal-3">Normal HbF decline in infants
                            </button>
                        </div>

                    </form>

                </div>
                <div class="card-block">
                    <div class="card-blockquote p-2 h3"> Enter Hb Electrophoresis values here</div>
                    <div class="row mt-2 hbval">
                        <!-- A, A2, F-->
                        <div class="col-md-3">
                            <div class="col">
                                <div class="card">
                                    <div class="card-block ">
                                        <input id="HbA_pct" type="number" class="form-control form-control-sm hba pct" placeholder="Hb A %">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-block ">
                                        <input id="HbA2_pct" type="number" class="form-control form-control-sm hba2 pct" placeholder="Hb A2 %">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-block ">
                                        <input id="HbF_pct" type="number" class="form-control form-control-sm hbf pct abnl" placeholder="Hb F %">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Barts, S, C, E-->
                        <div class="col-md-3">
                            <div class="col">
                                <div class="card">
                                    <div class="card-block ">
                                        <input id="HbS_pct" type="number" class="form-control form-control-sm hbs pct abnl" placeholder="Hb S %">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-block ">
                                        <input id="HbC_pct" type="number" class="form-control form-control-sm hbc pct abnl" placeholder="Hb C %">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-block ">
                                        <input id="HbE_pct" type="number" class="form-control form-control-sm hbe abnl" placeholder="Hb E %">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-block ">
                                        <input id="HbD_pct" type="number" class="form-control form-control-smh hbd pct abnl" placeholder="Hb D %">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- H, D, X-->
                        <div class="col-md-3">
                            <div class="col">
                                <div class="card">
                                    <div class="card-block ">
                                        <input id="HbBarts_pct" type="number" class="form-control form-control-sm hbb pct abnl" placeholder="Hb Barts %">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-block ">
                                        <input id="HbH_pct" type="number" class="form-control form-control-sm hbh pct abnl" placeholder="Hb H %">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-block ">
                                        <input id="HbX_pct" type="number" class="form-control form-control-sm hbx pct abnl" placeholder="Hb X %">
                                        <div>
                                            <select id="HbX_zone" class="form-control form-control-sm">
                                                <option disabled>Zone?</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                                <option>13</option>
                                                <option>14</option>
                                                <option>15</option>
                                            </select>
                                            <div class="card-footer form-control-sm">
                                                Select HbX zone
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- silent alert for erroneous CBC data, fired from pbrules.js-->
                    <div class="alert alert-warning alert-dismissible collapse" id="alert-1" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Uh Oh!</strong> Your abnormal Hb %ages add up to greater than 100. Please check the values entered.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-8">
            <!-- left column-->
            <hr class="p-2" >

            <h5>Age</h5>
            <select id="age" class='form-control form-control-sm col-sm-4'>
                <option>newborn - 6 months</option>
                <option>6 months - 2 years</option>
                <option>2 years - adult</option>
            </select>

            <div class="py-3 w-100"></div>

            <h5>History of recent transfusion?</h5>
            <select id="txhx" class='form-control form-control-sm col-sm-4'>
                <option>No</option>
                <option>Unknown</option>
                <option>Yes</option>
            </select>

            <div class="input-group date my-date-picker tx-date col-sm-4" style="display: none;">
                <input id="date-pick" type="text" class="form-control form-control-sm" placeholder="Enter Date"/>
                <span class="input-group-addon">
                    <span class="fa fa-calendar-plus-o"></span>
                </span>
            </div>

            <div class="py-3 w-100"></div>
            <div class="row">
                <div class="col-md-4 p-2" style="background-color: rgba(255, 152, 0, 0.45)">
                    <h5>Microcytic for age?</h5>
                    <select id="mcv" class='form-control form-control-sm'>
                        <option>No</option>
                        <option>Unknown</option>
                        <option>Yes</option>
                    </select>
                </div>
                <div class="col-md-4 p-2" style="background-color: rgba(255, 152, 0, 0.45)">
                    <h5>Erythrocytosis for age?</h5>
                    <select id="eryth" class='form-control form-control-sm'>
                        <option>No</option>
                        <option>Unknown</option>
                        <option>Yes</option>
                    </select>
                </div>
                <div class="col-md-4 p-2" style="background-color: rgba(255, 152, 0, 0.45)">
                    <h5>Ferritin?</h5>
                    <select id="ferritin" class='form-control form-control-sm'>
                        <option>Not low</option>
                        <option>Unknown</option>
                        <option>Low</option>
                    </select>
                </div>
            </div>


            <hr class="py-3 w-100">
            <h5>Interpretation</h5>
            <select id="hbinterp" class='form-control form-control-sm col-sm-8'>
                <option>Choose...</option>
                <optgroup label="No abnormal hemoglobins" class="norm"></optgroup>
                    <option data-dx="he000">Not infant: No abnormal hemoglobins</option>
                    <option class="norm mcv" data-dx="he001">Not infant: No abnormal hemoglobins, microcytosis</option>
                    <option class="norm child" data-dx="he010">Infant: No abnormal hemoglobins, repeat > 2 years</option>
                    <option class="norm child mcv" data-dx="he011">Infant: No abnormal hemoglobins, microcytosis</option>
                    <option class="norm child fer" data-dx="he012">Infant: No abnormal hemoglobins, iron deficiency</option>
                <optgroup label="Thalassemia (no abnormal hemoglobins)"  class="norm thal"></optgroup>
                    <option class="a2 mcv" data-dx="he200">Probable a-thal: Erythrocytosis and microcytosis, Fer unkown</option>
                    <option class="a2 mcv" data-dx="he201">Likely a-thal: Erythrocytosis and microcytosis, Fer normal</option>
                    <option class="a2 mcv" data-dx="he202">Likely 3 gene a-thal: incr HbH & decr. A2</option>
                    <option class="a2 mcv" data-dx="he203">Likely a-thal + Hb-CS: Hb Barts > HbH & decr. A2 w/ HbCS</option>
                    <option class="a2 mcv" data-dx="he210">Probable b-thal: Microcytosis and A2 >3.5%, but no erythrocytosis</option>
                    <option class="a2 mcv" data-dx="he211">Likely b-thal: Erythrocytosi and microcytosis and A2 >3.5%</option>
                <optgroup label="HbS detected" class="hbs"></optgroup>
                    <option class="hbs" data-dx="he300">Hb S, no microcytosis - Hbs 35-45%</option>
                    <option class="hbs mcv" data-dx="he301">Hb S + microcytosis - HbS ~35 or less, no iron deficiency</option>
                    <option class="hbs fer" data-dx="he302">Hb S + microcytosis - HbS ~35 or less, yes iron deficiency</option>
                    <option class="hbs" data-dx="he303">HbSS - typical (non-infant) - HbS only, >90%</option>
                    <option class="hbs" data-dx="he304">HbSS + transfusion, no microcytosis - HbS & A in some ratio </option>
                    <option class="hbs" data-dx="he311">HbSS + transfusion & incr HbF, no microcytosis - HbS + HbA + HbF >10% </option>
                    <option class="hbs mcv" data-dx="he305">HbSS + transfusion and microcytosis - HbS >50 or <35%, & A </option>
                    <option class="hbs" data-dx="he306">HbS + elevated A2 (trait beta-thal) - A<30%, F 5-10%, A2 >3.5%</option>
                    <option class="hbs" data-dx="he307">HbSS + elevated A2 (sickle beta-thal) - A = 0, F 5-10%, A2 >3.5%</option>
                    <option class="hbs" data-dx="he308">HbSS + increased HbF non-infant - sickle HPFH: S + F 15-30%</option>
                    <option class="hbs" data-dx="he309">HbSS + increased HbF infant - sickle or sickle HPFH</option>
                    <option class="hbs hbc" data-dx="he310">HbS and HbC only- HbSC </option>
                <optgroup label="HbC detected" class="hbc" ></optgroup>
                    <option class="hbc" data-dx="he400">Heterozygous Hb C trait - 25-45%, no microcytosis</option>
                    <option class="hbc mcv" data-dx="he401">Heterozygous Hb C trait - 25-45% and microcytosis</option>
                    <option class="hbc fer" data-dx="he402">Heterozygous Hb C trait - 25-45% and iron deficiency</option>
                    <option class="hbc" data-dx="he403">Hemoglobin C trait and beta plus-thal (C-beta+ thal) - C (25-45%) > A, F 2-5%, A2 >3.5</option>
                    <option class="hbc" data-dx="he404">Hemoglobin C trait and beta -thal (C-beta thal) - C only (25-45%), F 2-5%, A2 >3.5</option>
                    <option class="hbc" data-dx="he405">Homozygous Hb C</option>
                <optgroup label="only HbF elevated" class="hbf" ></optgroup>
                    <option class="hbf" data-dx="he500" >Not infant: HPFH - Hb F ~10-35% > 2 yrs of age</option>
                    <option class="hbf" data-dx="he501" >Not infant: Mildly increased Hb F 2-10%</option>
                    <option class="hbf child" data-dx="he502">Infant: Increased HbF for age (up to 2 years)</option>
                    <option class="hbf mcv child" data-dx="he503" >Increased HbF and thalassemic RBC indices w/ increased A2$%</option>
                <optgroup label="only HbE elevated" class="hbe"></optgroup>
                    <option class="hbe" data-dx="he600" >HbE trait - HbE ~25-30%</option>
                    <option class="hbe mcv" data-dx="he601">HbEE vs HbE-B-thal major - HbE without A, incr A2 and Hb F</option>
                    <option class="hbe mcv" data-dx="he602">HbE-B-thal minor - HbE without A, incr A2 and Hb F</option>
                <optgroup label="HbX detected" class="hbx"></optgroup>
                    <option class="hbx" data-dx="he701">Zone 1: Abnormal HbX </option>
                    <option class="hbx" data-dx="he702">Zone 2: Abnormal HbX (HbCS ~2-5%)</option>
                    <option class="hbx" data-dx="he703">Zone 3: Abnormal HbX (HbO-Arab ~30-40%)</option>
                    <option class="hbx" data-dx="he704">Zone 4: Abnormal HbX (Hb Koln multiple peaks btwn A and A2)</option>
                    <option class="hbx" data-dx="he705">Zone 5: Abnormal HbX </option>
                    <option class="hbx" data-dx="he706">Zone 6: Abnormal HbX (HbD ~40-45%) </option>
                    <option class="hbx" data-dx="he707">Zone 6: Abnormal HbX (Hb Lepore ~7-15%) </option>
                    <option class="hbx" data-dx="he708">Zone 6: Abnormal HbX (HbG 20-25% with F and A2 derivatives) </option>
                    <option class="hbx" data-dx="he709">Zone 7: Abnormal HbX (usually ~25-35%)</option>
                    <option class="hbx" data-dx="he710">Zone 8: Abnormal HbX (usually ~35-50%)</option>
                    <option class="hbx" data-dx="he711">Zone 9: Abnormal HbX </option>
                    <option class="hbx" data-dx="he712">Zone 10: Abnormal HbX </option>
                    <option class="hbx" data-dx="he713">Zone 11: Abnormal HbX </option>
                    <option class="hbx" data-dx="he714">Zone 12: Abnormal HbX (Hb Barts <10%) </option>
                    <option class="hbx" data-dx="he715">Zone 12: Abnormal HbX (not Barts or H) </option>
                    <option class="hbx" data-dx="he716">Zone 13: Abnormal HbX (Hb N-Baltimore 40-50%) </option>
                    <option class="hbx" data-dx="he717">Zone 15: Abnormal HbX (Hb H, >10%) </option>

            </select>

            <div class="py-3 w-100"></div>

            <h5>Interpretive Comment</h5>
            <div class="small py-2">Adjust as necessary</div>
            <textarea  id="hbtext" class="form-control col-sm-8" rows="15" ></textarea>

        </div>
        <!-- right column-->
        <div class="col col-md-4" id="sticky">
            <div class="card text-center">
                <div class="card-header button-box">
                    <ul class="nav nav-pills standard-button-box">
                        <a class="btn btn-outline-success p-1 mb-2" id="writeReport">
                            Write Report
                        </a>

                        <a class="btn btn-outline-danger p-1 mb-2 ml-4" id="Reset">Reset</a>
                    </ul>
                </div>
                <div class="card-block">

                    <form>
                        <!-- hide first text area
                <div class="form-group">
                        <textarea class="form-control" id="outPut-1" rows="5" placeholder="CBC Data"></textarea>
                        <span class="input-group-addon btn btn-primary" data-clipboard-target="#outPut-1">Copy to Clipboard</span>
                </div>   -->
                        <div class="form-group">
                            <textarea class="form-control" id="outPut-2" rows="15"
                                      placeholder="Example Micro"></textarea>
                            <span class="input-group-addon copy btn btn-primary" data-clipboard-target="#outPut-2">Copy to Clipboard</span>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="outPut-3" rows="10"
                                      placeholder="Example Final"></textarea>
                            <span class="input-group-addon copy  btn btn-primary" data-clipboard-target="#outPut-3">Copy to Clipboard</span>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="outPut-4" rows="5"
                                      placeholder="Example Comment"></textarea>
                            <span class="input-group-addon copy btn btn-primary" data-clipboard-target="#outPut-4">Copy to Clipboard</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end right column-->
    </div>
    <!-- end bottom row-->
    {{> page-modals/clin-path/hbelec-how-to-use}}
    {{> page-modals/clin-path/hbelec-zone-data}}
    {{> page-modals/clin-path/hbf-levels}}
    {{> page-modals/combined-report}}
    {{> page-modals/new-case-reference}}
    {{> page-partials/history-module}}
</div>
<!--end container wrapper-->


