<div aria-hidden="true" data-backdrop="false" aria-labelledby="modalLabel" class="modal fade" id="pedi-autopsy-1" role="dialog"
		 tabindex="-1">
		<div class="modal-dialog modal-lg " role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel">  </h4>
						</div>
						<div class="modal-body">
                            <div class="jumbotron-fluid bg-success rounded h1 p-2 mb-2">
                                Pediatric Autopsy templating tool instructions
                            </div>
                            <h2 class="page-header">What types of autopsies is this app for?</h2>
                                <p class="lead">
                                    This app has been designed to assist with generating consistent reports for
                                    perinatal autopsies (not surgpath fetus examinations), livebirth infant autopsies
                                    (documented signs of life and quick demise), general pediatric autopsies (birth - 18 yrs)
                                </p>
                            <hr class="my-2">

                            <h2 class="page-header">What types of autopsies is this not ideal for? </h2>
                                <p class="lead">
                                    This app is not really ideal for surgical pathology fetuses (typically designated as
                                    either under 20 weeks or 350 grams) and adult autopsies. Why? The former typically gets
                                    a shorter exam and is often received with extensive autolytic changes. The latter is
                                    not suited to the line items for external and internal examination described here.
                                </p>
                            <hr class="my-2">

                            <h2 class="page-header">How this works</h2>
                                <p class="lead">
                                    Grab the autopsy examination worksheet before prosection first! Then get to work here.
                                </p>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Enter the birth/death details and autopsy performance specifics.
                                        The app will calculate the age of the patient and adjust the line items
                                        accordingly.
                                    </li>
                                    <li class="list-group-item">
                                        For stillbirths, enter the gestational age to adjust organ weight and length reference ranges.
                                    </li>
                                    <li class="list-group-item">
                                        Click each heading and answer the line item questions.
                                    </li>
                                    <li class="list-group-item">
                                        Once complete, click the 'Write Report' button to construct the various segments. Click
                                        the 'Combine Report' button to put the segments into one long format.
                                    </li>
                                </ul>
                            <hr class="my-2">

                            <h2 class="page-header">Where is the final diagnosis options? </h2>
                            <p class="lead">
                                This app will only generate a skeleton for the final diagnosis. This is because there are
                                too many options to consider building for autopsy FADs. C'mon, you knew this. I've
                                taken you this far, what more do you really need? Sheesh, do some work for once.
                            </p>

                            <hr class="my-3">

                            <h2 class="page-header bg-warning rounded p-2">Important information about formatting!</h2>
                            <p class="lead">
                                The reports are designed to be copy/pasted into an MS-Word (or similar) editor for your AP-LIS. It is highly
                                recommended you format your text into a monospace font - like Courier New - at 11 pt size.
                            </p>
                            <p class="lead pt-2">
                                The two-column format that the text is printed may not be suitable for some AP-LIS systems that do not allow for
                                rich text editing. Sorry, thems the facts.
                            </p>
                            <hr class="my-2">
						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>