<!-- popular tools label -->
<li class="nav-item">
	<span class="navbar-brand ml-2">
		Popular tools
	</span>
	<ul class="sidebar-second-level">
<!-- hemediff -->
		<li class="nav-item">
			<a class="nav-link" href="/apps/heme_diff">
				<i class="fa fa-fw fa-calculator"></i>
				WBC Diff Counter
			</a>
		</li>
		<!-- counter -->
		<li class="nav-item">
			<a class="nav-link" href="/apps/counter">
				<i class="fa fa-fw fa-calculator"></i>
				Custom Tally Counter
			</a>
		</li>
		<!-- pbsmears -->
		<li class="nav-item">
			<a class="nav-link" href="/apps/pb_smears">
				<i class="fa fa-fw fa-battery-3"></i>
				Peripheral Smear reports
			</a>
		</li>
		<!-- GI biopsies -->
		<li class="nav-item">
			<a class="nav-link" href="/apps/gi_bx">
				<i class="fa fa-fw fa-database"></i>
				GI biopsies
			</a>
		</li>
		<!-- fixation -->
		<li class="nav-item">
			<a class="nav-link" href="/apps/fixation">
				<i class="fa fa-fw fa-clock-o"></i>
				Breat Fixation Times
			</a>
		</li>
		<!-- surg path snippet locker -->
		<li class="nav-item">
			<a class="nav-link" href="/apps/snippets">
				<i class="fa fa-fw fa-tags"></i>
				Surg Path Snippet Locker
			</a>
		</li>
	</ul>
</li>
