<!-- Surg Path Tools Label -->
<li class="nav-item">
	<a
		class="nav-link nav-link-collapse collapsed"
		data-toggle="collapse"
		href="#collapseComponents-surg"
	>
		<i class="fa fa-fw fa-archive"></i>
		Surgical pathology tools
	</a>
<!-- Surg Path Tools List -->
	<ul class="sidebar-second-level collapse" id="collapseComponents-surg">
<!-- Surg Path Tools: Immunohistochemistry table -->
		<li>
			<a href="/apps/ihc_table">
				Immunohistochemistry table
			</a>
		</li>
<!-- Surg Path Tools: Breast Fixation Times -->
		<li>
			<a href="/apps/fixation">
				Breast Fixation Times
			</a>
		</li>
		<!-- surg path snippet locker -->
		<li>
			<a href="/apps/snippets">
				Surg Path Snippet Locker
			</a>
		</li>
<!-- end Surg Path Tools list -->
	</ul>
<!-- end Surg Path Tools label -->
</li>
