<!-- Autopsy Tools label-->
<li class="nav-item">
	<a
		class="nav-link nav-link-collapse collapsed"
		data-toggle="collapse"
		href="#collapseComponents-autopsy"
	>
		<i class="fa fa-fw fa-child"></i>
		Autopsy tools
	</a>
<!-- Autopsy Tools list-->
	<ul class="sidebar-second-level collapse" id="collapseComponents-autopsy">
<!-- Autopsy Tools: Autopsy Weights Table-->
		<li>
			<a class="nav-link" href ="/autopsy/weights">
				Autopsy Weights Table
			</a>
		</li>
		<li>
			<a class="nav-link" href ="/autopsy/autopsy-pedi">
				Pediatric Autopsy Reporting tool
			</a>
		</li>
	</ul>
<!-- end Autopsy tools label-->
</li>
