<!-- Autopsy Tools label -->
<li class="nav-item">
	<a
		class="nav-link nav-link-collapse collapsed"
		data-toggle="collapse"
		href="#collapseComponents-autopsy"
	>
		<i class="fa fa-fw fa-child"></i>
		Autopsy tools
	</a>
<!-- Autopsy Tools list -->
	<ul class="sidebar-second-level collapse" id="collapseComponents-autopsy">
<!-- Autopsy Tools: Autopsy Weights Table -->
		<li>
			<a href="/autopsy/weights-table">
				Autopsy Weights Table
			</a>
		</li>
<!-- Autopsy Tools: Stillbirth report generator -->
		<li>
			<a href="/autopsy/stillbirth">
				Stillbirth report generator
			</a>
		</li>
<!-- end Autopsy tools list -->
	</ul>
<!-- end Autopsy tools label -->
</li>
