<!-- CAP: adult checklists label -->
<li class="nav-item">
    <a
            class="nav-link-collapse collapsed"
            data-toggle="collapse"
            href="#collapseMulti3"
    >
        Adult Checklists
    </a>
    <!-- CAP: adult list -->
    <ul class="sidebar-third-level collapse" id="collapseMulti3">
        <!-- CAP: adult: Breast Cancer, Invasive -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/breast">
                Breast Cancer, Invasive
            </a>
        </li>
        <!-- CAP: adult: Bone tumors, biopsy -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/bone-t-bx">
                Bone tumors, biopsy
            </a>
        </li>
        <!-- CAP: adult: Bone tumors, resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/bone-t-rx">
                Bone tumors, resection
            </a>
        </li>
        <!-- CAP: adult: Cervical cancer - Leep/Cone -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/cervix-leep">
                Cervical cancer - Leep/Cone
            </a>
        </li>
        <!-- CAP: adult: Cervical cancer - Hysterectomy / Exenteration -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/cervix-rx">
                Cervical cancer - Hysterectomy / Exenteration
            </a>
        </li>
        <!-- CAP: adult: Colon/Rectal Cancer arising within a polyp -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/colon-polyp">
                Colon/Rectal Cancer arising within a polyp
            </a>
        </li>
        <!-- CAP: adult: Colon/Rectal Cancer resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/colon-rx">
                Colon/Rectal Cancer, resection
            </a>
        </li>
        <!-- CAP: adult: CNS tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/neuro-t">
                CNS tumors
            </a>
        </li>
        <!-- CAP: adult: CNS tumors, biomarker -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/neuro-t-biomarker">
                CNS tumors, biomarker
            </a>
        </li>
        <!-- CAP: adult: Perihilar bile duct tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/distal-ducts">
                Distal Bile Duct tumors
            </a>
        </li>
        <!-- CAP: adult: Endometrial tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/endometrium-t">
                Endometrial tumors
            </a>
        </li>
        <!-- CAP: adult: Esophageal & GEJ carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/esophagus">
                Esophageal & GEJ carcinomas
            </a>
        </li>
        <!-- CAP: adult: Esophageal & GEJ carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/ex-gon-gct">
                Extra-gonadal germ cell tumors
            </a>
        </li>
        <!-- CAP: adult: Intrahepatic bile duct tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/intrahepatic-ducts">
                Intrahepatic Bile Duct tumors
            </a>
        </li>

        <!-- CAP: adult: Hepatocellular resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/hepatocellular">
                Hepatocellular carcinomas
            </a>
        </li>

        <!-- CAP: adult: Jejunal/Ileal NET resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/jejunal-t">
                Jejunal and Ileal neuroendocrine tumors
            </a>
        </li>

        <!-- CAP: adult: Kidney Tumor, resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/kidney-rx">
                Adult-type Kidney Tumors, resection
            </a>
        </li>

        <!-- CAP: adult: Larynx tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/larynx-t">
                Laryngeal carcinomas
            </a>
        </li>
        <!-- CAP: adult: Lip/Oral tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/lip-oral-t">
                Lip and Oral cavity tumors
            </a>
        </li>
        <!-- CAP: adult: Lung Tumor, resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/lung-rx">
                Lung Tumor, resection
            </a>
        </li>
        <!-- CAP: adult: Melanoma, resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/melanoma">
                Melanoma (Cutaneous), Biopsy or Excisions
            </a>
        </li>

        <!-- CAP: adult: Mesothelioma -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/mesothelioma">
                Mesothelioma
            </a>
        </li>

        <!-- CAP: adult: Nasal and Paranasal tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/nasal-t">
                Nasal and Paranasal tumors
            </a>
        </li>

        <!-- CAP: adult: Neuroendocrine tumors: Appendix, Colon or Pancreas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/neuroend-t">
                Neuroendocrine tumors: Appendix, Colon or Pancreas
            </a>
        </li>
        <!-- CAP: adult: Ovary tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/ovary-t">
                Ovary, Fallopian tube and Primary Peritoneum tumors
            </a>
        </li>

        <!-- CAP: adult: Penis tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/penis-t">
                Penile tumors
            </a>
        </li>
        <!-- CAP: adult: Plasma cell tumor, targeted biopsy, not bone marrow -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/plasmacytoma">
                Plasma cell tumor, targeted biopsy, not bone marrow
            </a>
        </li>

        <!-- CAP: adult: Pancreatic (Endocrine) tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/pancendo-t">
                Pancreatic (Endocrine) tumors
            </a>
        </li>

        <!-- CAP: adult: Pancreatic (Exocrine) tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/pancexo-t">
                Pancreatic (Exocrine) tumors
            </a>
        </li>

        <!-- CAP: adult: Perihilar bile duct tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/perihilar-ducts">
                Perihilar Bile Duct tumors
            </a>
        </li>
        
        <!-- CAP: adult: Pancreatic (Exocrine) tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/pharynx-t">
                Pharyngeal carcinomas
            </a>
        </li>

        <!-- CAP: adult: Salivary gland tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/salivary-t">
                Salivary gland tumors
            </a>
        </li>
        <!-- CAP: adult: Soft Tissue tumors, resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/soft-t-rx">
                Soft Tissue tumors, resection
            </a>
        </li>

        <!-- CAP: adult: Merkel cell -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/skin-merkel">
                Skin - Merkel cell carcinoma
            </a>
        </li>

        <!-- CAP: adult: small intestine tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/small-intestine">
                Small intestine carcinomas
            </a>
        </li>

        <!-- CAP: adult: Stomach carcinomas (excluding cancers w/in 5cm of the GEJ) -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/stomach">
                Stomach carcinomas (excluding cancers w/in 5cm of the GEJ)
            </a>
        </li>

        <!-- CAP: adult: Stomach nets (excluding cancers w/in 5cm of the GEJ) -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/stomach-net">
                Stomach Neuroendocrine tumors
            </a>
        </li>

        <!-- CAP: adult: Testicular tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/testis-t">
                Testicular tumors
            </a>
        </li>

        <!-- CAP: adult: Thymus tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/thymus-t">
                Thymus tumors (carcinomas and thymomas)
            </a>
        </li>

        <!-- CAP: adult: Thyroid tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/thyroid-t">
                Thyroid tumors
            </a>
        </li>
        <!-- CAP: adult: Trophoblastic tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/trophoblast">
                Gestational Trophoblastic tumors
            </a>
        </li>

        <!-- CAP: adult: Ureter/Pelvic carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/ureter-pelvis-t">
                Ureter and Renal Pelvis carcinomas
            </a>
        </li>

        <!-- CAP: adult: Urethral carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/urethra-t">
                Urethral Carcinomas
            </a>
        </li>


        <!-- CAP: adult: Urinary bladder carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/bladder-bx">
                Urinary Bladder Carcinomas (biopsy/TURBT)
            </a>
        </li>

        <!-- CAP: adult: Urinary bladder carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/bladder-t">
                Urinary Bladder Carcinomas (resection)
            </a>
        </li>


        <!-- CAP: adult: Uterine sarcoma  -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/uterine-sarc">
                Uterine sarcomas
            </a>
        </li>

        <!-- CAP: adult: Uveal melanoma  -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/uveal-mel">
                Uveal melanomas
            </a>
        </li>

        <!-- CAP: adult: Vaginal carcinomas  -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/vagina">
                Vaginal carcinomas
            </a>
        </li>

        <!-- CAP: adult: Vulvar carcinomas  -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/vulva">
                Vulva carcinomas
            </a>
        </li>

        <!-- end CAP: adult list -->
    </ul>
    <!-- end CAP: adult label -->
</li>
