    <!-- CAP: adult list -->
    <ul class="sidebar-third-level collapse" id="collapseMulti3">
        <!-- CAP: adult: Adrenal carcinoma -->
        <li class="nav-item">
            <a class="nav-link" href ="/cap/adrenal-t?user=internal">
                Adrenal tumors
            </a>
        </li>
        <!-- CAP: adult: Ampullary carcinoma -->
        <li class="nav-item">
            <a class="nav-link" href ="/cap/ampulla-t?user=internal">
                Ampullary Carcinomas
            </a>
        </li>
        <!-- CAP: adult: Anal carcinoma -->
        <li class="nav-item">
            <a class="nav-link" href ="/cap/anal-t?user=internal">
                Anal Carcinomas
            </a>
        </li>
        <!-- CAP: adult: Appendix carcinoma -->
        <li class="nav-item">
            <a class="nav-link" href ="/cap/appy-t?user=internal">
                Appendix Carcinomas
            </a>
        </li>
        <!-- CAP: adult: Appendix NET -->
        <li class="nav-item">
            <a class="nav-link" href ="/cap/appy-net?user=internal">
                Appendix, Neuroendocrine tumors
            </a>
        </li>
        <!-- CAP: adult: Breast Cancer, DCIS -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/breast-dcis?user=internal">
                Breast Cancer, DCIS
            </a>
        </li>
        <!-- CAP: adult: Breast Cancer, Invasive -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/breast?user=internal">
                Breast Cancer, Invasive
            </a>
        </li>
        <!-- CAP: adult: Bone tumors, resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/bone-t-rx?user=internal">
                Bone tumors, biopsy or resection
            </a>
        </li>
        <!-- CAP: adult: Cervical cancer - Leep/Cone -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/cervix-leep?user=internal">
                Cervical cancer - Leep/Cone
            </a>
        </li>
        <!-- CAP: adult: Cervical cancer - Hysterectomy / Exenteration -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/cervix-rx?user=internal">
                Cervical cancer - Hysterectomy / Exenteration
            </a>
        </li>
        <!-- CAP: adult: Colon/Rectal Cancer arising within a polyp -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/colon-polyp?user=internal">
                Colon/Rectal Cancer arising within a polyp
            </a>
        </li>
        <!-- CAP: adult: Colon/Rectal Cancer resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/colon-rx?user=internal">
                Colon/Rectal Cancer, resection
            </a>
        </li>

        <!-- CAP: adult: Colon NET resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/colon-net?user=internal">
                Colon/Rectal Neuroendocrine tumors
            </a>
        </li>

        <!-- CAP: adult: CNS tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/neuro-t?user=internal">
                CNS tumors
            </a>
        </li>
        <!-- CAP: adult: CNS tumors, biomarker -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/neuro-t-biomarker?user=internal">
                CNS tumors, biomarker
            </a>
        </li>
        <!-- CAP: adult: Perihilar bile duct tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/distal-ducts?user=internal">
                Distal Bile Duct tumors
            </a>
        </li>
        <!-- CAP: adult: Duodenum/ampullary tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/duo-amp-net?user=internal">
                Duodenum and Ampullary Neuroendocrine tumors
            </a>
        </li>
        <!-- CAP: adult: Endometrial tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/endometrium-t?user=internal">
                Endometrial tumors
            </a>
        </li>
        <!-- CAP: adult: Esophageal & GEJ carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/esophagus?user=internal">
                Esophageal & GEJ carcinomas
            </a>
        </li>
        <!-- CAP: adult: Esophageal & GEJ carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/ex-gon-gct?user=internal">
                Extra-gonadal germ cell tumors
            </a>
        </li>
        <!-- CAP: adult: Intrahepatic bile duct tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/intrahepatic-ducts?user=internal">
                Intrahepatic Bile Duct tumors
            </a>
        </li>


        <!-- CAP: adult: Hepatocellular resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/gallbladder?user=internal">
                Gallbladder carcinomas
            </a>
        </li>

        <!-- CAP: adult: GIST resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/gist?user=internal">
                Gastrointestinal stromal tumor (GIST)
            </a>
        </li>


        <!-- CAP: adult: Hepatocellular resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/hepatocellular?user=internal">
                Hepatocellular carcinomas
            </a>
        </li>

        <!-- CAP: adult: Jejunal/Ileal NET resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/jejunal-t?user=internal">
                Jejunal and Ileal Neuroendocrine tumors
            </a>
        </li>

        <!-- CAP: adult: Kidney Tumor, resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/kidney-rx?user=internal">
                Adult-type Kidney Tumors, resection
            </a>
        </li>

        <!-- CAP: adult: Larynx tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/larynx-t?user=internal">
                Laryngeal carcinomas
            </a>
        </li>
        <!-- CAP: adult: Lip/Oral tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/lip-oral-t?user=internal">
                Lip and Oral cavity tumors
            </a>
        </li>
        <!-- CAP: adult: Lung Tumor, resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/lung-rx?user=internal">
                Lung Tumor, resection
            </a>
        </li>
        <!-- CAP: adult: Melanoma, resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/melanoma?user=internal">
                Melanoma (Cutaneous), Biopsy or Excisions
            </a>
        </li>

        <!-- CAP: adult: Mesothelioma -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/mesothelioma?user=internal">
                Mesothelioma
            </a>
        </li>

        <!-- CAP: adult: Nasal and Paranasal tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/nasal-t?user=internal">
                Nasal and Paranasal tumors
            </a>
        </li>

        <!-- CAP: adult: Ovary tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/ovary-t?user=internal">
                Ovary, Fallopian tube and Primary Peritoneum tumors
            </a>
        </li>
        <!-- CAP: adult: Prostate tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/prostate-t?user=internal">
                Prostate tumors
            </a>
        </li>
        <!-- CAP: adult: Penis tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/penis-t?user=internal">
                Penile tumors
            </a>
        </li>
        <!-- CAP: adult: Plasma cell tumor, targeted biopsy, not bone marrow -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/plasmacytoma?user=internal">
                Plasma cell tumor, targeted biopsy, not bone marrow
            </a>
        </li>

        <!-- CAP: adult: Pancreatic (Endocrine) tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/pancendo-t?user=internal">
                Pancreatic (Endocrine) tumors
            </a>
        </li>

        <!-- CAP: adult: Pancreatic (Exocrine) tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/pancexo-t?user=internal">
                Pancreatic (Exocrine) tumors
            </a>
        </li>

        <!-- CAP: adult: Perihilar bile duct tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/perihilar-ducts?user=internal">
                Perihilar Bile Duct tumors
            </a>
        </li>

        <!-- CAP: adult: Pancreatic (Exocrine) tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/pharynx-t?user=internal">
                Pharyngeal carcinomas
            </a>
        </li>

        <!-- CAP: adult: Salivary gland tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/salivary-t?user=internal">
                Salivary gland tumors
            </a>
        </li>
        <!-- CAP: adult: Soft Tissue tumors, resection -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/soft-t-rx?user=internal">
                Soft Tissue tumors, resection
            </a>
        </li>

        <!-- CAP: adult: Merkel cell -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/skin-merkel?user=internal">
                Skin - Merkel cell carcinoma
            </a>
        </li>

        <!-- CAP: adult: small intestine tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/small-intestine?user=internal">
                Small intestine carcinomas
            </a>
        </li>

        <!-- CAP: adult: Stomach carcinomas (excluding cancers w/in 5cm of the GEJ) -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/stomach?user=internal">
                Stomach carcinomas (excluding cancers w/in 5cm of the GEJ)
            </a>
        </li>

        <!-- CAP: adult: Stomach nets (excluding cancers w/in 5cm of the GEJ) -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/stomach-net?user=internal">
                Stomach Neuroendocrine tumors
            </a>
        </li>

        <!-- CAP: adult: Testicular tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/testis-t?user=internal">
                Testicular tumors
            </a>
        </li>

        <!-- CAP: adult: Thymus tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/thymus-t?user=internal">
                Thymus tumors (carcinomas and thymomas)
            </a>
        </li>

        <!-- CAP: adult: Thyroid tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/thyroid-t?user=internal">
                Thyroid tumors
            </a>
        </li>
        <!-- CAP: adult: Trophoblastic tumors -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/trophoblast?user=internal">
                Gestational Trophoblastic tumors
            </a>
        </li>

        <!-- CAP: adult: Ureter/Pelvic carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/ureter-pelvis-t?user=internal">
                Ureter and Renal Pelvis carcinomas
            </a>
        </li>

        <!-- CAP: adult: Urethral carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/urethra-t?user=internal">
                Urethral Carcinomas
            </a>
        </li>


        <!-- CAP: adult: Urinary bladder carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/bladder-bx?user=internal">
                Urinary Bladder Carcinomas (biopsy/TURBT)
            </a>
        </li>

        <!-- CAP: adult: Urinary bladder carcinomas -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/bladder-t?user=internal">
                Urinary Bladder Carcinomas (resection)
            </a>
        </li>


        <!-- CAP: adult: Uterine sarcoma  -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/uterine-sarc?user=internal">
                Uterine sarcomas
            </a>
        </li>

        <!-- CAP: adult: Uveal melanoma  -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/uveal-mel?user=internal">
                Uveal melanomas
            </a>
        </li>

        <!-- CAP: adult: Vaginal carcinomas  -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/vagina?user=internal">
                Vaginal carcinomas
            </a>
        </li>

        <!-- CAP: adult: Vulvar carcinomas  -->
        <li class="nav-item">
            <a class="nav-link" href="/cap/vulva?user=internal">
                Vulva carcinomas
            </a>
        </li>

        <!-- end CAP: adult list -->
    </ul>
