<!-- CAP: adult checklists label -->
<li>
	<a
		class="nav-link-collapse collapsed"
		data-toggle="collapse"
		href="#collapseMulti3"
	>
		Adult Checklists
	</a>
<!-- CAP: adult list -->
	<ul class="sidebar-third-level collapse" id="collapseMulti3">
<!-- CAP: adult: Breast Cancer, Invasive -->
		<li>
			<a href="/cap/breast">
				Breast Cancer, Invasive
			</a>
		</li>
<!-- CAP: adult: Bone Tumors, biopsy -->
		<li>
			<a href="/cap/bone_t_bx">
				Bone Tumors, biopsy
			</a>
		</li>
<!-- CAP: adult: Bone Tumors, resection -->
		<li>
			<a href="/cap/bone_t_rx">
				Bone Tumors, resection
			</a>
		</li>
<!-- CAP: adult: Cervical cancer - Leep/Cone -->
		<li>
			<a href="/cap/cervix_leep">
				Cervical cancer - Leep/Cone
			</a>
		</li>
<!-- CAP: adult: Cervical cancer - Hysterectomy / Exenteration -->
		<li>
			<a href="/cap/cervix_rx">
				Cervical cancer - Hysterectomy / Exenteration
			</a>
		</li>
<!-- CAP: adult: Colon/Rectal Cancer arising within a polyp -->
		<li>
			<a href="/cap/colon_polyp">
				Colon/Rectal Cancer arising within a polyp
			</a>
		</li>
<!-- CAP: adult: Colon/Rectal Cancer resection -->
		<li>
			<a href="/cap/colon_rx">
				Colon/Rectal Cancer, resection
			</a>
		</li>
<!-- CAP: adult: CNS Tumors -->
		<li>
			<a href="/cap/neuro_t">
				CNS Tumors
			</a>
		</li>
<!-- CAP: adult: CNS Tumors, biomarker -->
		<li>
			<a href="/cap/neuro_t_biomarker">
				CNS Tumors, biomarker
			</a>
		</li>
<!-- CAP: adult: Endometrial Tumors -->
		<li>
			<a href="/cap/endometrium_t">
				Endometrial Tumors
			</a>
		</li>
<!-- CAP: adult: Esophageal & GEJ carcinomas -->
		<li>
			<a href="/cap/esophagus">
				Esophageal & GEJ carcinomas
			</a>
		</li>
<!-- CAP: adult: Esophageal & GEJ carcinomas -->
		<li>
			<a href="/cap/ex_gon_gct">
				Extra-gonadal germ cell tumors
			</a>
		</li>
<!-- CAP: adult: Kidney Tumor, resection -->
		<li>
			<a href="/cap/kidney_rx">
				Kidney Tumor, resection
			</a>
		</li>
<!-- CAP: adult: Lung Tumor, resection -->
		<li>
			<a href="/cap/lung_rx">
				Lung Tumor, resection
			</a>
		</li>
<!-- CAP: adult: Melanoma, biopsy or resection -->
		<li>
			<a href="/cap/melanoma_bx_rx">
				Melanoma, biopsy or resection
			</a>
		</li>
<!-- CAP: adult: Neuroendocrine tumors: Appendix, Colon or Pancreas -->
		<li>
			<a href="/cap/neuroend_t">
				Neuroendocrine tumors: Appendix, Colon or Pancreas *NEW*
			</a>
		</li>
<!-- CAP: adult: Ovary Tumors -->
		<li>
			<a href="/cap/ovary_t">
				Ovary Tumors
			</a>
		</li>
<!-- CAP: adult: Plasma cell tumor, targeted biopsy, not bone marrow -->
		<li>
			<a href="/cap/plasmacytoma">
				Plasma cell tumor, targeted biopsy, not bone marrow
			</a>
		</li>
<!-- CAP: adult: Pancreatic (Exocrine) Tumors -->
		<li>
			<a href="/cap/pancexo_t">
				Pancreatic (Exocrine) Tumors
			</a>
		</li>
<!-- CAP: adult: Testicular tumors -->
		<li>
			<a href="/cap/testis_t">
				Testicular tumors
			</a>
		</li>
<!-- CAP: adult: Thyroid Tumors -->
		<li>
			<a href="/cap/thyroid_t">
				Thyroid Tumors
			</a>
		</li>
<!-- CAP: adult: Salivary gland Tumors -->
		<li>
			<a href="/cap/salivary_t">
				Salivary gland tumors
			</a>
		</li>
<!-- CAP: adult: Soft Tissue Tumors, resection -->
		<li>
			<a href="/cap/soft_t_rx">
				Soft Tissue Tumors, resection
			</a>
		</li>
<!-- CAP: adult: Stomach carcinomas (excluding cancers w/in 5cm of the GEJ) -->
		<li>
			<a href="/cap/stomach.php">
				Stomach carcinomas (excluding cancers w/in 5cm of the GEJ)
			</a>
		</li>
<!-- end CAP: adult list -->
	</ul>
<!-- end CAP: adult label -->
</li>
