
<!-- CAP: pediatric list -->
	<ul class="sidebar-third-level collapse" id="collapseMulti2">
<!-- CAP: pediatric: bone tumors, biopsy -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/bone-t-bx">
				Bone Tumors, biopsy
			</a>
		</li>
<!-- CAP: pediatric: bone tumors, resection -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/bone-t-rx">
				Bone Tumors, resection
			</a>
		</li>
<!-- CAP: pediatric: CNS tumors -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/neuro-t">
				CNS Tumors
			</a>
		</li>
<!-- CAP: pediatric: CNS tumors biomarker -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/neuro-t-biomarker">
				CNS Tumors, biomarker
			</a>
		</li>
<!-- CAP: pediatric: Ewing Sarcoma/PNET biopsy -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/pnet-bx">
				Ewing Sarcoma/PNET, biopsy
			</a>
		</li>
<!-- CAP: pediatric: Ewing Sarcoma/PNET resection -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/pnet-rx">
				Ewing Sarcoma/PNET, resection
			</a>
		</li>
<!-- CAP: pediatric: Extra-gonadal germ cell tumors -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/ex-gon-gct">
				Extra-gonadal germ cell tumors
			</a>
		</li>
<!-- CAP: pediatric: Hepatoblastoma -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/hepatoblastoma">
				Hepatoblastoma
			</a>
		</li>
<!-- CAP: pediatric: Neuroblastoma -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/neuroblast">
				Neuroblastoma
			</a>
		</li>
<!-- CAP: pediatric: Neuroendocrine tumors: Appendix, Colon or Pancreas -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/neuroend-t">
				Neuroendocrine tumors: Appendix, Colon or Pancreas
			</a>
		</li>
<!-- CAP: pediatric: Ovary Tumors -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/ovary-t">
				Ovary Tumors
			</a>
		</li>
<!-- CAP: pediatric: Pediatric Renal Tumor -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/wilms-t">
                Pediatric Kidney (Wilms0 Tumor
			</a>
		</li>
<!-- CAP: pediatric: Retinoblastoma -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/retinoblast">
				Retinoblastoma
			</a>
		</li>
<!-- CAP: pediatric: Rhabdomyosarcoma -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/rhabdo">
				Rhabdomyosarcoma
			</a>
		</li>
<!-- CAP: pediatric: Testicular tumors -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/testis-t">
				Testicular tumors
			</a>
		</li>
<!-- CAP: pediatric: Soft Tissue Tumors, resection -->
		<li class="nav-item">
			<a class="nav-link" href ="/cap/soft-t-rx">
				Soft Tissue Tumors, resection
			</a>
		</li>
<!-- end CAP: pediatric list -->
	</ul>

