<!-- CAP: pediatric checklists label -->
<li>
	<a
		class="nav-link-collapse collapsed"
		data-toggle="collapse"
		href="#collapseMulti2"
	>
		Pediatric Checklists
	</a>
<!-- CAP: pediatric list -->
	<ul class="sidebar-third-level collapse" id="collapseMulti2">
<!-- CAP: pediatric: bone tumors, biopsy -->
		<li>
			<a href="/cap/bone-t-bx">
				Bone Tumors, biopsy
			</a>
		</li>
<!-- CAP: pediatric: bone tumors, resection -->
		<li>
			<a href="/cap/bone-t-rx">
				Bone Tumors, resection
			</a>
		</li>
<!-- CAP: pediatric: CNS tumors -->
		<li>
			<a href="/cap/neuro-t">
				CNS Tumors
			</a>
		</li>
<!-- CAP: pediatric: CNS tumors biomarker -->
		<li>
			<a href="/cap/neuro-t-biomarker">
				CNS Tumors, biomarker
			</a>
		</li>
<!-- CAP: pediatric: Ewing Sarcoma/PNET biopsy -->
		<li>
			<a href="/cap/cap-pnet-bx">
				Ewing Sarcoma/PNET, biopsy
			</a>
		</li>
<!-- CAP: pediatric: Ewing Sarcoma/PNET resection -->
		<li>
			<a href="/cap/cap-pnet-rx">
				Ewing Sarcoma/PNET, resection
			</a>
		</li>
<!-- CAP: pediatric: Extra-gonadal germ cell tumors -->
		<li>
			<a href="/cap/ex-gon-gct">
				Extra-gonadal germ cell tumors
			</a>
		</li>
<!-- CAP: pediatric: Hepatoblastoma -->
		<li>
			<a href="/cap/hepatoblast">
				Hepatoblastoma
			</a>
		</li>
<!-- CAP: pediatric: Neuroblastoma -->
		<li>
			<a href="/cap/neuroblast">
				Neuroblastoma
			</a>
		</li>
<!-- CAP: pediatric: Neuroendocrine tumors: Appendix, Colon or Pancreas -->
		<li>
			<a href="/cap/neuroend-t">
				Neuroendocrine tumors: Appendix, Colon or Pancreas
			</a>
		</li>
<!-- CAP: pediatric: Ovary Tumors -->
		<li>
			<a href="/cap/ovary-t">
				Ovary Tumors
			</a>
		</li>
<!-- CAP: pediatric: Pediatric Renal Tumor -->
		<li>
			<a href="/cap/wilms-t">
				Pediatric Renal Tumor
			</a>
		</li>
<!-- CAP: pediatric: Retinoblastoma -->
		<li>
			<a href="/cap/retinoblast">
				Retinoblastoma
			</a>
		</li>
<!-- CAP: pediatric: Rhabdomyosarcoma -->
		<li>
			<a href="/cap/rhabdo">
				Rhabdomyosarcoma
			</a>
		</li>
<!-- CAP: pediatric: Testicular tumors -->
		<li>
			<a href="/cap/testis-t">
				Testicular tumors
			</a>
		</li>
<!-- CAP: pediatric: Soft Tissue Tumors, resection -->
		<li>
			<a href="/cap/soft-t-rx">
				Soft Tissue Tumors, resection
			</a>
		</li>
<!-- end CAP: pediatric list -->
	</ul>
<!-- end CAP: pediatric label -->
</li>
