<!-- CP Tools label -->
<li class="nav-item">
	<a
		class="nav-link nav-link-collapse collapsed"
		data-toggle="collapse"
		href="#collapseComponents-cp"
	>
		<i class="fa fa-fw fa-thermometer"></i>
		Clinical pathology tools
	</a>
<!-- CP tools list -->
	<ul class="sidebar-second-level collapse" id="collapseComponents-cp">
<!-- CP tools: CSF reports -->
		<li>
			<a href="/apps/csf">
				CSF reports
			</a>
		</li>
<!-- CP tools: BAL reports -->
		<li>
			<a href="/apps/bal">
				BAL reports
			</a>
		</li>
<!-- CP tools: BAL reports -->
		<li>
			<a href="/apps/antibody_id">
				Transfusion antibody ID
			</a>
		</li>
<!-- CP tools: Transfusion reaction workup -->
		<li>
			<a href="/apps/tx_rxn">
				Transfusion reaction workup
			</a>
		</li>
<!-- end CP Tools list -->
	</ul>
<!-- end CP Tools label -->
</li>
