<!-- CP Tools label -->
<li class="nav-item">
	<a
		class="nav-link nav-link-collapse collapsed"
		data-toggle="collapse"
		href="#collapseComponents-cp"
	>
		<i class="fa fa-fw fa-thermometer"></i>
		Clinical pathology tools
	</a>
<!-- CP tools list -->
	<ul class="sidebar-second-level collapse" id="collapseComponents-cp">
<!-- CP tools: CSF reports -->
		<li class="nav-item">
			<a class="nav-link" href ="/clin-path/csf">
				CSF reports
			</a>
		</li>
<!-- CP tools: BAL reports -->
		<li class="nav-item">
			<a class="nav-link" href ="/clin-path/bal">
				BAL reports
			</a>
		</li>
<!-- CP tools: Transfusion antibody reports -->
		<li class="nav-item">
			<a class="nav-link" href ="/clin-path/antibody-id">
				Transfusion antibody ID
			</a>
		</li>
<!-- CP tools: Transfusion reaction workup -->
		<li class="nav-item">
			<a class="nav-link" href ="/clin-path/tx-rxn">
				Transfusion reaction workup
			</a>
		</li>
		
<!-- CP tools: Kleihaur Betke -->
		<li class="nav-item">
			<a class="nav-link" href ="/clin-path/kb">
				Kleihauer-Betke RhIg calculator
			</a>
		</li>
<!-- CP tools: Kleihaur Betke -->
		<li class="nav-item">
			<a class="nav-link" href ="/clin-path/mixing-studies">
				Coag Mixing-studies workup
			</a>
		</li>
		<!-- end CP Tools list -->
	</ul>
<!-- end CP Tools label -->
</li>
