<!-- GI Tools label -->
<li class="nav-item">
	<a
		class="nav-link nav-link-collapse collapsed"
		data-toggle="collapse"
		href="#collapseComponents-gi"
	>
		<i class="fa fa-fw fa-database"></i>
		GI Tools
	</a>
<!-- GI Tools list -->
	<ul class="sidebar-second-level collapse" id="collapseComponents-gi">
<!-- GI Tools: GI Biopsies -->
		<li>
			<a href="/apps/gi_bx">
				GI Biopsies
			</a>
		</li>
<!-- GI Tools: Liver Biopsies -->
		<li>
			<a href="/apps/liver_bx">
				Liver biopsies
			</a>
		</li>
<!-- end GI Tools list -->
	</ul>
<!-- end GI Tools label -->
</li>
