<!-- Hemepath tools label -->
<li class="nav-item">
	<a
		class="nav-link nav-link-collapse collapsed"
		data-toggle="collapse"
		href="#collapseComponents-heme"
	>
		<i class="fa fa-fw fa-cogs"></i> Hemepath tools
	</a>
<!-- hemepath tools list -->
	<ul class="sidebar-second-level collapse" id="collapseComponents-heme">
<!-- Hemepath Tools: Peripheral smear reports -->
		<li class="nav-item">
			<a class="nav-link" href ="/heme-path/pb-smears">
				Peripheral smear reports
			</a>
		</li>
<!-- Hemepath Tools: Bone marrow reports -->
		<li class="nav-item">
			<a class="nav-link" href ="/heme-path/bone-marrow">
				Bone marrow reports
			</a>
		</li>
<!-- Hemepath Tools: WBC Diff counter -->
		<li class="nav-item">
			<a class="nav-link" href ="/heme-path/heme-diff">
				WBC Diff counter
			</a>
		</li>
<!-- Hemepath Tools: Custom Tally counter -->
		<li class="nav-item">
			<a class="nav-link" href ="/heme-path/counter">
				Custom Tally counter
			</a>
		</li>
<!-- Hemepath Tools: Custom Tally counter -->
		<li class="nav-item">
			<a class="nav-link" href ="/heme-path/dlbcl">
				Large B-cell lymphoma synoptic
			</a>
		</li>
<!-- end Hemepath Tools list -->
	</ul>
<!-- end Hemepath Tools label -->
</li>
