<!-- Media posts-->
<li class="nav-item">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents-smedia">
        <i class="fa fa-fw fa-child"></i>
        General Media
    </a>
    <ul class="sidebar-second-level collapse" id="collapseComponents-smedia">
        <li>
            <a class="nav-link" href ="/surg-media/thyroid-graves-hashi">
                Thyroiditis - Graves vs Hashimoto
            </a>
        </li>
    </ul>
    <!-- end media label-->
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents-media">
        <i class="fa fa-fw fa-child"></i>
        Hemepath Media
    </a>
    <!-- Hemepath media list-->
    <ul class="sidebar-second-level collapse" id="collapseComponents-media">
        <li>
            <a class="nav-link" href ="/clin-media/newborn-blood-smears">
                Newborn peripheral smears
            </a>
        </li>
    </ul>
    <!-- end media label-->
</li>
