<!-- Media posts-->
<li class="nav-item">
    <a
            class="nav-link nav-link-collapse collapsed"
            data-toggle="collapse"
            href="#collapseComponents-media"
    >
        <i class="fa fa-fw fa-child"></i>
        Hemepath Media
    </a>
    <!-- Hemepath media list-->
    <ul class="sidebar-second-level collapse" id="collapseComponents-media">
        <!-- Autopsy Tools: Autopsy Weights Table-->
        <li>
            <a class="nav-link" href ="/heme-path/heme-media">
                Newborn peripheral smears
            </a>
        </li>
    </ul>
    <!-- end media label-->
</li>
