<!-- popular tools label -->
<li class="nav-item">
	<span class="navbar-brand ml-2">
		Popular tools
	</span>
<li class="nav-item">

    <a class="nav-link" href="/heme-path/heme-diff">
        <i class="fa fa-fw fa-calculator"></i> Diff Counter</a>

</li>

<li class="nav-item">

    <a class="nav-link" href="/heme-path/counter">
        <i class="fa fa-fw fa-calculator"></i> Custom Tally Counter</a>

</li>

<li class="nav-item">

    <a class="nav-link" href="/heme-path/pb-smears">
        <i class="fa fa-fw fa-battery-3"></i> Peripheral Smears</a>

</li>

<li class="nav-item">

    <a class="nav-link" href="/gi-path/gi-bx">
        <i class="fa fa-fw fa-database"></i> GI biopsies</a>

</li>

<li class="nav-item">
    <a class="nav-link" href ="/surg-path/placenta">
        <i class="fa fa-fw fa-user-circle"></i>   Placenta Weights and Reports
    </a>
</li>

<li class="nav-item">

    <a class="nav-link" href="/clin-path/kb">
        <i class="fa fa-fw fa-adjust"></i> Kleihauer-Betke RhIg Dosing tool</a>

</li>

<li class="nav-item">

    <a class="nav-link" href="/surg-path/fixation">
        <i class="fa fa-fw fa-clock-o"></i> Breast Fixation times</a>

</li>

<li class="nav-item">

    <a class="nav-link" href="/surg-path/ihc-table">
        <i class="fa fa-fw fa-info-circle"></i> Immunohistochemistry table</a>

</li>

<!-- pending
		<li class="nav-item">

			<a class="nav-link" href ="/surg-path/prostate-bx">
				<i class="fa fa-fw fa-hand-pointer-o"></i>Prostate biopsies
			</a>

		</li>-->


<li class="nav-item">

    <a class="nav-link" href="/surg-path/sjogrens">
        <i class="fa fa-fw fa-eye"></i> Sjogren's Focus Score</a>

</li>

<li class="nav-item">

    <a class="nav-link" href="/surg-path/snippets">
        <i class="fa fa-fw fa-tags"></i> Surg Path Snippet Locker</a>

</li>

