<!-- Surg Path Tools Label -->
<li class="nav-item">
	<a
		class="nav-link nav-link-collapse collapsed"
		data-toggle="collapse"
		href="#collapseComponents-surg"
	>
		<i class="fa fa-fw fa-archive"></i>
		Surgical pathology tools
	</a>
<!-- Surg Path Tools List -->
	<ul class="sidebar-second-level collapse" id="collapseComponents-surg">
<!-- Surg Path Tools: Prostate biopsies
		<li class="nav-item">
			<a class="nav-link" href ="/surg-path/prostate-bx">
				Prostate biopsies
			</a>
		</li>-->
<!-- Surg Path Tools: Immunohistochemistry table -->
		<li class="nav-item">
			<a class="nav-link" href ="/surg-path/ihc-table">
				Immunohistochemistry table
			</a>
		</li>
<!-- Surg Path Tools: Breast Fixation Times -->
		<li class="nav-item">
			<a class="nav-link" href ="/surg-path/fixation">
				Breast Fixation Times
			</a>
		</li>
<!-- Surg Path Tools: Sjogrens -->
		<li class="nav-item">
			<a class="nav-link" href ="/surg-path/sjogrens">
				Sjogrens Focus Score
			</a>
		</li>
<!-- Surg Path Tools: Placenta -->
		<li class="nav-item">
			<a class="nav-link" href ="/surg-path/placenta">
				Placenta Weights and Reports
			</a>
		</li>
<!-- Surg Path Tools: Heart biopsy -->
		<li class="nav-item">
			<a class="nav-link" href ="/surg-path/heart-bx">
				Heart Transplant Biopsy
			</a>
		</li>
		<!-- surg path snippet locker -->
		<li class="nav-item">
			<a class="nav-link" href ="/surg-path/snippets">
				Surg Path Snippet Locker
			</a>
		</li>
<!-- end Surg Path Tools list -->
	</ul>
<!-- end Surg Path Tools label -->
</li>
