<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="flipFlop" role="dialog"
		 tabindex="-1" data-backdrop="false">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
														aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel">Austin Breast Fixation Schedule</h4>
						</div>
						<div class="modal-body">
								<div class="card text-center">
										<div class="card-header">
												<p>Seton Breast Processing out-of-formalin times</p>
										</div>
										<table class="table">
												<tr>
														<th >Day received</th>
														<th >Time received</th>
														<th >Day out of formalin</th>
														<th >Time out of formalin</th>
												</tr>
												<tr>
														<td >M-Th</td>
														<td >Before 12:30</td>
														<td >Same day</td>
														<td >19:00</td>
												</tr>
												<tr>
														<td >M-W</td>
														<td >After 12:30</td>
														<td >Next day</td>
														<td >19:00</td>
												</tr>
												<tr>
														<td >Th</td>
														<td >After 12:30</td>
														<td >Friday</td>
														<td >20:45</td>
												</tr>
												<tr>
														<td >Fri</td>
														<td >Before 12:30</td>
														<td >Friday</td>
														<td >20:45</td>
												</tr>
												<tr>
														<td >Fri</td>
														<td >After 12:30</td>
														<td >Sunday</td>
														<td >14:00</td>
												</tr>
										</table>
								</div>
						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>
