<div aria-hidden="true" data-backdrop="false" aria-labelledby="modalLabel" data-backdrop="false"
     class="modal fade" id="help-howto" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel"> Some useful references and figures for Hirschsprung pull-throughs </h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header h4">
                        A note about fibromuscular adventitial dysplasia:
                    </div>
                    <div class="card-block py-2">
                        <p class="h4">
                            Reference: Thaker, Ameet I; Kapur, Raj P. Pediatric and Developmental Pathology, 07/2018, Volume 21, Issue 4
                        </p>
                        <p class="py-2">
                            Abnormal submuosal vessels characterized by excess adventitial smooth muscle (mature type AFD) or excess myofibroblasts and myxoid matrix (immature type AFD).
                        </p>
                        <img class="img img-fluid" src="/img/surg-path/kapur_afd.png">
                    </div>
                </div>
            </div>
            <hr class="py-2">
            <div class="modal-body">
                <div class="card">
                    <div class="card-header h4">
                        A note about eosinophilic (myenteric) ganglionitis:
                    </div>
                    <div class="card-block py-2">
                        <p class="h4">
                            Reference: Lowichik A, Weinberg AG.  Ped Pathol Lab Med 1997;17:885-91
                            <br>
                            Reference: Kapur, R. Am J Surg Pathol. 40(12):1637-1646, December 2016.
                        </p>
                        <p class="py-2">
                            Excess eosinophils within the myenteric plexus can be seen in association with changes in the aganglionic and transition zone of Hirschsprung disease.
                            When present, it is most often encountered in infants.
                            Rare cases of intestinal pseudo-obstruction have been ascribed to isolated eosinophilic ganglionitis and improved with immunosuppressive therapy raising the possibility that this pattern of inflammation may affect motility.
                        </p>
                        <img class="img img-fluid" src="/img/surg-path/lowichik.png">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>