<div class="modal fade" id="help_placenta" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close pl-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="col-12 modal-title" id="modaltitle_placenta">How To Use the Placenta App</h4>
            </div>
            <div class="modal-body">
                <ol class="list-group ordered-list-group">
                    <li class="list-group-item ordered-list-group-item">Enter placenta weight and gestational age</li>
                    <li class="list-group-item ordered-list-group-item">Choose the gestation type </li>
                    <li class="list-group-item ordered-list-group-item">Select your preferred historic reference</li>
                    <li class="list-group-item ordered-list-group-item">Calculate the historic reference range and realtime reference range!</li>
                </ol>
            </div>
        </div>
    </div>
</div>
