<!-- The About modal -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" data-backdrop="false" id="help-about" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel"> About the Focus Score </h4>
            </div>
            <div class="modal-body">
                <p>The focus score is a semiquantitative method to assign a probabilistic risk category for patients
                    undergoing evaluation for Sjogren's syndrome.<br>
                    Some basic rules for interpretation apply:</p>
                <hr>
                <ul>
                    <li> One should only score minor salivary lobules without pre-existing chronic or fibrosing injury
                    </li>
                    <li> Do not score lobules with pre-existing atrophic changes (look for dilated ducts with periductal
                        fibrosis)
                    </li>
                    <li> A significant focus is one with greater than 50 lymphocytes/plasma cells around a duct or
                        acinus. Foci with few sparse cells don't count
                    </li>
                    <li> Try to keep the entire patches of inflammatory foci as one focus</li>
                    <li> In florid cases, it can be hard to separate one focus from another - and this can be qualified
                        in a comment
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
