<div class="modal fade" id="help_snippet" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_snip"></h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-block">
                        <span class="display-4">
                            A quick tutorial on how to create new macros / snippets
                        </span>
                    </div>

                    <div class="py-2 w-100"></div>

                    <div class="card-block">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                    src="https://drive.google.com/file/d/1bJKlkHNav9sNPI5PSaAP-YW2ypHPDFZw/preview" width="640" height="480" allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
