<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="flipFlop" role="dialog"
		 tabindex="-1" data-backdrop="false">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"> How to use the body fluid app</h4>
						</div>
						<div class="modal-body">
								<ul class="list-group">
										<li class="list-group-item">Gather your gross descriptions and clinical information</li>
										<li class="list-group-item">Select the appropriate options</li>
										<li class="list-group-item">Add a cell count or cell block if needed</li>
										<li class="list-group-item disabled">Add any IHCs to the cell block</li>
										<li class="list-group-item disabled">Write your report and copy to your LIS</li>
								</ul>
							<div class="card py-2">
								<p class="h5">
									This app is intended ideally for most routine body fluid specimens and some cyst aspirates. It may not
									work as you want it to for targeted lesion FNAs, BALs (use the dedicated BAL app) or CSFs (use the dedicated CSF app).
								</p>
							</div>
						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>
