<div aria-hidden="true" data-backdrop="false" aria-labelledby="modalLabel" class="modal fade" id="modal-1" role="dialog"
		 tabindex="-1">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title ml-2"  id="modalLabel">How to Use</h4>
						</div>
						<div class="modal-body">
								<div class="card-header h4">Hb Electrophoresis with Sebia Capillarys II</div>
								<ul class="list-group">
                                    <li class="list-group-item ">Enter the abnormal hemoglobin percentages</li>
                                    <li class="list-group-item ">Select the relevant clinical information</li>
                                    <li class="list-group-item ">Choose the interpretation that fits best</li>
                                    <li class="list-group-item ">Write the report to generate a combined text</li>
								</ul>

							<div class="py-3 w-100"></div>
								<div class="card-header h4">Some things to consider</div>
								<ul class="list-group">
									<li class="list-group-item ">Alpha-chain mutations will result in abnormal hemoglobin corresponding to each normal Hb present</li>
									<li class="list-group-item ">Delta-chain variants are in zone 1 and should be combined with normal A2 to get total A2</li>
									<li class="list-group-item ">Increased A2 and F, with no abnormal hemoglobins is usually B-thalassemia</li>
									<li class="list-group-item ">Decreased A2 and small abounts of HbH or Barts is usually A-thalassemia</li>
								</ul>

						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>