<div aria-hidden="true" data-backdrop="false" aria-labelledby="modalLabel" class="modal fade" id="modal-2" role="dialog"
		 tabindex="-1">
		<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel">Abnormal Hemoglobins by Zones</h4>
						</div>
						<div class="modal-body">
								<img class="img img-fluid" src="/img/hbelec-zones.png">
							<p class="small">Note: Applies to Sebia Capillarys zone separation only</p>
						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>