<div aria-hidden="true" data-backdrop="false" aria-labelledby="modalLabel" class="modal fade" id="modal-3" role="dialog"
		 tabindex="-1">
		<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel">Natural Decline in HbF leves in infants</h4>
						</div>
						<div class="modal-body">
							<img class="img img-fluid" src="/img/hbf-levels.png">
							<p class="small">Reference: Developmental Changes in Hemoglobin F
								Levels During the First Two Years of Life in
								Normal and Heterozygous fJ-Thalassemia
								Infants. Kattamis, C. et al. Pediatrics. Vol. 69 No. 6 June 1982</p>

						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>