<div aria-hidden="true" aria-labelledby="modalLabel" data-backdrop="false"  class="modal fade" id="howto" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel"> Useful information</h4>
            </div>
            <div class="modal-body">
                <div class="card mb-2">
                    <div class="card-header">
                        How to use the counter
                    </div>
                    <div class="card-block">
                        <ul class="list-group">
                            <li class="list-group-item">Count the fetal and regular RBCs using the red and blue buttons</li>
                            <li class="list-group-item">The red is for fetal red blood cells, blue for maternal</li>
                            <li class="list-group-item">Your fetal RBC percentage and RhIg dose is calculated in real time</li>
                            <li class="list-group-item">Provide pertinent maternal vital information for more accurate dosing</li>
                        </ul>

                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-header">
                        Manually input values
                    </div>
                    <div class="card-block">
                        <ul class="list-group">
                            <li class="list-group-item">You may have an automated digital image counter or a tech who counts the ratio</li>
                            <li class="list-group-item">Instead of manually counting, you can directly input the fetal hemorrhage percentage</li>
                            <li class="list-group-item">You can also estimate the maternal red blood cell number and manually enter it without all that tapping. A 400x field of view in a person with normal normocytic red blood cells is about 2500</li>
                            <li class="list-group-item">Provide pertinent maternal vital information for more accurate dosing</li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        About the calculation
                    </div>
                    <div class="card-block">
                        <p>RHIG calculation is based on the fetal RBC%, and the maternal volume</p>
                        <p>The quick and dirty calculation assumes a maternal blood volume of 5000ml</p>
                        <p>Recently, the CAP published a calculator which incorporates more accurate estimation of maternal blood volume, using known maternal height and weight</p>
                        <p>You have the option to use the standard or more accurate RhIg dosing calculation, if you know the maternal height/weight data</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <p class="text-muted">Brought to you by <a href="https://www.hematogones.com">Hematogones.com</a> </p>
    </div>
</div>
