<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modal-1" role="dialog"
     tabindex="-1" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel"> How to use this Mixing study reporting app</h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">Enter the relevant PT and/or PTT data</li>
                    <li class="list-group-item">The 4:1 % corrections will populate if the necessary data is supplied</li>
                    <li class="list-group-item">Based on the pattern of correction, the app will make suggestions for interpretations</li>
                    <li class="list-group-item disabled">You can go with the suggested interp, or choose your own combinations</li>
                    <li class="list-group-item disabled">Click 'Write report' to generate a combined report with data pseudo-table, interp and comment. Copy/Paste into your LIS</li>
                </ul>
                <div class="card py-2">
                    <div class="card-header">NB: Suggestions made by the app assume local reference ranges at my hospital. Please enter your own reference ranges if you want more tailored recommendations</div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
