.DS_Store
node_modules
bower_components
config
to-dos.md
reports/*/*
npm-debug.log
mochawesome-report
test-send.tar.gz
test/email-config/test-sent-from.txt
test/email-config/test-send
labis_macros_json.js