<!-- main template for snips.hematogones.com adapted from source by Chandra Krishnan, 5/6/2017 by Sarah Riehl, 8/14/2017.  All rights reserved. -->

<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9" lang="en"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9" lang="en"><![endif]-->
<!--[if IE 8]><html class="preIE9" lang="en"><![endif]-->
<!--[if gte IE 9]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106735978-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-106735978-1');
        </script>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no" />
			<title>Hematogones.com - Online Pathology / Laboratory tools</title>
		<meta name="author" content="Sarah Schieffer Riehl with Chandra Krishnan" />
		<meta name="description" content="Online pathology tools, cancer protocol synoptic templates and work aids to help easily generate reports" />
		<meta name="keywords" content="CAP cancer checklist, cancer synoptic, tally counter, diff counter, pathology reports " />
<!-- TODO: favicon -->
		<link rel="shortcut icon" href="/img/hg-favicon.ico" />
<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
		<!-- <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap-combobox.min.css" /> -->
		<!-- <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap-select.min.css" /> -->
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap-datetimepicker.min.css" />
<!-- Custom fonts for this template -->
		<link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css" />
<!-- Plugin CSS -->
		<link rel="stylesheet" type="text/css" href="/vendor/datatables/css/dataTables.bootstrap4.css" />
<!-- ui theme -->
		<link rel="stylesheet" type="text/css" href="/vendor/jquery/css/themes/smoothness/jquery-ui.min.css" />
<!-- Custom styles for this template -->
		<link rel="stylesheet" type="text/css" href="/css/sb-admin.css" />
<!-- custom styles for HG.com -->
		<link rel="stylesheet" type="text/css" href="/css/hg-base.css" />
		<link href="https://fonts.googleapis.com/css?family=Kanit:900i" rel="stylesheet">
		<!-- specific css -->
				{{#if specificCss}}
					{{#each specificCss}}
						<link rel="stylesheet" type="text/css" href={{this}} />
					{{/each}}
				{{/if}}
<!-- extra header scripts -->
		{{#if signup}}
			<script src='https://www.google.com/recaptcha/api.js'></script>
		{{/if}}
	</head>
	<body>
<!-- navigation header which shows logged in status and user account info, as well as sidebar with main menu -->
		<nav id="mainNav" class="navbar static-top navbar-toggleable-md navbar-inverse bg-inverse">
<!-- mobile menu toggle -->
			<div class="navbar-header">
				<button
					aria-controls="navbarExample"
					aria-expanded="false"
					aria-label="Toggle navigation"
					class="navbar-toggler navbar-toggler-right"
					data-target="#navbarExample"
					data-toggle="collapse"
					type="button"
					id="toggleNav"
				>
					<span class="navbar-toggler-icon">
					</span>
				</button>
	<!-- begin header bar -->
				<a href="/">
					<span class="logo">HE</span><span class="logo2">\</span><span class="logo3">\</span><span class="logo4">\</span><span class="logo">ATOGONES</span>
				</a>
			</div>
			<div class="collapse navbar-collapse navbar-right" id="navbarExample">
				<!-- <form class="navbar-form" id="loginBarSearchForm" action="/search">
					<div>
						<label class="hide-element">Search Site</label>
						<input type="text" class="form-control" placeholder="Search" id="loginBarSearchInput" />
					</div>
					<button type="submit" class="btn btn-default hide-element">
					</button>
				</form> -->
<!-- header bar with logged in info dropdown and search -->
			{{> login/login-header this}}
<!-- sidebar goes here -->
				<ul class="sidebar-nav navbar-nav link-search">
					<li>
						<form class="m-3">
							<label
								for="nav-search"
								class="col-2 col-form-label sr-only"
							>
								Search links
							</label>
							<input
								class="form-control form-control-sm search-filter"
								type="search"
								id="nav-search"
								placeholder="Search for tools"
							/>
						</form>
					</li>
<!-- home -->
			    <li class="nav-item active">
						<a class="nav-link" href="/">
							<i class="fa fa-fw fa-home"></i> Home
						</a>
					</li>
					{{> menus/popular-tools}}
<!-- categories label -->
					<li class="nav-item">
						<span class="navbar-brand ml-2">
							Categories
						</span>
					</li>
<!-- CAP cancer checklists label -->
					<li class="nav-item">
						<a
							class="nav-link nav-link-collapse collapsed"
							data-toggle="collapse"
							href="#collapseComponents"
						>
							<i class="fa fa-fw fa-flask"></i>
							Cancer Synoptic Checklists
						</a>
<!-- Cancer checklists lists -->
						<ul class="sidebar-second-level collapse" id="collapseComponents">
							<li class="nav-item">
							<a href="/cap/checklist">
								<i class="fa fa-list" aria-hidden="true"></i>
								Full List of Synoptics
							</a>
							</li>
							<!-- CAP: pediatric checklists label -->
							<li class="nav-item">
								<a
										class="nav-link-collapse collapsed"
										data-toggle="collapse"
										href="#collapseMulti2"
								>
									Pediatric Checklists
								</a>
							{{> menus/cap-pediatric}}
								<!-- end CAP: pediatric label -->
							</li>
							<!-- CAP: adult checklists label -->
							<li class="nav-item">
								<a
										class="nav-link-collapse collapsed"
										data-toggle="collapse"
										href="#collapseMulti3"
								>
									Adult Checklists
								</a>
							{{> menus/cap-adult}}
								<!-- end CAP: adult label -->
							</li>
<!-- end CAP list -->
						</ul>
<!-- end CAP label -->
					</li>
					{{> menus/heme-path}}
					{{> menus/gi-path}}
					{{> menus/clin-path}}
					{{> menus/surg-path}}
					{{> menus/autopsy}}
<!-- Media label -->
					<li class="nav-item">
						<span class="navbar-brand ml-2">
							Media and Infographics
						</span>
					</li>
					{{> menus/media}}
<!-- Contact Link-->
					<li class="nav-item">
						<a class="navbar-brand" href="/mail">
							<i class="fa fa-address-card-o ml-2"></i>
							Contact Me
						</a>
					</li>
					<li class="nav-item">
						<a class="navbar-brand" href="https://app.termly.io/document/privacy-policy/b3e36054-05aa-43b4-b7ab-0cc0697fa6ba" target="_blank">
							<i class="fa fa-user-secret ml-2"></i>
							Privacy Policy
						</a>
					</li>
<!-- end sidebar -->
				</ul>
			</div>
		</nav>
<!-- end nav header and sidebar -->
<!-- page content goes in "body" -->
		<section class="page-contents">

			{{{body}}}
<!-- Footer row-->
			<div class="container-fluid">
				<div class="row top-buffer">
					<div class="col col-sm-12">
<!-- Lower 2:1 block -->
						<div class="card">
							<div class="card-footer">
								Site by Chandra Krishnan with
									<a href="https://studioriehl.com/" target="_blank">
										Studio Riehl
									</a>
								.  Updated August 2017.
<!-- end card-footer -->
							</div>
<!-- end card -->
						</div>
<!-- end column -->
					</div>
<!-- end row -->
				</div>
<!-- end container-fluid -->
			</div>
<!-- end wrapper for dynamic page contents -->
		</section>
<!-- scripts footer, send script names to script template so that the particular scripts are rendered last -->
		{{> scripts/standard-scripts}}
		<!-- self-written -->
			<script type="text/javascript" src="/js/commonscripts.js"></script>
		<!-- specific to each page -->
		{{#if specificScripts}}
			{{#each specificScripts}}
				<script type="text/javascript" src="{{this}}"></script>
			{{/each}}
		{{/if}}
	</body>
</html>
