<div class="modal fade" id="lobule" tabindex="-1" role="dialog" data-backdrop="false"
		 aria-labelledby="modelTitleId" aria-hidden="true">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
										<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="modelTitleId">Lobule description</h4>
						</div>
						<div class="modal-body">
								<table class="table table-striped table-responsive" style="font-size: 1em;">
										<thead>
										<tr>
												<th>
														Option
												</th>
												<th>
														Value
												</th>
										</tr>
										</thead>
										<tbody>
										<tr>
												<td>
														Nuclear variation?
												</td>
												<td>
														<select class="form-control selectpicker form-control-sm" id="lob1">
																<option selected value="no significant">None</option>
																<option>minimal</option>
																<option>moderate</option>
																<option>diffuse</option>
														</select>
												</td>
										</tr>
										<tr>
												<td>
														Giant cell change?
												</td>
												<td>
														<select class="form-control selectpicker form-control-sm" id="lob9">
																<option selected value="no significant hepatocyte swelling or giant cell change">None</option>
																<option value="mild hepatocyte swelling and no giant cell change">Mild swelling, no giant cells</option>
																<option value="moderate hepatocyte swelling and occasional giant cell change">Moderate swelling, few giant cells</option>
																<option value="diffuse giant cell transformation across the lobules">diffuse giant cell transformation</option>
														</select>
												</td>
										</tr>
										<tr>
												<td>
														Any EMH?
												</td>
												<td>
														<select class="form-control selectpicker form-control-sm" id="lob10">
																<option selected value="No extramedullary hematopoiesis is present">None</option>
																<option value="Focal extramedullary hematopoiesis is present, representing a mixture of myeloid and erythroid elements">Focal EMH, mixed</option>
																<option value="Focal extramedullary hematopoiesis is present, representing mostly erythroid elements">Focal EMH, mostly erythroid</option>
																<option value="Extensive extramedullary hematopoiesis is present in sinusoids, representing mostly erythroid elements">Extensive EMH</option>
														</select>
												</td>
										</tr>
										<tr>
												<td>
														Any hepatocyte inclusions?
												</td>
												<td>
														<select class="form-control selectpicker form-control-sm" id="lob11">
																<option selected value="No appreciable hepatocyte inclusions are evident">None</option>
																<option value="Rare Mallory haline inclusions are present">Focal Mallory hyaline</option>
																<option value="Abudnant Mallory haline inclusions are present">Abundant Mallory hyaline</option>
																<option value="Rare viral inclusions">Rare viral</option>
														</select>
												</td>
										</tr>
										<tr>
												<td>
														Steatosis?
												</td>
												<td>
														<select class="form-control selectpicker form-control-sm" id="lob3">
																<option selected value="no appreciable">None</option>
																<option>mild macrovesicular</option>
																<option>moderate macrovesicular</option>
																<option>diffuse macrovesicular</option>
																<option>mild microvesicular</option>
																<option>moderate microvesicular</option>
																<option>diffuse microvesicular</option>
																<option>mild, mixed macro- and microvesicular</option>
																<option>moderate, mixed macro- and microvesicular</option>
																<option>diffuse, mixed macro- and microvesicular</option>
														</select>
												</td>
										</tr>
										<tr>
												<td>
														Choose steatosis amount
												</td>
												<td>
														<select class="form-control selectpicker form-control-sm" id="lob4">
																<option data-score="0" selected value="none">None</option>
																<option data-score="0" value=0>&lt;5</option>
																<option data-score="1">10</option>
																<option data-score="1">20</option>
																<option data-score="1">30</option>
																<option data-score="2">40</option>
																<option data-score="2">50</option>
																<option data-score="2">60</option>
																<option data-score="3">70</option>
																<option data-score="3">80</option>
																<option data-score="3">90</option>
																<option data-score="3">&gt;90</option>
														</select>
												</td>
										</tr>
										<tr>
												<td>
														Any balloon degeneration?
												</td>
												<td>
														<select class="form-control selectpicker form-control-sm" id="lob2">
																<option selected value="are not seen" data-score="0">None</option>
																<option value="are focal and seen in zone 3" data-score="1">focal</option>
																<option value="are moderate with a zone 3 distribution" data-score="2">moderate</option>
																<option value="are prominent, with a distribution in zone 3 and beyond" data-score="2">diffuse, prominent</option>
														</select>
												</td>
										</tr>
										<tr>
												<td>
														Lobular inflammation?
												</td>
												<td>
														<select class="form-control selectpicker form-control-sm" id="lob5">
																<option selected value="no significant degree of" data-score="0">None</option>
																<option value="minimal (<2 foci of aggregates)" data-score="1">minimal (<2 foci)</option>
																<option value="mild (2-4 foci of aggregates)" data-score="2">mild (2-4 foci)</option>
																<option value="a moderate degree of (>4 foci of aggregates)" data-score="3">moderate (>4 foci)</option>
																<option value="severe, diffuse (>4 foci of aggregates)" data-score="3">severe, diffuse (>4 foci)</option>
														</select>
												</td>
										</tr>
										<tr>
												<td>
														Inflammation components
												</td>
												<td>
														<select class="form-control selectpicker form-control-sm" id="lob6">
																<option selected value="none">NA</option>
																<option value="few sinusoidal lymphocytes">few lymphocytes</option>
																<option>lymphocytes</option>
																<option>lymphocytes and fewer eosinophils</option>
																<option>lymphocytes and neutrophils</option>
																<option value='a mixed infiltrate with mostly neutrophils and fewer lymphocytes'>mixed (N>>L)</option>
																<option value="a mixed infiltrate with mostly lymphocytes and fewer eosinophils and plasma cells">mixed (L>E>Pl)</option>
														</select>
												</td>
										</tr>
										<tr>
												<td>
														PAS-d?
												</td>
												<td>
														<select class="form-control selectpicker form-control-sm" id="lob7">
																<option selected value="no abnormal cytoplasmic globules">Negative</option>
																<option value="no abnormal cytoplasmic globules; some macrophages show cytoplasmic debris">No globules, some macrophage debris</option>
																<option value="rare hepatocytes with cytoplasmic globules">Rare globules</option>
																<option value="frequent periportal hepatocytic cytoplasmic globules">many globules</option>
														</select>
												</td>
										</tr>
										<tr>
												<td>
														Bile stasis?
												</td>
												<td>
														<select class="form-control selectpicker form-control-sm" id="lob8">
																<option selected value="no appreciable increase in bile pigmentation">None</option>
																<option value="mild hepatocytic cholestasis">Mild, hepatocytic</option>
																<option value="mild hepatocytic cholestasis in a zone 3 distribution">Mild, Zone 3 hepatocytic</option>
																<option value="mild hepatocytic cholestasis in a periportal distribution">Mild, Zone 1 hepatocytic</option>
																<option value="moderate azonal hepatocytic cholestasis">Moderate, azonal hepatocytic</option>
																<option value="increased cholestasis within hepatocytes and sinusoids (plugs)">Diffuse, hepatocytic and sinusoidal</option>
														</select>
												</td>
										</tr>
										</tbody>
								</table>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Save to micro
								</button>
						</div>
				</div>
		</div>
</div>
