<div class="modal fade" id="newinterp" tabindex="-1" role="dialog" data-backdrop="false"
		 aria-labelledby="modelTitleId" aria-hidden="true">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
										<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="modelTitleId">Save a new interp</h4>
						</div>
						<form id="formdata">
						<div class="modal-body">

								<div class="form-group">
										<label for="#">Description of new interpretation</label>
										<input class="form-control form-control-sm" name="newopt" id="newopt">
								</div>
								<div class="form-group">
										<label for="#">New interpretation text</label>
										<textarea class="form-control" rows="8" name="newinterp" id="newinterp"></textarea>
								</div>


						</div>
						<div class="modal-footer">
								<button type="submit" class="btn btn-primary p-1" id="ihc_save">Save</button>
								<button type="button" class="btn btn-secondary p-1" data-dismiss="modal">
										Close
								</button>
						</div>
						</form>
				</div>
		</div>
</div>
