		<div class="container-fluid">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
				<li class="breadcrumb-item">
						<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item">
						GI Tools
				</li>
				<li class="breadcrumb-item active"><i class="fa fa-beer mr-2"></i>Liver biopsy reporting tool</li>
		</ol> 

 {{> message-center this}} 

				<!-- Full width row + card -->
				<div class="row">
								<div class="card mt-3">
										<div class="card-header">Serologic Data</div>
										<div class="card-block">
										<div class="row mb-2">
												<form class="form-inline">
														<div class="form-group">
																<label for="">Date of Labs:</label>
																<input class="form-control form-control-sm ml-2 datepicker" data-provide="datepicker-inline" id="date">
														</div>
												</form>
										</div>
										<div class="row">
												<div class="table-responsive">
														<table class="table">
																<thead class="thead-default">
																<tr>
																		<th>AST</th>
																		<th>ALT</th>
																		<th>GGT</th>
																		<th>TBili</th>
																		<th>ALK PHOS</th>
																		<th>A1AT</th>
																		<th>LDH</th>
																		<th>PT</th>
																		<th>PTT</th>
																</tr>
																</thead>
																<tr>
																		<td><input class="form-control form-control-sm clinval"  size="6"  id="AST" placeholder="N/A"></td>
																		<td><input class="form-control form-control-sm clinval"  size="6"  id="ALT" placeholder="N/A"> </td>
																		<td><input class="form-control form-control-sm clinval"  size="6"  id="GGT" placeholder="N/A"> </td>
																		<td><input class="form-control form-control-sm clinval"  size="6"  id="TBILI" placeholder="N/A"> </td>
																		<td><input class="form-control form-control-sm clinval"  size="6"  id="APHOS" placeholder="N/A"> </td>
																		<td><input class="form-control form-control-sm clinval"  size="6"  id="A1AT" placeholder="N/A"> </td>
																		<td><input class="form-control form-control-sm clinval"  size="6"  id="LDH" placeholder="N/A"> </td>
																		<td><input class="form-control form-control-sm clinval"  size="6"  id="PT" placeholder="N/A"> </td>
																		<td><input class="form-control form-control-sm clinval"  size="6"  id="PTT" placeholder="N/A"> </td>
																</tr>
																<thead class="thead-default">
																<tr>
																		<th>ANA 1:_</th>
																		<th>LKM </th>
																		<th>SMA 1:_</th>
																		<th>AMA </th>
																		<th>F-Actin</th>
																		<th></th>
																		<th>HIV</th>
																		<th>HCV</th>
																		<th>HBV</th>
																</tr>
																</thead>
																<tr>
																		<td><input class="form-control form-control-sm clinval" size="6"  id="ANA" placeholder="N/A"> </td>
																		<td><input class="form-control form-control-sm clinval" size="6"  id="LKM" placeholder="N/A"> </td>
																		<td><input class="form-control form-control-sm clinval" size="6"  id="SMA" placeholder="N/A"> </td>
																		<td><input class="form-control form-control-sm clinval" size="6"  id="AMA" placeholder="N/A"> </td>
																		<td><input class="form-control form-control-sm clinval" size="6"  id="FACT" placeholder="N/A"> </td>
																		<td></td>
																		<td><select class="form-control selectpicker form-control-sm clinval"  id="HIV"><option selected>NA</option><option>Neg</option><option>Pos</option><option>Immune</option></select> </td>
																		<td><select class="form-control selectpicker form-control-sm clinval"   id="HCV"><option selected>NA</option><option>Neg</option><option>Pos</option><option>Immune</option></select>  </td>
																		<td><select class="form-control selectpicker form-control-sm clinval"  id="HBV"><option selected>NA</option><option>Neg</option><option>Pos</option><option>Immune</option></select>  </td>
																</tr>
														</table>
												</div>
										</div>
										<!-- silent alert for erroneous CBC data, fired from pbrules.js-->
										<div class="alert alert-warning alert-dismissible collapse" id="alert-1" role="alert">
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
														<span aria-hidden="true">&times;</span>
												</button>
												<strong>Uh Oh!</strong> Something doesn't look right.
										</div>
								</div>
										<div class="card-footer">
												<form class="form-inline">
														<div class="col col-md-4">
												<button type="button" class="btn btn-success p-1" id="writeserology">Write Serology
												</button>
														</div>
														<div class="col col-md-4">
																<button type="button" class="btn btn-warning btn-md p-1" data-toggle="modal" data-target="#modal-1">Liver Serology Reference</button>
														</div>
														<!-- Serology Modal -->
{{> page-modals/gi-path/liver-serology}}
														<!-- immunohistochemistry box button-->
														<div class="col col-md-4">
																<button type="button" class="btn btn-info btn-md p-1" data-toggle="modal" data-target="#IHCbox">Immuno Box </button>
														</div>
												</form>
{{> page-partials/immuno}}
										</div>
						</div>
				</div>
				<div class="row top-buffer">
						<div class="col col-md-8"><!-- left column-->


								<!-- left column accordion-->
								<div id="accordion" role="tablist" aria-multiselectable="true">
										<!-- Accordion #1-->
										<div class="card">
												<div class="card-header" role="tab" id="headingOne">
														<h5 class="mb-0">
																<a class="collapsed btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
																		PORTAL AREAS
																</a>
														</h5>
												</div>
												<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
														<div class="card-block chkboxes">
																<div class="card-group">
																		<div class="card">
																				<div class="card-header">
																						Specimen type
																				</div>
																				<div class="card-block chkboxes">
																						<div style="font-size: 0.66em;">
																						<label class="form-check-label" id="_partType100"><input class="form-check-input adequacy" id="partType100" name="partType" type="checkbox">Adequate cores </label> <br>
																						<label class="form-check-label" id="_partType101"><input class="form-check-input"          id="partType101" name="partType" type="checkbox">Adequate wedge </label> <br>
																						<label class="form-check-label" id="_partType102"><input class="form-check-input adequacy" id="partType102" name="partType" type="checkbox">Suboptimal cores </label> <br>
																				</div>
																				</div>
																		</div>
																		<div class="card">
																				<div class="card-header">
																						Portal description
																				</div>
																				<div class="card-block chkboxes">
																						<div style="font-size: 0.66em;">
																						<!-- Button trigger modal -->
																						<button type="button" class="btn btn-outline-primary btn-block" data-toggle="modal"
																										data-target="#portal">
																								Launch portal options
																						</button>

<!-- Portal Modal -->
{{> page-modals/gi-path/liver-portal}}
																				</div>
																				</div>
																		</div>
																		<div class="card">
																				<div class="card-header">
																						Comment
																				</div>
																				<div class="card-block chkboxes">
																						<div style="font-size: 0.66em;">
																								<label class="form-check-label" id="_commLine110"><input class="form-check-input" id="commLine110" name="mxLine" type="checkbox">Non-specific portal inflammation </label> <br>
																								<label class="form-check-label" id="_commLine111"><input class="form-check-input" id="commLine111" name="mxLine" type="checkbox">c/w AIH (pediatric)</label> <br>
																								<label class="form-check-label" id="_commLine112"><input class="form-check-input" id="commLine112" name="mxLine" type="checkbox">AIH vs. statin (adult) </label> <br>
																				</div>
																				</div>
																		</div>
																</div>

														</div>
												</div>
										</div>
										<!-- Accordion #2-->
										<div class="card">
												<div class="card-header" role="tab" id="headingTwo">
														<h5 class="mb-0">
																<a class="collapsed btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
																		LOBULES
																</a>
														</h5>
												</div>
												<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne">
														<div class="card-block chkboxes">
																<div class="card-group">
																		<div class="card">
																				<div class="card-header">
																						Lobule description
																				</div>
																				<div class="card-block chkboxes">
																						<div style="font-size: 0.66em;">
																						<!-- Button trigger modal -->
																						<button type="button" class="btn btn-outline-success btn-block" data-toggle="modal"
																										data-target="#lobule">
																								Launch lobule options
																						</button>
<!-- Lobule Modal -->
{{> page-modals/gi-path/liver-lobule}}
																				</div>
																				</div>
																		</div>
																		<div class="card">
																				<div class="card-header">
																						Pertinent Qualifiers
																				</div>
																				<div class="card-block chkboxes">
																						<div style="font-size: 0.66em;">
																								<label class="form-check-label" id="_mxLine129"><input class="form-check-input" id="mxLine129" name="mxLine" type="checkbox">No necrosis, giant-cells or viral inclusions</label> <br><br>
																								<label class="form-check-label" id="_mxLine121"><input class="form-check-input" id="mxLine121" name="mxLine" type="checkbox">No necrosis</label> <br>
																								<label class="form-check-label" id="_mxLine122"><input class="form-check-input" id="mxLine122" name="mxLine" type="checkbox">Focal acidophils</label> <br>
																								<label class="form-check-label" id="_mxLine123"><input class="form-check-input" id="mxLine123" name="mxLine" type="checkbox">Subtotal necrosis</label><br> <br>
																								<label class="form-check-label" id="_mxLine124"><input class="form-check-input" id="mxLine124" name="mxLine" type="checkbox">No giant cell change</label> <br>
																								<label class="form-check-label" id="_mxLine125"><input class="form-check-input" id="mxLine125" name="mxLine" type="checkbox">Focal giant cell change</label> <br>
																								<label class="form-check-label" id="_mxLine126"><input class="form-check-input" id="mxLine126" name="mxLine" type="checkbox">Extensive giant cell change</label> <br><br>
																								<label class="form-check-label" id="_mxLine127"><input class="form-check-input" id="mxLine127" name="mxLine" type="checkbox">No viral inclusions</label> <br>
																								<label class="form-check-label" id="_mxLine128"><input class="form-check-input" id="mxLine128" name="mxLine" type="checkbox">Viral inclusions present</label> <br>
																				</div>
																				</div>
																		</div>
																		<div class="card">
																				<div class="card-header">
																						Comment
																				</div>
																				<div class="card-block chkboxes" id="column3e">
																						<div style="font-size: 0.66em;">
																						<label class="form-check-label" id="_commLine121"><input class="form-check-input" id="commLine121" type="checkbox">Steatohepatitis - obesity/pediatric</label> <br>
																						<label class="form-check-label" id="_commLine122"><input class="form-check-input" id="commLine122" type="checkbox">Steatohepatitis - adult type, ballooning</label> <br>
																						<label class="form-check-label" id="_commLine123"><input class="form-check-input" id="commLine123" type="checkbox">Neonatal Giant cell hepatitis pattern</label> <br>
																						<label class="form-check-label" id="_commLine124"><input class="form-check-input" id="commLine124" type="checkbox">Non-specific hepatitis with lobular injury</label> <br>
																						<label class="form-check-label" id="_commLine125"><input class="form-check-input" id="commLine125" type="checkbox">Pure microvesicular steatosis</label> <br>
																						<label class="form-check-label" id="_commLine126"><input class="form-check-input" id="commLine126" type="checkbox">Pseudo-ground glass inclusions</label> <br>
																				</div>
																				</div>
																		</div>
																</div>

														</div>
												</div>
										</div>
										<!-- Accordion #3-->
										<div class="card">
												<div class="card-header" role="tab" id="headingThree">
														<h5 class="mb-0">
																<a class="collapsed btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
																		FINAL DIAGNOSES
																</a>
														</h5>
												</div>
												<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingOne">
														<div class="card-block chkboxes">
																<div class="card-group">
																		<div class="card">
																				<div class="card-header">
																						Injury Patterns
																				</div>
																				<div class="card-block chkboxes">
																						<div style="font-size: 0.66em;">
																						<div class="bg-info text-center p-1 mb-2"><small>Hepatitis pattern</small></div>
																						<label class="form-check-label" id="_dxOut120"><input class="form-check-input" id="dxOut120" name="dxOut" type="checkbox"> Acute hepatitis </label><br>
																						<label class="form-check-label" id="_dxOut121"><input class="form-check-input" id="dxOut121" name="dxOut" type="checkbox"> Acute hepatitis with necrosis </label><br>
																						<label class="form-check-label" id="_dxOut122"><input class="form-check-input" id="dxOut122" name="dxOut" type="checkbox"> Minimal, non-specific hepatitis </label><br>
																						<label class="form-check-label" id="_dxOut123"><input class="form-check-input" id="dxOut123" name="dxOut" type="checkbox"> Granulomatous inflammation</label><br>
																						<label class="form-check-label" id="_dxOut124"><input class="form-check-input" id="dxOut124" name="dxOut" type="checkbox"> A1AT disease </label><br>
																						<br>
																						<div class="bg-warning text-center p-1 mb-2"><small>Steatosis pattern</small></div>
																						<label class="form-check-label" id="_dxOut109"><input class="form-check-input" id="dxOut109" name="dxOut" type="checkbox"> Steatosis</label>
																						<button class="btn btn-sm btn-outline-primary NCRpop">CRN scoring help</button><div class="NASH"><img src="../img/NCRdata.jpg"></div> <br>
																						<br>
																						<div class="bg-success text-center p-1 mb-2"><small>Ductular portal injury pattern</small></div>
																						<label class="form-check-label" id="_dxOut105"><input class="form-check-input" id="dxOut105" name="dxOut" type="checkbox"> Portal injury pattern, mild ductular reaction</label> <br>
																						<label class="form-check-label" id="_dxOut106"><input class="form-check-input" id="dxOut106" name="dxOut" type="checkbox"> Portal injury pattern, severe ductular reaction </label><br>
																						<br>
																						<div class="bg-primary text-center p-1 mb-2"><small>Giant cell hepatiis pattern</small></div>
																						<label class="form-check-label" id="_dxOut110"><input class="form-check-input" id="dxOut110" name="dxOut" type="checkbox"> Giant cell hepatitis pattern, mild cholestasis </label><br>
																						<label class="form-check-label" id="_dxOut111"><input class="form-check-input" id="dxOut111" name="dxOut" type="checkbox"> Giant cell hepatitis pattern, marked cholestasis </label><br>
																						<label class="form-check-label" id="_dxOut112"><input class="form-check-input" id="dxOut112" name="dxOut" type="checkbox"> Giant cell hepatitis pattern, A1AT globules </label><br>
																						<label class="form-check-label" id="_dxOut113"><input class="form-check-input" id="dxOut113" name="dxOut" type="checkbox"> Giant cell hepatitis pattern, Cystic fibrosis </label><br>
																						<br>
																						<div class="bg-info text-center p-1 mb-2"><small>AIH injury pattern</small></div>
																						<label class="form-check-label" id="_dxOut107"><input class="form-check-input" id="dxOut107" name="dxOut" type="checkbox"> Portal inflammation, possible AIH </label><br>
																						<label class="form-check-label" id="_dxOut108"><input class="form-check-input" id="dxOut108" name="dxOut" type="checkbox"> Findings consistent with AIH </label><br>
																						</div>
																				</div>
																		</div>
																		<div class="card">
																				<div class="card-header">
																						Scoring
																				</div>
																				<div class="card-block chkboxes">
																						<div style="font-size: 0.66em;">
																						<div class="bg-info text-center p-1 mb-2"><small>Portal inflammation</small></div>
																						<label class="form-check-label" id="_dxOut130"><input class="form-check-input" id="dxOut130" name="dxOut" type="checkbox"> No portal inflammation, G0 </label> <br>
																						<label class="form-check-label" id="_dxOut131"><input class="form-check-input" id="dxOut131" name="dxOut" type="checkbox"> Minimal portal inflammation, G1 </label> <br>
																						<label class="form-check-label" id="_dxOut132"><input class="form-check-input" id="dxOut132" name="dxOut" type="checkbox"> Mild portal inflammation, G2 </label> <br>
																						<label class="form-check-label" id="_dxOut133"><input class="form-check-input" id="dxOut133" name="dxOut" type="checkbox"> Moderate portal inflammation, G3 </label> <br>
																						<label class="form-check-label" id="_dxOut134"><input class="form-check-input" id="dxOut134" name="dxOut" type="checkbox"> Severe portal inflammation, G4 </label> <br>

																						<div class="bg-warning text-center p-1 mt-2 mb-2"><small>Fibrosis pattern</small></div>
																						<label class="form-check-label" id="_dxOut120"><input class="form-check-input" id="dxOut135" name="dxOut" type="checkbox"> No fibrosis, S0</label><br>
																						<label class="form-check-label" id="_dxOut121"><input class="form-check-input" id="dxOut136" name="dxOut" type="checkbox"> Minimal fibrosis, S1</label><br>
																						<label class="form-check-label" id="_dxOut122"><input class="form-check-input" id="dxOut137" name="dxOut" type="checkbox"> Mild periportal fibrosis, S2</label><br>
																						<label class="form-check-label" id="_dxOut123"><input class="form-check-input" id="dxOut138" name="dxOut" type="checkbox"> Septal fibrosis, S3</label><br>
																						<label class="form-check-label" id="_dxOut124"><input class="form-check-input" id="dxOut139" name="dxOut" type="checkbox"> Cirrhosis, S4</label><br>
																								<div class="bg-default text-center p-1 mt-4"><small>Disclaimers</small></div>
																								<label class="form-check-label" id="_dxOut300"><input class="form-check-input" id="dxOut300" name="dxOut" type="checkbox"> Add Ludwig-Batts Grading/Staging disclaimer</label><br>
																								<label class="form-check-label" id="_dxOut301"><input class="form-check-input" id="dxOut301" name="dxOut" type="checkbox"> Add NASH CRN Grading/Staging disclaimer</label><br>
																						</div>

																				</div>
																		</div>
																		<div class="card">
																				<div class="card-header">
																						Special stains
																				</div>
																				<div class="card-block chkboxes">
																						<div style="font-size: 0.66em;">
																						<div class="bg-info text-center p-1 mb-2"><small>Iron stains</small></div>
																						<label class="form-check-label" id="_dxOut140"><input class="form-check-input" id="dxOut140" name="dxOut" type="checkbox"> No iron, 0+ </label><br>
																						<label class="form-check-label" id="_dxOut141"><input class="form-check-input" id="dxOut141" name="dxOut" type="checkbox"> Minimal RE iron, 1+ </label><br>
																						<label class="form-check-label" id="_dxOut142"><input class="form-check-input" id="dxOut142" name="dxOut" type="checkbox"> Moderate RE iron, 2+ </label><br>
																						<label class="form-check-label" id="_dxOut143"><input class="form-check-input" id="dxOut143" name="dxOut" type="checkbox"> Marked RE iron, 3+ </label><br>
																						<label class="form-check-label" id="_dxOut144"><input class="form-check-input" id="dxOut144" name="dxOut" type="checkbox"> Minimnal hepatocyte iron </label><br>
																						<label class="form-check-label" id="_dxOut145"><input class="form-check-input" id="dxOut145" name="dxOut" type="checkbox"> Marked hepatocyte iron </label><br>

																						<div class="bg-warning text-center p-1 mt-2 mb-2"><small>Special stains</small></div>
																						<label class="form-check-label" id="_dxOut150"><input class="form-check-input" id="dxOut150" name="dxOut" type="checkbox"> CMV neg</label><br>
																						<label class="form-check-label" id="_dxOut151"><input class="form-check-input" id="dxOut151" name="dxOut" type="checkbox"> CMV pos </label><br>
																						<label class="form-check-label" id="_dxOut152"><input class="form-check-input" id="dxOut152" name="dxOut" type="checkbox"> EBV neg </label><br>
																						<label class="form-check-label" id="_dxOut153"><input class="form-check-input" id="dxOut153" name="dxOut" type="checkbox"> EBV rare pos </label><br>
																						<label class="form-check-label" id="_dxOut154"><input class="form-check-input" id="dxOut154" name="dxOut" type="checkbox"> EBV pos </label><br>
																						<label class="form-check-label" id="_dxOut155"><input class="form-check-input" id="dxOut155" name="dxOut" type="checkbox"> AFB/GMS neg </label><br>
																						</div>
																				</div>
																		</div>
																</div>

														</div>
												</div>
										</div>
										<!-- end accordion cards-->
								</div>
								<!-- end left column-->
						</div>
										<!-- middle right text output-->
						<div class="col col-md-4"><!-- right column-->
								<a class="btn btn-outline-success p-1 mb-2" id="writeReport" >Write report</a>
								<a class="btn btn-outline-danger p-1 mb-2 ml-4" id="Reset" >Reset</a>
								<form >

										<div class="form-group">
												<textarea class="form-control" id="outPut-1" rows="5" placeholder="Serologic Data"></textarea>
												<span class="input-group-addon copy btn btn-primary" data-clipboard-target="#outPut-1">Copy to Clipboard</span>
										</div>
										<div class="form-group">
												<textarea class="form-control" id="outPut-2" rows="15" placeholder="Micro"></textarea>
												<span class="input-group-addon copy btn btn-primary" data-clipboard-target="#outPut-2">Copy to Clipboard</span>
										</div>
										<div class="form-group">
												<textarea class="form-control" id="outPut-3" rows="10" placeholder="Final"></textarea>
												<span class="input-group-addon copy btn btn-primary" data-clipboard-target="#outPut-3">Copy to Clipboard</span>
										</div>
										<div class="form-group">
												<textarea class="form-control" id="outPut-4" rows="5" placeholder="Comment"></textarea>
												<span class="input-group-addon copy btn btn-primary" data-clipboard-target="#outPut-4">Copy to Clipboard</span>
										</div>
								</form>
						</div>
					</div>

		<!--end container wrapper-->
</div>

<!--
"specificScripts":
	[
		"../json/json-liver.js",
		'"../js/gi-path/liver-scripts.js"'
	]
-->
