<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container-fluid">
	<!-- Breadcrumbs -->
{{> message-center this}}
	<div class="row">
		<div class="col col-lg-12 text-center">
			<div class="card-header">
				<i class="fa fa-comment"></i> Messages
			</div>
			<div class="card-block p-2 display-4 bg-danger">
				<div class="card-header">
					<p >What's New?</p>

				</div>
			</div>

			<div class="py-4 w-100"></div>

			<div class="card">
				<div class="card-block p-2 display-4 bg-success">
					<div class="card-header">
						<p >New - Autopsy anthropometric data reference table generator</p>
						<p><a class="mr-2" href="/autopsy/weights">Check it out here</a> </p>
					</div>
				</div>
				<div class="my-2"></div>
				<div class="card-block">
					<p>In case you haven't yet memorized all reference ranges for all anthropometric data across all age
					ranges, I've created an app to generate a neat table with your autopsy weights/measurements paired
					with the appropriate reference ranges (with citations)</p>
				</div>
				<ul class="list-group my-3 h5">
					<li class="list-group-item">Works for stillbirths, with appropriate fetal length measurements</li>
					<li class="list-group-item">Infants between birth and 12 months get their own references</li>
					<li class="list-group-item">Ages 1yr - adult include weights only</li>
				</ul>
			</div>

			<div class="card">
				<div class="card-block p-2 display-4 bg-info">
					<div class="card-header">
						<p >Love the placenta... but hate looking up placental weight references?</p>

					</div>
				</div>
				<div class="card py-2">
					<div class="card-block p-2">
						<ul class="list-group my-3 h5">
							<li class="list-group-item text-center">
								Why don't you check out the <a class="ml-1" href="/surg-path/placenta">placenta weight reference tool?</a>
							</li>
							<li class="list-group-item">
								<p>Just enter the placenta weight, gestational age and pick your preferred reference ... then BAM!
								The reference ranges for your placenta's weight are right there. Works great on your phone as well.
                                </p>
                                <p>There's also a little placenta report generator ... its useful for most singleton or twin placentas, but
                                may not be perfect for placentas with multiple abnormalities. Your mileage may vary!</p>
							</li>
						</ul>
					</div>
				</div>

			</div>

			<div class="py-4 w-100"></div>

		</div>

		</div>
	</div><!-- Bottom panels-->
	<div class="row">
		<div class="col col-lg-6">
			<!-- Example Bar Chart Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-address-card-o"></i> <span>Contact Me</span>
				</div>
				<div class="card-block">
					<div class="row">
						<p>As always, your feedback is very important and useful to me. I always appreciate hearing from other pathologists and laboratory staff in how they use this website. If you like the work I've done, found a bug or would like to offer some ideas on other tools, please don't hesitate to <a href="/mail">drop me a note</a>.</p>
					</div>
				</div>
				<div class="card-footer small text-muted">
					Updated Spring 2017 - Chandra Krishnan, MD
				</div>
			</div><!-- /Card Columns -->
		</div>
		<div class="col col-lg-6">
			<!-- Example Notifications Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-twitter"></i> <span>Recent Twitter Posts</span>
				</div>
				<div class="card-block" style="max-height: 500px; overflow: auto;">
					<a class="twitter-timeline" data-theme="light" data-width="600" href="https://twitter.com/hematogones">Tweets by hematogones</a>
					<script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
					</script>
				</div>
				<div class="card-footer small text-muted">
					Follow me <a href="http://twitter.com/hematogones">@hematogones</a>
				</div>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</div>
</body>
</html>