				<div class="container-fluid">

						<!-- Breadcrumbs -->
						<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Welcome</li>
						</ol>

 {{> message-center this}}
 

						<!-- Area Chart Example -->
						<div class="row">
							<div class="col col-lg-12">
						<div class="card mb-3">
								<div class="card-header">
										<i class="fa fa-comment"></i> Messages
								</div>
								<div class="jumbotron">
										<h1 class="display-3">Welcome to the redesigned Hematogones.com</h1>
										<p class="lead">It's been a few years now with the older site layout, and I know the look was a bit dated. Hopefully, you'll find
												the new site easier to navigate and find the work enhancers you want.</p>
										<hr class="my-4">
										<p>Use the search filter on above the navigation list to filter and find a specific app.</p>
										<hr class="my-4">
												<p>On the left, you'll find all my published tools along with a handy search bar at the top to quickly filter to the link you need.</p>
								</div>
						</div>
					</div>
				</div>
						<div class="row">
							<div class="col col-lg-12">
						<div class="card mb-3">
								<div class="card-header">
									<span>
										All the tools have been updated for performance. Check out what's new in these:
									</span>
								</div>
								<div class="card-block">
										<blockquote class="card-blockquote">
												<p><a href="/apps/csf">CSF cytology reporting</a></p>
												<p><a href="/apps/bal">BAL cytology reporting</a></p>
												<p><a href="/apps/ihc_table">Immunohistochemistry table builder</a></p>
												<p><a href="/apps/liver_bx">Medical liver biopsy reporting</a></p>
										</blockquote>
								</div>
					</div>
				</div>
			</div>

			<!-- Bottom panels-->
						<div class="row">

								<div class="col col-lg-6">

										<!-- Example Bar Chart Card -->
										<div class="card mb-3">
												<div class="card-header">
														<i class="fa fa-address-card-o"></i> <span>
															Contact Me
														</span>
</div>
												<div class="card-block">
														<div class="row">
																<p>As always, your feedback is very important and useful to me. I always appreciate hearing from other pathologists
and laboratory staff in how they use this website. If you like the work I've done, found a bug or would like to offer
																some ideas on other tools, please don't hesitate to <a href="mailto:chandra.krishnan@gmail.com">Drop me a note.</a></p>

														</div>
												</div>
												<div class="card-footer small text-muted">
Updated Spring 2017 - Chandra Krishnan, MD
</div>
										</div>



										<!-- /Card Columns -->

								</div>

								<div class="col col-lg-6">
										<!-- Example Notifications Card -->
										<div class="card mb-3">
												<div class="card-header">
														<i class="fa fa-twitter"></i> <span>Recent Twitter Posts</span>
</div>
												<div class="card-block" style="max-height: 500px; overflow: auto;">
														<a class="twitter-timeline" data-width="600" data-theme="light" href="https://twitter.com/hematogones">Tweets by hematogones</a>
														<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
												</div>

												<div class="card-footer small text-muted">
Follow me <a href="http://twitter.com/hematogones">@hematogones</a>
												</div>
										</div>
								</div>
						</div>
				<!-- /.container-fluid -->
