<div class="container-fluid">
	<!-- Breadcrumbs -->
{{> message-center this}}
	<div class="row">
		<div class="col col-lg-12 text-center">
			<div class="card-header">
				<i class="fa fa-comment"></i> Messages
			</div>
			<div class="card-block p-2">
					<div class="card-text h2 py-2">
						<p>
							Please take note: Cancer synoptic apps will be soon be removed from public access
						</p>

					</div>
				<hr class="py-1">

				<div class="row  py-2">
					<div class="card-text col-8 h4 text-left mx-auto py-2" style="line-height: 1.5">
						<p>The CAP has contacted me regarding the free cancer synoptic apps that are available on this site.
							They conclude that providing these free apps is not keeping with their terms of service. In order to
							provide them to you all, the CAP requires that I collect (or you provide) individual user licenses
							for the synoptics. I never intended to make people pay for these tools, so I declined this route.
						</p>
						<p>Now, you may be wondering: <span class="text-danger">"The pdfs of each and every synoptic is already freely available to everyone, and
							I already just copy/paste the docs into my report. Why would I have to pay to have some programming cut out the irrelevent portions for me?"</span>
						</p>
						<p>I tried arguing this exact point to no avail. In contrast to other vendors you may know, these apps do not
							store discrete data or integrate with your LIS. They are intended to fill the gap where an integrated
							template engine is not feasable. I don't profit from creating these tools and made them free. In fact, there
							is a not insignificant cost for me to host them. But to be clear, the CAP <em>does try </em>to profit from the synoptics that are a required element
							of our inspections. Thus, a free alternative is not in their best business interests.
						</p>
						<p>If you are a pathologist that has come to rely on the synoptic tools here, or just use them one off, please note
							that I will be compliant with their takedown request in short order and the apps will not be accessible to
							public consumption.
						</p>
						<p>Thank you to those who have provided valuable feedback to make these synoptic tools as accurate as possible.
						</p>
						<p>Regards,<br>
							Chandra
						</p>
					</div>
				</div>


		</div>
	</div><!-- Bottom panels-->
	<div class="row">
		<div class="col col-lg-6">
			<!-- Example Bar Chart Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-address-card-o"></i> <span>Contact Me</span>
				</div>
				<div class="card-block">
					<div class="row">
						<p>As always, your feedback is very important and useful to me. I always appreciate hearing from other pathologists and laboratory staff in how they use this website. If you like the work I've done, found a bug or would like to offer some ideas on other tools, please don't hesitate to <a href="/mail">drop me a note</a>.</p>
					</div>
				</div>
				<div class="card-footer small text-muted">
					Updated Spring 2017 - Chandra Krishnan, MD
				</div>
			</div><!-- /Card Columns -->
		</div>
		<div class="col col-lg-6">
			<!-- Example Notifications Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-twitter"></i> <span>Recent Twitter Posts</span>
				</div>
				<div class="card-block" style="max-height: 500px; overflow: auto;">
					<a class="twitter-timeline" data-theme="light" data-width="600" href="https://twitter.com/hematogones">Tweets by hematogones</a>
					<script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
					</script>
				</div>
				<div class="card-footer small text-muted">
					Follow me <a href="http://twitter.com/hematogones">@hematogones</a>
				</div>
			</div>
		</div>
	</div>
	</div><!-- /.container-fluid -->
</div>
