<div class="container-fluid">
	<!-- Breadcrumbs -->
{{> message-center this}}
	<div class="row">
		<div class="col col-lg-12 text-center">
			<div class="card-header">
				<i class="fa fa-comment"></i> Messages
			</div>
			<div class="card-block p-2">
				<div class="card-header">
					<p class="h3">Happy New Year!</p>
				</div>

					<div class="card-text h4">
					<p>
						This site is now entering its 8th year of serving pathology tools to people around the world. Thank you
						to everyone for your support and feedback!
					</p>
						<p>
							Here are a few notable milestones for the site as we end 2018:
						</p>
					</div>
				<div class="card-text h5">

						<ul class="list-group">
							<li class="list-group-item">Over 200 new user sign-ups in 2018, an incredible growth of the platform</li>
							<li class="list-group-item">Recently passed 1000 canned macros for <a class='mx-1' href="/surg-path/snippets"> surgical reports</a></li>
							<li class="list-group-item">Added two new A-Z histology atlases (thank you to pathology Twitter) for <a class='mx-1'  href="/clin-media/lymph-node-az"> Lymph node</a> and
														<a class='mx-1'  href="/surg-media/head-neck-az"> Head/Neck</a> pathology </li>
							<li class="list-group-item">Lots of new friends using the site across the globe (still trying to get a user in Greenland through!) </li>

						</ul>
						<p>
							<img src="/img/2018_geo.png">
						</p>
				</div>

			</div>

			<div class="py-4 w-100"></div>

		</div>

		</div>
	</div><!-- Bottom panels-->
	<div class="row">
		<div class="col col-lg-6">
			<!-- Example Bar Chart Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-address-card-o"></i> <span>Contact Me</span>
				</div>
				<div class="card-block">
					<div class="row">
						<p>As always, your feedback is very important and useful to me. I always appreciate hearing from other pathologists and laboratory staff in how they use this website. If you like the work I've done, found a bug or would like to offer some ideas on other tools, please don't hesitate to <a href="/mail">drop me a note</a>.</p>
					</div>
				</div>
				<div class="card-footer small text-muted">
					Updated Spring 2017 - Chandra Krishnan, MD
				</div>
			</div><!-- /Card Columns -->
		</div>
		<div class="col col-lg-6">
			<!-- Example Notifications Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-twitter"></i> <span>Recent Twitter Posts</span>
				</div>
				<div class="card-block" style="max-height: 500px; overflow: auto;">
					<a class="twitter-timeline" data-theme="light" data-width="600" href="https://twitter.com/hematogones">Tweets by hematogones</a>
					<script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
					</script>
				</div>
				<div class="card-footer small text-muted">
					Follow me <a href="http://twitter.com/hematogones">@hematogones</a>
				</div>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</div>
