<div class="container-fluid">
	<!-- Breadcrumbs -->
{{> message-center this}}
	<div class="row">
		<div class="col col-lg-12 text-center">
			<div class="card-header">
				<i class="fa fa-comment"></i> Messages
			</div>
			<div class="card-block p-2">
					<div class="card-text h2 py-2">
						<p>
							Two new apps have been added!
						</p>

					</div>
				<hr class="py-1">

				<div class="row  py-2">
					<div class="col-6">
						<div class="card-header h3">
						1. Body fluid cytology app
						</div>
						<div class="card-text ">
						<p class="h4">Thanks to feedback from users, I have added an app to help generate
								<a class="ml-2" href="/clin-path/body-fluid">body fluid cytology </a> reports.
								This is intended to address the majority of body fluids, but I would recommend you
								use the dedicated BAL and CSF apps for those particular specimens.
						</p>
						<p class="my-2">
								Some features of this app include:
						</p>
							<ul class="list-group">
								<li class="list-group-item">Gross dictaion is generated alongside the rest of the report</li>
								<li class="list-group-item">Option to add cell counts and special stains for cytology</li>
								<li class="list-group-item">Cell block option includes gross description details and ability to add IHCs</li>
								<li class="list-group-item">Certain diagnostic comments are auto added</li>
							</ul>
						</div>
					</div>
					<div class="col-6">
						<div class="card-header h3">
							2. Hirschsprung resection synoptic
						</div>
						<div class="card-text ">
							<p class="h4">If you practice pediatric pathology, you may be aware of the recent publication by the
								American Pediatric Surgical Association Hirschsprung Disease Interest Group which recommends using
								synoptic reporting for intraoperative findings and surgical pathology examination.
							</p>
							<p class="h4 my-2">In collaboration with the pathologists on the project, an <a class="ml-1" href="/surg-path/hirsch">
								app</a> has been developed to promote adoption of this synoptic, in accordance with the best practices
								described in the <a class="ml-1" href="https://www.ncbi.nlm.nih.gov/pubmed/30935730" target="_blank">paper</a>.
							</p>
							<p class="my-2">
								Some features of this app include:
							</p>
							<ul class="list-group">
								<li class="list-group-item">Helpful notes for some data elements</li>
								<li class="list-group-item">Diagrams to illustrate less common findings</li>
								<li class="list-group-item">Synoptic generated in plain text for high fidelity copy/paste into your LIS</li>
								<li class="list-group-item">Option to use long-form or short-form synoptic format</li>
							</ul>
						</div>
					</div>

				</div>


		</div>
	</div><!-- Bottom panels-->
	<div class="row">
		<div class="col col-lg-6">
			<!-- Example Bar Chart Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-address-card-o"></i> <span>Contact Me</span>
				</div>
				<div class="card-block">
					<div class="row">
						<p>As always, your feedback is very important and useful to me. I always appreciate hearing from other pathologists and laboratory staff in how they use this website. If you like the work I've done, found a bug or would like to offer some ideas on other tools, please don't hesitate to <a href="/mail">drop me a note</a>.</p>
					</div>
				</div>
				<div class="card-footer small text-muted">
					Updated Spring 2017 - Chandra Krishnan, MD
				</div>
			</div><!-- /Card Columns -->
		</div>
		<div class="col col-lg-6">
			<!-- Example Notifications Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-twitter"></i> <span>Recent Twitter Posts</span>
				</div>
				<div class="card-block" style="max-height: 500px; overflow: auto;">
					<a class="twitter-timeline" data-theme="light" data-width="600" href="https://twitter.com/hematogones">Tweets by hematogones</a>
					<script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
					</script>
				</div>
				<div class="card-footer small text-muted">
					Follow me <a href="http://twitter.com/hematogones">@hematogones</a>
				</div>
			</div>
		</div>
	</div>
	</div><!-- /.container-fluid -->
</div>
