<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container-fluid">
	<!-- Breadcrumbs -->
{{> message-center this}}
	<div class="row">
		<div class="col col-lg-12 text-center">
			<div class="card-header">
				<i class="fa fa-comment"></i> Messages
			</div>
			<div class="card-block p-2 display-4 bg-danger">
				<div class="card-header">
					<p >App Spotlight</p>

				</div>
			</div>

			<div class="py-4 w-100"></div>

			<div class="card">
				<div class="card-block p-2 display-4 bg-success">
					<div class="card-header" style="word-wrap: break-word;">
						<p >Medical Liver biopsies</p>
					</div>
				</div>
				<div class="my-2"></div>
				<div class="card-block text-center h5">
					<p>
					Nine out of ten pathologists agree... They hate dictating medical liver biopsies. They really shouldn't be so stuck in their ways. If they tried out the medical liver biopsy tool,
					they might start secretly assigning themselves all the medical livers. That is an unproven fact.
					</p>
					<p>
						Find serology hints, NASH CRN criteria, special stain scoring and tabulate laboratory data to enhance and standardize your reports
					</p>
					<p><a class="mr-2" href="/gi-path/liver-bx">Check it out here</a> </p>

				</div>
			</div>

			<div class="card">
				<div class="card-block p-2 display-4 bg-info">
					<div class="card-header">
						<p >Do you do a lot of transfusion reaction work-ups?</p>

					</div>
				</div>
				<div class="card py-2">
					<div class="card-block p-2">
						<ul class="list-group my-3 h5">
							<li class="list-group-item text-center">
								Why don't you check out the <a class="mx-1" href="/clin-path/tx-rxn"> transfusion reaction work-up generator?</a>
							</li>
							<li class="list-group-item">
								<p>Enter the relevant clinical data and whip-up a summary table to enter into your LIS
                                </p>
                                <p>You can even bill for this kind of interpretation. Imagine the $$$ that you can capture! It's seriously like pennies... but hey, they add up when you do thousands of them.</p>
							</li>
						</ul>
					</div>
				</div>

			</div>

			<div class="py-4 w-100"></div>

		</div>

		</div>
	</div><!-- Bottom panels-->
	<div class="row">
		<div class="col col-lg-6">
			<!-- Example Bar Chart Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-address-card-o"></i> <span>Contact Me</span>
				</div>
				<div class="card-block">
					<div class="row">
						<p>As always, your feedback is very important and useful to me. I always appreciate hearing from other pathologists and laboratory staff in how they use this website. If you like the work I've done, found a bug or would like to offer some ideas on other tools, please don't hesitate to <a href="/mail">drop me a note</a>.</p>
					</div>
				</div>
				<div class="card-footer small text-muted">
					Updated Spring 2017 - Chandra Krishnan, MD
				</div>
			</div><!-- /Card Columns -->
		</div>
		<div class="col col-lg-6">
			<!-- Example Notifications Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-twitter"></i> <span>Recent Twitter Posts</span>
				</div>
				<div class="card-block" style="max-height: 500px; overflow: auto;">
					<a class="twitter-timeline" data-theme="light" data-width="600" href="https://twitter.com/hematogones">Tweets by hematogones</a>
					<script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
					</script>
				</div>
				<div class="card-footer small text-muted">
					Follow me <a href="http://twitter.com/hematogones">@hematogones</a>
				</div>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</div>
</body>
</html>