<div class="container-fluid">
	<!-- Breadcrumbs -->
{{> message-center this}}
	<div class="row">
		<div class="col col-lg-12 text-center">
			<div class="card-header">
				<i class="fa fa-comment"></i> Messages
			</div>
			<div></div>
			<p class="h1 py-2 ml-5 mr-5">
				"Work smarter, not harder" - Scrooge McDuck or Allen Morgenstern ... depending on how old you are.
			</p>
		</div>

		<div class="py-2 w-100"></div>

		<div class="col col-lg-12 text-center py-2">
			<div class="card-header">
				<p class="h5">Hey! Why don't you check out some of these cool infographics and tumor charts that I've updated?</p>
			</div>
			<div class="row my-3 mx-2">
				<div class="card col-3">
					<img class="card-img-top" src="/img/blog/CNS-map-thumb.svg">
					<div class="card-body">
						<h5 class="card-title">A CNS tumor map</h5>
						<p class="card-text">An updated CNS tumor map for 2020, with integration of molecular genetics and provisional entities</p>
						<a href="/surg-media/cns-tumor-map" class="btn btn-sm btn-primary p-2">Go there</a>
					</div>
				</div>
				<div class="card col-3 mx-auto">
					<img class="card-img-top" src="/img/blog/breast-map-thumb.svg">
					<div class="card-body">
						<h5 class="card-title">A breast tumor map</h5>
						<p class="card-text">An updated breast tumor map split by ER status and morphometric features</p>
						<a href="/surg-media/breast-tumor-map" class="btn btn-sm btn-primary p-2">Go there</a>
					</div>
				</div>
				<div class="card col-3 mx-auto">
					<img class="card-img-top" src="/img/blog/rhabdo-graphic.svg">
					<div class="card-body">
						<h5 class="card-title">A rhabdomyosarcoma infographic</h5>
						<p class="card-text">An overview of molecular genetics underpinning different rhabdomyosarcoma groups</p>
						<a href="/surg-media/rhabdo-infographic" class="btn btn-sm btn-primary p-2">Go there</a>
					</div>
				</div>
			</div>

		</div>

	</div><!-- Bottom panels-->
	<div class="row">

	</div>
	<div class="row">
		<div class="col col-lg-6">
			<!-- Example Bar Chart Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-address-card-o"></i> <span>Contact Me</span>
				</div>
				<div class="card-block">
					<div class="row">
						<p>As always, your feedback is very important and useful to me. I always appreciate hearing from other pathologists and laboratory staff in how they use this website. If you like the work I've done, found a bug or would like to offer some ideas on other tools, please don't hesitate to <a href="/mail">drop me a note</a>.</p>
					</div>
				</div>
				<div class="card-footer small text-muted">
					Updated Spring 2017 - Chandra Krishnan, MD
				</div>
			</div><!-- /Card Columns -->
		</div>
		<div class="col col-lg-6">
			<!-- Example Notifications Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-twitter"></i> <span>Recent Twitter Posts</span>
				</div>
				<div class="card-block" style="max-height: 500px; overflow: auto;">
					<a class="twitter-timeline" data-theme="light" data-width="600" href="https://twitter.com/hematogones">Tweets by hematogones</a>
					<script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
					</script>
				</div>
				<div class="card-footer small text-muted">
					Follow me <a href="http://twitter.com/hematogones">@hematogones</a>
				</div>
			</div>
		</div>
	</div>
	</div><!-- /.container-fluid -->
</div>
