<div class="container-fluid">
	<!-- Breadcrumbs -->
{{> message-center this}}
	<div class="row">
		<div class="col col-lg-12 text-center">
			<div class="card-header">
				<i class="fa fa-comment"></i> Messages
			</div>
			<div class="card-block p-2">
				<div class="card-header">
					<p class="h3">Looking for some help here ...</p>
				</div>

					<div class="card-text h4">
					<p>
						It's been so fun to see how many users are finding this site useful. With the growth in the userbase, 
						I'd like to focus app development on what the users need. 
					</p>
						<p>
							If you don't mind, please take a moment and put your vote for what kind of app you'd like to see next. 
						</p>
					</div>
				<div class="card-text h5">

						<div class="card-body">
						
						<div id="qp_all2241035" style="width:100%;max-width:600px;">
	<div style='padding:10px 0;'>
		<STYLE>#qp_main2241035 .qp_btna:hover input {background: rgb(242, 99, 255)!important}</STYLE>
		<div id="qp_main2241035" fp='4c1D478D-64' results=0 rnd=1 style="border-radius: 5px;border: 3px solid rgb(0, 0, 0);margin: 0px auto;padding: 1.25em 0.81em;background: rgb(131, 40, 140);box-sizing: border-box;text-align: left;color: rgb(0, 0, 0);font-size: 1.25em">
			<div style="border-radius: 6px;font-family: Arial;font-size: 1.06em;font-weight: bold;background: rgb(83, 16, 89);color: rgb(255, 255, 255);margin-bottom: 10px;border-color: rgb(255, 255, 255)">
				<div style="padding: 10px">What would you like to see as the next report app?</div>
			</div>
			<form id="qp_form2241035" action="//www.poll-maker.com/results2241035x4c1D478D-64" method="post" target="_blank" style="display: inline;margin: 0px;padding: 0px">
				<div style="border-radius: 6px">
					<input type=hidden name="qp_d2241035" value="43502.3710300946-43502.3710525205">
						<div style="font-family: Arial;font-size: 1.19em;color: rgb(255, 255, 255);padding: 0.5em 0.44em;clear: both;border-color: rgb(255, 255, 255)" class="qp_a" onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)};var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
							<span style="display: block;padding-left: 30px;cursor: inherit">
								<input style="float: left;width: 18px;margin-left: -25px;margin-top: -2px;padding: 0px;height: 18px;-webkit-appearance:radio;" name="qp_v2241035" type="radio" value="1" />Breast biopsy
							</span>
						</div>
						<div style="font-family: Arial;font-size: 1.19em;color: rgb(255, 255, 255);padding: 0.5em 0.44em;clear: both;border-color: rgb(255, 255, 255)" class="qp_a" onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)};var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
							<span style="display: block;padding-left: 30px;cursor: inherit">
								<input style="float: left;width: 18px;margin-left: -25px;margin-top: -2px;padding: 0px;height: 18px;-webkit-appearance:radio;" name="qp_v2241035" type="radio" value="2" />Gyn biopsy
							</span>
						</div>
						<div style="font-family: Arial;font-size: 1.19em;color: rgb(255, 255, 255);padding: 0.5em 0.44em;clear: both;border-color: rgb(255, 255, 255)" class="qp_a" onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)};var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
							<span style="display: block;padding-left: 30px;cursor: inherit">
								<input style="float: left;width: 18px;margin-left: -25px;margin-top: -2px;padding: 0px;height: 18px;-webkit-appearance:radio;" name="qp_v2241035" type="radio" value="3" />Adult autopsy
							</span>
						</div>
						<div style="font-family: Arial;font-size: 1.19em;color: rgb(255, 255, 255);padding: 0.5em 0.44em;clear: both;border-color: rgb(255, 255, 255)" class="qp_a" onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)};var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
							<span style="display: block;padding-left: 30px;cursor: inherit">
								<input style="float: left;width: 18px;margin-left: -25px;margin-top: -2px;padding: 0px;height: 18px;-webkit-appearance:radio;" name="qp_v2241035" type="radio" value="4" />Body fluid cytology
							</span>
						</div>
						<div style="font-family: Arial;font-size: 1.19em;color: rgb(255, 255, 255);padding: 0.5em 0.44em;clear: both;border-color: rgb(255, 255, 255)" class="qp_a" onClick="var c=this.getElementsByTagName('INPUT')[0]; if((!event.target?event.srcElement:event.target).tagName!='INPUT'){c.checked=(c.type=='radio'?true:!c.checked)};var i=this.parentNode.parentNode.parentNode.getElementsByTagName('INPUT');for(var k=0;k!=i.length;k=k+1){i[k].parentNode.parentNode.setAttribute('sel',i[k].checked?1:0)}">
							<span style="display: block;padding-left: 30px;cursor: inherit">
								<input style="float: left;width: 18px;margin-left: -25px;margin-top: -2px;padding: 0px;height: 18px;-webkit-appearance:radio;" name="qp_v2241035" type="radio" value="999" />Other
							</span>
						</div>
						<div id="qp_ot2241035" style="font-family: Arial;font-size: 1.19em;color: rgb(255, 255, 255);padding: 0.5em 0.44em;clear: both;border-color: rgb(255, 255, 255)">
							<div style="padding-left:33px">Please Specify: 
								<input style="width:100%;position:relative;top:2px" name='qp_other2241035' type=text value=''>
								</div>
							</div>
						</div>
						<div style="clear: both;text-align: left;margin: 0px auto 0em">
							<a style="text-decoration: none" class="qp_btna" href="#">
								<input name="qp_b2241035" style="min-width: 7em;padding: 0.38em 0.75em;margin-top: 5px;margin-right: 5px;border-radius: 10px;border: 3px solid rgb(83, 16, 89);background: rgb(237, 179, 242);font-family: Arial;font-size: 1em;font-weight: bold;color: rgb(0, 0, 0);cursor: pointer" type="submit" btype="v" value="Vote" />
							</a>
							<a style="text-decoration: none" class="qp_btna" href="#">
								<input name="qp_b2241035" style="min-width: 7em;padding: 0.38em 0.75em;margin-top: 5px;margin-right: 5px;border-radius: 10px;border: 3px solid rgb(83, 16, 89);background: rgb(237, 179, 242);font-family: Arial;font-size: 1em;font-weight: bold;color: rgb(0, 0, 0);cursor: pointer" type="submit" btype="r" value="Results" />
							</a>
						</div>
					</form>
					<div style="display:none">
						<div id="qp_rp2241035" style="font-size: 11px;width: 5ex;text-align: right;overflow: hidden;position: absolute;right: 5px;height: 1.5em;line-height: 1.5em"></div>
						<div id="qp_rv2241035" style="font-size: 11px;width: 0%;line-height: 1.5em;text-align: right;color: rgb(255, 255, 255);box-sizing: border-box;padding-right: 3px"></div>
						<div id="qp_rb2241035" style="color: rgb(255, 255, 255);display: block;font-size: 12px"></div>
						<div id="qp_rva2241035" style="background: rgb(0, 111, 185);border-color: rgb(0, 111, 185)"></div>
						<div id="qp_rvb2241035" style="background: rgb(22, 52, 99);border-color: rgb(22, 52, 99)"></div>
						<div id="qp_rvc2241035" style="background: rgb(91, 207, 252);border-color: rgb(20, 129, 171)"></div>
					</div>
				</div>
			</div>
			<div>Hi,</div>
			<div>&nbsp;</div>
			<div>I'd like to solicit user feedback on what types of apps would you like to see next on Hematogones.com. Thank you for taking a moment to vote and voice your opinions.</div>
			<div>&nbsp;</div>
			<div>- Chandra</div>
			<div style='text-align:center; margin:5px;'>Created with 
				<a id="qp_foot2241035" href="https://linkto.run/e/XH4GDU5G">QuizMaker</a>
			</div>
		</div>
		<script src="//scripts.poll-maker.com/3012/scpolls.js" language="javascript"></script>
						
						<div>
				</div>

			</div>

			<div class="py-4 w-100"></div>

		</div>

		</div>
	</div><!-- Bottom panels-->
	<div class="row">
		<div class="col col-lg-6">
			<!-- Example Bar Chart Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-address-card-o"></i> <span>Contact Me</span>
				</div>
				<div class="card-block">
					<div class="row">
						<p>As always, your feedback is very important and useful to me. I always appreciate hearing from other pathologists and laboratory staff in how they use this website. If you like the work I've done, found a bug or would like to offer some ideas on other tools, please don't hesitate to <a href="/mail">drop me a note</a>.</p>
					</div>
				</div>
				<div class="card-footer small text-muted">
					Updated Spring 2017 - Chandra Krishnan, MD
				</div>
			</div><!-- /Card Columns -->
		</div>
		<div class="col col-lg-6">
			<!-- Example Notifications Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-twitter"></i> <span>Recent Twitter Posts</span>
				</div>
				<div class="card-block" style="max-height: 500px; overflow: auto;">
					<a class="twitter-timeline" data-theme="light" data-width="600" href="https://twitter.com/hematogones">Tweets by hematogones</a>
					<script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
					</script>
				</div>
				<div class="card-footer small text-muted">
					Follow me <a href="http://twitter.com/hematogones">@hematogones</a>
				</div>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</div>
