<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="container-fluid">
	<!-- Breadcrumbs -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="#">Home</a>
		</li>
		<li class="breadcrumb-item active" id="bc-jump">Welcome</li>
	</ol>{{> message-center this}} <!-- Area Chart Example -->
	<div class="row">
		<div class="col col-lg-12">
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-comment"></i> Messages
				</div>
				<div class="jumbotron">
					<h1 class="display-3">Welcome to Hematogones.com</h1>
					<p class="lead">Thank you for all the great support and feedback!</p>
					<hr class="my-4">
					<p>See the Login link on the top right? Go make a user account already!</p>
					<hr class="my-4">
					<p>Use the search filter on above the navigation list to filter and find a specific app.</p>
					<hr class="my-4">
					<p>On the left, you'll find all my published tools along with a handy search bar at the top to quickly filter to the link you need.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-12">
			<div class="card mb-3">
				<div class="card-header">
					<h3>What's new?</h3>
				</div>
				<div class="card-block">
					<p>I encourage all regular users of these apps to please consider creating a user account. Signing-up is free and you gain access to enhancements in the apps, including:</p>
					<ul class="list-group">
						<li class="list-group-item">Print hard copies of your reports</li>
						<li class="list-group-item">Retrieve prior reports that you generate</li>
						<li class="list-group-item">Email reports to your account e-mail address</li>
						<li class="list-group-item"><a href="/surg-path/snippets">Surgpath snippet locker</a> users - gain access to 1000s of surg path reports on file and create/modify any reports you make</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- Bottom panels-->
	<div class="row">
		<div class="col col-lg-6">
			<!-- Example Bar Chart Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-address-card-o"></i> <span>Contact Me</span>
				</div>
				<div class="card-block">
					<div class="row">
						<p>As always, your feedback is very important and useful to me. I always appreciate hearing from other pathologists and laboratory staff in how they use this website. If you like the work I've done, found a bug or would like to offer some ideas on other tools, please don't hesitate to <a href="/mail">drop me a note</a>.</p>
					</div>
				</div>
				<div class="card-footer small text-muted">
					Updated Spring 2017 - Chandra Krishnan, MD
				</div>
			</div><!-- /Card Columns -->
		</div>
		<div class="col col-lg-6">
			<!-- Example Notifications Card -->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-twitter"></i> <span>Recent Twitter Posts</span>
				</div>
				<div class="card-block" style="max-height: 500px; overflow: auto;">
					<a class="twitter-timeline" data-theme="light" data-width="600" href="https://twitter.com/hematogones">Tweets by hematogones</a>
					<script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
					</script>
				</div>
				<div class="card-footer small text-muted">
					Follow me <a href="http://twitter.com/hematogones">@hematogones</a>
				</div>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</div>
</body>
</html>