<div class="container-fluid">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
				<li class="breadcrumb-item">
						<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>CAP Cancer Checklist</li>
				<li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>CNS Tumors</li>
		</ol>

		{{> page-partials/cap-header}}

	<div class="row">
		<div class="col col-md-8">
			<span>leave cap neuro for last</span>
			<!-- close column -->
			</div>
			{{> page-partials/cap-footer}}
			<!-- close row -->
		</div>
		<!-- close container -->
		</div>

		<!--

		scripts

	-->
