
<div class="card-header bottom-buffer">
    <!-- How to use and modal -->
    <div class="row">
        <div class="col col-md-12">
            <button class="btn btn-default btn-block" data-target="#flipFlop" data-toggle="modal" id="openhelp" type="button">
                About the table references
            </button>
        </div>
    </div>
</div>


<!-- The modal -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="flipFlop" role="dialog" tabindex="-1" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
							<span aria-hidden="true">
								&times;
							</span>
                </button>
                <h4 class="modal-title" id="modalLabel">
                    The data for the weights and measurements are provided through the following references:

                </h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        Gestational weights & measurements: Archie J et al. Am J Clin Pathol 2006; 126:256-265<br>
                    </li>
                    <li class="list-group-item">
                        Placenta weights: Pinar et al. Pediatr Pathol Lab Med 1996; 16: 901-907<br>
                    </li>
                    <li class="list-group-item">
                        Infant weights & measurements: Expanded from Schultz DM et al, Arch Pathol 1962; 74:244.  Stocker & Dehner Pediatric Pathology, 2002, appendix 31 <br>
                    </li>
                    <li class="list-group-item">
                        Children weights & measurements: Kayser K 1987, in Stocker & Dehner, Pediatric Pathology, 2002, appendices 36, 38, 40, 41, 42, 43 <br>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
