<div class="card-text col-8 h4 text-left mx-auto py-2" style="line-height: 1.5">
    <p>The CAP contacted me regarding the free cancer synoptic apps that are available on this site.
        They conclude that providing these free apps is not keeping with their terms of service. In order to
        provide them to you all, the CAP requires that I collect (or you provide) individual user licenses
        for the synoptics. I never intended to make people pay for these tools, so I declined this route.
    </p>
    <p>Now, you may be wondering: <span class="text-danger">"The pdfs of each and every synoptic are already freely available to everyone, and I already just copy/paste the docs into my report. Why would I have to pay to have some programming cut out the irrelevent portions for me?"</span>
    </p>
    <p>I tried arguing this exact point to no avail. In contrast to other vendors you may know, these apps do not
        store discrete data or integrate with your LIS. They are intended to fill the gap where an integrated
        template engine is not feasable. I don't profit from creating these tools and made them free. In fact, there
        is a not insignificant cost for me to host them. But to be clear, the CAP <em>does try</em> to profit from the synoptics that are a required element of our inspections. Thus, a free alternative is not in their best business interests.
    </p>
    <p>If you are a pathologist that has come to rely on the synoptic tools here, or just use them one off, please note
        that I have complied with their takedown request, and the apps are no longer publicly accessible.
    </p>
    <p>Thank you to those who have provided valuable feedback to make these synoptic tools as accurate as possible.
    </p>
    <p>Regards,<br>
        Chandra
    </p>
</div>