<div class="alert alert-warning alert-dismissible collapse" id="cap-valid" role="alert">
    <button type="button" class="close" data-hide="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <strong>Uh Oh!</strong> It looks like you may have forgotten something in your template. Please review the
    highlighted selections.
</div>
