		<!-- middle right text output-->
<div class="col col-md-4" id="cap-bottom-right">
	<div class="card text-center">
		<div class="card-header button-box">
				<ul class="nav nav-pills standard-button-box">
					<a class="btn btn-lg btn-outline-info p-2" id="writeReport">
						<small>Write Report</small>
					</a>
					<a class="btn btn-lg btn-outline-success p-2 ml-4" >
							<small class="copy btn-default" data-toggle="popover" data-placement="top" data-clipboard-target="#outPut-1" >
									Copy</small>
					</a>
						<a class="btn btn-lg btn-outline-danger p-2 ml-4" id="Reset" >
								<small>Reset</small>
						</a>
				</ul>
		</div>
		<div class="card-block">
			{{> page-partials/case-reference}}
			<div class="form-group">
				<textarea class="form-control" id="outPut-1" rows="40" placeholder="Final CAP template text">
				</textarea>
			</div>
		</div>
		<div class="card-footer">
			<span>
				Based on 2016 CAP Template revision
			</span>
		</div>
	</div>
</div>

<!-- new case reference modal -->
{{> page-modals/new-case-reference}}

		<!--  Combined report Modal -->
<div class="modal fade hide" id="combined-report" tabindex="-1" role="dialog" aria-labelledby="combined-report" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
				<h4 class="modal-title">
					Combined report
				</h4>
			</div>
			<div class="modal-body">
				<textarea id="outPut-combine" cols="100" rows="25">
				</textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary copy" data-clipboard-target="#outPut-combine">
					Copy
				</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
