<div class="alert alert-warning alert-dismissible collapse" id="cap-valid" role="alert">
    <button type="button" class="close" data-hide="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <strong>Uh Oh!</strong> It looks like you may have forgotten a <span class="h6">required element</span> in your template. Please review the
    highlighted selections. Any optional (+ designated) sections will be ignored if you don't make a choice.
</div>
<div class="alert alert-info alert-dismissible collapse" id="opt-valid" role="alert">
    <button type="button" class="close" data-hide="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <span class="h6">Some optional elements have been omitted. You can delete this from the synoptic if you don't want to include it.</span>
</div>