
<div class="card-header">
<!-- How to use and modal -->
	<div class="row">
		<div class="col col-md-12">
		<button class="btn btn-default btn-block" data-target="#flipFlop" data-toggle="modal" id="openhelp" type="button">
			How to use
		</button>
<!-- The modal -->
		<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="flipFlop" role="dialog" tabindex="-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button aria-label="Close" class="close" data-dismiss="modal" type="button">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
						<h4 class="modal-title" id="modalLabel">
							How to use
						</h4>
					</div>
					<div class="modal-body">
						<ul class="list-group">
							<li class="list-group-item">
								Make your selections on the left
							</li>
							<li class="list-group-item">
								Your template will build on the right
							</li>
							<li class="list-group-item">
								Copy/Paste into your LIS
							</li>
						</ul>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" data-dismiss="modal" type="button">
							Close
						</button>
					</div>
			</div>
	</div>
</div>
</div>
</div>
</div>

<!--
				<!-- Top full-width row
				<div class="container-fluid">
						<div class="row">
								<!--middle colored boxes
								<div class="container">
										<div class="row row-grid">
												<!-- bottom left column
												<div class="col-8" id="cap-bottom-left">  -->
