<div class="card-text col-8 h4 text-left mx-auto py-2" style="line-height: 1.5">
    <p>The CAP contacted me regarding the free cancer synoptic apps that are available on this site.
        They conclude that providing these free apps is not keeping with their terms of service. In order to
        provide them to you all, the CAP requires that I collect (or you provide) individual user licenses
        for the synoptics. I never intended to make people pay for these tools, so I declined this route.
    </p>

    <p>If you are a pathologist that has come to rely on the synoptic tools here, or just use them one off, please note
        that I have complied with their takedown request, and the apps are no longer publicly accessible.
    </p>
    <p>Thank you to those who have provided valuable feedback to make these synoptic tools as accurate as possible.
    </p>
    <p>Regards,<br>
        Chandra
    </p>
</div>