<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="howto" role="dialog" tabindex="-1">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<h4 class="modal-title" id="modalLabel">How to use the Diff counter</h4>
								<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>

						</div>
						<div class="modal-body">
								<p>Use the number pad to count cells according to the legend below</p>
								<p>2) The frequency and total cell count will appear in the appropriate fields</p>
								<p>3) Click the button at the bottom to get a text prinout that can be copy/pasted into your pathology report.</p><img class="diffhelp img-responsive" src="../../img/diff_key.png"></div>
						<div class="modal-footer">
								<p class="text-danger">Want to customize your keypad inputs? Try the <a href="/apps/counter">customizable tally counter</a>instead.</p>
						</div>
				</div>
		</div>
</div>
