<!-- RBC card-->
<div class="card">
		<div class="card-header" role="tab" id="headingOne">
				<h5 class="mb-0">
						<a class="collapsed btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								RBC
						</a>
				</h5>
		</div>
		<div id="collapseOne" class="collapse " role="tabpanel" aria-labelledby="headingOne">
				<div class="card-block chkboxes">
						<div class="card-group">
								<div class="card">
										<div class="card-header">
												Part Types
										</div>
										<div class="card-block chkboxes">
												<div style="font-size: 0.66em;" class="content form-check" id="column1b">
														<label class="form-check-label" id="_partType100"><input class="form-check-input" id="partType100" name="partType" type="checkbox"> NORMAL RED CELLS </label><br>
														<label class="form-check-label" id="_partType101"><input class="form-check-input" id="partType101" name="partType" type="checkbox"> NORMO, NORMO ANEMIA</label><br>
														<label class="form-check-label" id="_partType102"><input class="form-check-input" id="partType102" name="partType" type="checkbox"> HYPO, MICRO ANEMIA</label><br>
														<label class="form-check-label" id="_partType106"><input class="form-check-input" id="partType106" name="partType" type="checkbox"> HYPO, MICRO RED CELLS</label><br>
														<label class="form-check-label" id="_partType103"><input class="form-check-input" id="partType103" name="partType" type="checkbox"> NORMO, MACRO ANEMIA </label><br>
														<label class="form-check-label" id="_partType104"><input class="form-check-input" id="partType104" name="partType" type="checkbox"> ERYTHROCYTOSIS, HYPO/MICRO </label><br>
														<label class="form-check-label" id="_partType105"><input class="form-check-input" id="partType105" name="partType" type="checkbox"> ERYTHROCYTOSIS, NORMO/NORMO </label><br>
												</div>

										</div>
								</div>
								<div class="card">
										<div class="card-header">
												Micros
										</div>
										<div class="card-block chkboxes">
												<div style="font-size: 0.66em;" class="content form-check" id="column2b">
														<label class="form-check-label" id="_mxLine100"><input class="form-check-input" id="mxLine100" name="mxLine" type="checkbox"> NO SCHISTS OR OXIDATION </label><br>
														<label class="form-check-label" id="_mxLine119"><input class="form-check-input" id="mxLine119" name="mxLine" type="checkbox"> TYPICAL FE DEFICIENCY </label><br>
														<label class="form-check-label" id="_mxLine101"><input class="form-check-input" id="mxLine101" name="mxLine" type="checkbox"> LER W/ TEARS (MARROW INFILTRATE) </label><br>
														<label class="form-check-label" id="_mxLine102"><input class="form-check-input" id="mxLine102" name="mxLine" type="checkbox"> LER W/ NRBCS(TYPICAL PREEMIE)</label><br>
														<label class="form-check-label" id="_mxLine103"><input class="form-check-input" id="mxLine103" name="mxLine" type="checkbox"> NO SCHISTOCYTES </label><br>
														<label class="form-check-label" id="_mxLine104"><input class="form-check-input" id="mxLine104" name="mxLine" type="checkbox"> 1-2+ SCHISTOCYTES </label><br>
														<label class="form-check-label" id="_mxLine105"><input class="form-check-input" id="mxLine105" name="mxLine" type="checkbox"> 3-4+ SCHISTOCYTES </label><br>
														<label class="form-check-label" id="_mxLine106"><input class="form-check-input" id="mxLine106" name="mxLine" type="checkbox"> NO SPHERES </label><br>
														<label class="form-check-label" id="_mxLine107"><input class="form-check-input" id="mxLine107" name="mxLine" type="checkbox"> 1-2+ SPHERES </label><br>
														<label class="form-check-label" id="_mxLine108"><input class="form-check-input" id="mxLine108" name="mxLine" type="checkbox"> 3-4+ SPHERES, NO CLUMPS </label><br>
														<label class="form-check-label" id="_mxLine109"><input class="form-check-input" id="mxLine109" name="mxLine" type="checkbox"> 3-4+ SPHERES, W/ CLUMPS </label><br>
														<label class="form-check-label" id="_mxLine114"><input class="form-check-input" id="mxLine114" name="mxLine" type="checkbox"> 1-2+ OXIDATIVE CHANGE</label><br>
														<label class="form-check-label" id="_mxLine115"><input class="form-check-input" id="mxLine115" name="mxLine" type="checkbox"> 3-4+ OXIDATIVE CHANGE </label><br>
														<label class="form-check-label" id="_mxLine122"><input class="form-check-input" id="mxLine122" name="mxLine" type="checkbox"> OCCASIONAL TEAR DROPS </label><br>
														<label class="form-check-label" id="_mxLine123"><input class="form-check-input" id="mxLine123" name="mxLine" type="checkbox"> FREQUENT TEAR DROPS </label><br>
														<label class="form-check-label" id="_mxLine110"><input class="form-check-input" id="mxLine110" name="mxLine" type="checkbox"> OCCASIONAL ELLIPTOCYTES </label><br>
														<label class="form-check-label" id="_mxLine111"><input class="form-check-input" id="mxLine111" name="mxLine" type="checkbox"> FREQUENT ELLIPTOCYTOSIS </label><br>
														<label class="form-check-label" id="_mxLine112"><input class="form-check-input" id="mxLine112" name="mxLine" type="checkbox"> 1-2+ TARGETS </label><br>
														<label class="form-check-label" id="_mxLine113"><input class="form-check-input" id="mxLine113" name="mxLine" type="checkbox"> 3-4+ TARGETS </label><br>
														<label class="form-check-label" id="_mxLine120"><input class="form-check-input" id="mxLine120" name="mxLine" type="checkbox"> MILD ROULEAUX</label><br>
														<label class="form-check-label" id="_mxLine121"><input class="form-check-input" id="mxLine121" name="mxLine" type="checkbox"> MARKED ROULEAUX</label><br>
														<a class="btn btn-sm mt-1" data-toggle="collapse" href="#abnhbs" aria-expanded="false" aria-controls="collapsediv">
																Click for abnormal hemoglobins
														</a>
														<div class="collapse divshow" id="abnhbs">
																<label class="form-check-label" id="_mxLine116"><input class="form-check-input" id="mxLine116" name="mxLine" type="checkbox"> HbS, FEW</label> <br>
																<label class="form-check-label" id="_mxLine117"><input class="form-check-input" id="mxLine117" name="mxLine" type="checkbox"> HbS, NUMEROUS</label> <br>
																<label class="form-check-label" id="_mxLine118"><input class="form-check-input" id="mxLine118" name="mxLine" type="checkbox"> HbSC </label> <br>
														</div>

												</div>
										</div>
								</div>
								<div class="card">
										<div class="card-header">
												Comments, if needed
										</div>
										<div class="card-block chkboxes">
												<div style="font-size: 0.66em;" class="content form-check" id="column3b">
														<label class="form-check-label" id="_commLine100"><input class="form-check-input" id="commLine100" name="commLine" type="checkbox"> IRON DEF VS. HB-OPATHY </label><br>
														<label class="form-check-label" id="_commLine101"><input class="form-check-input" id="commLine101" name="commLine" type="checkbox"> B12/FOLATE DEF VS. MEDS </label> <br>
														<label class="form-check-label" id="_commLine102"><input class="form-check-input" id="commLine102" name="commLine" type="checkbox"> THAL CHANGES (ERYTHROCYTOSIS) </label> <br>
														<label class="form-check-label" id="_commLine117"><input class="form-check-input" id="commLine117" name="commLine" type="checkbox"> HYPO/MICRO NORMAL RBCS </label> <br>
														<label class="form-check-label" id="_commLine116"><input class="form-check-input" id="commLine116" name="commLine" type="checkbox"> NORMOCYTIC POLYCYTHEMIA </label> <br>
														<label class="form-check-label" id="_commLine103"><input class="form-check-input" id="commLine103" name="commLine" type="checkbox"> CHANGES C/W PREMATURITY </label><br>
														<label class="form-check-label" id="_commLine104"><input class="form-check-input" id="commLine104" name="commLine" type="checkbox"> LEUKOERYTHROBLASTIC REACTION (ADULTS) </label> <br>
														<label class="form-check-label" id="_commLine105"><input class="form-check-input" id="commLine105" name="commLine" type="checkbox"> MACROCYTOSIS W/ TARGETS </label><br>
														<label class="form-check-label" id="_commLine112"><input class="form-check-input" id="commLine112" name="commLine" type="checkbox"> MANY TARGETS, NO MACROCYTOSIS </label> <br>
														<label class="form-check-label" id="_commLine114"><input class="form-check-input" id="commLine114" name="commLine" type="checkbox"> INCREASED SCHISTOCYTES </label><br>
														<label class="form-check-label" id="_commLine106"><input class="form-check-input" id="commLine106" name="commLine" type="checkbox"> SPHERES W/ ANEMIA </label> <br>
														<label class="form-check-label" id="_commLine107"><input class="form-check-input" id="commLine107" name="commLine" type="checkbox"> SPHERES W/ CLUMPS </label> <br>
														<label class="form-check-label" id="_commLine108"><input class="form-check-input" id="commLine108" name="commLine" type="checkbox"> SPHERES W/ OXIDATIVE CHANGES </label> <br>
														<label class="form-check-label" id="_commLine109"><input class="form-check-input" id="commLine109" name="commLine" type="checkbox"> C/W KNOWN HbS (NORMOCYTIC) </label> <br>
														<label class="form-check-label" id="_commLine115"><input class="form-check-input" id="commLine115" name="commLine" type="checkbox"> C/W KNOWN HbS (MICROCYTIC) </label> <br>
														<label class="form-check-label" id="_commLine110"><input class="form-check-input" id="commLine110" name="commLine" type="checkbox"> C/W KNOWN HbSC (NORMOCYTIC) </label> <br>
														<label class="form-check-label" id="_commLine113"><input class="form-check-input" id="commLine113" name="commLine" type="checkbox"> HYPO/POST SPLENECTOMY CHANGES </label> <br>
														<label class="form-check-label" id="_commLine111"><input class="form-check-input" id="commLine111" name="commLine" type="checkbox"> ROULEAUX PRESENT </label> <br>
												</div>
										</div>
								</div>
						</div>

				</div>
		</div>
</div>
<!-- WBC card-->
<div class="card">
		<div class="card-header" role="tab" id="headingTwo">
				<h5 class="mb-0">
						<a class="collapsed btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								WBC
						</a>
				</h5>
		</div>
		<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="card-block chkboxes">
						<div class="card-group">
								<div class="card">
										<div class="card-header">
												Part Types
										</div>
										<div class="card-block chkboxes">
												<div style="font-size: 0.66em;" class="content form-check" id="column1d"> <br>
														<label class="form-check-label" id="_partType150"><input class="form-check-input" id="partType150" name="partType" type="checkbox"> NORMAL ADULT, N&gt;L&gt;M </label> <br>
														<label class="form-check-label" id="_partType151"><input class="form-check-input" id="partType151" name="partType" type="checkbox"> NORMAL BABY, L&gt;N&gt;M </label> <br>
														<label class="form-check-label" id="_partType152"><input class="form-check-input" id="partType152" name="partType" type="checkbox"> MILD ↓, N&gt;L&gt;M </label> <br>
														<label class="form-check-label" id="_partType153"><input class="form-check-input" id="partType153" name="partType" type="checkbox"> MARKED ↓, ABSOLUTE ↓ N&amp;L </label> <br>
														<label class="form-check-label" id="_partType154"><input class="form-check-input" id="partType154" name="partType" type="checkbox"> ABS ↓ NEUT </label> <br>
														<label class="form-check-label" id="_partType155"><input class="form-check-input" id="partType155" name="partType" type="checkbox"> ABS ↓ LYMPH </label> <br>
														<label class="form-check-label" id="_partType156"><input class="form-check-input" id="partType156" name="partType" type="checkbox"> ABS ↑ NEUT, NO ACTIVATION </label> <br>
														<label class="form-check-label" id="_partType157"><input class="form-check-input" id="partType157" name="partType" type="checkbox"> ABS ↑ NEUT, YES ACTIVATION </label> <br>
														<label class="form-check-label" id="_partType158"><input class="form-check-input" id="partType158" name="partType" type="checkbox"> ABS ↑ NEUT, W LEFT SHIFT </label> <br>
														<label class="form-check-label" id="_partType159"><input class="form-check-input" id="partType159" name="partType" type="checkbox"> ABS ↑ LYMPH </label> <br>
														<label class="form-check-label" id="_partType160"><input class="form-check-input" id="partType160" name="partType" type="checkbox"> ABS ↑ WBC </label> <br>
														<label class="form-check-label" id="_partType164"><input class="form-check-input" id="partType164" name="partType" type="checkbox"> OCCASIONAL CIRCULATING BLASTS </label> <br>
														<label class="form-check-label" id="_partType165"><input class="form-check-input" id="partType165" name="partType" type="checkbox"> PREDOMINANCE OF BLASTS </label> <br>
														<label class="form-check-label" id="_partType161"><input class="form-check-input" id="partType161" name="partType" type="checkbox"> ABSOLUTE ↑ EOS </label> <br>
														<label class="form-check-label" id="_partType166"><input class="form-check-input" id="partType166" name="partType" type="checkbox"> RELATIVE ↑ NEUTS, N&gt;L&gt;M</label> <br>
														<label class="form-check-label" id="_partType162"><input class="form-check-input" id="partType162" name="partType" type="checkbox"> RELATIVE ↑ LYMPHS, L&gt;N&gt;M</label> <br>
														<label class="form-check-label" id="_partType163"><input class="form-check-input" id="partType163" name="partType" type="checkbox"> RELATIVE ↑ MONOS </label> <br>
												</div>
										</div>
								</div>
								<div class="card">
										<div class="card-header">
												Micros
										</div>
										<div class="card-block chkboxes">
												<div style="font-size: 0.66em;" class="content form-check" id="column2d"> <br>
														<label class="form-check-label" id="_mxLine163"><input class="form-check-input" id="mxLine163" name="mxLine" type="checkbox"> FEW L SHIFTED GRANS </label><br>
														<label class="form-check-label" id="_mxLine164"><input class="form-check-input" id="mxLine164" name="mxLine" type="checkbox"> L SHIFTED GRANS + RARE BLASTS </label><br>
														<label class="form-check-label" id="_mxLine170"><input class="form-check-input" id="mxLine170" name="mxLine" type="checkbox"> ABSOLUTE NEUTROPENIA </label><br>
														<label class="form-check-label" id="_mxLine153"><input class="form-check-input" id="mxLine153" name="mxLine" type="checkbox"> ↑ WBCS, CMPD VS. GCSF </label><br>
														<label class="form-check-label" id="_mxLine151"><input class="form-check-input" id="mxLine151" name="mxLine" type="checkbox"> REACTIVE LYMPHOCYTES W/ LGLS </label><br>
														<label class="form-check-label" id="_mxLine152"><input class="form-check-input" id="mxLine152" name="mxLine" type="checkbox"> REACTIVE LYMPHOCYTES W/ IMMUNOBLASTS </label><br>
														<label class="form-check-label" id="_mxLine171"><input class="form-check-input" id="mxLine171" name="mxLine" type="checkbox"> ABSOLUTE LYMPHOPENIA</label><br>
														<label class="form-check-label" id="_mxLine165"><input class="form-check-input" id="mxLine165" name="mxLine" type="checkbox"> NO HYPERSEGMENTED NEUTS </label><br>
														<label class="form-check-label" id="_mxLine166"><input class="form-check-input" id="mxLine166" name="mxLine" type="checkbox"> OCCASIONAL HYPERSEGMENTED NEUTS</label><br>
														<label class="form-check-label" id="_mxLine162"><input class="form-check-input" id="mxLine162" name="mxLine" type="checkbox"> NO PLASMA CELLS (IF ROULEAUX PRESENT) </label><br>
														<label class="form-check-label" id="_mxLine172"><input class="form-check-input" id="mxLine172" name="mxLine" type="checkbox"> ↑ EOS </label><br>
														<label class="form-check-label" id="_mxLine167"><input class="form-check-input" id="mxLine167" name="mxLine" type="checkbox"> GRANULOCYTIC DYSPLASIA, NO ↑ED BLASTS  </label><br>
														<br>
														<p class="text-center text-warning"> Some pertinent negatives </p>
														<label class="form-check-label" id="_mxLine150"><input class="form-check-input" id="mxLine150" name="mxLine" type="checkbox"><b> NO DYSPLASIA OR ↑ED BLASTS </b></label><br>
														<label class="form-check-label" id="_mxLine168"><input class="form-check-input" id="mxLine168" name="mxLine" type="checkbox"><b> NO ↑ED BLASTS  </b></label><br>
														<label class="form-check-label" id="_mxLine169"><input class="form-check-input" id="mxLine169" name="mxLine" type="checkbox"><b> NO DYSPLASIA (IF RARE BLASTS PRESENT) </b></label><br>

														<a class="btn btn-sm mt-1" data-toggle="collapse" href="#abnwbc" aria-expanded="false" aria-controls="collapsediv"> Abnormal WBCs</a>
														<div class="collapse divshow" id="abnwbc">
																<label class="form-check-label" id="_mxLine154"><input class="form-check-input" id="mxLine154" name="mxLine" type="checkbox"> ↑ WBCS W BASOS (CML) </label><br>
																<label class="form-check-label" id="_mxLine155"><input class="form-check-input" id="mxLine155" name="mxLine" type="checkbox"> CLL </label><br>
																<label class="form-check-label" id="_mxLine156"><input class="form-check-input" id="mxLine156" name="mxLine" type="checkbox"> ATYPICAL SMALL LYMPHOCYTOSIS </label><br>
																<label class="form-check-label" id="_mxLine157"><input class="form-check-input" id="mxLine157" name="mxLine" type="checkbox"> AML NO DYS </label><br>
																<label class="form-check-label" id="_mxLine158"><input class="form-check-input" id="mxLine158" name="mxLine" type="checkbox"> AML W DYS</label><br>
																<label class="form-check-label" id="_mxLine159"><input class="form-check-input" id="mxLine159" name="mxLine" type="checkbox"> AML MONOCYTIC </label><br>
																<label class="form-check-label" id="_mxLine160"><input class="form-check-input" id="mxLine160" name="mxLine" type="checkbox"> APL </label><br>
																<label class="form-check-label" id="_mxLine161"><input class="form-check-input" id="mxLine161" name="mxLine" type="checkbox"> ALL </label><br>

														</div>

												</div>
										</div>
								</div>
								<div class="card">
										<div class="card-header">
												Comments, if needed
										</div>
										<div class="card-block chkboxes">
												<div style="font-size: 0.66em;" class="content form-check" id="column3d"> <br>
														<label class="form-check-label" id="_commLine150"><input class="form-check-input" id="commLine150" name="commLine" type="checkbox"> ↑ NEUTS, DDX </label><br>
														<label class="form-check-label" id="_commLine161"><input class="form-check-input" id="commLine161" name="commLine" type="checkbox"> ↓ NEUTS (&lt;200 ANC), DDX </label><br>
														<label class="form-check-label" id="_commLine151"><input class="form-check-input" id="commLine151" name="commLine" type="checkbox"> ↑ EOS, DDX </label><br>
														<label class="form-check-label" id="_commLine152"><input class="form-check-input" id="commLine152" name="commLine" type="checkbox"> REACTIVE LYMPHS C/W VIRAL </label><br>
														<label class="form-check-label" id="_commLine153"><input class="form-check-input" id="commLine153" name="commLine" type="checkbox"> CMPD DDX</label><br>
														<label class="form-check-label" id="_commLine154"><input class="form-check-input" id="commLine154" name="commLine" type="checkbox"> C/W CML </label><br>
														<label class="form-check-label" id="_commLine155"><input class="form-check-input" id="commLine155" name="commLine" type="checkbox"> CLL </label><br>
														<label class="form-check-label" id="_commLine156"><input class="form-check-input" id="commLine156" name="commLine" type="checkbox"> C/W LYMPHOMA </label><br>
														<label class="form-check-label" id="_commLine157"><input class="form-check-input" id="commLine157" name="commLine" type="checkbox"> AML </label><br>
														<label class="form-check-label" id="_commLine158"><input class="form-check-input" id="commLine158" name="commLine" type="checkbox"> APL </label><br>
														<label class="form-check-label" id="_commLine159"><input class="form-check-input" id="commLine159" name="commLine" type="checkbox"> ALL </label><br>
														<label class="form-check-label" id="_commLine160"><input class="form-check-input" id="commLine160" name="commLine" type="checkbox"> C/W TREATMENT </label><br>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- PLT card-->
<div class="card">
		<div class="card-header" role="tab" id="headingThree">
				<h5 class="mb-0">
						<a class="collapsed btn-block" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Platelets
						</a>
				</h5>
		</div>
		<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="card-block chkboxes">
						<div class="card-group">
								<div class="card">
										<div class="card-header">
												Part Types
										</div>
										<div class="card-block chkboxes">
												<div style="font-size: 0.66em;" class="content form-check" id="column1e">
														<label class="form-check-label" id="_partType200"><input class="form-check-input" id="partType200" name="partType" type="checkbox"> NORMAL </label> <br>
														<label class="form-check-label" id="_partType201"><input class="form-check-input" id="partType201" name="partType" type="checkbox"> MILD&#8595; (100-149) </label> <br>
														<label class="form-check-label" id="_partType202"><input class="form-check-input" id="partType202" name="partType" type="checkbox"> MARKED&#8595; (0-99) </label> <br>
														<label class="form-check-label" id="_partType205"><input class="form-check-input" id="partType205" name="partType" type="checkbox"> MARKED&#8595; AND CLUMPS PRESENT</label> <br>
														<label class="form-check-label" id="_partType203"><input class="form-check-input" id="partType203" name="partType" type="checkbox"> MILD&#8593; (450-600) </label> <br>
														<label class="form-check-label" id="_partType204"><input class="form-check-input" id="partType204" name="partType" type="checkbox"> MARKED&#8593; (601+) </label> <br>
												</div>
										</div>
								</div>
								<div class="card">
										<div class="card-header">
												Micros
										</div>
										<div class="card-block chkboxes">
												<div style="font-size: 0.66em;" class="content form-check" id="column2e">
														<label class="form-check-label" id="_mxLine200"><input class="form-check-input" id="mxLine200" name="mxLine" type="checkbox"> NORMAL MORPH </label><br>
														<label class="form-check-label" id="_mxLine202"><input class="form-check-input" id="mxLine202" name="mxLine" type="checkbox"> HYPOGRANULAR </label><br>
														<label class="form-check-label" id="_mxLine203"><input class="form-check-input" id="mxLine203" name="mxLine" type="checkbox"> LARGE, GRANULAR FORMS </label><br>
														<label class="form-check-label" id="_mxLine204"><input class="form-check-input" id="mxLine204" name="mxLine" type="checkbox"> NO CLUMPS SEEN </label><br>
												</div>
										</div>
								</div>
								<div class="card">
										<div class="card-header">
												Comments, if needed
										</div>
										<div class="card-block chkboxes">
												<div style="font-size: 0.66em;" class="content form-check" id="column3e">
														<label class="form-check-label" id="_commLine200"><input class="form-check-input" id="commLine200" name="commLine" type="checkbox"> CLUMPS PRESENT? </label><br>
														<label class="form-check-label" id="_commLine201"><input class="form-check-input" id="commLine201" name="commLine" type="checkbox"> C/W ITP </label><br>
														<label class="form-check-label" id="_commLine202"><input class="form-check-input" id="commLine202" name="commLine" type="checkbox"> THROMBOCYTOSIS </label><br>
														<label class="form-check-label" id="_commLine203"><input class="form-check-input" id="commLine203" name="commLine" type="checkbox"> C/W TTP </label><br>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
