<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="flipFlop" role="dialog"
		 tabindex="-1">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"> Modal Title</h4>
						</div>
						<div class="modal-body">
								<ul class="list-group">
										<li class="list-group-item active">Gather your specimen volume and clinical information</li>
										<li class="list-group-item">Select the appropriate options</li>
										<li class="list-group-item disabled">Choose your diagnosis</li>
								</ul>
						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>
