<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="flipFlop" role="dialog" data-backdrop="false"
		 tabindex="-1">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"> How to use</h4>
						</div>
						<div class="modal-body">
								<ul class="list-group">
										<li class="list-group-item ">Choose your specimen type</li>
										<li class="list-group-item ">Gather your volume and cell count information</li>
										<li class="list-group-item">Enter the pertinent numeric data</li>
										<li class="list-group-item ">Choose your morphologic findings</li>
										<li class="list-group-item ">Write your report!</li>
								</ul>
						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>
