<div aria-hidden="true" data-backdrop="false" aria-labelledby="modalLabel" class="modal fade" id="flipFlop" role="dialog"
		 tabindex="-1">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"> Transfusion Reaction</h4>
						</div>
						<div class="modal-body">
								<ul class="list-group">
										<li class="list-group-item ">Collect your pertinent data</li>
										<li class="list-group-item">Fill in the relevant dates, unit types and workup</li>
										<li class="list-group-item disabled">Choose the best response</li>
								</ul>
						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>
