<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade " id="alert-modal" role="dialog"
		 tabindex="-1">
		<div class="modal-dialog" role="document">
				<div class="modal-content ">
						<div class="modal-header bg-warning">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="alert-title"> Ouch! What do you do?</h4>
						</div>
						<div class="modal-body">
								<p id="error"></p>
						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>
