<div class="modal fade hide" id="bilatbx" tabindex="-1" role="dialog" aria-labelledby="bilatbx" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title">Describe the dissimilar biopsies</h4>
						</div>
<div class="modal-body">
	<table class="table">
			<thead>
			<tr>
					<th> </th>
					<th>Left side</th>
					<th>Right side</th>
			</tr>
			</thead>
			<tbody>
			<tr>
					<td scope="row">Adequacy</td>
					<td scope="row" >
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="lbx_ad">
											<option value="partType500">adequate</option>
											<option value="partType501">inadequate with aspiration</option>
											<option value="partType502">small and fragmented</option>
											<option value="partType503">mostly cartilage</option>
											<option value="partType504">mostly cortical bone</option>
									</select>
							</div>
					</td>
					<td scope="row" >
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="rbx_ad">
											<option value="partType500">adequate</option>
											<option value="partType501">inadequate with aspiration</option>
											<option value="partType502">small and fragmented</option>
											<option value="partType503">mostly cartilage</option>
											<option value="partType504">mostly cortical bone</option>
									</select>
							</div>
					</td>
			</tr>
			<tr>
					<td>Cellularity</td>
					<td>
							<div class="form-inline ">
									<select class="form-control form-control-sm col-5" name="" id="lbx_cell">
											<option value="partType510">normocellular</option>
											<option value="partType511">hypercellular</option>
											<option value="partType512">hypocellular</option>
											<option value="partType513">empty/treated</option>
									</select>
									<input type="number"
												 class="form-control form-control-sm col-3" name="" id="lbx_num"
												 aria-describedby="helpId" placeholder="%">
							</div>
					</td>
					<td>
							<div class="form-inline ">
									<select class="form-control form-control-sm col-5" name="" id="rbx_cell">
											<option value="partType510">normocellular</option>
											<option value="partType511">hypercellular</option>
											<option value="partType512">hypocellular</option>
											<option value="partType513">empty/treated</option>
									</select>
									<input type="number"
												 class="form-control form-control-sm col-3" name="" id="rbx_num"
												 aria-describedby="helpId" placeholder="%">
							</div>
					</td>
			</tr>
			<tr>
					<td>Myeloid #</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="lbx_my">
											<option value="partType520">adequate</option>
											<option value="partType521">decreased</option>
											<option value="partType522">markedly reduced</option>
											<option value="partType523">increased</option>
									</select>
							</div>
					</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="rbx_my">
											<option value="partType520">adequate</option>
											<option value="partType521">decreased</option>
											<option value="partType522">markedly reduced</option>
											<option value="partType523">increased</option>
									</select>
							</div>
					</td>
			</tr>
			<tr>
					<td>Myeloid maturation</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="lbx_mymat">
											<option value="partType530">full-spectrum</option>
											<option value="partType531">left-shifted</option>
											<option value="partType532">dysplastic</option>
									</select>
							</div>
					</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="rbx_mymat">
											<option value="partType530">full-spectrum</option>
											<option value="partType531">left-shifted</option>
											<option value="partType532">dysplastic</option>
									</select>
							</div>
					</td>
			</tr>
			<tr>
					<td>Erythroid #</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="lbx_er">
											<option value="partType540">adequate</option>
											<option value="partType541">decreased</option>
											<option value="partType542">markedly reduced</option>
											<option value="partType543">increased</option>
									</select>
							</div>
					</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="rbx_er">
											<option value="partType540">adequate</option>
											<option value="partType541">decreased</option>
											<option value="partType542">markedly reduced</option>
											<option value="partType543">increased</option>
									</select>
							</div>
					</td>
			</tr>
			<tr>
					<td>Erythroid maturation</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="lbx_ermat">
											<option value="partType550">full-spectrum</option>
											<option value="partType551">left-shifted</option>
											<option value="partType552">left-shifted dyspoietc</option>
											<option value="partType553">dysplastic</option>
									</select>
							</div>
					</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="rbx_ermat">
											<option value="partType550">full-spectrum</option>
											<option value="partType551">left-shifted</option>
											<option value="partType552">left-shifted dyspoietc</option>
											<option value="partType553">dysplastic</option>
									</select>
							</div>
					</td>
			</tr>
			<tr>
					<td>Megakaryocytes</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="lbx_mega">
											<option value="partType560">adequate</option>
											<option value="partType561">increased</option>
											<option value="partType562">decreased</option>
											<option value="partType563">not present</option>
									</select>
							</div>
					</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="rbx_mega">
											<option value="partType560">adequate</option>
											<option value="partType561">increased</option>
											<option value="partType562">decreased</option>
											<option value="partType563">not present</option>
									</select>
							</div>
					</td>
			</tr>
			<tr>
					<td>Blasts?</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="lbx_blast">
											<option value="partType570">not increased</option>
											<option value="partType571">slightly increased</option>
											<option value="partType572">AML</option>
											<option value="partType573">APL</option>
									</select>
							</div>
					</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="rbx_blast">
											<option value="partType570">not increased</option>
											<option value="partType571">slightly increased</option>
											<option value="partType572">AML</option>
											<option value="partType573">APL</option>
									</select>
							</div>
					</td>
			</tr>
			<tr>
					<td>Infiltrates?</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="lbx_infiltrate">
											<option value="partType580">none</option>
											<option value="partType581">increased plasma cells</option>
											<option value="partType582">lymphoma</option>
											<option value="partType583">carcinoma</option>
											<option value="partType584">neuroblastoma</option>
											<option value="partType585">tumor</option>
									</select>
							</div>
					</td>
					<td>
							<div class="form-group">
									<select class="form-control form-control-sm" name="" id="rbx_infiltrate">
											<option value="partType580">none</option>
											<option value="partType581">increased plasma cells</option>
											<option value="partType582">lymphoma</option>
											<option value="partType583">carcinoma</option>
											<option value="partType584">neuroblastoma</option>
											<option value="partType585">tumor</option>
									</select>
							</div>
					</td>
			</tr>
			<tr>
					<td>Free Text</td>
					<td>
							<div class="form-group">
									<textarea class="form-control form-control-sm" name="" id="lbx_free"
														rows="3"></textarea>
							</div>
					</td>
					<td>
							<div class="form-group">
									<textarea class="form-control form-control-sm" name="" id="rbx_free"
														rows="3"></textarea>
														</div>
												</td>

										</tr>

										</tbody>
								</table>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

						</div>
				</div>
		</div>
</div>
