<div class="modal fade" id="whomodal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
		 aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="modelTitleId">Updates on WHO LBCL Classification</h4>
						</div>
						<div class="modal-body">
								<div class="card mb-3">
										<img class="card-img-top img" src="../img/lbcl_map.png" alt="LBCL map">
										<div class="card-block">
												<p class="card-text"><small class="text-muted">Classifying high-grade B-cell lymphomas</small></p>
										</div>
								</div>
								<div class="card mb-3">
										<div class="card-block">
												<div class="card-header"><p class="h6">What about MYC/BCL2 double expressors?</p></div>
										</div>
										<img class="card-img-bottom img" src="../img/mycdexp.png" alt="Myc double expressors">
								</div>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close
								</button>
						</div>
				</div>
		</div>
</div>
