<div class="modal fade" id="modal-1" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="how to use" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">How to Use</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
								</button>
						</div>
						<div class="modal-body">
								<div>
										<ul>Click the tiles to open a party type section</ul>
										<ul>Choose your part type, micros and any comments</ul>
										<ul>Your report will be built as you click through on the panels to the right</ul>

								</div>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close
								</button>

						</div>
				</div>
		</div>
</div>
