<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="flipFlop" role="dialog"
		 tabindex="-1">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"> Building your IHC table</h4>
						</div>
						<div class="modal-body">
								<ul class="list-group">
										<li class="list-group-item ">Start by typing in the first few letters of your stain</li>
										<li class="list-group-item">Choose the stain value</li>
										<li class="list-group-item disabled">Enter any comments</li>
								</ul>
						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>
