<div class="container-fluid">
	{{#if messages}}
		{{#each messages}}
			<div class="row">
				<div class="col col-md-12 message-item" id="{{id}}">
					{{{text}}}
					<!-- / message-item col -->
				</div>
				<!-- /message-item row -->
			</div>
		{{/each}}
	{{/if}}

	<div class="row">
		<div class="col col-md-4">
			<!-- end placeholder div -->
		</div>
		<div class="col col-md-4">
			<h2 class="text-center">Request Password Reset</h2>
			<form id="reset-request-form" action="/reset/request" method="POST">
				<div class="form-group">
					<label>Email or Username</label>
					<input
						type="text"
						name="credential"
						class="form-control"
						autocapitalize="off"
						autocorrect="off"
					/>
				</div>
				<button type="submit" class="btn btn-default">Request Reset</button>
			</form>
			<!-- end login form col -->
		</div>
		<div class="col col-md-4">
			<!-- end placeholder col -->
		</div>
		<!-- end form row -->
	</div>
	<!-- end container fluid -->
</div>
