<div class="container-fluid">

	<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active">Reset Password</li>
	</ol>

{{> message-center this}}

	<div class="row">
		<div class="col col-md-4">
			<!-- end placeholder div -->
		</div>
		<div class="col col-md-4">
			<h2 class="text-center">Reset Password</h2>
			<form id="reset-form" action="/reset/{{code}}" method="POST">
				<div class="form-group">
					<label>New Password</label>
					<input
						type="password"
						name="password"
						id="password"
						class="form-control"
					/>
					<div class="hide-show">
						<small class="show">Show</small>
					</div>
				</div>
				<button type="submit" class="btn btn-default">Reset Password</button>
			</form>
			<!-- end login form col -->
		</div>
		<div class="col col-md-4">
			<!-- end placeholder col -->
		</div>
		<!-- end form row -->
	</div>
	<!-- end container fluid -->
</div>
