<div class="modal fade" id="help_size" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_size">A note about measuring tumor size</h4>
            </div>
            <div class="modal-body">
                <p>
                    Tumors should be measured in 3 dimensions in all cases, namely the depth of invasion and 2
                    measurements of horizontal extent (longitudinal/length and circumferential/width). Larger tumors are
                    more accurately measured grossly, while smaller tumors and some larger tumors with a diffusely
                    infiltrative pattern or with marked fibrosis are best measured microscopically. It is best to report
                    only 1 set of tumor measurements based on a correlation of the gross and microscopic features to
                    avoid confusion.
                </p>
                <p>
                    The depth of invasion is measured from its HSIL origin, that is, from the base of the epithelium
                    either surface or glandular that is involved by HSIL to the deepest point of invasion. If the
                    invasive focus or foci are not in continuity with the dysplastic epithelium, the depth of invasion
                    should be measured from the deepest focus of tumor invasion to the base of the nearest dysplastic
                    crypt or surface epithelium. If there is no obvious epithelial origin, the depth is measured from
                    the deepest focus of tumor invasion to the base of the nearest surface epithelium, regardless of
                    whether it is dysplastic or not. In situations where carcinomas are exclusively or predominantly
                    exophytic, there may be little or no invasion of the underlying stroma. These should not be regarded
                    as in situ lesions and the tumor thickness (from the surface of the tumor to the deepest point of
                    invasion) should be measured in such cases. The depth of invasion below the level of the epithelial
                    origin should not be provided in these cases as this may not truly reflect the biological potential
                    of such tumors. If it is impossible to measure the depth of invasion, eg, in ulcerated tumors or in
                    some adenocarcinomas, the tumor thickness may be measured instead, and this should be clearly stated
                    on the pathology report along with an explanation for providing the thickness rather than the depth
                    of invasion.
                </p>
                <p>
                    Horizontal extent: The longitudinal extent (length) of horizontal extent is measured in the
                    superior-inferior plane (ie, from the endocervical to ectocervical aspects of the section), whereas
                    the circumferential extent (width) is measured or calculated perpendicular to the longitudinal axis
                    of the cervix. If the tumor involves only 1 block, the circumferential extent (width) will be 2.5 mm
                    to 3 mm (thickness of 1 block). When more than 1 block is involved, it is the product of the number
                    of consecutive blocks with tumor and thickness of a block.
                </p>
                <p>
                    The LAST definition of superficial invasive squamous cell carcinoma (SISSCA) conforms to T1a1/ FIGO
                    1A1. The LAST consensus recommends SISCCA to include multifocal disease and that reporting include
                    presence, number, and size of independent multifocal carcinoma, however, no LAST recommendation was
                    made on the methodology to measure multifocal disease. A recent publication by Day et al states that
                    multifocal tumors should be defined as invasive foci separated by a tissue block within which there
                    is no evidence of invasion or as invasive foci in the same tissue block that are more than 2 mm
                    apart, or as invasive foci on different cervical lips. They recommend that multifocal tumors should
                    be staged based on the largest focus.
                </p>
                <img class="img img-fluid" src="/img/cap/ ">

            </div>
        </div>
    </div>
</div>
