<div class="modal fade" id="help_doi" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_doi">A word about measuring depth of invasion</h4>
            </div>
            <div class="modal-body">
                <img class="img img-fluid" src="/img/cap/cap-endometrium-doi.png ">
                <div class="card-blockquote h6">
                    Assessing myometrial invasion may be difficult. Depth of invasion should be measured from the endomyometrial junction to
                    the deepest point of invasion, which may not be easy because the endomyometrial junction in normal conditions is often
                    irregular. In these cases, it is always helpful to look for compressed, nonneoplastic endometrial glands at the nearby
                    endomyometrial junction or even at the base of the tumor. Carcinoma involving adenomyotic foci should not be interpreted
                    as invasive carcinoma. However, the distinction between invasive carcinoma and carcinoma involving adenomyosis may be
                    difficult, because in some cases invasive carcinoma may not elicit stromal response. In the absence of adenomyosis
                    uninvolved by
                    tumor in other sections of the specimen, a diagnosis of adenomyosis involved by adenocarcinoma should be made with caution.
                </div>
            </div>
        </div>
    </div>
</div>
