<div class="modal fade" id="help_intrahepatic" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_intrahepatic">A word about when to use this protocol</h4>
            </div>
            <div class="modal-body">
                <p>
                    From the CAP protocol, note A
                </p>
                <img class="img img-fluid" src="/img/cap/cap-intrahepatic-definition.png ">

            </div>
        </div>
    </div>
</div>
