<div class="modal fade" id="help_til" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_til">About TILs</h4>
            </div>
            <div class="modal-body">
                <p>
                    Tumor-infiltrating lymphocytes (TILs) are defined as lymphocytes present at the interface of the
                    tumor and the stroma. Some authors have suggested that the presence of TILs has been shown to portend
                    a poor prognosis, especially when considered in concurrence with a tumor depth of >5 mm.5 However, there
                    are conflicting data on the subject.</p>
                <p>
                    In the absence of specific accepted guidelines for assessment of TILs, it is recommended in this
                    protocol that, for purposes of uniformity, pathologists choosing to report TILs employ guidelines
                    used for assessment of TILs as in cutaneous melanomas, given below:
                </p>
                <img class="img img-fluid" src="/img/cap/cap-merkel-til.png">
                <img class="img img-fluid mt-1" src="/img/cap/cap-merkel-til2.png">

            </div>
        </div>
    </div>
</div>
