<div class="modal fade" id="help_inrg" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_inrg">INRG Staging System Explained</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-title h5">
                        International Neuroblastoma Risk Group (INRG) Staging System (INRGSS)

                    </div>
                    <div class="card-block h6">
                        Recently, a new clinical staging system, the INRGSS, has been proposed and increasingly
                        adopted.6 Unlike the INSS, which relies on postsurgical data, the INRGSS relies only
                        on pretreatment imaging, patient age, and clinical extent of disease. The INRGSS can
                        be summarized as localized disease (stage L1), regional disease (stage L2), metastatic
                        disease (stage L3), and “special stage” (stage MS, similar to the INSS stage 4S).
                        However, this schema relies heavily on image-defined risk factors* and may be
                        difficult for pathologists to implement.
                    </div>
                </div>
                <img class="img img-fluid" src="/img/cap/cap-neuroblastoma-stage1.png ">

            </div>
        </div>
    </div>
</div>
