<div class="modal fade" id="help_ovary-site" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_ovary-site">A word about assigning primary site</h4>
            </div>
            <div class="modal-body">
                <p>
                    From the CAP cancer protocol, note C
                </p>
                <img class="img img-fluid" src="/img/cap/cap-ovary-site.png">

            </div>
        </div>
    </div>
</div>
