<div class="modal fade" id="help_retino" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_retino">Some notes on choroidal invasion</h4>
            </div>
            <div class="modal-body">
                <h6>
                    An important distinction has been made in the classificaiton of choroidal
                    invasion from the 7th ed to the 8th ed staging manual. See below:
                </h6>
                <img class="img img-fluid" src="/img/cap/cap-retino-rules.png ">
                <div class="card-block">
                <h6>Some examples, from this nice reference: Zoroquiain et al.: Diagnosing Pathological Prognostic Factors in Retinoblastoma: Correlation between Traditional Microscopy and Digital Slides</h6>
                    <img class="img img-fluid" src="/img/cap/cap-retino-choroid.png ">
                    <p>
                        RB without choroidal invasion. The neoplastic cells are above the retinal pigmented epithelial cells
                        (arrowhead), disrupting them (broad arrow) and pushing Bruch’s membrane but without infiltration (small
                        arrow)
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>
