<div class="modal fade" id="help_mitoses" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_mitoses">A word about the mitotic rate</h4>
            </div>
            <div class="modal-body">
                <h6 class="mb-2">
                    Mitotic rate should be reported as number of mitoses per 2 mm2, by evaluating at least 10 mm2 in
                    the most mitotically active part of the tumor. Only clearly identifiable mitotic figures should be
                    counted; hyperchromatic, karyorrhectic, or apoptotic nuclei are excluded. Because of variations in
                    field size, the number of high-power fields (HPF) (at 40X magnification) for 10 mm2 (thereby 2 mm2)
                    must be determined for each microscope (Table 3). For example, if using a microscope with a field
                    diameter of 0.55 mm, count 42 HPF and divide the resulting number of mitoses by 5 to determine the
                    number of mitoses per 2 mm2 needed to assign tumor grade.
                </h6>
                <img class="img img-fluid" src="/img/cap/stom-net-mito-1.png ">
                <img class="img img-fluid" src="/img/cap/stom-net-mito-2.png ">

            </div>
        </div>
    </div>
</div>
