
<div class="modal fade" id="help_stom_grades" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_stom_grades">A word about grading</h4>
            </div>
            <div class="modal-body">
                <h6 class="mb-2">
                    It is important to note that there are a small group of well-differentiated neuroendocrine tumors with a Ki-67 index >20% and a mitotic rate usually <20 per 10 HPF. In WHO-2010, these tumors were considered as G3 poorly differentiated neuroendocrine carcinomas. However, they have typical morphology of well-differentiated tumors.
                    Previous studies (most on pancreatic neuroendocrine tumors) have demonstrated that these tumors have a worse prognosis than grade 2 (Ki-67=3-20 % and mitosis <20/10 HPF) neuroendocrine tumors, but they are not as aggressive as poorly differentiated neuroendocrine carcinomas.12 In addition, these tumors do not have the genetic abnormalities seen in poorly differentiated neuroendocrine carcinomas.13 Furthermore, unlike poorly differentiated neuroendocrine carcinomas, they are less responsive to platinum-based chemotherapy.14 In the WHO-2017 blue book of endocrine tumors and AJCC 8th edition,15 those with typical morphology of well-differentiated tumors are classified as “well differentiated neuroendocrine tumor” but as grade 3. Here, the updated classification for “endocrine” tumors is adapted, and following grading scheme is recommended to
                    grade well-differentiated gastroenteropancreatic neuroendocrine tumors (Table 4).
                </h6>
                <img class="img img-fluid" src="/img/cap/stom-net-grading.png ">

            </div>
        </div>
    </div>
</div>
