<div class="modal fade" id="help_thyroid_node" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_thyroid_node">Anatomic Organization of Lymph Node Levels </h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title">
                            About the neck lymph nodes
                        </div>
                        <div class="card-text">
                            <p>
                                In order for pathologists to properly identify these nodes, they must be familiar with the terminology of the regional lymph node groups and with the relationships of those groups to the regional anatomy. Which lymph node groups surgeons submit for histopathologic evaluation depends on the type of neck dissection they perform. Therefore, surgeons must supply information on the types of neck dissections that they perform and on the details of the local anatomy in the specimens they submit for examination, or in other ways orient those specimens for pathologists.39,40
                            </p>
                            <p>
                                If it is not possible to assess the levels of lymph nodes (for instance, when the anatomic landmarks in the excised specimens are not specified), then the lymph node levels may be estimated as follows: level II, upper third of internal jugular (IJ) vein or neck specimen; level III, middle third of IJ vein or neck specimen; level IV, lower third of IJ vein or neck specimen, all anterior to the sternocleidomastoid muscle.
                            </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title">
                        <h6>Lymph node levels</h6>
                        </div>
                        <div class="card-text">
                            <img class="img img-fluid" src="/img/cap/lymph-node-levels.jpg">
                            <small>Image courtesy of Prof Frank Gaillard, <a href="https://radiopaedia.org/">Radiopaedia.org</a></small>

                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title h6">
                            Level I. Submental Group (Sublevel IA)
                        </div>
                        <div class="card-text">
                            Lymph nodes within the triangular boundary of the anterior belly of the digastric muscles and the hyoid bone.
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title h6">
                            Submandibular Group (Sublevel IB)
                        </div>
                        <div class="card-text">
                            Lymph nodes within the boundaries of the anterior and posterior bellies of the digastric muscle and the body of the mandible. The submandibular gland is included in the specimen when the lymph nodes within this triangle are removed
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title h6">
                            Level II. Upper Jugular Group (Sublevels IIA and IIB)
                        </div>
                        <div class="card-text">
                            Lymph nodes located around the upper third of the internal jugular vein and adjacent spinal accessory nerve extending from the level of the carotid bifurcation (surgical landmark) or hyoid bone (clinical landmark) to the skull base. The posterior boundary is the posterior border of the sternocleidomastoid muscle, and the anterior boundary is the lateral border of the sternohyoid muscle.
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title h6">
                            Level III. Middle Jugular Group
                        </div>
                        <div class="card-text">
                            Lymph nodes located around the middle third of the internal jugular vein extending from the carotid bifurcation superiorly to the omohyoid muscle (surgical landmark), or cricothyroid notch (clinical landmark) inferiorly. The posterior boundary is the posterior border of the sternocleidomastoid muscle, and the anterior boundary is the lateral border of the sternohyoid muscle.
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title h6">
                            Level IV. Lower Jugular Group
                        </div>
                        <div class="card-text">
                            Lymph nodes located around the lower third of the internal jugular vein extending from the omohyoid muscle superiorly to the clavicle inferiorly. The posterior boundary is the posterior border of the sternocleidomastoid muscle, and the anterior boundary is the lateral border of the sternohyoid muscle.
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title h6">
                            Level V. Posterior Triangle Group (Sublevels VA and VB)
                        </div>
                        <div class="card-text">
                            This group comprises predominantly the lymph nodes located along the lower half of the spinal accessory nerve and the transverse cervical artery. The supraclavicular nodes are also included in this group. The posterior boundary of the posterior triangle is the anterior border of the trapezius muscle, the anterior boundary of the posterior triangle is the posterior border of the sternocleidomastoid muscle, and the inferior boundary of the posterior triangle is the clavicle.
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title h6">
                            Level VI. Anterior (Central) Compartment
                        </div>
                        <div class="card-text">
                            Lymph nodes in this compartment include the pre- and paratracheal nodes, precricoid (Delphian) node, and the perithyroidal nodes, including the lymph nodes along the recurrent laryngeal nerve. The superior boundary is the hyoid bone, the inferior boundary is the suprasternal notch, the lateral boundaries are the common carotid arteries, and the posterior boundary by the prevertebral fascia.
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-title h6">
                            Level VII. Superior Mediastinal Lymph Nodes
                        </div>
                        <div class="card-text">
                            Metastases at level VII are considered regional lymph node metastases; all other mediastinal lymph node metastases are considered distant metastases.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
