<div class="modal fade" id="help_trophihc" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_trophihc">Immunohistochemistry in trophoblastic tumors</h4>
            </div>
            <div class="modal-body">
                <p>
                    Immunohistochemistry in the Distinction of, Placental Site Nodule, Placental Site Trophoblastic Tumor,
                    Epithelioid Trophoblastic Tumor, and Choriocarcinoma by Kurman and Shih has dissected the subpopulations
                    of trophoblast that give rise to trophoblast tumors and tumor-like lesions.
                    It is proposed that exaggerated placental site and placental site trophoblastic
                    tumor arise from implantation site intermediate trophoblast, whereas placental site
                    nodule and epithelioid trophoblastic tumor arise from chorionic-type intermediate trophoblast.
                    A panel of immunohistochemical stains (see below) is recommended to distinguish these entities.
                </p>
                <img class="img img-fluid mt-2" src="/img/cap/cap-troph-1.png">
                <img class="img img-fluid mt-2" src="/img/cap/cap-troph-2.png">

            </div>
        </div>
    </div>
</div>
