<div class="modal fade" id="help_uveal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modaltitle_uveal">Pathologic Stage Classification (pTNM, AJCC 8th Edition)
                    (Note F)</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-title">
                        <h6>Iris tumors</h6>
                    </div>
                    <div class="card-block">
                        Iris melanomas originate from, and are predominantly located in, this region of the uvea.
                        If less than half the tumor volume is located within the iris, the tumor may have originated in
                        the
                        ciliary body, and consideration should be given to classifying it accordingly.
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">
                        <h6>Ciliary Body and Uveal tumors</h6>
                    </div>
                    <div class="card-block">
                        <ul>
                            <li class="list-group-item">
                                1. Primary ciliary body and choroidal melanomas are classified according to the four
                                tumor size categories defined in Figure 3 (see below).
                                <img class="img img-fluid" src="/img/cap/cap-uveal-thickness.png">
                            </li>
                            <li class="list-group-item">
                                2. In clinical practice, the largest tumor basal diameter may be estimated in optic disc
                                diameters (DD; average: 1 DD = 1.5 mm), and tumor thickness may be estimated in diopters
                                (average: 2.5 diopters = 1 mm). Ultrasonography and fundus photography are used to
                                provide more accurate measurements.

                            </li>
                            <li class="list-group-item">
                                3. When histopathologic measurements are recorded after fixation, tumor diameter and
                                thickness may be underestimated because of tissue shrinkage

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
