<div class="modal fade" id="diffHelp" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" data-backdrop="false"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="modelTitleId">Bone marrow Differential</h4>
						</div>
						<div class="modal-body">
								<ul class="list-group">
										<li class="list-group-item">Place you cursor in the differential text box, and use the numberpad to count cells</li>
										<li class="list-group-item">Your differential will populate, then click the 'Write Diff' button</li>
								</ul>
								<div class="text-center">
										<img class="mx-auto img img-responsive-stretch" src="/img/diff_key.png">
								</div>


						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close
								</button>
						</div>
				</div>
		</div>
</div>
