<div aria-hidden="true" aria-labelledby="modalLabel" data-backdrop="false" class="modal fade" id="flipFlop" role="dialog" tabindex="-1">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<h4 class="modal-title" id="modalLabel">How to use the tally counter</h4>
								<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>

						</div>
						<div class="modal-body">
								<p>Enter your legend for the corresponding keypad box. You don't have to use all of them.</p>
								<p>Count using the keypad keys as above.</p>
								<p>Click the 'print diff' button to result your tally.</p><img class="diffhelp img-responsive" src="/img/new_counter_key.png"></div>
						<div class="modal-footer">
								<p class="text-danger">Pro tip: The tally counter works great with a bluetooth numberpad at your scope!</p>
						</div>
				</div>
		</div>
</div>
