<div class="modal fade" id="switch" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="modelTitleId"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="modelTitleId">Do you need a customized modal</h4>
						</div>
						<div class="modal-body">
								<ul>
										<li>Why not try the custom tally counter?</li>
										<li>You can give your own labels using the number pad</li>
										<li><a href="/heme-path/counter">Click here to go to it</a> </li>
								</ul>
						</div>
				</div>
		</div>
</div>
