<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade " id="delete-account-modal" role="dialog" data-backdrop="false" tabindex="-1">
		<div class="modal-dialog" role="document">
				<div class="modal-content ">
						<div class="modal-header bg-warning">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<!-- <h4 class="modal-title" id="alert-title"></h4> -->
						</div>
						<div class="modal-body">
							<h3>Are you sure you want to delete your account?</h3>
								<p id="error"></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-danger" id="btn-confirm-delete-account" data-dismiss="modal">
								Delete
							</button>
						</div>
				</div>
		</div>
</div>
