<div aria-hidden="true" data-backdrop="false" aria-labelledby="modalLabel" class="modal fade" id="flipFlop" role="dialog"
		 tabindex="-1">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="modal-header">
								<button aria-label="Close" class="close" data-dismiss="modal" type="button">
										<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="modalLabel"> How to use</h4>
						</div>
						<div class="modal-body">
								<p>This tool is intended to help you integrate CAP recommendations for reporting pertinent
								biomarker results for new large B-cell lymphomas, in a synoptic format. The diagnoses have been updated to reflect
								the most current WHO classification systems.</p>
								<ul class="list-group">
										<li class="list-group-item ">Choose your diagnosis</li>
										<li class="list-group-item">The template will adjust based on NHL vs CHL</li>
										<li class="list-group-item ">Click Write Report button when done</li>
										<li class="list-group-item">Copy/paste into your LIS</li>
								</ul>
						</div>
						<div class="modal-footer">
								<button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
						</div>
				</div>
		</div>
</div>
