<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-birthday-cake mr-2"></i>A pictograph that maps Breast tumors based on ER status and morpho-immunometric features</li>
    </ol>
    {{> message-center this}}

    <div class="row">
        <div class="card">
            <div class="card-header">
                A word about this Breast tumor map
            </div>
            <div class="card-block">
                <p class="h5 py-2">
                    The landscape of breast cancers is ever evolving, and organizing one's thoughts on how these relate to one another can be challenging.
                </p>
                <p class="h5 py-2">
                    In a recent attempt to review the latest WHO breast tumor book, it became evident that one method to structure these tumors is via their ER status.
                    ER status neatly (mostly) segregates primary breast tumors in a way that allows the development of highly dimensional pictographic representation.
                </p>
                <p class="h5 py-2">
                    I hope you find this helpful.
                </p>
                <p class="h5 py-2">
                    - Chandra
                </p>
            </div>
        </div>
        <div class="col py-2">

            <div class="card-img">
                <img class="img img-fluid" src="/img/blog/breast-map-thumb.svg">
            </div>
            <p class="py-2">
                <a class="mx-1" href="/img/blog/breast-map-er-pos.pdf" download>
                    High-res full map: Download - ER positive breast tumors</a>
            </p>
            <p class="py-2">
                <a class="mx-1" href="/img/blog/breast-map-er-neg.pdf" download>
                    High-res full map: Download - ER negative breast tumors</a>
            </p>


            <!-- close markup -->
        </div>
        <!-- close row -->
    </div>
    <p class="h5">Like this? </p>
    <a href="https://twitter.com/hematogones" class="twitter-follow-button ml-2" data-show-count="false"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- close container -->
</div>
