<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-birthday-cake mr-2"></i>A pictograph that maps CNS tumors based on age, location and other common features</li>
    </ol>
    {{> message-center this}}

    <div class="row">
        <div class="card">
            <div class="card-header">
                A word about this updated CNS tumor map
            </div>
            <div class="card-block">
                <p class="h5 py-2">
                    In the spring of 2020, I decided to once again go through the latest revision to the WHO CNS tumor book, and re-do this CNS tumor map.
                    While previously, the differential diagnoses were strongly influenced by age and location, it is clear that molecular genetics may trump
                    these pre-test metrics. I have tried to include the relevant molecular genetic features in the map.
                </p>
                <p class="h5 py-2">
                    It's important to consider how many new entities are being defined, in this era of high-throughput tumor sequencing and methylation based
                    tumor classification schemes. Novel tumors with similar histologic and immunophenotypic profiles are separated using biologic characteristics
                    that are only accessible with ancillary studies. Nevertheless, there are nearly 50 distinct tumors incorporated in this map that you may
                    encounter in routine practice.
                </p>
                <p class="h5 py-2">
                    Lastly, given the need to be able to read the text within these small boxes, I would highly recommend you print this as a multipage
                    poster. This can be done using free adobe reader software, under print > poster > 50% tile scale. The document is mor readable. I have posted
                    several versions of the map to suit your preference, including a "large font" version that you can print on a single page and still (with some
                    effort) read.
                </p>
                <p class="h5 py-2">
                    - Chandra
                </p>
            </div>
        </div>
        <div class="col py-2">

            <div class="card-img">
                <img class="img img-fluid" src="/img/blog/CNS-map-thumb.svg">
            </div>
            <p class="py-2">
                <a class="mx-1" href="/img/blog/CNS-tumor-map-2020-full.pdf" download>
                    High-res full map: Download - Suitable for up to 24"x 36" poster sized prints</a>
            </p>
            <p class="py-2">
                <a class="mx-1" href="/img/blog/CNS-tumor-map-2020-large-fonts.pdf" download>
                    High-res focused map: Download - suitable for A3/A4 standard single page or 11" x 17" prints</a>
            </p>


            <!-- close markup -->
        </div>
        <!-- close row -->
    </div>
    <p class="h5">Like this? </p>
    <a href="https://twitter.com/hematogones" class="twitter-follow-button ml-2" data-show-count="false"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- close container -->
</div>
