<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-birthday-cake mr-2"></i>A pictograph that maps CNS tumors based on age, location and other common features</li>
    </ol>
    {{> message-center this}}

    <div class="row">
        <div class="col">

            <div class="card-img">
                <img class="img img-fluid" src="/img/blog/CNS_map_thumb.png">
            </div>
            <p class="py-2">
                <a class="mx-1" href="/img/blog/CNS_tumor_map.pdf" download>
                    Download the higher-res pdf here: CNS tumor map</a>
            </p>


            <!-- close markup -->
        </div>
        <!-- close row -->
    </div>
    <p class="h5">Like this? </p>
    <a href="https://twitter.com/hematogones" class="twitter-follow-button ml-2" data-show-count="false"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- close container -->
</div>
