<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-sort-alpha-asc mr-2"></i>The A-to-Z Atlas of Head and Neck pathology</li>
    </ol>
    <div class="row">
        <div class="col">
            <!-- A to Z nav links-->
            <ul class="nav nav-tabs flex-wrap justify-content-center small" id="az-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"  id="TOC-tab" data-toggle="tab" href="#help_TOC">Index</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  id="A-tab" data-toggle="tab" href="#help_openA">A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  id="B-tab" data-toggle="tab" href="#help_openB">B</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="C-tab" data-toggle="tab" href="#help_openC">C</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="D-tab" data-toggle="tab" href="#help_openD">D</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="E-tab" data-toggle="tab" href="#help_openE">E</a>
                </li>
                <!--li class="nav-item">
                    <a class="nav-link"   id="F-tab" data-toggle="tab" href="#help_openF">F</a>
                </li-->
                <li class="nav-item">
                    <a class="nav-link"   id="G-tab" data-toggle="tab" href="#help_openG">G</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="H-tab" data-toggle="tab" href="#help_openH">H</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="I-tab" data-toggle="tab" href="#help_openI">I</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="J-tab" data-toggle="tab" href="#help_openJ">J</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="K-tab" data-toggle="tab" href="#help_openK">K</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="L-tab" data-toggle="tab" href="#help_openL">L</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="M-tab" data-toggle="tab" href="#help_openM">M</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="N-tab" data-toggle="tab" href="#help_openN">N</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="O-tab" data-toggle="tab" href="#help_openO">O</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="P-tab" data-toggle="tab" href="#help_openP">P</a>
                </li>
                <!--li class="nav-item">
                    <a class="nav-link"   id="Q-tab" data-toggle="tab" href="#help_openQ">Q</a>
                </li-->
                <li class="nav-item">
                    <a class="nav-link"   id="R-tab" data-toggle="tab" href="#help_openR">R</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="S-tab" data-toggle="tab" href="#help_openS">S</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="T-tab" data-toggle="tab" href="#help_openT">T</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="U-tab" data-toggle="tab" href="#help_openU">U</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="V-tab" data-toggle="tab" href="#help_openV">V</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="W-tab" data-toggle="tab" href="#help_openW">W</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="X-tab" data-toggle="tab" href="#help_openX">X</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="Y-tab" data-toggle="tab" href="#help_openY">Y</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"   id="Z-tab" data-toggle="tab" href="#help_openZ">Z</a>
                </li>
            </ul>
            <!-- TAB PANE CONTENT-->
            <div class="tab-content">
                <!-- Table of Contents-->
                <div class="tab-pane fade in show active" id="help_TOC" role="tabpanel" aria-labelledby="TOC-tab">
                    <div class="card">
                        <div id="TOC" class="card-blockquote text-center h5 my-2">
                            <p>
                                An A-to-Z atlas of interesting head and neck pathology, curated and contributed by <a href="https://twitter.com/binxu16" target="_blank">Dr. Bin Xu </a> .
                                This is a permanent archive from the same
                                effort shared on <a href="https://twitter.com/BinXu16/status/1026830194005475331" target="_blank">Twitter</a>  during August of 2018, by Dr. Xu.
                                One new letter each day with matching cases.
                            </p>
                            <p>
                                The scope of head and neck pathology is incredibly diverse, given the wide complexity of organs and specialized structures in this group of sites.
                                This alphabetical trip through some interesting and common pathologies has been curated and shared by Dr. Xu with pathology
                                trainees and veteran practicing pathologists in mind. An excellent effort indeed and I hope you find it as useful and educational as I did. - Chandra Krishnan
                            </p>
                        </div>
                        <hr>
                        <div class="card-body py-2">
                            <p class="h5 text-center"> List of cases in this atlas </p>
                            <small class="ml-3">Click on the appropriate letter tab above to see the case images</small>
                            <ol class="list-group ml-3">
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openA">Acinic cell carcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openA">Adenoid cystic carcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openA">Ameloblastic fibroma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openA">Anaplastic thyroid carcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openA">Angioinvasive fungal sinusitis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openB">Basal Cell Adenoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openB">Biphenotypic sinonasal sarcoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openB">Branchial cleft cyst</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openC">Clear cell carcinoma / Clear cell odontogenic carcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openD">De Quervian thyroiditis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openD">Diffuse sclerosing papillary thyroid carcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openE">Epithelial-Myoepithelial carcinoma</a>
                                </li>
                                <!--li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openF"> </a>
                                </li-->
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openG"> Glomangiopericytoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openG"> Granular cell tumor </a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openH">Herniated orbital fat</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openH">Hurthle cell carcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openI">Intercalated duct adenoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openI">Inverted sinonasal papilloma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openJ">Jugulotympanic paraganglioma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openK">Kuttner tumor/sialadenitis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openL">Langerhans cell histiocytosis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openL">Lymphoepithelial cyst</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openM">Medullary thyroid microcarcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openM">Medullary thyroid carcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openM">Mesenchymal chondrosarcoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openM">Middle ear adenoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openM">Mucoepidermoid carcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openN">Nasopharyngeal angiofibroma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openN">Nasopharyngeal carcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openN">Necrotizing sialometaplasia</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openN">NUT midline carcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openO">Odontogenic keratocyst</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openO">Olfactory neuroblastoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openP">Pemphigus vulgaris</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openP">Pleomorphic adenoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openP">Papillary thyroid carcinoma - columnar variant</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openP">Papillary thyroid carcinoma - tall cell variant</a>
                                </li>
                                <!--li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openQ">Qunisy (aka peritonsillar abscess</a>
                                </li-->
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openR">Rhabdomyoma (adult)</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openR">Rhabdomyosarcoma - Alveolar</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openR">Rhabdomyosarcoma - Embryonal</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openS">Salivary duct carcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openS">Sinonasal intestinal-type adenocarcinoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openT">Traumatic fibroma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openT">Traumatic neuroma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openU">Undifferentiated pleomorphic sarcoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openV">Vocal cord polyp</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openW">Warthin tumor</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openX">Xanthogranuloma (juvenile)</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openY">Yolk sac tumor</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openZ">Zygomycete infection (zygomycosis)</a>
                                </li>

                            </ol>
                        </div>
                    </div>
                </div>

                <!-- "A" content -->
                <div class="tab-pane fade" id="help_openA" role="tabpanel" aria-labelledby="A-tab">
                    <div class="card-header">
                        <a class="badge badge-success p-2" href="#acinic">Acinic cell carcinoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#acc">Adenoid cystic carcinoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#amelfib">Ameloblastic fibroma</a>
                        <a class="badge badge-success p-2 ml-2" href="#anatc">Anaplastic thyroid carcinoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#angioinv">Angioinvasive fungal sinusitis</a>
                    </div>
                    <div class="card">
                        <div id="acinic" class="card-blockquote text-center h4 my-2">
                            <p>
                                Acinic cell carcinoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1i2aqgW8foUjT4TuPBJJSlhpbuJoNYZOf">
                        </div>

                        <div class="py-3 w-100"></div>
                        <div id="acc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Adenoid cystic carcinoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1PY-6tAXT2RXIagQgE2R4Od1lYpikiCBI">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="amelfib" class="card-blockquote text-center h4 my-2">
                            <p>
                                Ameloblastic fibroma
                            </p>

                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=19CkAqEtzjdtmYrt2C-5kiCkReIsNQSgH">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="anatc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Anaplastic Thyroid Carcinoma
                            </p>

                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1apjab8sd4AEzOGC2L-Vzl6OXJF9F1yoc">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="angioinv" class="card-blockquote text-center h4 my-2">
                            <p>
                                Angioinvasive Fungal Sinusitis
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=19CkAqEtzjdtmYrt2C-5kiCkReIsNQSgH">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#acinic">Acinic cell carcinoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#acc">Adenoid cystic carcinoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#amelfib">Ameloblastic fibroma</a>
                        <a class="badge badge-success p-2 ml-2" href="#anatc">Anaplastic thyroid carcinoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#angioinv">Angioinvasive fungal sinusitis</a>
                    </div>
                </div>

                <!-- "B" content -->
                <div class="tab-pane fade" id="help_openB" role="tabpanel" aria-labelledby="B-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#bcc">Basal cell adenoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#bss">Biphenotypic sinonasal sarcoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#branch">Branchial cleft cyst</a>
                    </div>
                    <div class="card">
                        <div id="bcc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Basal cell adenoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1ozf4GdQfb9-EYf0j_nEwMBJeU2N_0pZO">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="bss" class="card-blockquote text-center h4 my-2">
                            <p>
                                Biphenotypic sinonansal sarcoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1mM6jePY3k24yrEv_hA83Kc4nVMeoJvLM">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="branch" class="card-blockquote text-center h4 my-2">
                            <p>
                                Branchial cleft cyst
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Di3mmPvCiKkfD3YujUmXvAFSODFWOSEZ">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#bcc">Basal cell adenoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#bss">Biphenotypic sinonasal sarcoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#branch">Branchial cleft cyst</a>
                    </div>
                </div>

                <!-- "C" content -->
                <div class="tab-pane fade" id="help_openC" role="tabpanel" aria-labelledby="C-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#ccc">Clear cell carcinoma / Clear cell odontogenic carcinoma</a>
                    </div>
                    <div class="card">
                        <div id="ccc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Clear cell carcinoma / Clear cell odontogenic carcinoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1V4MH3NTa1qhPHZKHQySY4rzFpM46qS8D">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1XQFJZlaRkdb6e3bPtRJrqNo7inJGd8g-">
                        </div>

                        <div class="py-3 w-100"></div>

                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#ccc">Clear cell carcinoma / Clear cell odontogenic carcinoma</a>
                    </div>
                </div>

                <!-- "D" content -->
                <div class="tab-pane fade" id="help_openD" role="tabpanel" aria-labelledby="D-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#dqt">De Quervian thyroiditis</a>
                        <a class="badge badge-success p-2 ml-2" href="#dsptc">Diffuse sclerosing papillary thyroid carcinoma</a>

                    </div>
                    <div class="card">
                        <div id="dqt" class="card-blockquote text-center h4 my-2">
                            <p>
                                De Quervain thyroiditis (aka subacute granulomatous thyroiditis)
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1xbrpNB_1b-WkTUduofQ27GDoRitoCJFr">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="dsptc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Diffuse sclerosing papillary thyroid carcinoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=194khsudtu-sdSGxWp7W4TbQiJzu36qLc">

                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#dqt">De Quervian thyroiditis</a>
                        <a class="badge badge-success p-2 ml-2" href="#dsptc">Diffuse sclerosing papillary thyroid carcinoma</a>
                    </div>
                </div>

                <!-- "E" content -->
                <div class="tab-pane fade" id="help_openE" role="tabpanel" aria-labelledby="E-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#epmyoep">Epithelial-Myoepithelial carcinoma</a>
                    </div>
                    <div class="card">
                        <div id="epmyoep" class="card-blockquote text-center h4 my-2">
                            <p>
                                Epithelial-Myoepithelial carcinoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1ZZAQ_JkHc5dDHMLbspXebadtziY61k8f">
                        </div>

                        <div class="py-3 w-100"></div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#epmyoep">Epithelial-Myoepithelial carcinoma</a>
                    </div>
                </div>

                <!-- "F" content -->
                <!--div class="tab-pane fade" id="help_openF" role="tabpanel" aria-labelledby="F-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#kf"></a>
                    </div>
                    <div class="card">
                        <div id="kf" class="card-blockquote text-center h4 my-2">
                            <p>
                            </p>

                            <p>Reference:
                            </p>
                        </div>
                        <div class="card-body">
                                images here
                        </div>

                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#kf">Fujimoto-Kikuchi</a>
                    </div>
                </div-->

                <!-- "G" content -->
                <div class="tab-pane fade" id="help_openG" role="tabpanel" aria-labelledby="G-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#glom">Glomangiopericytoma</a>
                        <a class="badge badge-success p-2" href="#gran">Granular cell tumor</a>
                    </div>
                    <div class="card">
                        <div id="glom" class="card-blockquote text-center h4 my-2">
                            <p>
                                Glomangiopericytoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1rPWptSOKyE9Crn7kmiYfu6r2H1vqiqV_">
                        </div>
                    </div>

                    <div class="py-2 w-100"></div>

                    <div class="card">
                        <div id="gran" class="card-blockquote text-center h4 my-2">
                            <p>
                                Granular cell tumor (with pseuoepitheliomatous hyperplasia)
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1YXyIpJxtCpEGhK1WnOxVKccMU9RwZpC0">
                        </div>

                        <div class="card-body">
                            <a class="badge badge-success p-2" href="#glom">Glomangiopericytoma</a>
                            <a class="badge badge-success p-2" href="#gran">Granular cell tumor</a>
                        </div>
                    </div>
                </div>

                <!-- "H" content -->
                <div class="tab-pane fade" id="help_openH" role="tabpanel" aria-labelledby="H-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#hern">Herniated orbital fat</a>
                        <a class="badge badge-success p-2" href="#hurth">Hurthle cell carcinoma</a>
                    </div>
                    <div class="card">
                        <div id="hern" class="card-blockquote text-center h4 my-2">
                            <p>
                                Herniated orbital fat
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1TjMmurJf27KuIbbeYTwLZujvEcxCsyph">
                        </div>

                        <div class="py-2 w-100"></div>
                        <div id="hurth" class="card-blockquote text-center h4 my-2">
                            <p>
                                Hurthle cell carcinoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1E20kWQWQ0t19V_W3kd4RpiHgi_0Jqup5">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#hern">Herniated orbital fat</a>
                        <a class="badge badge-success p-2" href="#hurth">Hurthle cell carcinoma</a>
                    </div>
                </div>

                <!-- "I" content -->
                <div class="tab-pane fade" id="help_openI" role="tabpanel" aria-labelledby="I-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#ida">Intercalated duct adenoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#isp">Inverted sinonasal papilloma</a>
                    </div>
                    <div class="card">
                        <div id="ida" class="card-blockquote text-center h4 my-2">
                            <p>
                                Intercalated duct adenoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=17vLMnjopbTQMyqJ8HGkmG9qcrYYCd1H3">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="isp" class="card-blockquote text-center h4 my-2">
                            <p>
                                Inverted sinonasal papilloma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/open?id=1EVmJUsJy23HUlIJ4EEJF6yv5hzxIOvqw">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#ida">Intercalated duct adenoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#isp">Inverted sinonasal papilloma</a>
                    </div>
                </div>

                <!-- "J" content -->
                <div class="tab-pane fade" id="help_openJ" role="tabpanel" aria-labelledby="J-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#jtp">Jugulotympanic paraganglioma</a>
                    </div>
                    <div class="card">
                        <div id="jtp" class="card-blockquote text-center h4 my-2">
                            <p>
                                Jugulotympanic paraganglioma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=187xIgn6PTrOIByRm1JTLfrZaN3yBbDZb">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#jtp">Jugulotympanic paraganglioma</a>
                    </div>
                </div>

                <!-- "K" content -->
                <div class="tab-pane fade" id="help_openK" role="tabpanel" aria-labelledby="K-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#kutt">Kuttner tumor/sialadenitis</a>
                    </div>
                    <div class="card">
                        <div id="kutt" class="card-blockquote text-center h4 my-2">
                            <p>
                                Kuttner tumor/sialadenitis (aka IgG4 sclerosing disease of salivary glands)
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Dtu0T4p3rmFrcTjBwzZ8kvULu1WvN15v">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#kutt">Kuttner tumor/sialadenitis</a>
                    </div>
                </div>

                <!-- "L" content -->
                <div class="tab-pane fade" id="help_openL" role="tabpanel" aria-labelledby="L-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#lch">Langerhans cell histiocytosis</a>
                        <a class="badge badge-success p-2" href="#lec">Lymphoepithelial cyst</a>
                    </div>
                    <div class="card">
                        <div id="lch" class="card-blockquote text-center h4 my-2">
                        <p>
                            Langerhans cell histiocytosis
                        </p>
                    </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1yHTdEbEOQLFMO2MBTKpzgjBea3dYpFoU">
                        </div>

                        <div class="py-2 w-100"></div>

                        <div id="lec" class="card-blockquote text-center h4 my-2">
                            <p>
                                Lymphoepithelial cyst
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1IXH1a5u50rijDiaKO3NHOJe0WUFwlQCp">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#lch">Langerhans cell histiocytosis</a>
                        <a class="badge badge-success p-2" href="#lec">Lymphoepithelial cyst</a>
                    </div>
                </div>

                <!-- "M" content -->
                <div class="tab-pane fade" id="help_openM" role="tabpanel" aria-labelledby="M-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#mtm">Medullary thyroid microcarcinoma</a>
                        <a class="badge badge-success p-2" href="#mtc">Medullary thyroid carcinoma</a>
                        <a class="badge badge-success p-2" href="#mesch">Mesenchymal chondrosarcoma</a>
                        <a class="badge badge-success p-2" href="#mea">Middle ear adenoma</a>
                        <a class="badge badge-success p-2" href="#mec">Mucoepidermoid carcinoma</a>
                    </div>
                    <div class="card">
                        <div id="mtm" class="card-blockquote text-center h4 my-2">
                            <p>
                                Medullary thyroid microcarcinoma with C-cell hyperplasia
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Rcx0qup6enFj9c8wyPzKH2BmZPKag_CS">
                        </div>

                        <div class="card-footer py-2">
                            <a class="badge badge-success p-2" href="#mtm">Medullary thyroid microcarcinoma</a>
                            <a class="badge badge-success p-2" href="#mtc">Medullary thyroid carcinoma</a>
                            <a class="badge badge-success p-2" href="#mesch">Mesenchymal chondrosarcoma</a>
                            <a class="badge badge-success p-2" href="#mea">Middle ear adenoma</a>
                            <a class="badge badge-success p-2" href="#mec">Mucoepidermoid carcinoma</a>
                        </div>

                        <div id="mtc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Medullary thyroid carcinoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1jTSdRxla1wSX_lzjeXSDhcvfAabvKCM6">
                        </div>

                        <div class="card-footer py-2">
                            <a class="badge badge-success p-2" href="#mtm">Medullary thyroid microcarcinoma</a>
                            <a class="badge badge-success p-2" href="#mtc">Medullary thyroid carcinoma</a>
                            <a class="badge badge-success p-2" href="#mesch">Mesenchymal chondrosarcoma</a>
                            <a class="badge badge-success p-2" href="#mea">Middle ear adenoma</a>
                            <a class="badge badge-success p-2" href="#mec">Mucoepidermoid carcinoma</a>
                        </div>

                        <div id="mesch" class="card-blockquote text-center h4 my-2">
                            <p>
                                Mesenchymal chondrosarcoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1EYK59uplpo1_0RZ3w4SU_DfV392TODRc">
                        </div>

                        <div class="card-footer py-2">
                            <a class="badge badge-success p-2" href="#mtm">Medullary thyroid microcarcinoma</a>
                            <a class="badge badge-success p-2" href="#mtc">Medullary thyroid carcinoma</a>
                            <a class="badge badge-success p-2" href="#mesch">Mesenchymal chondrosarcoma</a>
                            <a class="badge badge-success p-2" href="#mea">Middle ear adenoma</a>
                            <a class="badge badge-success p-2" href="#mec">Mucoepidermoid carcinoma</a>
                        </div>

                        <div id="mea" class="card-blockquote text-center h4 my-2">
                            <p>
                                Middle ear adenoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1kWzg6H8waZ4U_TxjQvSxKbTVVBlQz7Zl">
                        </div>

                        <div class="card-footer py-2">
                            <a class="badge badge-success p-2" href="#mtm">Medullary thyroid microcarcinoma</a>
                            <a class="badge badge-success p-2" href="#mtc">Medullary thyroid carcinoma</a>
                            <a class="badge badge-success p-2" href="#mesch">Mesenchymal chondrosarcoma</a>
                            <a class="badge badge-success p-2" href="#mea">Middle ear adenoma</a>
                            <a class="badge badge-success p-2" href="#mec">Mucoepidermoid carcinoma</a>
                        </div>

                        <div id="mec" class="card-blockquote text-center h4 my-2">
                            <p>
                                Mucoepidermoid carcinoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1H587eodOjrdSrcHNWntiv_tt0xTRR7Gs">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#mtm">Medullary thyroid microcarcinoma</a>
                        <a class="badge badge-success p-2" href="#mtc">Medullary thyroid carcinoma</a>
                        <a class="badge badge-success p-2" href="#mesch">Mesenchymal chondrosarcoma</a>
                        <a class="badge badge-success p-2" href="#mea">Middle ear adenoma</a>
                        <a class="badge badge-success p-2" href="#mec">Mucoepidermoid carcinoma</a>
                    </div>
                </div>

                <!-- "N" content -->
                <div class="tab-pane fade" id="help_openN" role="tabpanel" aria-labelledby="N-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#npa">Nasopharyngeal angiofibroma</a>
                        <a class="badge badge-success p-2" href="#npc">Nasopharyngeal carcinoma</a>
                        <a class="badge badge-success p-2" href="#necs">Necrotizing sialometaplasia</a>
                        <a class="badge badge-success p-2" href="#nut">NUT midline carcinoma</a>
                    </div>
                    <div class="card">
                        <div id="npa" class="card-blockquote text-center h4 my-2">
                            <p>
                                Nasopharyngeal angiofibroma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Z8wxlkOg9DyqnGRDmJJDTHrLYLgxH8h8">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#npa">Nasopharyngeal angiofibroma</a>
                        <a class="badge badge-success p-2" href="#npc">Nasopharyngeal carcinoma</a>
                        <a class="badge badge-success p-2" href="#necs">Necrotizing sialometaplasia</a>
                        <a class="badge badge-success p-2" href="#nut">NUT midline carcinoma</a>
                    </div>

                    <div class="py-2 w-100"></div>

                    <div id="npc" class="card-blockquote text-center h4 my-2">
                        <p>
                            Nasopharyngeal carcinoma (non-keratinizing)
                        </p>
                    </div>
                    <div class="card-body">
                        <img class="img img-fluid" src="https://drive.google.com/uc?id=1Bg5UOoW9o4bWSv03hYi7L7-PPe8XKAF9">
                    </div>

                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#npa">Nasopharyngeal angiofibroma</a>
                        <a class="badge badge-success p-2" href="#npc">Nasopharyngeal carcinoma</a>
                        <a class="badge badge-success p-2" href="#necs">Necrotizing sialometaplasia</a>
                        <a class="badge badge-success p-2" href="#nut">NUT midline carcinoma</a>
                    </div>

                    <div id="necs" class="card-blockquote text-center h4 my-2">
                        <p>
                            Necrotizing sialometaplasia
                        </p>
                    </div>
                    <div class="card-body">
                        <img class="img img-fluid" src="https://drive.google.com/uc?id=131pGbQoskTMgexHQoDyVLVvZpqy8Mr52">
                    </div>

                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#npa">Nasopharyngeal angiofibroma</a>
                        <a class="badge badge-success p-2" href="#npc">Nasopharyngeal carcinoma</a>
                        <a class="badge badge-success p-2" href="#necs">Necrotizing sialometaplasia</a>
                        <a class="badge badge-success p-2" href="#nut">NUT midline carcinoma</a>
                    </div>

                    <div id="nut" class="card-blockquote text-center h4 my-2">
                        <p>
                            NUT midline carcinoma
                        </p>
                    </div>
                    <div class="card-body">
                        <img class="img img-fluid" src="https://drive.google.com/uc?id=1RzpO4-ijAWLP9SVo2CutZDVcNVp8tPHm">
                        <img class="img img-fluid" src="https://drive.google.com/uc?id=1R3fYtfwNfIL5Vn1V_I5-2gAkx-82ra4a">
                        <img class="img img-fluid" src="https://drive.google.com/uc?id=1XEjGEFMPqo5wWND1KUN6SjadO6zOyX7E">
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#npa">Nasopharyngeal angiofibroma</a>
                        <a class="badge badge-success p-2" href="#npc">Nasopharyngeal carcinoma</a>
                        <a class="badge badge-success p-2" href="#necs">Necrotizing sialometaplasia</a>
                        <a class="badge badge-success p-2" href="#nut">NUT midline carcinoma</a>
                    </div>

                </div>

                <!-- "O" content -->
                <div class="tab-pane fade" id="help_openO" role="tabpanel" aria-labelledby="O-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#okc">Odontogenic keratocyst</a>
                        <a class="badge badge-success p-2" href="#onb">Olfactory neuroblastoma</a>
                        <a class="badge badge-success p-2" href="#onc">Oncocytosis</a>
                    </div>
                    <div class="card">
                        <div id="okc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Odontogenic keratocyst
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1GNZzsfaSh1HTxk1IY2F-lLNCDVPsf1-x">
                        </div>

                        <div class="card-footer py-2">
                            <a class="badge badge-success p-2" href="#okc">Odontogenic keratocyst</a>
                            <a class="badge badge-success p-2" href="#onb">Olfactory neuroblastoma</a>
                            <a class="badge badge-success p-2" href="#onc">Oncocytosis</a>
                        </div>

                        <div id="onb" class="card-blockquote text-center h4 my-2">
                            <p>
                                Olfactory neuroblastoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1bx84eyU_LDSVH_q1LDAtyhRR3SwwpPo3">
                        </div>

                        <div class="card-footer py-2">
                            <a class="badge badge-success p-2" href="#okc">Odontogenic keratocyst</a>
                            <a class="badge badge-success p-2" href="#onb">Olfactory neuroblastoma</a>
                            <a class="badge badge-success p-2" href="#onc">Oncocytosis</a>
                        </div>

                        <div id="onc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Oncocytosis
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1gl3XGM1bLrwWgQ3796s9LR5MxUm7wFcd">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#okc">Odontogenic keratocyst</a>
                        <a class="badge badge-success p-2" href="#onb">Olfactory neuroblastoma</a>
                        <a class="badge badge-success p-2" href="#onc">Oncocytosis</a>
                    </div>
                </div>

                <!-- "P" content -->
                <div class="tab-pane fade" id="help_openP" role="tabpanel" aria-labelledby="P-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#pemp">Pemphigus vulgaris</a>
                        <a class="badge badge-success p-2 ml-2" href="#pleo">Pleomorphic adenoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#ptcc">Papillary thyroid carcinoma - columnar cell variant</a>
                        <a class="badge badge-success p-2 ml-2" href="#ptct">Papillary thyroid carcinoma - tall cell variant</a>
                    </div>
                    <div class="card">
                        <div id="pemp" class="card-blockquote text-center h4 my-2">
                            <p>
                                Pemphigus vulgaris
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1c58g6JvR0tvnnbfatveajNe0ftkhKUc_">
                        </div>

                        <div class="card-header" >
                            <a class="badge badge-success p-2" href="#pemp">Pemphigus vulgaris</a>
                            <a class="badge badge-success p-2 ml-2" href="#pleo">Pleomorphic adenoma</a>
                            <a class="badge badge-success p-2 ml-2" href="#ptcc">Papillary thyroid carcinoma - columnar cell variant</a>
                            <a class="badge badge-success p-2 ml-2" href="#ptct">Papillary thyroid carcinoma - tall cell variant</a>
                        </div>

                        <div id="pleo" class="card-blockquote text-center h4 my-2">
                            <p>
                                Pleomorphic adenoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1jr4yY1YIb7rNFUSRiWLcKnar2n1MuggK">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1cTz2ZEqMACC6j6I3FF2oK9T_qc5MOcN5">
                        </div>

                        <div class="card-header" >
                            <a class="badge badge-success p-2" href="#pemp">Pemphigus vulgaris</a>
                            <a class="badge badge-success p-2 ml-2" href="#pleo">Pleomorphic adenoma</a>
                            <a class="badge badge-success p-2 ml-2" href="#ptcc">Papillary thyroid carcinoma - columnar cell variant</a>
                            <a class="badge badge-success p-2 ml-2" href="#ptct">Papillary thyroid carcinoma - tall cell variant</a>
                        </div>

                        <div id="ptcc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Papillary thyroid carcinoma - columnar cell variant
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1jailakcC35KlNk0uX748FsCqSbj8Ke1l">
                        </div>

                        <div class="card-header" >
                            <a class="badge badge-success p-2" href="#pemp">Pemphigus vulgaris</a>
                            <a class="badge badge-success p-2 ml-2" href="#pleo">Pleomorphic adenoma</a>
                            <a class="badge badge-success p-2 ml-2" href="#ptcc">Papillary thyroid carcinoma - columnar cell variant</a>
                            <a class="badge badge-success p-2 ml-2" href="#ptct">Papillary thyroid carcinoma - tall cell variant</a>
                        </div>

                        <div id="ptct" class="card-blockquote text-center h4 my-2">
                            <p>
                                Papillary thyroid carcinoma - tall cell variant
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1kUtbgx2C6XPx5mRMNrNzUT7z4yIPyFVF">
                        </div>

                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#pemp">Pemphigus vulgaris</a>
                        <a class="badge badge-success p-2 ml-2" href="#pleo">Pleomorphic adenoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#ptcc">Papillary thyroid carcinoma - columnar cell variant</a>
                        <a class="badge badge-success p-2 ml-2" href="#ptct">Papillary thyroid carcinoma - tall cell variant</a>
                    </div>
                </div>

                <!-- "Q" content -->

                <!-- "R" content -->
                <div class="tab-pane fade" id="help_openR" role="tabpanel" aria-labelledby="R-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#rbmo">Rhabdomyoma (adult)</a>
                        <a class="badge badge-success p-2" href="#rbda">Rhabdomyosarcoma - Alveolar</a>
                        <a class="badge badge-success p-2" href="#rbde">Rhabdomyosarcoma - Embryonal </a>
                    </div>
                    <div class="card">
                        <div id="rbmo" class="card-blockquote text-center h4 my-2">
                            <p>
                                Rhabdomyoma (adult)
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=17_7ZgMibpNixWA3atdxgftHq8YrRReL2">
                        </div>

                        <div class="card-header py-2" >
                            <a class="badge badge-success p-2" href="#rbmo">Rhabdomyoma (adult)</a>
                            <a class="badge badge-success p-2" href="#rbda">Rhabdomyosarcoma - Alveolar</a>
                            <a class="badge badge-success p-2" href="#rbde">Rhabdomyosarcoma - Embryonal </a>
                        </div>

                        <div id="rbda" class="card-blockquote text-center h4 my-2">
                            <p>
                                Rhabdomyosarcoma - Alveolar
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=19s6YOpofOHWni_jNCeXAiFbB2ftRMdng">
                        </div>

                        <div class="card-header py-2" >
                            <a class="badge badge-success p-2" href="#rbmo">Rhabdomyoma (adult)</a>
                            <a class="badge badge-success p-2" href="#rbda">Rhabdomyosarcoma - Alveolar</a>
                            <a class="badge badge-success p-2" href="#rbde">Rhabdomyosarcoma - Embryonal </a>
                        </div>

                        <div id="rbde" class="card-blockquote text-center h4 my-2">
                            <p>
                                Rhabdomyosarcoma - Embryonal
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=19tU1tqG7_R5sU5S16G_1BQc2ltauHTUn">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#rbmo">Rhabdomyoma (adult)</a>
                        <a class="badge badge-success p-2" href="#rbda">Rhabdomyosarcoma - Alveolar</a>
                        <a class="badge badge-success p-2" href="#rbde">Rhabdomyosarcoma - Embryonal </a>
                    </div>
                </div>

                <!-- "S" content -->
                <div class="tab-pane fade" id="help_openS" role="tabpanel" aria-labelledby="S-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#sdc">Salivary duct carcinoma</a>
                        <a class="badge badge-success p-2" href="#sia">Sinonasal Intestinal-type adenocarcinoma</a>
                    </div>
                    <div class="card">
                        <div id="sdc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Salivary duct carcinoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1RGETZvFvaPi_J6wJD6lY6461Xe9CMy5P">
                        </div>

                        <div class="py-2 w-100"></div>

                        <div id="sia" class="card-blockquote text-center h4 my-2">
                            <p>
                                Sinonasal Intestinal-type adenocarcinoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1UBDV7GCWZUTb9t7KHvTgO3ybxgCzm2CE">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#sdc">Salivary duct carcinoma</a>
                        <a class="badge badge-success p-2" href="#sia">Sinonasal Intestinal-type adenocarcinoma</a>
                    </div>
                </div>

                <!-- "T" content -->
                <div class="tab-pane fade" id="help_openT" role="tabpanel" aria-labelledby="T-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#trmf">Traumatic fibroma</a>
                        <a class="badge badge-success p-2" href="#trmn">Traumatic neuroma</a>
                    </div>
                    <div class="card">
                        <div id="trmf" class="card-blockquote text-center h4 my-2">
                            <p>
                                Traumatic fibroma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=10s3Qvz4U5LRg52t-_nM0TPj9H9I65KZs">
                        </div>

                        <div class="py-2 w-100"></div>

                        <div id="trmn" class="card-blockquote text-center h4 my-2">
                            <p>
                                Traumatic neuroma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1_7w6uVeenuf_dzjdxxEukLSnVRtn3CSd">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#trmf">Traumatic fibroma</a>
                        <a class="badge badge-success p-2" href="#trmn">Traumatic neuroma</a>
                    </div>
                </div>

                <!-- "U" content -->
                <div class="tab-pane fade" id="help_openU" role="tabpanel" aria-labelledby="U-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#ups">Undifferentiated pleomorphic sarcoma</a>
                    </div>
                    <div class="card">
                        <div id="ups" class="card-blockquote text-center h4 my-2">
                            <p>
                                Undifferentiated pleomorphic sarcoma
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1aU2InncYxPlspIveihvRsPg1Xrz-qsC0">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#ups">Undifferentiated pleomorphic sarcoma</a>
                    </div>
                </div>

                <!-- "V" content -->
                <div class="tab-pane fade" id="help_openV" role="tabpanel" aria-labelledby="V-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#voc">Vocal cord polyp</a>
                    </div>
                    <div class="card">
                        <div id="voc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Vocal cord polyp
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1-ZHwCUBdNYt2Mce1dH2hocEiE_yegoKU">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#voc">Vocal cord polyp</a>
                    </div>
                </div>

                <!-- "W" content -->
                <div class="tab-pane fade" id="help_openW" role="tabpanel" aria-labelledby="W-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#wart">Warthin tumor</a>
                    </div>
                    <div class="card">
                        <div id="wart" class="card-blockquote text-center h4 my-2">
                            <p>
                                Warthin tumor
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1eAQElKMZ7No4kCfLMpG-6GGYCc3csZXF">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#wart">Warthin tumor</a>
                    </div>
                </div>

                <!-- "X" content -->
                <div class="tab-pane fade" id="help_openX" role="tabpanel" aria-labelledby="X-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#xanth">Xanthogranuloma - Juvenile</a>
                    </div>
                    <div class="card">
                        <div id="xanth" class="card-blockquote text-center h4 my-2">
                            <p>
                                Xanthogranuloma - Juvenile
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1C2iSnrvl0lkCemDuDTC8LjnvZSlLR7v5">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#xanth">Xanthogranuloma - Juvenile</a>
                    </div>
                </div>

                <!-- "Y" content -->
                <div class="tab-pane fade" id="help_openY" role="tabpanel" aria-labelledby="Y-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#yolk">Yolk sac tumor</a>
                    </div>
                    <div class="card">
                        <div id="yolk" class="card-blockquote text-center h4 my-2">
                            <p>
                                Yolk sac tumor
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1RKHF0P2lOKwEQWbCuF_-CDN00wLUUgiu">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#yolk">Yolk sac tumor</a>
                    </div>
                </div>

                <!-- "Z" content -->
                <div class="tab-pane fade" id="help_openZ" role="tabpanel" aria-labelledby="Y-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#zygo">Zygomycosis</a>
                    </div>
                    <div class="card">
                        <div id="zygo" class="card-blockquote text-center h4 my-2">
                            <p>
                                Zygomycosis
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1TYSOSocBijPE055fwM-SiKCM_mV_8VRx">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#zygo">Zygomycosis</a>
                    </div>
                </div>

            </div><!-- end tab content-->

        </div>



        <!-- close markup -->
    </div>
    <!-- close row -->
</div>

<div class="py-3 w-100"></div>
<p class="h5">Special thanks to Dr. Xu for permission to display this tweetorial. Please consider following her if you enjoyed this atlas</p>
<a href="https://twitter.com/binxu16" class="twitter-follow-button ml-2" data-show-count="false"></a>

<div class="py-2 w-100"></div>

<p class="h5">Like this type of learning? Then follow me why don't ya? </p>
<a href="https://twitter.com/hematogones" class="twitter-follow-button ml-2" data-show-count="false"></a>

<div class="py-2 w-100"></div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- close container -->
</div>
