<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-birthday-cake mr-2"></i>A pictograph that explains the molecular-genetic relationships between rhabdomyosarcomas</li>
    </ol>
    {{> message-center this}}

    <div class="row">
        <div class="card">
            <div class="card-header">
                A word about this Rhabdomyosarcoma pictograph
            </div>
            <div class="card-block">
                <p class="h5 py-2">
                    Rhabdomyosarcoma increasingly shows outcome and behavioral differences based on the underlying molecular genetic biology. Whilst
                    histologic and immunohistochemistry play a role in placing a tumor into the skeletal muscle differentiation camp, these tumors require
                    additional molecular genetic studies to confer appropriate prognostic information.
                </p>
                <p class="h5 py-2">
                    - Chandra
                </p>
            </div>
        </div>
        <div class="col py-2">

            <div class="card-img">
                <img class="img img-fluid" src="/img/blog/rhabdo-graphic.svg">
            </div>
            <p class="py-2">
                <a class="mx-1" href="/img/blog/rhabdo-graphic.pdf" download>
                    PDF Download</a>
            </p>

            <!-- close markup -->
        </div>
        <!-- close row -->
    </div>
    <p class="h5">Like this? </p>
    <a href="https://twitter.com/hematogones" class="twitter-follow-button ml-2" data-show-count="false"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- close container -->
</div>
