<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-sort-alpha-asc mr-2"></i>Atlas of lymph node pathology</li>
    </ol>
    <div class="row">
        <div class="col">
            <!-- A to Z nav links-->
                <ul class="nav nav-tabs flex-wrap justify-content-center" id="az-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active"  id="TOC-tab" data-toggle="tab" href="#help_TOC">Index</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"  id="A-tab" data-toggle="tab" href="#help_openA">A</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"  id="B-tab" data-toggle="tab" href="#help_openB">B</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="C-tab" data-toggle="tab" href="#help_openC">C</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="D-tab" data-toggle="tab" href="#help_openD">D</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="E-tab" data-toggle="tab" href="#help_openE">E</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="F-tab" data-toggle="tab" href="#help_openF">F</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="G-tab" data-toggle="tab" href="#help_openG">G</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="H-tab" data-toggle="tab" href="#help_openH">H</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="I-tab" data-toggle="tab" href="#help_openI">I</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="J-tab" data-toggle="tab" href="#help_openJ">J</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="K-tab" data-toggle="tab" href="#help_openK">K</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="L-tab" data-toggle="tab" href="#help_openL">L</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="M-tab" data-toggle="tab" href="#help_openM">M</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="N-tab" data-toggle="tab" href="#help_openN">N</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="O-tab" data-toggle="tab" href="#help_openO">O</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="P-tab" data-toggle="tab" href="#help_openP">P</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="Q-tab" data-toggle="tab" href="#help_openQ">Q</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="R-tab" data-toggle="tab" href="#help_openR">R</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="S-tab" data-toggle="tab" href="#help_openS">S</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="T-tab" data-toggle="tab" href="#help_openT">T</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="V-tab" data-toggle="tab" href="#help_openV">V</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="W-tab" data-toggle="tab" href="#help_openW">W</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link"   id="Y-tab" data-toggle="tab" href="#help_openY">Y</a>
                    </li>
                </ul>
            <!-- TAB PANE CONTENT-->
            <div class="tab-content">
                <!-- Table of Contents-->
                <div class="tab-pane fade in show active" id="help_TOC" role="tabpanel" aria-labelledby="TOC-tab">
                    <div class="card">
                        <div id="TOC" class="card-blockquote text-center h5 my-2">
                            <p>
                                An A-to-Z atlas of lymph node pathology. This is the permanent archives from the same
                                effort shared on <a href="https://twitter.com/hematogones/status/1014174721758425088" target="_blank">Twitter</a>  during June of 2018.
                                One new letter each day with matching cases.
                            </p>
                            <p>
                                I hope you find these images useful as you encounter unusual lymph node entities. I have omitted, by design, common lymphomas that
                                one encounters during practice. I think you will see enough CLLs, Follicular lymphomas and classic Hodgkin lymphomas to be
                                well versed in the morphologies of these items. More rare lymphomas should probably get their own due with a separate atlas
                                dedicated to the variety and complexity of lymphomas.
                            </p>
                        </div>
                        <hr>
                        <div class="card-body py-2">
                            <p class="h5 text-center"> List of cases in this atlas </p>
                            <small class="ml-3">Click on the appropriate letter tab above to see the case images</small>
                            <ol class="list-group ml-3">
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openA">Amyloidosis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openA">Angiomyomatous hamartoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openB">Bacillary angiomatosis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openB">Burkitt lymphoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openC">Castleman disease</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openD">Dermatopathic lymphadenopathy</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openD">Dilatin lymphadenopathy</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openE">EBV lymphadenitis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openF">Fujimoto-Kikuchi lymphadenitis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openG"> Gaucher disease</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openH">Herpes lymphadenitis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openI">Immunodeficiency (HIV) lymphadenitis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openI">Immunodeficiency (Congenital) lymphadenopathy</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openJ">Jirovecii Pneumocystis lymphadenitis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openK">Kawasaki disease</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openK">Kimura lymphadenopathy</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openK"> Kaposi sarcoma involving lymph nodes</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openL">Lepromatous leprosy</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openL">Leishmaniasis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openM">Mastocytosis involving lymph nodes</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openN">Nodular lymphocyte predominant Hodgkin lymphoma</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openO">Old man's groin lymph node changes</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openP">Proteinaceous lymphadenopathy</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openP">Progressive transformation of germinal centers</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openQ">Qunisy (aka peritonsillar abscess</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openR">Rosai-Dorfman lymphadenopathy</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openS">Sarcoidosis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openT">Toxoplasma lymphadenitis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openV">Vascular transformation of lymph node sinuses</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openV">Visceral larva migrans (Toxocara)</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openW">Whipple lymphadenitis</a>
                                </li>
                                <li class="list-group-item">
                                    <a data-toggle="tab" href="#help_openY">Yersinia lymphadenitis</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <!-- "A" content -->
                <div class="tab-pane fade" id="help_openA" role="tabpanel" aria-labelledby="A-tab">
                    <div class="card-header">
                        <a class="badge badge-success p-2" href="#amh">Angiomyomatous Hamartoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#amyloid">Amyloid</a>
                    </div>
                    <div class="card">
                        <div id="amh" class="card-blockquote text-center h4 my-2">
                            <p>
                                Angiomyomatous hamartoma => Usually incidentally enlarged inguinal node in young males ...
                                Typified by the presence of bands of smooth muscle reaching to edge of cortex +/- hilar fat.
                            </p>

                            <p>Reference:
                                <a href="http://iv.iiarjournals.org/content/26/3/459.long" target="_blank">
                                    http://iv.iiarjournals.org/content/26/3/459.long
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1r5G_R8BU33XSc-jWXAA60Pg0BHaaiyXA">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1MeqhEGTnKrkY5psIopBAT9iIO4asnm8L">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="amyloid" class="card-blockquote text-center h4 my-2">
                            <p>
                                Amyloidosis => Look in nodes from patients with marginal zone lymphoma, lymphoplasmacytic lymphoma
                                or plasma cell neoplasms
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/3539760" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/3539760
                                </a>
                            </p>

                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1R5V6HBKdEr3Y1um18OnHiV4sod9QnOwP">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1h7iJ1T_5gZ2uM-yrY0l4RtHsNMmvIYPW">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#amh">Angiomyomatous Hamartoma</a>
                        <a class="badge badge-success p-2 ml-2" href="#amyloid">Amyloid</a>
                    </div>
                </div>

                <!-- "B" content -->
                <div class="tab-pane fade" id="help_openB" role="tabpanel" aria-labelledby="B-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#bac">Bacillary Angiomatosis</a>
                        <a class="badge badge-success p-2 ml-2" href="#burk">Burkitt</a>
                    </div>
                    <div class="card">
                        <div id="bac" class="card-blockquote text-center h4 my-2">
                            <p>
                                Bacillary Angiomatosis => Less common in developed countries with wider availability of HAART HIV 
                                therapy, but still present in HIV endemic areas.
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC172893/" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pmc/articles/PMC172893/
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Z67-lgIch9b4Vg6viezMldElMXQpVHk8">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1m8FLoSBqNZRLnmq8LI23V9tn6dRl7P6X">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1aI3bUM3MsoSLPkshYqyeVCfJTR5oB-Em">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=14StUqWXV6LMRVQ5nHMyfUqVeRn0NZFqS">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="burk" class="card-blockquote text-center h4 my-2">
                            <p>
                                Burkitt Lymphoma => 90% will have identifyable MYC rearrangements, but MYC-neg cases 
                                occur and show classic histologic features. These may carry 11q aberrations.
                                Immunohistochemistry with Bcl-2 & Tdt neg, MYC protein pos at high levels can help with the differential.
                            </p>

                            <p>Reference:
                                <a href="https://ncbi.nlm.nih.gov/pubmed/24398325 " target="_blank">
                                    https://ncbi.nlm.nih.gov/pubmed/24398325
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1epqSMGpNc9DnqqBapLSbvbphexRco7fS">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1zKRZmhQ_66hVwkmGmsaJeyZuF69_80H4">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1JvOc7SORYLkOLHZmSaUkuEVfz1U-jvEO">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Czsu9EfCGRZwiVOXaE35EurrqTBbGfbC">

                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#bac">Bacillary angiomatosis</a>
                        <a class="badge badge-success p-2 ml-2" href="#burk">Burkitt</a>
                    </div>
                </div>

                <!-- "C" content -->
                <div class="tab-pane fade" id="help_openC" role="tabpanel" aria-labelledby="C-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#cast">Castleman Disease</a>
                    </div>
                    <div class="card">
                        <div id="cast" class="card-blockquote text-center h4 my-2">
                            <p>
                                Castleman disease => Hyaline Vascular variant: common, usually localized, may cause unexplained anemia;
                                Plasma cell Variant: can be multifocal, more aggressive, think HIV/HHV8 (or concommitant Kaposi sarcoma)
                            </p>

                            <p>Reference:
                                <a href="https://https://www.ncbi.nlm.nih.gov/pubmed/19546611" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/19546611
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1aVdK8kBBjd0K0eeNgKSEdSgPxi-6zRW3">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1niXN0_cUrXIGB46NKiWd9CiMhBGr8dSy">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1qRrvSPDLM38CzqBqglNjQnQxKz3fsGJi">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1-UES9lXIyOqSaf9K5wwW6Gde1jvPownJ">
                        </div>

                        <div class="py-3 w-100"></div>

                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#cast">...</a>
                    </div>
                </div>

                <!-- "D" content -->
                <div class="tab-pane fade" id="help_openD" role="tabpanel" aria-labelledby="D-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#dermatopathic">Dermatopathic lymphadenopathy</a>
                        <a class="badge badge-success p-2 ml-2" href="#dilantin">Dilantin adenopathy</a>

                    </div>
                    <div class="card">
                        <div id="dermatopathic" class="card-blockquote text-center h4 my-2">
                            <p>
                                Dermatopathic lymphadenopathy => In Kids -> the differential diagnosis is w/ LCH (which unlike dermatopathic Langerhans cells, will be cyclinD1 neg).
                                In Adults -> Always briefly consider mycosis fungoides or other T-cell lymphoma related dermatopathic change.
                            </p>

                            <p>Reference:
                                <a href="https://ncbi.nlm.nih.gov/pubmed/28622183" target="_blank">
                                    https://ncbi.nlm.nih.gov/pubmed/28622183
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1c1g1ODgaV2Ls-u6_dC6o8u9EXyLmdwdp">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1txpPsJUsW8c_jdh8ESJNFLSJCp8beVer">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="dilantin" class="card-blockquote text-center h4 my-2">
                            <p>
                                Dilantin adenopathy => Changes may simulate cat-scratch, Kikuchi or lymphoma ... But history of seizure disorder and timing with medication is key!

                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/4137045" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/4137045
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1kmCAL61g3PknaFtkEW9cdvmicbH6-ej0">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Yfuqu9NFF4_5CQu6LUnmERUDxKG_gtrn">

                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#dermatopathic">Dermatopathic lymphadenopathy</a>
                        <a class="badge badge-success p-2 ml-2" href="#dilantin">Dilantin adenopathy</a>
                    </div>
                </div>

                <!-- "E" content -->
                <div class="tab-pane fade" id="help_openE" role="tabpanel" aria-labelledby="E-tab">
                <div class="card-header" >
                    <a class="badge badge-success p-2" href="#ebv">EBV lymphadenitis</a>
                </div>
                <div class="card">
                    <div id="ebv" class="card-blockquote text-center h4 my-2">
                        <p>
                            EBV lymphadenitis -> EBV ISH will be positive in a spectrum of variably sized B-cells,
                            unlike in EBV-related lymphoma where, typically, all EBV pos B-cells are same size.

                        </p>

                        <p>Reference:
                            <a href="https://www.ncbi.nlm.nih.gov/pubmed/21320728" target="_blank">
                                https://www.ncbi.nlm.nih.gov/pubmed/21320728
                            </a>
                        </p>
                    </div>
                    <div class="card-body">
                        <img class="img img-fluid" src="https://drive.google.com/uc?id=1Kpu82uQ5Nrz1TuLZoVDV3thcp6baFy-d">
                        <img class="img img-fluid" src="https://drive.google.com/uc?id=1-fANAQTL5TGQWBT1Xf_3qcEVBC9bIwY4">
                        <img class="img img-fluid" src="https://drive.google.com/uc?id=1S7P_1oxFEtqUi64J-vsTnGlhtrYPZxmb">
                        <img class="img img-fluid" src="https://drive.google.com/uc?id=1dz6H5zgxvUhAucfJDfcJ3xhsFjV4EFTV">
                    </div>

                    <div class="py-3 w-100"></div>
                </div>
                <div class="card-footer py-2">
                    <a class="badge badge-success p-2" href="#ebv">EBV adenitis</a>
                </div>
            </div>

                <!-- "F" content -->
                <div class="tab-pane fade" id="help_openF" role="tabpanel" aria-labelledby="F-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#kf">Fujimoto-Kikuchi Lymphadenopathy</a>
                    </div>
                    <div class="card">
                        <div id="kf" class="card-blockquote text-center h4 my-2">
                            <p>
                                Fujimoto-Kikuchi lymphadenitis 😉 -> Similar histology with SLE adenitis.
                                A MPO stain is neat way to highlight crescenteric histiocytes in KFH. This can be helpful to
                                distingus proliferative Kikuchi disease from T-cell lymphomas. Beware not to overcall CD8+ T-cells
                                as a T-lymphoproliferative disorder, these immunoblastic T-cell are enriched in KFD.
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/11549584" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/11549584
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1t7sY3CIjTXWt0MB3y5t7ztlY6zYtMdUM">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Xi3RHz6_5Pye59sslgMoz5OLaBUrSHXU">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1lxB2sRa27AlnD0kWW8R9cZkwMlXHPoJc">

                        </div>

                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#kf">Fujimoto-Kikuchi</a>
                    </div>
                </div>

                <!-- "G" content -->
                <div class="tab-pane fade" id="help_openG" role="tabpanel" aria-labelledby="G-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#gauch">Gaucher disease</a>
                    </div>
                    <div class="card">
                        <div id="gauch" class="card-blockquote text-center h4 my-2">
                            <p>
                                Gaucher's disease -> Classic combination of young age, failure to thrive and organomegaly in liver,
                                spleen and nodes. Rare... but exciting when you catch it.
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/18466035" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/18466035
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1VBRtdczJvPPknrxfrrO-YKN0yGzHHfzZ">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=13lLa1ix6SZ9Cja3R7rqvco9hxNioiqXw">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#gauch">Gaucher disease</a>
                    </div>
                </div>

                <!-- "H" content -->
                <div class="tab-pane fade" id="help_openH" role="tabpanel" aria-labelledby="H-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#herp">Herpes lymphadenitis</a>
                    </div>
                    <div class="card">
                        <div id="herp" class="card-blockquote text-center h4 my-2">
                            <p>
                                Herpes lymphadenitis -> Typical changes are punctate, neutrophilic abscesses with rare nuclear viral inclusions.

                                Sometimes, isoalted herpes lymphadenitis can be seen as local reactivation in CLL nodes!
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=10506706" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/?term=10506706
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1ixV3pdLX9gwzS8hf0qZLm15GAM6BDgI0">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1D4gQwZJhoTnyCnuvxMKMnkqvZPOJQ7Fk">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1rwDZUz8PjSBV_2DpmtJ-gILGGjS-hRb0">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1vCD-M2LU8omdnerGestXhMlMnpZRaYMf">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#herp">Herpes lymphadenitis</a>
                    </div>
                </div>

                <!-- "I" content -->
                <div class="tab-pane fade" id="help_openI" role="tabpanel" aria-labelledby="I-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#hiv">Immunodeficiency - HIV</a>
                        <a class="badge badge-success p-2 ml-2" href="#icong">Immunodeficiency - Congenital</a>
                    </div>
                    <div class="card">
                        <div id="hiv" class="card-blockquote text-center h4 my-2">
                            <p>
                                Immunodeficiency: HIV w/ follicle lysis -> Floird follicular hyperplasia + germ center hemorrhagic lysis.
                                With right history, always 👀 for Kaposi or Toxoplasmosis changes in background.
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/3876855" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/3876855
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1zWChIMmj1CkGEGw2oREXQoiX65R0jTx5">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1LE9_DpK-UfJGL-DAQTniRAMOrLKjAWpL">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="icong" class="card-blockquote text-center h4 my-2">
                            <p>
                                Immunodeficiency: Congenital -> "Empty looking nodes" with few follicles +/- well devloped germinal centers,
                                🔼plasma cells & 🔽 T-cells. +/- Granulomas. Increased risk of lymphoma of various types.
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=28395106" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/?term=28395106
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1o0qgPST6_CW7womUw6DxHJn4FRUXWATf">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=13u1lQnpJEdFnHhFZKn-tMDL0GSCtq09R">

                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#hiv">Immunodeficiency - HIV</a>
                        <a class="badge badge-success p-2 ml-2" href="#icong">Immunodeficiency - Congenital</a>
                    </div>
                </div>

                <!-- "J" content -->
                <div class="tab-pane fade" id="help_openJ" role="tabpanel" aria-labelledby="J-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#pjp">Pneumocystis jirovecii lymphadenitis</a>
                    </div>
                    <div class="card">
                        <div id="pjp" class="card-blockquote text-center h4 my-2">
                            <p>
                                Jirovecii (Pneumocystis) adenitis 😉-> Necrotizing granulomas, "bubbly" histiocytes, few neutrophils.
                                Uniform size of organisms and absence of budding argues against Histoplasmosis

                            </p>

                            <p>Reference:
                                <a href="http://www.archivesofpathology.org/doi/full/10.1043/1543-2165%282004%29128%3C1023%3APCI%3E2.0.CO%3B2?code=coap-site" target="_blank">
                                    http://www.archivesofpathology.org/
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1UT8-GTb-uUeufemA11nObIQBNDSVrIdU">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=126WJ6Camtifl25uPQ0uYnu0L_-eRQ33W">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#pjp">Pneumocystis jirovecii lymphadenitis</a>
                    </div>
                </div>

                <!-- "K" content -->
                <div class="tab-pane fade" id="help_openK" role="tabpanel" aria-labelledby="K-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#kawas">Kawasaki lymphadenopathy</a>
                        <a class="badge badge-success p-2 ml-2" href="#kimura">Kimura disease</a>
                        <a class="badge badge-success p-2 ml-2" href="#kaposi">Kaposi sarcoma</a>
                    </div>
                    <div class="card">
                        <div id="kawas" class="card-blockquote text-center h4 my-2">
                            <p>
                                Kawasaki adenopathy: Rarely nodal disease with fevers is 1st presentation.
                                Mottled node with microangiopathic vascular thrombus + ischemic changes.
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3637400/pdf/nihms424460.pdf" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3637400/pdf/nihms424460.pdf
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1-QUQd8SeAOIzLLFuQilYOqQBoQZij6Gm">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1zX1b7ehPhlrhEXeH1yCBaYikBoW9uogb">
                        </div>

                        <div class="card-footer py-3">
                            <a class="badge badge-success p-2" href="#kawas">Kawasaki lymphadenopathy</a>
                            <a class="badge badge-success p-2 ml-2" href="#kimura">Kimura disease</a>
                            <a class="badge badge-success p-2 ml-2" href="#kaposi">Kaposi sarcoma</a>
                        </div>

                        <div id="kimura" class="card-blockquote text-center h4 my-2">
                            <p>
                                Kimura disease: Benign inflammatory adenopathy with peripheral eosinophilia.
                                Hyperplastic follicles + prominent vessels + eosinophils & polykaryocytes.

                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/17425383" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/17425383
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1o021qXhM7Bgr-XqGImWaHgYE2ji-y8hv">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1XQy513hD02GBltwDYd4e4trv48sHEB4p">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=11LpJL9Kgw6A2YhSg7DJEbkVJKdoZ3ZSP">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1HmCWRrCzCwABBiWxNaBRWuajRd9aUn4o">
                        </div>

                        <div class="card-footer py-3">
                            <a class="badge badge-success p-2" href="#kawas">Kawasaki lymphadenopathy</a>
                            <a class="badge badge-success p-2 ml-2" href="#kimura">Kimura disease</a>
                            <a class="badge badge-success p-2 ml-2" href="#kaposi">Kaposi sarcoma</a>
                        </div>

                        <div id="kaposi" class="card-blockquote text-center h4 my-2">
                            <p>
                                Kaposi sarcoma: HIV+ patients with HHV8 coinfection.
                                I was once schooled by a Hungarian colleague that name is pronounced Kap-o-Shee, not kap-Oh-seeeee.
                            </p>

                            <p>Reference:
                                <a href="http://www.archivesofpathology.org/doi/pdf/10.5858/arpa.2011-0213-OA" target="_blank">
                                    http://www.archivesofpathology.org/doi/pdf/10.5858/arpa.2011-0213-OA
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1AjPA0nNaExtcRrQ4uku7xOzvPd4bvtaa">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1brVjqeBnwsaBUnsBJN7IWD85VTo1YaA-">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Qlby_Wt22bPK8VyxGwwRQ_QjZ0tyZXHq">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1vpA2p34Hcd03tKWw8l9srWUha1bY5Idx">

                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#kawas">Kawasaki lymphadenopathy</a>
                        <a class="badge badge-success p-2 ml-2" href="#kimura">Kimura disease</a>
                        <a class="badge badge-success p-2 ml-2" href="#kaposi">Kaposi sarcoma</a>
                    </div>
                </div>

                <!-- "L" content -->
                <div class="tab-pane fade" id="help_openL" role="tabpanel" aria-labelledby="L-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#leish">Leishmania</a>
                        <a class="badge badge-success p-2 ml-2" href="#leprosy">Lepromatous leprosy</a>
                    </div>
                    <div class="card">
                        <div id="leish" class="card-blockquote text-center h4 my-2">
                            <p>
                                Leishmaniasis (Visceral): Can rarely find granulomas with intracellular
                                "dots in spaces" pattern.
                                Highlighted best with Giemsa stains on thinly sectioned slides or touch imprints fixed in EtOh.

                            </p>

                            <p>Reference:
                                <a href="http://www.archivesofpathology.org/doi/pdf/10.1043/2010-0069-OA.1" target="_blank">
                                    http://www.archivesofpathology.org/doi/pdf/10.1043/2010-0069-OA.1
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=10vos0YZNl_UCII0xPHwGg_h_L9u86aWf">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1aEcHgoIjKkWFcHgNM-bX2x43xIytjx25">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="leprosy" class="card-blockquote text-center h4 my-2">
                            <p>
                                Lepromatous leprosy: Prevalent in developing parts of the world.
                                Highlighted in paraffin tissues or direct smears as weakly acid fast or, better yet, with Fite stain.

                            </p>

                            <p>Reference:
                                <a href="http://cltri.gov.in/TrainingMaterial/4.8-%20Classification%20&%20treatment.pdf" target="_blank">
                                    http://cltri.gov.in/TrainingMaterial/4.8-%20Classification%20&%20treatment.pdf
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1sLMfjZz-YBCRKLl3kraMIlo1rDyQgviF">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1WTwa4aXFV61K-93chTFVYexM5UfjhaiJ">

                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#leish">Leishmania</a>
                        <a class="badge badge-success p-2 ml-2" href="#leprosy">Lepromatous leprosy</a>
                    </div>
                </div>

                <!-- "M" content -->
                <div class="tab-pane fade" id="help_openM" role="tabpanel" aria-labelledby="M-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#masto">Mastocytosis</a>
                    </div>
                    <div class="card">
                        <div id="masto" class="card-blockquote text-center h4 my-2">
                            <p>
                                Mastocytosis: Lymph node involvement usually obaserved in systemic forms.
                                Sometimes one can see concurrent marked 🔼 in eos.
                                CD117/CD25+ phenotype, often with KIT-D816V mutation.

                            </p>

                            <p>Reference:
                                <a href="https://academic.oup.com/ajcp/article/132/3/438/1766132" target="_blank">
                                    https://academic.oup.com/ajcp/article/132/3/438/1766132
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1eB0EmPgsnxkPhbkhiBsQh4Gj7dVJEetL">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1gFSFnln8jvYxZsTBGsK_SG0w0tsrRXZU">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#masto">Mastocytosis</a>
                    </div>
                </div>

                <!-- "N" content -->
                <div class="tab-pane fade" id="help_openN" role="tabpanel" aria-labelledby="N-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#nlp">Nodular lymphocyte predominant Hodgkin lymphoma</a>
                    </div>
                    <div class="card">
                        <div id="nlp" class="card-blockquote text-center h4 my-2">
                            <p>
                                Nodular LP HL: CD20+ B-cell lymphoma with "mass in mass" pattern of nodal effacement and increased numbers of PD-1+ T-fh cells.
                                Differential diagnosis includes: cHL and TCRLBCL

                                Note the numerous variant patterns in this excellent reference 👇🏾!!!
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/14508396" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/14508396
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1LU5BJBMpgCrnvqdXruOeVCN-a0TyZeuS">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1UJpxaSxWeIeVGwO58Bs6ZCedcsmaa8G1">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#nlp">Nodular lymphocyte predominant Hodgkin lymphoma</a>
                    </div>
                </div>

                <!-- "O" content -->
                <div class="tab-pane fade" id="help_openO" role="tabpanel" aria-labelledby="O-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#omgn">Old man's groin lymph node changes</a>
                    </div>
                    <div class="card">
                        <div id="omgn" class="card-blockquote text-center h4 my-2">
                            <p>
                                Old Man Groin Node: Look, I did my best. Read all my lymph node books.
                                Googled for an hour. This is the best I could come up with.

                                Authoritative reference ?? 👇🏾


                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/12973685" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/12973685
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/open?id=1igyvf23MdDAIjQU70rqweDEhKPx61TMT">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#omgn">Old man's groin lymph node changes</a>
                    </div>
                </div>

                <!-- "P" content -->
                <div class="tab-pane fade" id="help_openP" role="tabpanel" aria-labelledby="P-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#ptgc">Progressive transformation</a>
                        <a class="badge badge-success p-2 ml-2" href="#prot">Proteinaceous lymphadenopathy</a>
                    </div>
                    <div class="card">
                        <div id="ptgc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Progressive transformation of germinal centers -> Disruption of germinal centers by mantle zone lymphocytes.
                                Despite historical suggestions otherwise, this is not precursor lesion to NLPHL. Importantly, it can explain persistent adenopathy.
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/26410017" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/26410017
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Kc-8-HsV-P9yD9cMOtrngNn-95-R4bWV">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=11WtgkNIBnOAdyDGDr8Oq4x4PrJ2ThudG">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="prot" class="card-blockquote text-center h4 my-2">
                            <p>
                                Proteinaceous Lymph node -> Rare⚠.  Extracellular nonamyloid Immunoglobulin deposits causing
                                enlargement which can be associated with plasma cell dyscrasia or rheumatic diseases.

                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/2294866" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/2294866
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=15RZ-R0sumYV2JYFQn1bQsbIzsiKWfBIR">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1z3W2IjAmW9yt2Yx1FEvF-PT7Lv8o2Cn8">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#ptgc">Progressive transformation</a>
                        <a class="badge badge-success p-2 ml-2" href="#prot">Proteinaceous lymphadenopathy</a>
                    </div>
                </div>

                <!-- "Q" content -->
                <div class="tab-pane fade" id="help_openQ" role="tabpanel" aria-labelledby="Q-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#quinsy">Qunisy (aka Retrotonsillar abscess)</a>
                    </div>
                    <div class="card">
                        <div id="quinsy" class="card-blockquote text-center h4 my-2">
                            <p>
                                Quinsy (aka peritonsillar abscess 😏 --> Okay, I cheated a bit for this letter and used a tonsil.
                                Take a peek for HSV on your next quinsy...you might be surprised to encounter innocent herpes infections.
                            </p>

                            <p>Reference #1:
                                <a href="https://https://www.ncbi.nlm.nih.gov/pubmed/17141448" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/17141448
                                </a>
                            </p>
                            <p>Reference #2: Check out this nice paper on Herpesvirus tonsilitis by <a class="mx-1" href="https://www.twitter.com/HeadandNeckPath/">Lester Thompson</a> and colleagues
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/24338612" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/24338612
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1jfrG8ma47LNKwpc5BYwgvOqoXSvuRSKv">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1GSCIvWnlXhlqDWJZ0b1aDdJIFwsmYJYH">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#quinsy">Qunisy (aka Retrotonsillar abscess)</a>
                    </div>
                </div>

                <!-- "R" content -->
                <div class="tab-pane fade" id="help_openR" role="tabpanel" aria-labelledby="R-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#rdd">Rosai-Dorfman disease</a>
                    </div>
                    <div class="card">
                        <div id="rdd" class="card-blockquote text-center h4 my-2">
                            <p>
                                Rosai-Dorfman disease (of course!) --> Dr. Dorfman once impressed upon me that if one doesn't see lots of plasma cells, don't make this diagnosis.
                                Some extra-nodal forms can be tricky to identify. Recently, some studies show an association with IgG4 excess in a subset of Rosai-Dorfman disease.
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/26966089" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/26966089
                                </a>
                            </p>
                            <p>
                                Bonus content: See this nice
                                <a class="mx-1" href="http://www.stanfordmedicine.com/news/all-news/2012/06/stanford-professor-ronald-dorfman-a-founder-of-hematopathology-dies-at-89.html" target="_blank">
                                    obituary
                                </a>
                                of Dr. Dorfman, indeed a giant figure in lymph node pathology
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1oqWRwC9SwM-cOWikLwbgaPJMwFbAQgxS">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1SpwiulycRj9mFbJb5m3oFjSmuWnsQgYl">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1vgAhNelGubMb1Z0oTH9qz_UB7UQbKYI6">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Ja46jYgFDIzz5BIm8OKXLuOE7dQ3RXWL">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=15PnP5T8sjRn3Qt9cRdbJJ8p-Tgw1WjZE">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#rdd">Rosai-Dorfman disease</a>
                    </div>
                </div>

                <!-- "S" content -->
                <div class="tab-pane fade" id="help_openS" role="tabpanel" aria-labelledby="S-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#sarc">Sarcoidosis</a>
                    </div>
                    <div class="card">
                        <div id="sarc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Sarcoidosis -> Tightly formed granulomas, usually without necrosis.
                                Focal punctate necrosis can be seen on occasion. Be careful with GMS though, as
                                pseudo-fungal yeast representing Hamazaki-Wesenberg bodies can be found!👇🏾
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2014861/" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2014861/
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=16Fp5pWipSekPkJA1JT9DS0IjRSPVHoKq">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1gKmloQ5V6EoH-l7gWxZ7b5t7uXNQgU4X">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#sarc">Sarcoidosis</a>
                    </div>
                </div>

                <!-- "T" content -->
                <div class="tab-pane fade" id="help_openT" role="tabpanel" aria-labelledby="T-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#toxo">Toxoplasmosis</a>
                    </div>
                    <div class="card">
                        <div id="toxo" class="card-blockquote text-center h4 my-2">
                            <p>
                                Toxoplasma adenitis -> Lymph node changes in 3 acts:
                                1) florid hyperplasia,
                                2) histiocyte clusters push germinal centers, and
                                3) monocytoid B-cell expansion. Serology + history is far more useful than Toxo IHC
                            </p>

                            <p>Reference:
                                <a href="https://jcp.bmj.com/content/jclinpath/58/11/1143.full.pdf" target="_blank">
                                    https://jcp.bmj.com/content/jclinpath/58/11/1143.full.pdf
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1jPuxn37tYI8Hk5BmnAx7kiPaqhJ4siC9">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1ikX6KsnjBbFOaVY37DWWnzuFServ57WG">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1DQJ4lY9AJLagHls6I_7dGMDnnonhWI_i">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1ppEeLt7Ro7_B6tg1VfYQ88xYcl3wp9Tv">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#toxo">Toxoplasmosis</a>
                    </div>
                </div>

                <!-- "V" content -->
                <div class="tab-pane fade" id="help_openV" role="tabpanel" aria-labelledby="V-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#vasc">Vascular transformation of lymph nodes</a>
                        <a class="badge badge-success p-2 ml-2" href="#vlm">Visceral larva migrans</a>
                    </div>
                    <div class="card">
                        <div id="vasc" class="card-blockquote text-center h4 my-2">
                            <p>
                                Vascular transformation of lymph nodes ->
                                Vasoproliferative lesion of lymph nodes that may explain persistent adenopathy and be associated with prior lymph node dissections.
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pubmed/2069211" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pubmed/2069211
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1C5P-zxfr33AxMAgdLQ0hEIxnYfhMCRaj">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1q2oBa-uT91IQLFFbgmj8hxDUlqlkqJt3">
                        </div>

                        <div class="py-3 w-100"></div>

                        <div id="vlm" class="card-blockquote text-center h4 my-2">
                            <p>
                                Visceral larva migrans ->
                                Toxocara larvae induced eosinophilic macroabscesses +/- Splendore-Hoeppli reaction.
                                Similar changes with any metazoan larvae in nodes.
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3593479/" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3593479/
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1ZnTWlmQflUfBtebMPQaEYzwrTwPVDtk4">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1ssR4Z4JJAyzT5LQM4Ysf7zuNCGoMyDqE">

                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#vasc">Vascular transformation of lymph nodes</a>
                        <a class="badge badge-success p-2 ml-2" href="#vlm">Visceral larva migrans</a>
                    </div>
                </div>

                <!-- "W" content -->
                <div class="tab-pane fade" id="help_openW" role="tabpanel" aria-labelledby="W-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#whip">Whipple lymphadenitis</a>
                    </div>
                    <div class="card">
                        <div id="whip" class="card-blockquote text-center h4 my-2">
                            <p>
                                Whipple lymphadenopathy ->
                                Characteristic low-power "lymphangiogram" pattern of open cystic spaces + granular histiocytes.
                                Gram+/PasD+ organisms.
                            </p>

                            <p>Reference:
                                <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC88990/" target="_blank">
                                    https://www.ncbi.nlm.nih.gov/pmc/articles/PMC88990/
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1rWArwR-xZpWurWYZGMWfgeudN_WgLrxM">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=12g32k6ucFbtUjKALI2DdCvgAOodeMHNf">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1_L0Uenhtz32uCBWR3nsqWKUIvOaEVVPO">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1wQ2MgRC7CEcWzTW64PSXqzsZCBBEstqM">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#whip">Whipple lymphadenitis</a>
                    </div>
                </div>

                <!-- "Y" content -->
                <div class="tab-pane fade" id="help_openY" role="tabpanel" aria-labelledby="Y-tab">
                    <div class="card-header" >
                        <a class="badge badge-success p-2" href="#yers">Yersinia lymphadenitis</a>
                    </div>
                    <div class="card">
                        <div id="yers" class="card-blockquote text-center h4 my-2">
                            <p>
                                Yersinia lymphadenopathy ->
                                Characteristic epithelioid necrotizing granulomas localized to the germinal centers.
                                Mesentery and bowel lymph nodes are most commonly involved.
                            </p>

                            <p>Reference:
                                <a href="https://www.jstage.jst.go.jp/article/jslrt/52/1/52_1/_pdf/-char/en" target="_blank">
                                    https://www.jstage.jst.go.jp/article/jslrt/52/1/52_1/_pdf/-char/en
                                </a>
                            </p>
                        </div>
                        <div class="card-body">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=12A0gLwiSuZ5b6oJT6RUmeQzthRoiUCm1">
                            <img class="img img-fluid" src="https://drive.google.com/uc?id=1Jokknj1tQH0ENA-xanp7Tv6PsNhCAnv4">
                        </div>
                    </div>
                    <div class="card-footer py-2">
                        <a class="badge badge-success p-2" href="#yers">Yersinia lymphadenitis</a>
                    </div>
                </div>

            </div><!-- end tab content-->

        </div>



            <!-- close markup -->
        </div>
        <!-- close row -->
    </div>

    <div class="py-3 w-100"></div>

    <p class="h5">Like this type of learning? Then follow me why don't ya? </p>
    <a href="https://twitter.com/hematogones" class="twitter-follow-button ml-2" data-show-count="false"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- close container -->
</div>
