<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-file-picture-o mr-2"></i>Pathology Informatics Summit - File Playgroud</li>
    </ol>
    {{> message-center this}}

    <div class="row">
        <div class="col-12 py-2">
            <div class="card=header h4">
                Pathology Canned Text App Example
            </div>
            <div class="card">
                <script async src="//jsfiddle.net/hematogones/vdqmzh93/36/embed/js,html,css,result/dark/"></script>
            </div>
            <!-- close markup -->
        </div>

        <hr class="py-2 w-100">

        <div class="col-12 py-2">
            <div class="card=header h4">
                Flow Cytometry Worksheet template
            </div>
            <div class="card">
                <img class="img py-2 w-50 mx-auto" src="/img/flow_img.png">
                <button class="btn btn-lg btn-primary p-3" href="/media/flow_master.pdf" download><i class="fa fa-download"></i>
                Download Sample Flow Cytometry worksheet</button>
            </div>
            <!-- close markup -->
        </div>


        <!-- close row -->
    </div>
    <p class="h5">Like this? </p>
    <a href="https://twitter.com/hematogones" class="twitter-follow-button ml-2" data-show-count="false"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- close container -->
</div>
