<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-scissors mr-2"></i>Hirschsprung Disease Resection synoptic</li>
    </ol>

    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="col text-right my-2">
        <button type="button" class="btn btn-info btn-md p-1" data-toggle="modal"
                data-target="#IHCbox">Immuno Box
        </button>
    </div>

    <!-- IHC Modal -->
    {{> page-partials/immuno this}}

    <div class="row">

        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->

            <hr class="p-2" >
            <h5>Procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>One-stage (Duhamel) pull-through</option>
                <option>One-stage (Swenson) pull-through</option>
                <option>One-stage (Soave) pull-through</option>
                <option>Ostomy creation with bowel-resection</option>
                <option>Ostomy takedown with (Duhamel) pull-through</option>
                <option>Ostomy takedown with (Swenson) pull-through</option>
                <option>Ostomy takedown with (Soave) pull-through</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;'
                   placeholder='Specify ostomy location'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id="box1_3" style='display:none;'
                   placeholder="Describe prior resections (if applicable)">


            <hr class="p-2" >
            <h5>Intraoperative frozen section</h5>
            <div class="ml-3 fz">

                <div class="row pblock">
                        <div class="col form-inline">
                            <h6>Part type</h6>
                            <input type="text" class="form-control form-control-sm ml-2" id="box2" placeholder="">
                        </div>

                        <div class="col form-inline">
                            <h6>Location</h6>
                            <input type="text" class="form-control form-control-sm ml-2" id="box3" placeholder="">

                        </div>

                        <div class="py-2 w-100"></div>
                        <div class="col form-inline">
                            <h6>Biopsy type</h6>
                            <select id="box4" class='form-control selectpicker form-control-sm ml-2'>
                                <option>seromuscular</option>
                                <option>full-thickness</option>
                            </select>
                        </div>
                        <div class="col form-inline">
                            <h6>Pathologist</h6>
                            <input type="text" class="form-control form-control-sm ml-2" id="box5" placeholder="">
                        </div>
                        <div class="py-2 w-100"></div>
                        <div class="col form-inline">
                            <h6>Diagnosis</h6>
                            <select id="box6" class='form-control selectpicker form-control-sm ml-2'>
                                <option>Inadequate</option>
                                <option>Ganglion cells present</option>
                                <option>Ganglion cells absent</option>
                            </select>
                        </div>
                        <div class="col form-inline">
                            <h6>Residue</h6>
                            <select id="box7" class='form-control selectpicker form-control-sm ml-2'>
                                <option>Stored frozen in OCT </option>
                                <option>Submitted in cassette</option>
                            </select>
                            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_2' style='display:none;' placeholder='Specify cassette label'>

                        </div>
                    <div class="card-footer w-100">
                        <button id="btnAdd_1" type="button" class="clone btn btn-success mt-3 p-1">
                            <i class="fa fa-plus-circle mr-2"></i>Add frozen
                        </button>
                        <button id="btnDel_1" type="button" class="remove btn btn-danger mt-3 p-1" style="display: none;">
                            <i class="fa fa-trash-o mr-2"></i>Remove this frozen
                        </button>

                    </div>

                </div>
                <div class="py-2 w-100"></div>

                <hr class="p-2" >
                <h5>Resection specimen</h5>
                <div class="resection ml-3">



                </div>


            </div>

            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
