<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-scissors mr-2"></i>Hirschsprung Disease Resection synoptic</li>
    </ol>

    {{> message-center this}}
    {{> page-partials/cap-header}}


    <div class="row">

        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2" >
            <h5>Type of Pull-through procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>One stage (primary)</option>
                <option>Two stage (prior colostomy)</option>
                <option>Other </option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify other procedure'>





            <hr class="p-2" >
            <h5>Surgical technique</h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Swenson</option>
                <option>Soave</option>
                <option>Duhamel</option>
                <option>Other </option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box2_2' style='display:none;' placeholder='Specify other technique'>





            <hr class="p-2" >
            <h5>Total length of resected Distal Aganglionic Segment</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box3" placeholder="cm">




            <hr class="p-2" >
            <h5>Total Length of Resected Proximal Ganglionic Bowel (if applicable)
            <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
               title="Including portion with ostomy takedown, if applicable" aria-hidden="true"></i>
            </h5>
            <input type="text" class="form-control form-control-sm col-sm-6 opt" id="box4" placeholder="cm">




            <hr class="p-2" >
            <h5>Anatomic location of Transition Zone</h5>
            <select id="box5" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Rectum</option>
                <option>Sigmoid</option>
                <option>Descending colon</option>
                <option>Splenic flexure</option>
                <option>Transverse colon</option>
                <option>Hepatic flexure</option>
                <option>Ascending colon</option>
                <option>Cecum</option>
                <option>Ileum</option>
                <option>Jejunum</option>
                <option>Duodenum</option>
                <option>Stomach</option>
            </select>





            <hr class="p-2" >
            <h5>Histology of Proximal Surgical Margin</h5>
            <select multiple id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No neuropathological feature of Transition Zone</option>
                <option>Partial circumferential aganglionosis (>1/8th circumference)</option>
                <option>Myenteric hypoganglionosis (>1/8th circumference)</option>
                <option>Submucosal nerve hypertrophy (subjective)</option>
                <option>Submucosal nerve hypertrophy (measured)</option>
                <option>Submucosal nerve hypertrophy (other, specify)</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2' style='display:none;' placeholder='Specify other finding for nerve hypertrophy'>





            <hr class="p-2" >
            <h5>Proximal margin intraoperative frozen section performed?</h5>
            <select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Yes</option>
                <option>No</option>
            </select>





            <hr class="p-2" >
            <h5>Other Findings </h5>

            <div class="py-3 w-100"></div>

            <div class="ml-3">
            <h6> Eosinophilic inflammation
            <i class="fa fa-question-circle ml-2" data-placement="right"
               data-toggle="tooltip" title="Includes eosinophilic periganglionitis, plexitis, or leiomyositis" aria-hidden="true"></i>
            </h6>
            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Absent</option>
                <option>Focal</option>
                <option>Multifocal</option>
            </select>

                <div class="py-3 w-100"></div>

                <h6>Arterial adventitial fibromuscular dysplasia
            <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
               title="ie. myofibroblastic or smooth muscle proliferation in the adventitia of submucosal, intramuscular, or serosal arteries" aria-hidden="true"></i>
            </h6>
            <select id="box9" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>Absent</option>
                <option>Focal</option>
                <option>Multifocal</option>
                <option>Diffuse</option>
            </select>

                <div class="py-3 w-100"></div>

                <h6>Abundant large submucosal ganglia
            <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
               title="This is a 2 cm or shorter stretch of submucosa that contains more than 5 ganglia with >8 nucleated ganglion cell bodies" aria-hidden="true"></i>
            </h6>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>Absent</option>
                <option>Focal</option>
                <option>Multifocal</option>
                <option>Diffuse</option>
            </select>

                <div class="py-3 w-100"></div>

                <h6>Active enterocolitis
            <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
               title="ie. neutrophilic/active mucosal inflammation" aria-hidden="true"></i>
            </h6>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>Absent</option>
                <option>Focal</option>
                <option>Multifocal</option>
                <option>Diffuse</option>
            </select>

                <div class="py-3 w-100"></div>

                <h6>Any additional findings</h6>
            <input type="text" class="form-control form-control-sm col-sm-6 opt" id="box12" placeholder="If necessary">

            </div>




            <!-- end markup-->
                </div>



            <!-- close markup -->

        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
