<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <i class="fa fa-user-circle mr-2"></i>  Placenta Weights Reference Data
        </li>
    </ol>

    {{> message-center this}}

    <!-- Full width row + card -->
    <div class="row">
        <!-- top card-->
        <div class="col col-md-12">
            <div class="card h-100">
                <div class="card-header">
                    <div class="display-3">Placenta Reference Data Spreadsheet</div>
                </div>
                <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTkheDHEFHzRUsDp9HCiy1-2UohrvX6rTqKk0Q9HLHubMfbQsydgerJgNiEk1LXeOT8RVp3sI1RUtZG/pubhtml?gid=1689910235&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            </div>
        </div>
    </div>
</div>


</div>
<!-- end bottom row-->
</div>

