<div class="container-fluid">
<!-- Breadcrumbs -->
<ol class="breadcrumb">
<li class="breadcrumb-item">
<a href="/">Home</a>
</li>
<li class="breadcrumb-item active">Surgpath/<i class="fa fa-eye-slash mr-2"></i>Sjogren Focus Score - Minor
Salivary Gland Biopsy
</li>
</ol>

{{> message-center this}}

<div class="card mb-3">
<div class="card-header bg-info">
<!-- How to use and modal -->
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-default btn-block" data-target="#help-about" data-toggle="modal"
                id='openhelp'
                style='white-space: normal'
                type='button'> Read this, if you are not familiar with the Focus Score
        </button>
        {{> page-modals/surg-path/sjogrens-focus-score}}
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary btn-block" data-target="#help-howto" data-toggle="modal"
                id='openhowto'
                type='button'> How to do a Focus Score
        </button>
        {{> page-modals/surg-path/sjogrens-how-to-use}}
    </div>
</div>
</div>
</div>
<div class="container-fluid">
<div class="row">
<!--middle colored boxes-->
<div class="container">
<div class="row row-grid ">
<!-- bottom left column-->
<div class="col-sm-7" id="bottom-l">
    <div class="card">
        <div class="card-header">
            <h5>Histomorphometry</h5>
        </div>
        <div class="card-block">
            <label class="w-100 form-check-label" id="_partType100">
                <input class="form-check-input" id="partType100" size='5'>
                Number of lobules in biopsy </label> 
            <label class="w-100 form-check-label" id="_partType101">
                <input class="form-check-input" id="partType101" size='5'>
                Number of atrophic lobules </label>
            <label class="w-100 form-check-label" id="_mxLine10">
                <input class="form-check-input" id="mxLine100" size='5'>
                Estimated acinar surface area (mm^2) </label>
            <hr>
            <label class="w-100 form-check-label" id="_partType200">
                <input class="form-check-input" id="partType200" type='checkbox'>
                Adequate sampling of minor salivary glands </label>
            <label class="w-100 form-check-label" id="_partType201">
                <input class="form-check-input" id="partType201" type='checkbox'>
                Suboptimal sample due to small size </label>
            <label class="w-100 form-check-label" id="_partType202" style="display: none;">
                <input class="form-check-input" id="partType202" type='checkbox'>
                All acini are atrophic
                <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
                                       title="This is an inadequate biopsy"></i>
            </label>
            <label class="w-100 form-check-label" id="_partType203">
                <input class="form-check-input" id="partType203" type='checkbox'>
                No salivary gland acini present - just fat
                <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
                   title="This is an inadequate biopsy"></i>
            </label>
            <label class="w-100 form-check-label" id="_partType204">
                <input class="form-check-input" id="partType204" type='checkbox'>
                No salivary gland acini present - lymph node
                <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
                   title="This is an inadequate biopsy"></i>
            </label>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>Acinar Histologic Findings (if adequate sampling)</h5>
        </div>
        <div class="card-block">
            <label class="w-100 form-check-label" id="_mxLine200">
                <input class="form-check-input" id="mxLine200" type='checkbox'>
                Normal lobules description (none with atrophy) </label>
            <label class="w-100 form-check-label" id="_mxLine201">
                <input class="form-check-input" id="mxLine201" type='checkbox'>
                Mostly normal lobules (atrophy is present)</label>
            <label class="w-100 form-check-label" id="_mxLine209">
                <input class="form-check-input" id="mxLine209" type='checkbox'>
                Mostly atrophic lobules (few intact acinar units)</label>
            <hr>
            <div class="bg-warning mb-2">Qualifiers</div>
            <label class="w-100 form-check-label" id="_mxLine202">
                <input class="form-check-input" id="mxLine202" type='checkbox'>
                Focal duct injury with fibrosis </label> 
            <label class="w-100 form-check-label" id="_mxLine203">
                <input class="form-check-input" id="mxLine203" type='checkbox'>
                Focal duct injury with fibrosis + granulomas </label> 
            <label class="w-100 form-check-label" id="_mxLine207">
                <input class="form-check-input" id="mxLine207" type='checkbox'>
                Non-specific chronic sialadenitis </label> 
            <label class="w-100 form-check-label" id="_mxLine208">
                <input class="form-check-input" id="mxLine208" type='checkbox'>
                Sclerosing chronic sialadenitis </label> 

            <div class="bg-warning mb-2 mt-3">Lymphocytic Inflammation</div>
            <label class="w-100 form-check-label" id="_mxLine204">
                <input class="form-check-input" id="mxLine204" type='checkbox'>
                No lymphocytic infiltrates </label> 
            <label class="w-100 form-check-label" id="_mxLine205">
                <input class="form-check-input" id="mxLine205" type='checkbox'>
                Focal lymphocytic sialadenitis </label> 
            <label class="w-100 form-check-label" id="_mxLine206">
                <input class="form-check-input" id="mxLine206" type='checkbox'>
                Multifocal lymphocytic sialadenitis </label> 

            <div class="bg-warning mb-2 mt-3">
                Additional biopsy findings</div>
            <label class="w-100 form-check-label" id="_mxLine230">
                <input class="form-check-input" id="mxLine230" type='checkbox'>
                No lymphoepithelial lesions </label> 
            <label class="w-100 form-check-label" id="_mxLine231">
                <input class="form-check-input" id="mxLine231" type='checkbox'>
                Lymphoepithelial lesions are present</label> 
            <label class="w-100 form-check-label" id="_mxLine232">
                <input class="form-check-input" id="mxLine232" type='checkbox'>
                No germinal center formation </label> 
            <label class="w-100 form-check-label" id="_mxLine233">
                <input class="form-check-input" id="mxLine233" type='checkbox'>
                Germinal centers present </label> 
            <hr>

            <div class="bg-info mb-2">Focus Score</div>
            <label class="w-100 form-check-label" id="_mxLine101">
                <input class="form-check-input" id="mxLine101" size='5'>
                Total # of inflammatory foci </label>

            <div class="py-2 w-100"></div>
            
            <label class="w-100 form-check-label" id="_mxLine221">
                <input class="form-check-input" id="mxLine221" type='checkbox'>
                Check here to include FS </label>

            <div class="py-2 w-100"></div>

            <label class="form-check-label" id="_mxLine220">
                <input class="form-check-input" id="mxLine220" type='checkbox'>
                Check here if you cannot perform FS
                <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
                                       title="Reasons to not provide a FS include: excessive atrophic changes, inflammation is plasma cell rich, superimposed acinar injury"></i>
            </label>
            <br>
            <i class="fa fa-exclamation-triangle mx-2"></i>Use this for NSCS or SCS<i class="fa fa-exclamation-triangle mx-2"></i>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>Final Diagnoses</h5>
        </div>
        <div class="card-block">
            <label class="w-100 form-check-label" id="_dxOut100">
                <input class="form-check-input" id="dxOut100" type='checkbox'>
                Normal salivary glands</label> 
            <label class="w-100 form-check-label" id="_dxOut101">
                <input class="form-check-input" id="dxOut101" type='checkbox'>
                Focal lymphocytic sialadenitis</label> 
            <label class="w-100 form-check-label" id="_dxOut102">
                <input class="form-check-input" id="dxOut102" type='checkbox'>
                Non-specific chronic sialadenitis</label> 
            <label class="w-100 form-check-label" id="_dxOut103">
                <input class="form-check-input" id="dxOut103" type='checkbox'>
                Sclerosing chronic sialadenitis</label> 
            <label class="w-100 form-check-label" id="_dxOut104">
                <input class="form-check-input" id="dxOut104" type='checkbox'>
                Granulomatous sialadenitis</label> 
            <label class="w-100 form-check-label" id="_dxOut105">
                <input class="form-check-input" id="dxOut105" type='checkbox'>
                With presence of germinal centers</label> 

        </div>
    </div>
</div>
<!-- middle right text output-->
<div class="col-sm-5 " id="bottom-r">
    <div class="card text-center ">
        <div class="card-header">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="btn btn-outline-info p-2" id="writeReport">
                        <small>Write Report</small>
                    </a>
                    <a class="btn btn-outline-danger p-1 mb-2 ml-4" id="Reset">Reset</a>
                </li>
            </ul>
        </div>
        <div class="card-block">
            <div class="form-group">
                <textarea class="form-control" id="outPut-2" rows="9"
                          placeholder="Micro"></textarea>
                <span class="input-group-addon copy btn btn-primary"
                      data-clipboard-target="#outPut-2">Copy to Clipboard</span>
            </div>
        </div>
        <div class="card-block">
            <div class="form-group">
                <textarea class="form-control" id="outPut-3" rows="6"
                          placeholder="Finals"></textarea>
                <span class="input-group-addon copy btn btn-primary"
                      data-clipboard-target="#outPut-3">Copy to Clipboard</span>
            </div>
        </div>
        <div class="card-block">
            <div class="form-group">
                <textarea class="form-control" id="outPut-4" rows="6"
                          placeholder="Comments"></textarea>
                <span class="input-group-addon copy btn btn-primary"
                      data-clipboard-target="#outPut-4">Copy to Clipboard</span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
{{> page-modals/combined-report}}
{{> page-modals/new-case-reference}}
{{> page-partials/history-module}}
</div>
<!--end container wrapper-->

<!--

{"specificScripts":
[
"/json/json-sjogrens.js",
"/js/gi-path/sjogrens-scripts.js",
]
}

-->