<!-- from surgpath/index.php -->

<div class="container-fluid">
<!-- Breadcrumbs nav header -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Home</a>
		</li>
		<li class="breadcrumb-item">
				Surgical Pathology Tools
		</li>
		<li class="breadcrumb-item active">
			<i class="fa fa-tags mr-2"></i>
			Surgical Pathology Snippets
		</li>
	</ol>

 {{> message-center this}}

<!-- end breadcrumb container-fluid -->
</div>
<!-- <div class="row">
	<div class="card mb-3">
		<div class="card-header bg-info">
-->

<!-- new snippet button that triggers modal -->
<div class="container-fluid">
	<div class="row">
		<div class="col col-md-12">
			<button
				class="btn btn-default btn-block"
				data-target="#addnew"
				data-toggle="modal"
				id="openhelp"
				type="button"
			>
				Add new snippet
			</button>
<!-- end new snippet btn col -->
		</div>
<!-- end new snippet btn row -->
	</div>
<!-- end first container-fluid -->
</div>

<div class="container-fluid">
	<div class="row">
<!-- left hand column-->
		<div class="col col-sm-8" id="bottom-l">
<!-- search, upper left left column-->
			<div class="card">
				<div class="card-header">
					<h5>Search for snippets</h5>
<!-- end card header -->
				</div>
				<div class="card-block">
					<form id="doSearch">
						<input class="form-control" name="search" id="search" />
						<!-- <input type="hidden" name="doSearch" value="1" /> -->
						<button class="btn btn-outline-primary p-1" type="submit" >
							Submit
						</button>
					</form>
<!-- end card block -->
				</div>
<!-- end card -->
			</div>
<!-- results card -->
			<div class="card mt-4">
				<div class="card-header bg-warning">
					<h5>Results</h5>
<!-- end card header -->
				</div>
				<div class="card-block">
					<div  id="table-wrapper">
						<div id="table-scroll">
							<!-- <input type="hidden" id="setHere" /> -->
							<table class="table searchresults">
								<tr>
									<th>Specimen Class</th>
									<th>Keywords</th>
									<th></th>
								</tr>
							</table>
<!-- end table scroll-->
						</div>
<!-- end table wrapper-->
					</div>
<!-- end card block -->
				</div>
<!-- end card -->
			</div>
<!-- end left hand column -->
		</div>

<!-- begin right hand column -->
		<div class="col col-sm-4" id="bottom-r">
			<div class="card text-center">
				<div class="card-header button-box">
						<ul class="nav nav-pills standard-button-box">
								<a class="btn btn-lg btn-outline-info p-2 updateit" id="saveAsSnippet">
										<small>Save As</small>
								</a>
								<a class="btn btn-lg btn-outline-info p-2" id="writeReport">
										<small>Write Report</small>
								</a>
						</ul>
				</div>
				<div class="card-block">
					{{> page-partials/case-reference}}
					<input hidden type="text" id="user-holder" />
					<input hidden type="text" id="class-holder" />
					<input hidden type="text" id="keyword-holder" />
					<input hidden type="text" id="entry_id-holder" />
					<div class="form-group">
						<textarea class="form-control" id="outPut-1" rows="12" placeholder="Micro"></textarea>
						<button class="input-group-addon copy btn btn-primary" data-clipboard-target="#outPut-1" type="button">
							Copy to Clipboard
						</button>
<!-- end first textarea form group -->
					</div>
<!-- end first textarea card block -->
				</div>
				<div class="card-block">
					<div class="form-group">
						<textarea class="form-control" id="outPut-2" rows="6" placeholder="Finals"></textarea>
						<button class="input-group-addon copy btn btn-primary" data-clipboard-target="#outPut-2" type="button">
							Copy to Clipboard
						</button>
<!-- end second textarea form group -->
					</div>
<!-- end second textarea card block -->
				</div>
				<div class="card-block">
					<div class="form-group">
						<textarea class="form-control" id="outPut-4" rows="6" placeholder="Comments"></textarea>
						<button class="input-group-addon copy btn btn-primary" data-clipboard-target="#outPut-4" type="button">
							Copy to Clipboard
						</button>
<!-- end third textarea form group -->
					</div>
<!-- end third textarea card block -->
				</div>
<!-- end card -->
			</div>
<!-- end right hand column -->
		</div>

<!-- end row -->
	</div>
	{{> page-partials/history-module}}
<!-- end container-fluid -->
</div>

<!-- somewhere -->

<!-- new snippet modal -->
{{> page-modals/surg-path/new-snippet-modal}}
{{> page-modals/new-case-reference}}

<!-- TODO: scripts to include: /vendor/tag-it/tag-it.min.js and /js/surg-path/snippets-scripts.js -->
