<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb h5">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active"><i class="fa fa-balance-scale mr-2"></i>Stillbirth Autopsy Weights and Measurements</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/autopsy-howto}}

    <div class="row">
        <div class="col col-md-8">
            <hr class="p-2" >
            <h5>Gender</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>male</option>
                <option>female</option>
            </select>

            <hr class="p-2" >
            <h5>Age</h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option data-type="stillb">12wk</option>
                <option data-type="stillb">13wk</option>
                <option data-type="stillb">14wk</option>
                <option data-type="stillb">15wk</option>
                <option data-type="stillb">16wk</option>
                <option data-type="stillb">17wk</option>
                <option data-type="stillb">18wk</option>
                <option data-type="stillb">19wk</option>
                <option data-type="stillb">20wk</option>
                <option data-type="stillb">21wk</option>
                <option data-type="stillb">22wk</option>
                <option data-type="stillb">23wk</option>
                <option data-type="stillb">24wk</option>
                <option data-type="stillb">25wk</option>
                <option data-type="stillb">26wk</option>
                <option data-type="stillb">27wk</option>
                <option data-type="stillb">28wk</option>
                <option data-type="stillb">29wk</option>
                <option data-type="stillb">30wk</option>
                <option data-type="stillb">31wk</option>
                <option data-type="stillb">32wk</option>
                <option data-type="stillb">33wk</option>
                <option data-type="stillb">34wk</option>
                <option data-type="stillb">35wk</option>
                <option data-type="stillb">36wk</option>
                <option data-type="stillb">37wk</option>
                <option data-type="stillb">38wk</option>
                <option data-type="stillb">39wk</option>
                <option data-type="stillb">40wk</option>
                <option data-type="stillb">41wk</option>
                <option data-type="stillb">42wk</option>
                <option data-type="stillb">43wk</option>
                <option data-type="stillb">44wk</option>
                <option data-type="infant"> 1m </option>
                <option data-type="infant"> 2m </option>
                <option data-type="infant"> 3m </option>
                <option data-type="infant"> 4m </option>
                <option data-type="infant"> 5m </option>
                <option data-type="infant"> 6m </option>
                <option data-type="infant"> 7m </option>
                <option data-type="infant"> 8m </option>
                <option data-type="infant"> 9m </option>
                <option data-type="infant"> 10m </option>
                <option data-type="infant"> 11m </option>
                <option data-type="infant"> 12m </option>
                <option data-type="adult"> 1yr</option>
                <option data-type="adult"> 2yr</option>
                <option data-type="adult"> 3yr</option>
                <option data-type="adult"> 4yr</option>
                <option data-type="adult"> 5yr</option>
                <option data-type="adult"> 6yr</option>
                <option data-type="adult"> 7yr</option>
                <option data-type="adult"> 8yr</option>
                <option data-type="adult"> 9yr</option>
                <option data-type="adult"> 10yr</option>
                <option data-type="adult"> 11yr</option>
                <option data-type="adult"> 12yr</option>
                <option data-type="adult"> 13yr</option>
                <option data-type="adult"> 14yr</option>
                <option data-type="adult"> 15yr</option>
                <option data-type="adult"> 16yr</option>
                <option data-type="adult"> 17yr</option>
                <option data-type="adult"> 18yr</option>
                <option data-type="adult" value='19yr'> Adult </option>
            </select>


            <hr class="p-2">
            <div class="card-head h5">
                <span class="stillb">Fetal weights</span>
                <span class="infant">Infant weights</span>
                <span class="nonstillb" style="display: none;">Weights</span>
                
                and measurements</div>
                <table class="table table-hover">
                    <tr>
                        <th class="thead-default">
                            <span class="stillb">Fetal weights</span>
                            <span class="infant">Infant weights</span>
                            <span class="nonstillb" style="display: none;">Weights</span>
                            (grams)</th>
                        <th></th>
                        <th class="thead-default">
                            <span class="stillb">Fetal measurements</span>
                            <span class="infant">Infant measurements</span>
                        </th>
                    </tr>
                    <tr>
                        <td>Body <span class="nonstillb" style="display: none;"> kg </span></td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="1" id="box10" ></td>
                        <td class="meas">Crown-heel</td>
                        <td class="meas"><input class="form-control form-control-sm"  type='text' tabindex="15" id="box30"></td>
                    </tr>
                    <tr>
                        <td>Heart</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="2" id="box11"></td>
                        <td class="meas">Crown-rump</td>
                        <td class="meas"><input class="form-control form-control-sm"  type='text' tabindex="16" id="box31"></td>
                    </tr>
                    <tr>
                        <td>R Lung</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="3" id="box12"></td>
                        <td class="meas">Head circ</td>
                        <td class="meas"><input class="form-control form-control-sm"  type='text' tabindex="17" id="box32"></td>
                    </tr>
                    <tr>
                        <td>L Lung</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="4" id="box13"></td>
                        <td class="meas">Chest circ</td>
                        <td class="meas"><input class="form-control form-control-sm"  type='text' tabindex="18" id="box33"></td>
                    </tr>
                    <tr>
                        <td>Liver</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="5" id="box14"></td>
                        <td class="meas">Abdomen circ</td>
                        <td class="meas"><input class="form-control form-control-sm"  type='text' tabindex="19" id="box34"></td>
                    </tr>
                    <tr>
                        <td>R Kidney</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="6" id="box15"></td>
                        <td class="meas">Foot length</td>
                        <td class="meas"><input class="form-control form-control-sm"  type='text' tabindex="20" id="box35"></td>
                    </tr>
                    <tr>
                        <td>L Kidney</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="7" id="box16"></td>
                        <td class="meas">Inner canthal dist</td>
                        <td class="meas"><input class="form-control form-control-sm"  type='text' tabindex="21" id="box36"></td>
                    </tr>
                    <tr>
                        <td>R Adrenal</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="8" id="box17"></td>
                        <td class="meas">Outer canthal dist</td>
                        <td class="meas"><input class="form-control form-control-sm"  type='text' tabindex="22" id="box37"></td>
                    </tr>
                    <tr>
                        <td>L Adrenal</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="9" id="box18"></td>
                        <td class="meas">Pupil diamter (mm)</td>
                        <td class="meas"><input class="form-control form-control-sm"  type='text' tabindex="23" id="box38"></td>
                    </tr>
                    <tr>
                        <td>Gonads
                            <span class="stillb"> (cm)</span>
                            <span class="infant" style="display: none;"> (gr)</span>
                            <span class="nonstillb" style="display: none;"> (gr)</span>
                        </td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="10" id="box19"></td>
                        <td>Heart - TV circ</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="24" id="box39"></td>
                    </tr>
                    <tr>
                        <td class="meas">Thymus</td>
                        <td class="meas"><input class="form-control form-control-sm"  type='text' tabindex="11" id="box20"></td>
                        <td>Heart - PV circ</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="25" id="box40"></td>
                    </tr>
                    <tr>
                        <td>Spleen</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="12" id="box21"></td>
                        <td>Heart - MV circ</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="26" id="box41"></td>
                    </tr>
                    <tr>
                        <td>Brain</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="13" id="box22"></td>
                        <td>Heart - AV circ</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="27" id="box42"></td>
                    </tr>
                    <tr>
                        <td ><span class="stillb">Placenta</span></td>
                        <td ><input class="form-control form-control-sm stillb"  type='text' tabindex="14" id="box23"></td>
                        <td>RV thickness</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="28" id="box43"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>LV thickness</td>
                        <td><input class="form-control form-control-sm"  type='text' tabindex="29" id="box44"></td>
                    </tr>
                </table>


            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/autopsy-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
