<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Bladder Biopsy or TURBT</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2">
            <h5>Procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Biopsy</option>
                <option>TURBT</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Tumor Site</h5>
            <select multiple id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Trigone</option>
                <option>Right lateral wall</option>
                <option>Left lateral wall</option>
                <option>Anterior wall</option>
                <option>Posterior wall</option>
                <option>Dome</option>
                <option>Other</option>
                <option>Cannot be determined</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box2_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Histologic Type</h5>
            <select multiple id="box4" class='form-control selectpicker form-control-sm col-sm-10'>
                <optgroup label="Urothelial">
                    <option>Papillary Urothelial carcinoma, noninvasive</option>
                    <option>Papillary Urothelial carcinoma, invasive</option>
                    <option>Urothelial carcinoma in situ</option>
                    <option>Urothelial carcinoma, invasive</option>
                    <option>Urothelial carcinoma, nested (including large nested) variant</option>
                    <option>Urothelial carcinoma, microcystic variant</option>
                    <option>Urothelial carcinoma, micropapillary variant</option>
                    <option>Urothelial carcinoma, lymphoepithelioma-like variant</option>
                    <option>Urothelial carcinoma, plasmacytoid / signet ring / diffuse variant</option>
                    <option>Urothelial carcinoma, sarcomatoid variant</option>
                    <option>Urothelial carcinoma, giant cell variant</option>
                    <option>Urothelial carcinoma, poorly differentiated variant</option>
                    <option>Urothelial carcinoma, lipid-rich variant</option>
                    <option>Urothelial carcinoma, clear cell variant</option>
                    <option>Urothelial carcinoma with squamous differentiation</option>
                    <option>Urothelial carcinoma with glandular differentiation</option>
                    <option>Urothelial carcinoma with trophoblastic differentiation</option>
                    <option>Urothelial carcinoma with Mϋllerian differentiation</option>
                </optgroup>
                <optgroup label="Squamous">
                    <option>Pure Squamous cell carcinoma</option>
                    <option>Verrucous (Squamous cell) carcinoma</option>
                    <option>Squamous cell carcinoma in situ only</option>
                </optgroup>
                <optgroup label="Glandular">
                    <option>Adenocarcinoma</option>
                    <option>Adenocarcinoma, enteric</option>
                    <option>Adenocarcinoma, mucinous</option>
                    <option>Adenocarcinoma, mixed</option>
                    <option>Adenocarcinoma in situ only</option>
                </optgroup>
                <optgroup label="Mϋllerian Type">
                    <option>Clear cell carcinoma</option>
                    <option>Endometrioid carcinoma</option>
                </optgroup>
                <optgroup label="Neuroendocrine Tumors">
                    <option>Small cell neuroendocrine carcinoma</option>
                    <option>Large cell neuroendocrine carcinoma</option>
                    <option>Well-differentiated neuroendocrine carcinoma</option>
                </optgroup>
                <option>Other histologic type</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box4_2' style='display:none;'
                   placeholder='Specify Other'>


            <div class="uro-grade-1" style="display: none;">
                <hr class="p-2">
                <h5>Histologic Grade - For urothelial carcinoma, other variants, or divergent differentiation</h5>
                <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Low grade</option>
                    <option>High grade</option>
                    <option>Other</option>
                    <option selected>Not applicable</option>
                </select>

                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2' style='display:none;'
                       placeholder='Specify Other'>
            </div>


            <div class="uro-grade-2" style="display: none;">
                <hr class="p-2">

                <h5>Histologic Grade - For squamous cell carcinoma or adenocarcinoma</h5>
                <select id="box7" class='form-control selectpicker form-control-sm col-sm-10'>
                    <option>G1: Well differentiated</option>
                    <option>G2: Moderately differentiated</option>
                    <option>G3: Poorly differentiated</option>
                    <option>GX: Cannot be assessed</option>
                    <option>Other</option>
                    <option>Not applicable</option>
                    <option>Cannot be assessed</option>
                    <option selected>Not applicable</option>
                </select>

                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_2' style='display:none;'
                       placeholder='Specify Other'>
            </div>


            <hr class="p-2">
            <h5>Muscularis Propria Presence</h5>
            <select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No muscularis propria (detrusor muscle) identified</option>
                <option>Muscularis propria (detrusor muscle) present</option>
                <option>Cannot be determined</option>
            </select>



            <hr class="p-2">
            <h5>Tumor Extension</h5>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-10'>
                <option>Noninvasive papillary carcinoma</option>
                <option>Flat carcinoma in situ</option>
                <option>Tumor invades lamina propria (subepithelial connective tissue)</option>
                <option>Tumor invades muscularis propria</option>
                <option>Urothelial carcinoma involving prostatic urethra in prostatic chips sampled by TURBT</option>
                <option>Urothelial carcinoma involving prostatic ducts and acini in prostatic chips sampled by TURBT</option>
                <option>Urothelial carcinoma invasive into prostatic stroma in prostatic chips sampled by TURBT</option>
                <option>Cannot be assessed</option>
            </select>


            <hr class="p-2">
            <h5>Lymphovascular Invasion</h5>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>


            <hr class="p-2">
            <h5>Pathologic Staging (pTNM)</h5>
            <!-- Button trigger modal -->
            <button class="btn btn-sm btn-info mb-3 " data-toggle="modal" data-target="#help_blad_stage">Click for
                information on depth of invasion
            </button>


            <h6>TNM Descriptors (select all that apply)</h6>
            <select id="box12" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                <option selected value="Not applicable">Not applicable</option>
                <option>m</option>
                <option>r</option>
                <option>y</option>
            </select>
            <h6 class="mt-2">pT             <!-- Button trigger modal -->
                <button class="btn btn-sm btn-info ml-4 mt-2" data-toggle="modal" data-target="#help_blad-tnm">Staging
                    diagram
                </button>
            </h6>
            <select id="box13" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pTX">pTX: Primary tumor cannot be assessed</option>
                <option value="pT0">pT0: No evidence of primary tumor</option>
                <option value="pTa">pTa: Noninvasive papillary carcinoma</option>
                <option value="pTis">pTis: Urothelial carcinoma in situ: “flat tumor”</option>
                <option value="pT1">pT1: Tumor invades lamina propria (subepithelial connective tissue)</option>
                <option value="pT2">pT2: Tumor invades muscularis propria</option>
            </select>


            <h6 class='mt-2'>pN</h6>
            <select id="box14" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pNX">pNX: Lymph nodes cannot be assessed</option>
                <option value="pN0">pN0: No lymph node metastasis</option>
            </select>


            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>


<!--
			"specificScripts":
				[
					"/js/cap/$-scripts.js",
				]
		 -->