<div class="container-fluid">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
				<li class="breadcrumb-item">
						<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>CAP Cancer Checklist</li>
				<li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Bone Tumor Biopsies</li>
		</ol> 

 {{> message-center this}} 


		{{> page-partials/cap-header}}

	<div class="row">
		<div class="col col-md-8">

	<h5>Specimen, Specify bone involved(if known)</h5>
	Side:<br>
	<select class="form-control form-control-sm " id="box0">
	<option selected>Not specified</option>
	<option> Right</option>
	<option> Left</option>
	<option> Midline</option>
	</select>
	<br>
	Site:<small>Start typing the name of the bone and select from the list</small><br>
	<input class="form-control form-control-sm " id="box1" size="25">

<hr>

	<h5>Procedure</h5>
	<select class="form-control form-control-sm " id="box2">
	<option selected> Core needle biopsy</option>
	<option> Curettage</option>
	<option> Excisional biopsy</option>
	<option> Other:</option>
	<option> Not specified</option>
	<input class="form-control form-control-sm " type="text" id="box2_2" style="display:none" placeholder='Specify other procedure' >
	</select>

<hr>

	<h5>Tumor Site (select all that apply)</h5>
	<select class="form-control form-control-sm " id="box3" multiple>
	<option selected> Epiphysis or apophysis</option>
	<option> Metaphysis</option>
	<option> Diaphysis</option>
	<option> Cortex</option>
	<option> Medullary cavity</option>
	<option> Surface </option>
	<option> Tumor involves joint</option>
	<option> Tumor extension into soft tissue</option>
	<option> Cannot be determined</option>
	</select>

<hr>

	Greatest dimension of main tumor mass (cm):<br>
	<input class="form-control form-control-sm " id="box4" style="width:150px" placeholder="Cannot be assessed">

<hr>

	<h5>Histologic Type (select all that apply):</h5>
	<input class="form-control form-control-sm " id="box5" size=60 type='text'><br>

<hr>

	<h5> + Mitotic Rate </h5>
	Specify:<input class="form-control form-control-sm " id="box6" style="width:25px" placeholder="0">/10 high-power fields<br>
	<small>note: 1 HPF = 400x field (10x ocular and 40x objective)</small>

<hr>

	<h5>Necrosis </h5>
	<select class="form-control form-control-sm " id="box7">
	<option selected> Not identified</option>
	<option> Present</option>
	<option> Cannot be determined</option>
	</select>
	<input class="form-control form-control-sm " type="text" id="box7_2" style="display:none" placeholder='Extent of necrosis (%)' >

<hr>

	<h5>Histologic Grade </h5>
	<select class="form-control form-control-sm " id="box8">
	<option selected> Low-grade </option>
	<option> Intermediate-grade </option>
	<option> High-grade </option>
	<option> Cannot be determined</option>
	</select>

<hr>

	<h5>+ Lymph-Vascular Invasion </h5>
	<select class="form-control form-control-sm " id="box9">
	<option selected> Not identified</option>
	<option> Present</option>
	<option> Indeterminate</option>
	</select>

<hr>

	<h5>+ Additional Pathologic Findings</h5>
	<input class="form-control form-control-sm " id="box10" placeholder="Enter any additional findings here">

<hr>

	<h5>Ancillary Studies</h5>
	<small> The following are required only if applicable; and will not be included in the summary unless you enter a new value</small>

<hr>

	<h5>Immunohistochemistry </h5>
	<input class="form-control form-control-sm " type="text" id="box11" size=60 placeholder="None performed">

<hr>

	<h5>Cytogenetics</h5>
	<select class="form-control form-control-sm " id="box12">
	<option selected> Not performed</option>
	<option> Karyotype pending</option>
	<option> Karyotype & FISH pending</option>
	<option> FISH pending</option>
	<option> Complex abnormal karyotype detected</option>
	<option> Translocation detected</option>
	<option> Normal karyotype</option>
	<input class="form-control form-control-sm " type="text" id="box12_2" style="display:none" placeholder='Specify translocation' >
	</select>

<hr>

	<h5>Molecular Pathology</h5>
	<input class="form-control form-control-sm " type="text" id="box13" placeholder='Specify molecular testing, if performed'>

<hr>

	<h5>Radiographic Findings (if available)</h5>
	<input class="form-control form-control-sm " type="text" id="box14" placeholder="Describe radiographic findings here" value="Not available">

<hr>

<!-- close column -->
		</div>
		{{> page-partials/cap-footer}}
<!-- close row -->
	</div>
<!-- close container -->
</div>

<!--
"specificScripts":
	[
		"../js/cap/bonebx-scripts.js",
	]
-->
