<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i><a href="/cap/checklist">Cancer Synoptic Checklists</a></li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Breast - Invasive Carcinoma resections</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2" >
            <h5>Procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="Excision">Excision (or subtotal mastectomy)</option>
                <option>Total mastectomy </option>
                <option>Nipple sparing mastectomy </option>
                <option>Modified radical mastectomy </option>
                <option>Radical mastectomy </option>
                <option>Other</option>
                <option>Not specified</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2" >
            <h5>Specimen Laterality</h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Right</option>
                <option>Left</option>
                <option>Not specified</option>
            </select>





            <hr class="p-2" >
            <h5>Tumor Size
            </h5>
            <div class="py-2">
                <button class="btn btn-sm p-1 btn-info ml-2" data-placement="top" data-toggle="tooltip"
                        title="For any carcinoma larger than 1.0 mm but less than 1.5 mm,
               the size should not be rounded down to 1.0 mm, but rather rounded up to 2.0 mm,
               to ensure that the tumor is not miscategorized as pT1mi." aria-hidden="true">
                    A note about small tumor size (1-1.5 mm)</button>

                <button class="btn btn-sm p-1 btn-primary ml-2" data-placement="top" data-toggle="tooltip"
                        title="If there has been a prior core needle biopsy or incisional biopsy showing a larger area of invasion than in the excisional specimen, the largest dimension of the invasive carcinoma in the prior specimen should be used for T classification, if known. The size of the largest foci in the two specimens should not be added together." aria-hidden="true">
                    A note about size after prior needle biopsy</button>
            </div>
            <select id="box3" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Microinvasion only (≤1 mm)</option>
                <option data-size="measurable">Size > 1 mm</option>
                <option>No residual invasive carcinoma</option>
                <option>Size of largest invasive focus cannot be determined </option>
            </select>

            <input type="number" class="form-control form-control-sm mt-3 col-sm-6" id='box3_2' style='display:none;' placeholder='Specify size (mm)'>



            <hr class="p-2" >
            <h5>Histologic Type</h5>
            <select id="box100" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Invasive ductal carcinoma of no special type </option>
                <option>Micro-invasive carcinoma</option>
                <option>Invasive lobular carcinoma</option>
                <option>Invasive carcinoma with lobular features</option>
                <option>Invasive carcinoma with ductal and lobular features (“mixed type carcinoma”)</option>
                <option>Mucinous carcinoma</option>
                <option>Tubular carcinoma</option>
                <option>Invasive cribriform carcinoma</option>
                <option>Invasive micropapillary carcinoma</option>
                <option>Solid papillary carcinoma with invasion</option>
                <option>Apocrine adenocarcinoma</option>
                <option>Metaplastic carcinoma</option>
                <option>Encapsulated papillary carcinoma with invasion</option>
                <option>Intraductal papillary adenocarcinoma with invasion</option>
                <option>Adenoid cystic carcinoma</option>
                <option>Neuroendocrine tumor</option>
                <option>Neuroendocrine carcinoma</option>
                <option>Invasive carcinoma, type cannot be determined</option>
                <option>No residual invasive carcinoma</option>
                <option>Other histologic type</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box100_2' style='display:none;' placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Histologic Grade</h5>
            <div class="py-2 w-100 ml-2"></div>
            <div class="ml-3">
                <h6>Glandular/Tubular Differentiation</h6>
                <select id="box101" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option data-t="1" value="Score 1">Score 1 (>75% of tumor area forming glandular/tubular structures)</option>
                    <option data-t="2" value="Score 2">Score 2 (10% to 75% of tumor area forming glandular/tubular structures)</option>
                    <option data-t="3" value="Score 3">Score 3 (<10% of tumor area forming glandular/tubular structures)</option>
                    <option data-t="10">Only microinvasion present (not graded)</option>
                    <option data-t="10">No residual invasive carcinoma</option>
                    <option data-t="10">Score cannot be determined</option>
                </select>

                <div class="py-2 w-100"></div>
                <h6>Nuclear Pleomorphism</h6>
                    <select id="box102" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option data-n="1" value="Score 1">Score 1 </option>
                        <option data-n="2" value="Score 2">Score 2 </option>
                        <option data-n="3" value="Score 3">Score 3 </option>
                        <option data-n="10">Only microinvasion present (not graded)</option>
                        <option data-n="10">No residual invasive carcinoma</option>
                        <option data-n="10">Score cannot be determined</option>
                    </select>

                    <div class="py-2 w-100"></div>
                    <h6>Mitotic Rate
                    <!-- Button trigger modal -->
                    <button class="btn btn-sm btn-info ml-2 p-1"  data-toggle="modal" data-target="#help_mites">
                        A word about scoring mitoses - reference table</button>

                    <!-- Histology help Modal -->
                    {{> page-modals/cap-helpers/breast-mitosis}}

                    </h6>
                        <select id="box103" class='form-control selectpicker form-control-sm col-sm-6'>
                            <option data-m="1" value="Score 1">Score 1 (see reference table) </option>
                            <option data-m="2" value="Score 2">Score 2 (see reference table)</option>
                            <option data-m="3" value="Score 3">Score 3 (see reference table)</option>
                            <option data-m="10">Only microinvasion present (not graded)</option>
                            <option data-m="10">No residual invasive carcinoma</option>
                            <option data-m="10">Score cannot be determined</option>
                        </select>

                        <div class="py-2 w-100"></div>
                        <h6>+ Number of mitoses per 10 high-power fields</h6>
                            <input type="number" class="form-control form-control-sm col-sm-6 opt" id="box104">
                    </div>

            <hr class="p-2" >
            <h5>Overall Grade is automatically calculated based on the Nottingham selections above </h5>

            <hr class="p-2" >
            <h5>+ Tumor Focality</h5>
            <select id="box105" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option></option>
                <option>Single focus of invasive carcinoma</option>
                <option>Multiple foci of invasive carcinoma</option>
                <option>Cannot be determined</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box105_2' style='display:none;' placeholder='Specify # of additional foci and their sizes'>


            <hr class="p-2" >
            <h5>Ductal Carcinoma In Situ
          <!-- Button trigger modal -->
          <button class="btn btn-sm btn-info ml-2 p-1"  data-toggle="modal" data-target="#help_eic">About extensive intraductal carcinoma</button>

          <!-- Histology help Modal -->
          {{> page-modals/cap-helpers/breast-eic}}


            </h5>
            <select id="box106" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No DCIS in specimen</option>
                <option>DCIS is present in specimen</option>
                <option>DCIS is present in specimen, without extensive intraductal component</option>
                <option>DCIS is present in specimen, with extensive intraductal component</option>
                <option>Only DCIS is present after presurgical (neoadjuvant) therapy</option>
            </select>

            <div class="py-2 w-100"></div>

            <div class="dcis py-2 ml-3" style="display: none;">
                <h6>+ Estimated size (extent) of DCIS (mm)</h6>
                <input type="number" class="form-control form-control-sm col-sm-6 opt" id="box4_0" placeholder="">

                <div class="py-2 w-100"></div>

                <h6>+ Number of blocks with DCIS:</h6>
                <input type="number" class="form-control form-control-sm col-sm-6 opt" id="box4_1" placeholder="">

                <div class="py-2 w-100"></div>

                <h6>+ Number of blocks examined</h6>
                <input type="number" class="form-control form-control-sm col-sm-6 opt" id="box4_2" placeholder="">


                <div class="py-2 w-100"></div>

                <h6>+ Architectural Patterns</h6>
                <select multiple id="box5" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                    <option>Comedo</option>
                    <option>Paget disease (DCIS involving nipple skin)</option>
                    <option>Cribriform</option>
                    <option>Micropapillary</option>
                    <option>Papillary</option>
                    <option>Solid</option>
                    <option>Other</option>
                </select>

                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box5_2' style='display:none;' placeholder='Specify Other'>



                <div class="py-2 w-100"></div>

                <h6>Nuclear Grade</h6>
                <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Grade I (low)</option>
                    <option>Grade II (intermediate)</option>
                    <option>Grade III (high)</option>
                </select>


                <div class="py-2 w-100"></div>

                <h6>Necrosis</h6>
                <select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Not identified</option>
                    <option>Present, focal</option>
                    <option>Present, central </option>
                </select>


            </div>
            <!-- end dcis-->

            <hr class="p-2" >
            <h5>+ LCIS in specimen</h5>
            <select id="box130" class='form-control selectpicker form-control-sm col-sm-6'>
                <option></option>
                <option>No LCIS in specimen</option>
                <option>Present</option>
            </select>

            <hr class="p-2" >
            <h5>Tumor Extension</h5>
            <select id="box107" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No skin, nipple or skeletal muscle involvement</option>
                <optgroup label="Skin">
                <option>Invasive carcinoma directly invades into the dermis or epidermis without skin ulceration</option>
                <option>Invasive carcinoma directly invades into the dermis or epidermis with skin ulceration</option>
                <option>Satellite skin foci of invasive carcinoma are present</option>
                </optgroup>
                <optgroup label="Nipple">
                <option>DCIS involves nipple epidermis</option>
                </optgroup>
                <optgroup label="Skeletal muscle">
                <option>Carcinoma invades skeletal muscle</option>
                <option>Carcinoma invades into skeletal muscle and into the chest wall</option>
                </optgroup>
                <option selected>Not applicable</option>
            </select>



            <hr class="p-2" >
            <h5>Margins - Invasive carcinoma</h5>

            <select id="box108" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by invasive carcinoma</option>
                <option>Involved by invasive carcinoma</option>
            </select>

            <input type="text" class="form-control form-control-sm col-sm-6" id='box108_1' style='display:none;' placeholder='Specify closest margin'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box108_2' style='display:none;' placeholder='Specify distance of invasive tumor from margin (mm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box108_3' style='display:none;' placeholder='Specify involved margin'>
            <div class="py-2 w-100"></div>

            <div class="margins-inv ml-5" style="display: none;">
                <button class="btn btn-sm btn-success p-1" type="button" data-toggle="collapse" data-target="#invmargin" aria-expanded="false">
                    Do you want to list distance of invasive tumor to all margins in the synoptic?
                </button>

                <div class="py-2 w-100"></div>
                <div id="invmargin" class="collapse">
                    <div class="py-2 w-100"></div>
                    <h6>Enter values for margins you wish to list, or leave blank if you don't want to list a particular margin</h6>
                    <h6>Enter "0" to indicate that margin is involved</h6>

                    <div class="py-2 w-100"></div>
                    <h6  >
                        Distance of invasive tumor from superior margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box109_1" placeholder="enter 0, if margin is involved">

                    <div class="py-2 w-100"></div>

                    <h6  >
                        Distance of invasive tumor from inferior margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box109_2" placeholder="enter 0, if margin is involved">

                    <div class="py-2 w-100"></div>

                    <h6  >
                        Distance of invasive tumor from medial margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box109_3" placeholder="enter 0, if margin is involved">

                    <div class="py-2 w-100"></div>

                    <h6  >
                        Distance of invasive tumor from lateral margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box109_4" placeholder="enter 0, if margin is involved">

                    <div class="py-2 w-100"></div>

                    <h6  >
                        Distance of invasive tumor from anterior margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box109_5" placeholder="enter 0, if margin is involved">

                    <div class="py-2 w-100"></div>

                    <h6  >
                        Distance of invasive tumor from posterior margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box109_6" placeholder="enter 0, if margin is involved">

                </div>
            </div>



            <hr class="p-2" >
            <h5>Margins - DCIS</h5>

            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by in-situ carcinoma</option>
                <option>Involved by in-situ carcinoma</option>
            </select>

            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_1' style='display:none;' placeholder='Specify closest margin'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_2' style='display:none;' placeholder='Specify distance from margin (mm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_3' style='display:none;' placeholder='Specify involved margin'>

            <div class="py-2 w-100"></div>
            <div class="margins ml-5" style="display: none;">
                <button class="btn btn-sm btn-success p-1" type="button" data-toggle="collapse" data-target="#dcismargin" aria-expanded="false">
                    Do you want to list distance of DCIS to all margins in the synoptic?
                </button>

                <div class="py-2 w-100"></div>

                <div id="dcismargin" class="collapse">
                    <h6>Enter values for margins you wish to list, or leave blank if you don't want to list a particular margin</h6>
                    <h6>Enter "0" to indicate that margin is involved</h6>

                    <div class="py-2 w-100"></div>

                    <h6 >
                        Distance of DCIS from superior margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box9_1" placeholder="enter 0, if margin is involved">

                    <div class="py-2 w-100"></div>

                    <h6  >
                        Distance of DCIS from inferior margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box9_2" placeholder="enter 0, if margin is involved">

                    <div class="py-2 w-100"></div>

                    <h6  >
                        Distance of DCIS from medial margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box9_3" placeholder="enter 0, if margin is involved">

                    <div class="py-2 w-100"></div>

                    <h6  >
                        Distance of DCIS from lateral margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box9_4" placeholder="enter 0, if margin is involved">

                    <div class="py-2 w-100"></div>

                    <h6  >
                        Distance of DCIS from anterior margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box9_5" placeholder="enter 0, if margin is involved">

                    <div class="py-2 w-100"></div>

                    <h6  >
                        Distance of DCIS from posterior margin (mm)</h6>
                    <input type="number" class="form-control form-control-sm col-sm-4 opt" id="box9_6" placeholder="enter 0, if margin is involved">

                </div>
            </div>

            <hr class="py-2">
            <h5>Regional Lymph nodes</h5>
            <form class="form-inline mt-2">
                <label class="form-check-label">Check here if any lymph nodes submitted?
                    <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box14" >
                </label>
            </form>

            <div class="py-2 w-100"></div>

            <div class='lnchk' style='display:none;'>
                <form class="form-inline mt-2 col-8">
                    <label class="m-2">Number of lymph nodes examined:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box15" style="width:100px"></label>
                    <label class="m-2">Number of sentinel nodes examined:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box16" style="width:100px"></label>

                    <label class="m-2">Lymph Nodes with Macrometastases (>2 mm):
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box17" style="width:100px"></label>


                    <label class="m-2">Lymph Nodes with Micrometastases (>0.2 mm to 2 mm and/or >200 cells):
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box18" style="width:100px"></label>

                    <div class="itc" style="display:none;">
                        <label class="m-2">
                            + Lymph Nodes with Isolated Tumor Cells (≤0.2 mm and ≤200 cells):
                            <input type="number" class="form-control form-control-sm col-sm-6 ml-3 opt" id="box19" style="width:100px" placeholder="if applicable">
                        </label>
                    </div>

                    <div class="posnodes" style="display:none;">

                        <label class="mt-2">+ Size of Largest Metastatic Deposit (mm):
                            <input type="number" class="form-control form-control-sm col-sm-6 ml-3 opt" id="box20"> </label>


                        <label class="mt-2">+ Extranodal Extension:
                            <select id="box21" class='form-control selectpicker form-control-sm col-sm-6 ml-3 opt'>
                                <option></option>
                                <option>Not identified</option>
                                <option>Present</option>
                                <option>Cannot be determined</option>
                            </select>
                        </label>
                    </div>

                </form>
            </div>


            <hr class="p-2" >
            <h5>Treatment Effect</h5>
            <div class="py-2">
                <!-- Button trigger modal -->
                <button class="btn btn-sm btn-info ml-2 p-1"  data-toggle="modal" data-target="#help_treatment">A word about measuring post-treatment changes  </button>
                
                <!-- Histology help Modal -->
                {{> page-modals/cap-helpers/breast-post-treatment}}

            </div>
            <select id="box110" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No known presurgical therapy</option>
                <option>No definite response to presurgical therapy in the invasive carcinoma</option>
                <option>Probable or definite response to presurgical therapy in the invasive carcinoma</option>
                <option>No residual invasive carcinoma is present in the breast after presurgical therapy</option>            </select>

            <div class="ml-3" id='box110_2' style='display:none;'>

                <div class="py-2 w-100"></div>

                <h6>Treatment Effect in the Breast</h6>
                <select id="box111" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>No definite response to presurgical therapy in the invasive carcinoma</option>
                    <option>Probable or definite response to presurgical therapy in the invasive carcinoma</option>
                    <option>No residual invasive carcinoma is present in the breast after presurgical therapy</option>
                </select>

                <div class="py-2 w-100"></div>

                <h6>Treatment Effect in the Lymph Nodes</h6>
                <select id="box112" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Not applicable</option>
                    <option>No lymph nodes removed</option>
                    <option>No definite response to presurgical therapy in metastatic carcinoma</option>
                    <option>Probable or definite response to presurgical therapy in metastatic carcinoma</option>
                    <option>No lymph node metastases. Fibrous scarring, possibly related to prior lymph node metastases with pathologic complete response</option>
                    <option>No lymph node metastases and no prominent fibrous scarring in the nodes</option>
                </select>

            </div>

            <hr class="p-2" >
            <h5>+ Lymphovascular Invasion</h5>
            <select id="box113" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option></option>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>


            <hr class="p-2" >
            <h5>Pathologic Staging (pTNM)

            </h5>

            <h6>TNM Descriptors (select all that apply)</h6>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                <option selected value="Not applicable">Not applicable</option>
                <option>m</option>
                <option>r</option>
                <option>y</option>
            </select>
            <div class="py-2 w-100"></div>
            <h6 class='mt-2'>pT</h6>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pT0">pT0: No evidence of primary tumor</option>
                <option value="pTis (DCIS)">pTis (DCIS): Ductal carcinoma in situ</option>
                <option value="pTis (Paget)">pTis (Paget): Paget disease of the nipple not associated with invasive carcinoma and/or DCIS in the underlying breast parenchyma</option>
                <option value="pT1mi">pT1mi: Tumor ≤1 mm in greatest dimension</option>
                <option value="pT1a">pT1a: Tumor >1 mm but ≤5 mm in greatest dimension </option>
                <option value="pT1b">pT1b: Tumor >5 mm but ≤10 mm in greatest dimension</option>
                <option value="pT1c">pT1c: Tumor >10 mm but ≤20 mm in greatest dimension</option>
                <option value="pT2">pT2: Tumor >20 mm but ≤50 mm in greatest dimension</option>
                <option value="pT3">pT3: Tumor >50 mm in greatest dimension</option>
                <option value="pT4a">pT4a: Extension (invasion) to the chest wall</option>
                <option value="pT4b">pT4b: Ulceration and/or ipsilateral macroscopic satellite nodules and/or edema (including peau d’orange) of the skin (not inflammatory carcinoma)</option>
                <option value="pT4c">pT4c: Both T4a and T4b are present</option>
                <option value="pT4d">pT4d: Inflammatory carcinoma</option>
            </select>

            <div class="py-2 w-100"></div>

            <h6 class='mt-2'>pN</h6>
            <div class="py-2">
                <small>pN modifiers</small>
                <select id="box12_0" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option value="sn">(sn) : Sentinel node(s) are evaluated (use this only if <6 total nodes are sampled)</option>
                    <option value="fn">(fn): Nodal metastasis confirmed by fine needle aspiration or core needle biopsy.</option>
                    <option selected>Not applicable</option>
                </select>
            </div>

            <select id="box12" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pNX">pNX: Regional lymph nodes cannot be assessed</option>
                <option value="pN0">pN0: No regional lymph node metastasis identified </option>
                <option value="pN0 (i+)">pN0 (i+): ITCs only (malignant cell clusters no larger than 0.2 mm) in regional lymph node(s)</option>
                <option value="pN0 (mol+)">pN0 (mol+): Positive molecular findings (RT-PCR), but no ITCs detected</option>
                <option value="pN1mi">pN1mi: Micrometastases (larger than 0.2 mm, but none larger than 2.0 mm)</option>
                <option value="pN1a">pN1a: Metastases in 1 to 3 axillary lymph nodes, at least 1 metastasis larger than 2.0 mm</option>
                <option value="pN1b">pN1b: Metastases in ipsilateral internal mammary sentinel nodes, excluding ITCs</option>
                <option value="pN1c">pN1c: pN1a and pN1b combined</option>
                <option value="pN2a">pN2a: Metastases in 4 to 9 axillary lymph nodes (at least 1 tumor deposit larger than 2.0 mm)</option>
                <option value="pN2b">pN2b: Metastases in clinically detected internal mammary lymph nodes with or without microscopic confirmation; with pathologically negative axillary nodes</option>
                <option value="pN3a">pN3a: Metastases in 10 or more axillary lymph nodes (at least 1 tumor deposit larger than 2.0 mm)</option>
                <option value="pN3a">pN3a: Metastases to the infraclavicular (Level III axillary lymph) nodes</option>
                <option value="pN3b">pN3b: pN1a or pN2a in the presence of cN2b</option>
                <option value="pN3b">pN3b: pN2a in the presence of pN1b</option>
                <option value="pN3c">pN3c: Metastases in ipsilateral supraclavicular lymph nodes</option>
            </select>

            <div class="py-2 w-100"></div>


            <h6 class='mt-2'>pM</h6>
            <select id="box13" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected value='pMx'>pMx: Not applicable</option>
                <option value="pM1">pM1: Histologically proven metastases larger than 0.2 mm</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box13_2" style="display:none;" placeholder="Specify metastatic sites">


            <div class="py-2 w-100"></div>




            <hr class="p-2" >
            <h5>- ANCILLARY HORMONE RECEPTOR STUDIES -</h5>
            <div class="ml-3" style="background-color: #d0ecff">
                <h6>
                    Estrogen Receptor Status </h6>
                <select id="box40" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Positive (>10%)</option>
                    <option>Low positive (1-10%)</option>
                    <option>Negative</option>
                    <option>Cannot be determined (indeterminate)</option>
                </select>

                <div class="er ml-5">
                    <div class="py-2 w-100"></div>

                    Specify % positive
                    <input type="text" class="form-control form-control-sm col-sm-3" id='box40_2'  placeholder='% '>

                    <div class="py-2 w-100"></div>

                    Specify staining intensity
                    <select id="box40_3" class='form-control selectpicker form-control-sm col-sm-3'>
                        <option>Weak (1+)</option>
                        <option>Moderate (2+)</option>
                        <option>Strong (3+)</option>
                    </select>

                </div>
                <div class="py-3 w-100"></div>



                <h6>
                    Progesterone Receptor Status</h6>
                <select id="box41" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Positive</option>
                    <option>Negative</option>
                    <option>Cannot be determined (indeterminate)</option>
                </select>

                <div class="pr ml-5">
                    <div class="py-2 w-100"></div>

                    Specify % positive
                    <input type="text" class="form-control form-control-sm col-sm-3" id='box41_2'  placeholder='% '>

                    <div class="py-2 w-100"></div>

                    Specify staining intensity
                    <select id="box41_3" class='form-control selectpicker form-control-sm col-sm-3'>
                        <option>Weak (1+)</option>
                        <option>Moderate (2+)</option>
                        <option>Strong (3+)</option>
                    </select>

                </div>


                <div class="py-3 w-100"></div>


                <h6 >
                    HER2 - IHC </h6>
                <select id="box43" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Negative (Score 0)</option>
                    <option>Negative (Score 1+)</option>
                    <option>Equivocal (Score 2+)</option>
                    <option>Positive (Score 3+)</option>
                    <option>Cannot be determined (indeterminate)</option>
                    <option>Not performed</option>
                    <option selected>Not applicable</option>
                </select>
                <input type="text" class="form-control form-control-sm mt-3 col-sm-8" id='box43_1' style='display:none;' placeholder='Specify % of cells with uniform membrane staining'>


                <div class="py-3 w-100"></div>



                <h6 >
                    HER2 - FISH</h6>
                <select id="box44" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option data-fish="performed">Negative (not amplified)</option>
                    <option data-fish="performed">Positive (amplified) </option>
                    <option data-fish="performed">Cannot be determined (indeterminate)</option>
                    <option>Not performed</option>
                    <option>Pending</option>
                    <option selected>Not applicable</option>
                </select>

                <div class="py-3 w-100"></div>

                <div class="her2f ml-3" style="display: none;">
                    <h6>Number of observers</h6>
                    <input type="text" class="form-control form-control-sm col-sm-6" id="box45_1" value="2">


                    <h6 class="mt-2" >Number of invasive tumor cells counted</h6>
                    <input type="text" class="form-control form-control-sm col-sm-6" id="box45_2" value="200">

                    <div class="py-3 w-100"></div>

                    <h6 >
                        HER2 FISH assay type</h6>
                    <select id="box45_3" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>Dual probe assay</option>
                        <option>Single probe assay</option>
                    </select>

                    <div class="py-3 w-100"></div>

                    <h6 class="mt-2">Average number of HER2 signals per cell:</h6>
                    <input type="text" class="form-control form-control-sm col-sm-6" id="box45_4" placeholder="">

                    <div class="mt-2" id='box45_3_2'  >

                        <h6>Average number of CEP17 signals per cell:</h6>
                        <input type="text" class="form-control form-control-sm col-sm-6" id="box45_5" placeholder="">
                    </div>
                </div>
                <div class="py-2 w-100"></div>

                <h6>
                    Ki67%</h6>
                <input type="number" class="form-control form-control-sm col-sm-6" id="box46" placeholder="% positive nuclei">


                <div class="py-3 w-100"></div>

                <h6>Cold Ischemia and Fixation Times </h6>
                <select id="box47" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Meet requirements specified in latest version of the ASCO/CAP guidelines </option>
                    <option>Do not meet requirements specified in latest version of the ASCO/CAP guidelines</option>
                    <option>Cannot be determined </option>
                </select>
            </div>





            <hr class="p-2" >
            <h5>- BIOMARKER METHODOLOGY -</h5>
            <div class="ml-3 bg-faded">
                <h6>+ Testing Performed on Block (or Prior case) Number(s)</h6>
                <input type="text" class="form-control form-control-sm col-sm-6 opt" id="box50" placeholder="">


                <div class="py-3 w-100"></div>


                <h6>Fixative</h6>
                <select id="box51" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Formalin</option>
                    <option>Other </option>
                </select>

                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box51_2' style='display:none;' placeholder='Specify Other'>


                <div class="py-3 w-100"></div>



                <h6>Estrogen Receptor</h6>
                <select id="box52" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Food and Drug Administration (FDA) cleared </option>
                    <option>Laboratory-developed test</option>
                </select>
                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box52_2'  placeholder='Specify FDA test/vendor'>

                <div class="ml-3" id='box52_3' style='display:none;'>
                    <h6>Primary Antibody Clone</h6>
                    <select id="box52_4" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>SP1</option>
                        <option>6F11</option>
                        <option>1D5</option>
                        <option>Other </option>
                    </select>

                    <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box52_4_2' style='display:none;' placeholder='Specify Other clone'>
                </div>

                <div class="py-3 w-100"></div>

                <h6>Progesterone Receptor</h6>
                <select id="box53" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Food and Drug Administration (FDA) cleared </option>
                    <option>Laboratory-developed test</option>
                </select>
                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box53_2' placeholder='Specify FDA test/vendor'>

                <div class="ml-3" id='box53_3' style='display:none;'>
                    <h6>Primary Antibody Clone</h6>
                    <select id="box53_4" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>1E2</option>
                        <option>636</option>
                        <option>16</option>
                        <option>SP2</option>
                        <option>1A6</option>
                        <option>1294</option>
                        <option>312</option>
                        <option>Other </option>
                    </select>

                    <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box53_4_2' style='display:none;' placeholder='Specify Other clone'>
                </div>

                <div class="py-3 w-100"></div>

                <h6>HER2 (IHC) Receptor - Method</h6>
                <select id="box54" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                    <option></option>
                    <option>Not applicable</option>
                    <option>Food and Drug Administration (FDA) cleared </option>
                    <option>Laboratory-developed test</option>
                </select>
                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box54_2' style='display:none;' placeholder='Specify FDA test/vendor'>

                <div class="ml-3" id='box54_3' style='display:none;'>
                    <h6>Primary Antibody Clone</h6>
                    <select id="box54_4" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                        <option>4B5</option>
                        <option>HercepTest</option>
                        <option>A0485</option>
                        <option>SP3</option>
                        <option>CB11</option>
                        <option>Other </option>
                    </select>

                    <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box54_4_2' style='display:none;' placeholder='Specify Other clone'>
                </div>

                <div class="py-3 w-100"></div>

                <h6>HER2 FISH - Method</h6>
                <select id="box55" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Not applicable</option>
                    <option>Food and Drug Administration (FDA) cleared </option>
                    <option>Laboratory-developed test</option>

                </select>
                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box55_2' style='display:none;' placeholder='Specify FDA test/vendor'>


                <div class="py-3 w-100"></div>



                <h6>+ Image Analysis</h6>
                <select id="box56" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                    <option></option>
                    <option>Not performed</option>
                    <option>Performed </option>
                </select>
                <div class="py-2 w-100"></div>
                <div class="ml-3" id='box56_2' style='display:none;' >
                    <h6>Biomarkers scored by image analysis (select all that apply)</h6>
                    <select multiple id="box56_3" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                        <option>ER</option>
                        <option>PgR</option>
                        <option>HER2 by IHC</option>
                        <option>HER2 (ERBB2) by ISH</option>
                        <option>Ki-67</option>
                    </select>

                </div>
            </div>








            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
