<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Cervical Cancer - Leep or Cone excision</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2">
            <h5>Procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cold knife cone excision</option>
                <option>Loop electrical excision procedure (LEEP)</option>
                <option>Large loop excision of the transformation zone (LLETZ)</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Tumor Size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box2" placeholder="">


            <hr class="p-2">
            <h5>Histologic Type</h5>
            <select id="box3" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Squamous cell carcinoma, NOS</option>
                <option>Squamous cell carcinoma, keratinizing</option>
                <option>Squamous cell carcinoma, nonkeratinizing</option>
                <option>Squamous cell carcinoma, basaloid</option>
                <option>Squamous cell carcinoma, verrucous</option>
                <option>Squamous cell carcinoma, warty</option>
                <option>Squamous cell carcinoma, papillary</option>
                <option>Squamous cell carcinoma, lymphoepithelioma-like</option>
                <option>Squamous cell carcinoma, squamotransitional</option>
                <option>Endocervical adenocarcionoma, usual type</option>
                <option>Mucinous carcinoma, NOS</option>
                <option>Mucinous carcinoma, intestinal type</option>
                <option>Mucinous carcinoma, signet-ring cell type</option>
                <option>Mucinous carcinoma, gastric type</option>
                <option>Villoglandular carcinoma</option>
                <option>Endometrioid carcinoma</option>
                <option>Clear cell carcinoma</option>
                <option>Serous carcinoma</option>
                <option>Mesonephric carcinoma</option>
                <option>Adenocarcinoma admixed with neuroendocrine carcinoma</option>
                <option>Adenosquamous carcinoma</option>
                <option>Adenosquamous carcinoma, glassy cell variant</option>
                <option>Adenoid cystic carcinoma</option>
                <option>Adenoid basal carcinoma</option>
                <option>Small cell neuroendocrine carcinoma</option>
                <option>Large cell neuroendocrine carcinoma</option>
                <option>Undifferentiated carcinoma</option>
                <option>Carcinosarcoma</option>
                <option>Other</option>
                <option>Carcinoma, type cannot be determined</option>
                <option></option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box3_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Histologic Grade</h5>
            <select id="box4" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>G1: Well differentiated</option>
                <option>G2: Moderately differentiated</option>
                <option>G3: Poorly differentiated</option>
                <option>GX: Cannot be assessed</option>
                <option>Not applicable</option>
            </select>


            <hr class="p-2">
            <h5>Stromal Invasion</h5>

            <h6>Depth of stromal invasion (mm)</h6>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box5" placeholder="">

            <div class="py-2 w-100"></div>

            <h6>Horizontal extent of stromal invasion (mm)</h6>
            <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not applicable</option>
                <option>Measured at</option>
                <option>Estimated as less than or equal to 7 mm</option>
                <option>Estimated as greater than 7 mm</option>
                <option>Cannot be determined</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2' style='display:none;' placeholder='Specify in mm'>
            <input type="number" class="form-control form-control-sm mt-3 col-sm-6" id='box6_3' style='display:none;' placeholder='Specify # of blocks involved'>

            <div class="py-2 w-100"></div>
            <!-- removed in 2020
                <h6>+Horizontal extent circumferential/width</h6>
                <input type="text" class="form-control form-control-sm col-sm-6 opt" id="box7" placeholder="if applicable">
            -->

            <hr class="p-2">
            <h5>Margins - Endocervical</h5>

            <select multiple id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by invasive carcinoma or intraepithelial neoplasia</option>
                <option>Uninvolved by invasive carcinoma</option>
                <option>Involved by invasive carcinoma</option>
                <option>Involved by high-grade squamous intraepithelial lesion (CIN 2-3)</option>
                <option>Involved by adenocarcinoma in situ (AIS)</option>
            </select>

            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_1' style='display:none;'
                   placeholder='Specify closest margin'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_2' style='display:none;'
                   placeholder='Specify distance from margin (mm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_3' style='display:none;'
                   placeholder='Specify involved margin'>


            <hr class="p-2">
            <h5>Margins - Ectocervical</h5>

            <select multiple id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by invasive carcinoma or intraepithelial neoplasia</option>
                <option>Uninvolved by invasive carcinoma</option>
                <option>Involved by invasive carcinoma</option>
                <option>Involved by high-grade squamous intraepithelial lesion (CIN 2-3)</option>
                <option>Involved by adenocarcinoma in situ (AIS)</option>
            </select>

            <input type="text" class="form-control form-control-sm col-sm-6" id='box9_1' style='display:none;'
                   placeholder='Specify closest margin'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box9_2' style='display:none;'
                   placeholder='Specify distance from margin (mm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box9_3' style='display:none;'
                   placeholder='Specify involved margin'>


            <hr class="p-2">
            <h5>Margins - Deep</h5>

            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by invasive carcinoma</option>
                <option>Involved by invasive carcinoma</option>
                <option>Margins uninvolved by intraepithelial neoplasia</option>
                <option>Involved by high-grade squamous intraepithelial lesion (CIN 2-3)</option>
                <option>Involved by adenocarcinoma in situ (AIS)</option>
            </select>

            <input type="text" class="form-control form-control-sm col-sm-6" id='box10_1' style='display:none;'
                   placeholder='Specify closest margin'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box10_2' style='display:none;'
                   placeholder='Specify distance from margin (mm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box10_3' style='display:none;'
                   placeholder='Specify involved margin'>


            <hr class="p-2">
            <h5>+ Additional Pathologic Findings</h5>
            <select multiple id="box12" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>Low-grade squamous intraepithelial lesion (CIN 1)</option>
                <option>High-grade squamous intraepithelial lesion (CIN 2 or 3)</option>
                <option>Inflammation</option>
                <option>Other</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box12_2' style='display:none;'
                   placeholder='Specify Other'>


            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>


<!--
			"specificScripts":
				[
					"/js/cap/$-scripts.js",
				]
		 -->