<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklists</li>
    </ol>
    {{> message-center this}}

<div class="row">
    <div class="card text-center text-danger h2 py-2">
        <p>
            Cancer synoptic apps are no longer publicly accessible.  
        </p>
    </div>
    {{> page-partials/cap-removal}}
    </div>
    <!-- close container -->
</div>