<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Extra-gonadal Germ Cell Tumors</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->

            <hr class="p-2" >
            <h5>Procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Core needle biopsy</option>
                <option>Incisional biopsy</option>
                <option>Excisional biopsy</option>
                <option>Marginal resection</option>
                <option>Wide resection</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2" >
            <h5>Patient Age</h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Congenital/neonatal (birth - 6 mo)</option>
                <option>Childhood/prepubertal (7 mo - 11 y)</option>
                <option>Postpubertal/adult (≥12 y)</option>
            </select>





            <hr class="p-2" >
            <h5>Tumor Site</h5>
            <select id="box3" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Intracranial</option>
                <option value="Head and neck region">Head and neck region (including thyroid; excluding intracranial)</option>
                <option value="Mediastinum">Mediastinum (pericardium, heart, thymus, and lung)</option>
                <option>Retroperitoneum/abdomen</option>
                <option>Sacrococcygeal</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box3_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2" >
            <h5>Tumor Size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box4" placeholder="">




            <hr class="p-2" >
            <h5>Histologic Type</h5>
            <select id="box5" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Mature teratoma</option>
                <option>Immature teratoma</option>
                <option>Mature or immature teratoma with additional malignant somatic component</option>
                <option>Germinoma</option>
                <option>Yolk sac tumor</option>
                <option>Embryonal carcinoma</option>
                <option>Choriocarcinoma</option>
                <option>Mixed germ cell tumor</option>
                <option>Cannot be determined</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box5_2' style='display:none;' placeholder='Specify additional malignant somatic component'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box5_3' style='display:none;' placeholder='Specify germ cell tumor components'>





            <hr class="p-2" >
            <h5>+ Histologic Grade (immature teratomas only)
            <!-- Button trigger modal -->
            <button class="btn btn-sm btn-info ml-2 p-1"  data-toggle="modal" data-target="#help_grade">A word about grading immature teratomas</button>

            </h5>
            <!-- Histology help Modal -->
            {{> page-modals/cap-helpers/exgct-grading}}
            <select id="box7" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>Not applicable</option>
                <option>Grade 1</option>
                <option>Grade 2</option>
                <option>Grade 3</option>
                <option>Cannot be determined</option>
            </select>

            <input type="number" class="form-control form-control-sm mt-3 col-sm-6" id='box7_2' style='display:none;' placeholder='Specify % of teratoma with immature elements'>





            <hr class="p-2" >
            <h5>Microscopic Tumor Extension (applicable to sacrococcygeal resections only)</h5>
            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not applicable</option>
                <option>Tumor involving coccyx identified</option>
                <option>Coccyx uninvolved</option>
                <option>Cannot be determined</option>
            </select>





            <hr class="p-2" >
            <h5>Margins</h5>

            <select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by tumor</option>
                <option>Involved by tumor</option>
            </select>

            <input type="text" class="form-control form-control-sm col-sm-6" id='box9_1' style='display:none;' placeholder='Specify closest margin'>
            <input type="number" class="form-control form-control-sm col-sm-6" id='box9_2' style='display:none;' placeholder='Specify distance from margin (mm)'>







            <hr class="p-2" >
            <h5>+ Lymph-Vascular Invasion</h5>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>





            <hr class="p-2" >
            <h5>+ Perineural Invasion</h5>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>





            <hr class="p-2" >
            <h5>Distant Metastasis</h5>

            <select id="box15" class='form-control selectpicker form-control-sm col-sm-6'>
                <option >Not applicable</option>
                <option >Present</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box15_2" style="display:none;" placeholder="Specify metastatic sites">

            <form class="form-inline mt-4">
                <label class="form-check-label">Check here if any lymph nodes submitted?
                    <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box16" >
                </label>
            </form>

            <div class='lnchk ' style='display:none;'>
                <form class="form-inline mt-2 col-8">
                    <label class="m-2">Number of lymph nodes examined: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box17" style="width:100px"></label>
                    <label class="m-2">Number of lymph nodes involved: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box18" style="width:100px">
                    </label>
                    <div class="posnodes" style="display:none;">
                        <label class="m-2">
                            Specify nodes involved: <input type="text" class="form-control form-control-sm col-sm-6 ml-3" id="box19" placeholder="">
                        </label>
                    </div>
                </form>
            </div>




            <hr class="p-2" >
            <h5>Pathologic Staging</h5>
            <select id="box20" class='form-control selectpicker form-control-sm col-sm-10'>
                <option value="Stage I">Stage I: Complete resection at any site; coccygectomy for sacrococcygeal site; negative tumor margins</option>
                <option value="Stage II">Stage II: Microscopic residual; lymph nodes negative</option>
                <option value="Stage III">Stage III: Lymph nodes involved by metastatic disease. Gross residual or biopsy only, retroperitoneal nodes negative or positive</option>
                <option value="Stage IV">Stage IV: Distant metastases, including liver</option>
            </select>



<hr class="p-6 mt-6">


            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
