<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Adult Kidney Tumors</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2" >
            <h5>Procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Partial nephrectomy</option>
                <option>Radical nephrectomy</option>
                <option>Total nephrectomy</option>
                <option>Other</option>
                <option>Not specif</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2" >
            <h5>Specimen Laterality</h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Right</option>
                <option>Left</option>
                <option>Not specified</option>
            </select>





            <hr class="p-2" >
            <h5>+ Tumor Site</h5>
            <select multiple id="box3" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>Upper pole</option>
                <option>Middle</option>
                <option>Lower pole</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box3_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2" >
            <h5>Tumor Size (cm)
            <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip" title="If multiple tumors present, document the size of the largest tumor" aria-hidden="true"></i>
            </h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box4" placeholder="">




            <hr class="p-2" >
            <h5>Tumor Focality</h5>
            <select id="box5" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Unifocal</option>
                <option>Multifocal</option>
            </select>





            <hr class="p-2" >
            <h5>Histologic Type</h5>
            <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Clear cell renal cell carcinoma</option>
                <option>Multilocular clear cell renal cell neoplasm of low malignant potential</option>
                <option>Papillary renal cell carcinoma, Type 1</option>
                <option>Papillary renal cell carcinoma, Type 2</option>
                <option>Chromophobe renal cell carcinoma</option>
                <option>Collecting duct carcinoma</option>
                <option>Renal medullary carcinoma</option>
                <option>MiT family translocation renal cell carcinoma</option>
                <option>Xp11 translocation renal cell carcinoma</option>
                <option>t(6;11) renal cell carcinoma</option>
                <option>Mucinous tubular and spindle renal cell carcinoma</option>
                <option>Tubulocystic renal cell carcinoma</option>
                <option>Acquired cystic disease associated renal cell carcinoma</option>
                <option>Clear cell papillary renal cell carcinoma</option>
                <option>Hereditary leiomyomatosis and renal cell carcinoma-associated renal cell carcinoma</option>
                <option>Succinate dehydrogenase (SDH) deficient renal cell carcinoma</option>
                <option>Renal cell carcinoma, unclassified</option>
                <option>Other histologic type</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2" >
            <h5>Sarcomatoid Features</h5>
            <select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_2' style='display:none;' placeholder='Specify % of sarcomatoid element'>





            <hr class="p-2" >
            <h5>Rhabdoid Features</h5>
            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
            </select>





            <hr class="p-2" >
            <h5>Histologic Grade (WHO / ISUP Grade)</h5>
            <select id="box9" class='form-control selectpicker form-control-sm col-sm-11'>
                <option value="WHO / ISUP Grade 1">G1: Nucleoli absent or inconspicuous and basophilic at 400x magnification</option>
                <option value="WHO / ISUP Grade 2">G2: Nucleoli conspicuous and eosinophilic at 400x magnification, visible but not prominent at 100x magnification</option>
                <option value="WHO / ISUP Grade 3">G3: Nucleoli conspicuous and eosinophilic at 100x magnification</option>
                <option value="WHO / ISUP Grade 4">G4: Extreme nuclear pleomorphism and/or multi-nuclear giant cells and/or rhabdoid and/or sarcomatoid differentiation</option>
                <option value="WHO / ISUP Grade cannot be assessed">GX: Cannot be assessed</option>
                <option >Not applicable</option>
            </select>





            <hr class="p-2" >
            <h5>Tumor Necrosis</h5>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
            </select>

            <input type="number" class="form-control form-control-sm mt-3 col-sm-6" id='box10_2' style='display:none;' placeholder='Specify % tumor necrosis'>





            <hr class="p-2" >
            <h5>Tumor Extension</h5>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-10' multiple>
                <option>No evidence of primary tumor</option>
                <option>Tumor limited to kidney</option>
                <option>Tumor extension into perinephric tissue (beyond renal capsule)</option>
                <option>Tumor extension into renal sinus</option>
                <option>Tumor extension beyond Gerota’s fascia</option>
                <option value="Tumor extension into a major vein">Tumor extension into major vein (renal vein or its segmental branches, inferior vena cava)</option>
                <option>Tumor extension into pelvicalyceal system</option>
                <option>Tumor direct extension into adrenal gland</option>
                <option>Tumor noncontiguous extension into adrenal gland</option>
                <option>Tumor extension into other organ(s)/structures</option>
                <option>Cannot be assessed</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box11_2' style='display:none;' placeholder='Specify structures'>





            <hr class="p-2" >
            <h5>Margins</h5>
            <select id="box12" class='form-control selectpicker form-control-sm col-sm-8'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by invasive carcinoma</option>
                <option>Involved by invasive carcinoma</option>
            </select>

            <div id='box12_2' class="ml-3 col-sm-12" style='display:none;'>
                <div class="py-2 w-100"></div>
                <h6>
                    Choose involved margins</h6>
                <select multiple id="box50" class='form-control selectpicker form-control-sm'>
                    <option>Renal parenchymal margin (partial nephrectomy only)</option>
                    <option>Renal capsular margin (partial nephrectomy only)</option>
                    <option>Perinephric fat margin</option>
                    <option>Renal sinus soft tissue margin</option>
                    <option>Gerota’s fascial margin</option>
                    <option>Renal vein margin</option>
                    <option>Ureteral margin</option>
                    <option>Other</option>
                </select>

                <input type="text" class="form-control form-control-sm mt-3" id='box50_2' style='display:none;' placeholder='Specify Other'>
            </div>











            <hr class="p-2" >
            <h5>+ Lymphovascular Invasion
            <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip" title="excluding renal vein and its segmental branches and inferior vena cava" aria-hidden="true"></i>
            </h5>
            <select id="box13" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>Not reported</option>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>



            <hr class="p-2" >
            <h5>Regional Lymph Nodes</h5>
            <form class="form-inline mt-2">
                <label class="form-check-label">Check here if any lymph nodes submitted?
                    <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box18" >
                </label>
            </form>
            <div class='lnchk' style='display:none;'>
                <form class="form-inline mt-2 col-8">
                    <label class="m-2">Number of lymph nodes examined:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3 maxnode" id="box19" style="width:100px"></label>
                    <label class="m-2">Number of lymph nodes involved:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3 subnode" id="box20" style="width:100px"></label>
                    <div class="posnodes" style="display:none;">
                        + Specify Involved Nodes
                        <select multiple id="box21" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                            <option>hilar</option>
                            <option>precaval</option>
                            <option>interaortocaval</option>
                            <option>paracaval</option>
                            <option>retrocaval</option>
                            <option>preaortic</option>
                            <option>paraaortic</option>
                            <option>retroaortic</option>
                            <option>Other</option>
                        </select>

                        <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box21_2' style='display:none;' placeholder='Specify Other'>

                        <label class="m-2"> + Size of Largest Metastatic Deposit (cm):
                            <input type="text" class="form-control form-control-sm col-sm-6 opt" id="box22" placeholder="">
                        </label>
                    </div>
                </form>
            </div>





            <hr class="p-2" >
            <h5>Pathologic Staging (pTNM)

            </h5>

            <h6>TNM Descriptors (select all that apply)</h6>
            <select id="box14" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                <option selected value="Not applicable">Not applicable</option>
                <option>m</option>
                <option>r</option>
                <option>y</option>
            </select>

            <div class="py-2 w-100"></div>

            <h6 class='mt-2'>pT</h6>
            <select id="box15" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pTX">pTX: Primary tumor cannot be assessed</option>
                <option value="pT0">pT0: No evidence of primary tumor</option>
                <option value="pT1a">pT1a: Tumor ≤4 cm in greatest dimension, limited to the kidney</option>
                <option value="pT1b">pT1b: Tumor >4 cm but ≤7 cm in greatest dimension limited to the kidney</option>
                <option value="pT2a">pT2a: Tumor >7 cm but ≤10 cm in greatest dimension, limited to the kidney</option>
                <option value="pT2b">pT2b: Tumor >10 cm, limited to the kidney</option>
                <option value="pT3a">pT3a: Tumor extends into the renal vein or its segmental branches</option>
                <option value="pT3a">pT3a: Tumor  invades the pelvicalyceal system</option>
                <option value="pT3a">pT3a: Tumor invades perirenal and/or renal sinus fat but not beyond Gerota’s fascia</option>
                <option value="pT3b">pT3b: Tumor extends into the vena cava below the diaphragm</option>
                <option value="pT3c">pT3c: Tumor extends into vena cava above the diaphragm or invades the wall of the vena cava</option>
                <option value="pT4">pT4: Tumor invades beyond Gerota’s fascia </option>
            </select>

            <div class="py-2 w-100"></div>

            <h6 class='mt-2'>pN</h6>
            <select id="box16" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pNX">pNX: Regional lymph nodes cannot be assessed</option>
                <option value="pN0">pN0: No regional lymph node metastasis</option>
                <option value="pN1">pN1: Metastasis in regional lymph node(s)</option>
            </select>

            <div class="py-2 w-100"></div>

            <h6 class='mt-2'>pM</h6>
            <select id="box17" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected value='pMx'>pMx: Not applicable</option>
                <option value="pM1">pM1: Distant metastasis</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box17_2" style="display:none;" placeholder="Specify metastatic sites">

            <div class="py-2 w-100"></div>




            <hr class="p-2" >
            <h5>Pathologic Findings in Nonneoplastic Kidney (select all that apply)</h5>
            <select multiple id="box24" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Insufficient tissue</option>
                <option>None identified</option>
                <option>Glomerular disease </option>
                <option>Tubulointerstitial disease</option>
                <option>Vascular disease</option>
                <option>Other</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box24_2' style='display:none;' placeholder='Specify Glomerular disease'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box24_3' style='display:none;' placeholder='Specify Tubulointerstitial disease'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box24_4' style='display:none;' placeholder='Specify Vascular disease'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box24_5' style='display:none;' placeholder='Specify Other disease'>







            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
