<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Lung tumors</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2" >
            <h5>Procedure </h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Wedge resection</option>
                <option>Segmentectomy</option>
                <option>Lobectomy</option>
                <option>Completion lobectomy</option>
                <option>Sleeve lobectomy</option>
                <option>Bilobectomy</option>
                <option>Pneumonectomy</option>
                <option>Major airway resection</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify Other'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_3' style='display:none;' placeholder='Specify resection'>





            <hr class="p-2" >
            <h5>Specimen Laterality</h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Right</option>
                <option>Left</option>
                <option>Not specified</option>
            </select>





            <hr class="p-2" >
            <h5>Tumor Site (select all that apply)</h5>
            <select multiple id="box3" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Upper lobe</option>
                <option>Middle lobe</option>
                <option>Lower lobe</option>
                <option>Bronchus, main</option>
                <option>Bronchus intermedius</option>
                <option>Bronchus, lobar </option>
                <option>Other </option>
                <option>Not specified</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box3_2' style='display:none;' placeholder='Specify Other'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box3_3' style='display:none;' placeholder='Specify lobar'>



            <hr class="p-2" >
            <h5>Synchronous tumors?
            <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
                                   title="required if morphologically distinct unrelated multiple primary tumors are present"></i>
            </h5>
            <select id="box50" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Absent</option>
                <option>Present</option>
            </select>

            <input type="number" class="form-control form-control-sm mt-3 col-sm-6" id='box50_2' style='display:none;' placeholder='Specify # of tumors'>



            <hr class="p-2" >
            <h5>Histologic Type</h5>
            <select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Adenocarcinoma in situ (AIS), nonmucinous</option>
                <option>Adenocarcinoma in situ (AIS), mucinous</option>
                <option>Minimally invasive adenocarcinoma, nonmucinous</option>
                <option>Minimally invasive adenocarcinoma, mucinous</option>
                <option>Invasive adenocarcinoma, lepidic predominant</option>
                <option>Invasive adenocarcinoma, acinar predominant</option>
                <option>Invasive adenocarcinoma, papillary predominant</option>
                <option>Invasive adenocarcinoma, micropapillary predominant</option>
                <option>Invasive adenocarcinoma, solid predominant</option>
                <option>Mixed invasive mucinous and nonmucinous adenocarcinoma</option>
                <option>Colloid adenocarcinoma</option>
                <option>Fetal adenocarcinoma</option>
                <option>Enteric adenocarcinoma</option>
                <option>Squamous cell carcinoma in situ (SCIS)</option>
                <option>Invasive squamous cell carcinoma, keratinizing</option>
                <option>Invasive squamous cell carcinoma, non-keratinizing</option>
                <option>Invasive squamous cell carcinoma, basaloid</option>
                <option>Small cell carcinoma</option>
                <option>Combined small cell carcinoma </option>
                <option>Large cell neuroendocrine carcinoma</option>
                <option>Combined large cell neuroendocrine carcinoma</option>
                <option>Typical carcinoid tumor</option>
                <option>Atypical carcinoid tumor</option>
                <option>Large cell carcinoma</option>
                <option>Adenosquamous carcinoma</option>
                <option>Pleomorphic carcinoma</option>
                <option>Spindle cell carcinoma</option>
                <option>Giant cell carcinoma</option>
                <option>Carcinosarcoma</option>
                <option>Pulmonary blastoma</option>
                <option>Lymphoepithelioma-like carcinoma</option>
                <option>NUT carcinoma</option>
                <option>Mucoepidermoid carcinoma</option>
                <option>Adenoid cystic carcinoma</option>
                <option>Epithelial-myoepithelial carcinoma</option>
                <option>Carcinoma, type cannot be determined</option>
                <option>Non-small cell carcinoma, subtype cannot be determined</option>
                <option>Other histologic type</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box9_2' style='display:none;' placeholder='Specify Other'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box9_3' style='display:none;' placeholder='Specify other non-small cell component'>
           <form class="nonlepidic form-inline mt-5">
            <h6 >
            Any lepidic component?</h6>
            <select id="box9_4" class='form-control selectpicker form-control-sm col-sm-2 ml-2'>
                <option>No</option>
                <option>Yes</option>
            </select>
           </form>

            <div class="nonlepidic">
            <hr class="p-2" >
            <h5>Tumor Size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box4" placeholder="applies to non-lepidic pattern adenocarcinomas">

            </div>

            <div class="lepidic" style="display: none;">
            <hr class="p-2" >
            <h5>Total Tumor Size Inclusive of Invasive and Lepidic Components (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box6" placeholder="applies only to adenocarcinomas with lepidic component">




            <hr class="p-2" >
            <h5>Invasive Tumor Size (cm)
            <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
               title="The American Joint Committee on Cancer (AJCC) has adopted a rule that for nonmucinous adenocarcinomas with a lepidic component, only the size of the invasive component is used to assign T category" aria-hidden="true"></i>
            </h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box7" placeholder="applies only to adenocarcinomas with lepidic component">

            </div>


            <hr class="p-2" >
            <h5>Tumor Focality</h5>
            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Single tumor</option>
                <option>Separate tumor nodules of same histopathologic type (intrapulmonary metastases) in same lobe</option>
                <option>Separate tumor nodules of same histopathologic type (intrapulmonary metastases) in different lobes</option>
                <option>Synchronous primary tumors in same lobe</option>
                <option>Synchronous primary tumors in different lobes</option>
                <option>Multifocal lung adenocarcinoma with lepidic features</option>
                <option>Diffuse pneumonic-type adenocarcinoma</option>
                <option>Cannot be determined</option>
            </select>






            <hr class="p-2" >
            <h5>+ Histologic Grade</h5>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option></option>
                <option>G1: Well differentiated</option>
                <option>G2: Moderately differentiated</option>
                <option>G3: Poorly differentiated</option>
                <option>G4: Undifferentiated</option>
                <option>Other</option>
                <option>GX: Cannot be assessed</option>
                <option>Not applicable</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box10_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2" >
            <h5>+ Spread Through Air Spaces</h5>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option></option>
                <option>Not identified</option>
                <option>Present</option>
            </select>





            <hr class="p-2" >
            <h5>Visceral Pleura Invasion</h5>
            <select id="box12" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>





            <hr class="p-2" >
            <h5>Lymphovascular Invasion</h5>
            <select multiple id="box13" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option value="Lymphatic">Present, Lymphatic</option>
                <option value="Arterial">Present, Arterial</option>
                <option value="Venous">Present, Venous</option>
                <option>Cannot be determined</option>
            </select>





            <hr class="p-2" >
            <h5>Direct Invasion of Adjacent Structures</h5>
            <select multiple id="box14" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No adjacent structures present</option>
                <option>Adjacent structures present but not involved</option>
                <option>Main bronchus</option>
                <option>Hilar soft tissues</option>
                <option>Carina</option>
                <option>Parietal pleura</option>
                <option>Chest wall</option>
                <option>Phrenic nerve</option>
                <option>Parietal pericardium</option>
                <option>Diaphragm</option>
                <option>Mediastinum</option>
                <option>Heart</option>
                <option>Great vessels</option>
                <option>Trachea</option>
                <option>Recurrent laryngeal nerve</option>
                <option>Esophagus</option>
                <option>Vertebral body</option>
                <option>Other</option>
                <option>Cannot be assessed</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box14_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2" >
            <h5>Margins</h5>

            <select id="box15" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>All margins uninvolved by carcinoma</option>
                <option>One or more margins involved by carcinoma</option>
            </select>

            <div class="py-2 w-100"></div>

            <div id='box15_1' class="ml-3" ><!-- margins negative-->
                <h6 class="mt-2" >
                    Margins examined</h6>
                <select multiple id="box16" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Bronchial</option>
                    <option>Vascular</option>
                    <option>Parenchymal</option>
                    <option>Other</option>
                </select>

                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box16_2' style='display:none;' placeholder='Specify Other margins'>

                <div class="py-2 w-100"></div>

                <h6 class="mt-2" >
                    Distance of invasive carcinoma from closest margin (cm)</h6>
                <input type="text" class="form-control form-control-sm col-sm-6" id="box17" placeholder="">

                <div class="py-2 w-100"></div>

                <h6 class="mt-2" >
                    Specify closest margin</h6>
                <input type="text" class="form-control form-control-sm col-sm-6" id="box18" placeholder="">

                <div class="py-2 w-100"></div>

                <h6 class="mt-2" >
                    Distance of carcinoma in situ from closest margin (cm)</h6>
                <input type="text" class="form-control form-control-sm col-sm-6" id="box19" value="Not applicable">

                <div class="py-2 w-100"></div>

                <h6 class="mt-2" >
                    Specify closest margin to in-situ disease</h6>
                <input type="text" class="form-control form-control-sm col-sm-6" id="box20" value="Not applicable">
            </div>

            <div id='box15_3' class="ml-3" style='display:none;' ><!-- margins positive-->
                <h6 class="mt-2" >
                    Bronchial Margin</h6>
                <select multiple id="box21" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Not applicable</option>
                    <option>Cannot be assessed</option>
                    <option>Uninvolved by invasive carcinoma</option>
                    <option>Uninvolved by carcinoma in situ</option>
                    <option>Involved by invasive carcinoma</option>
                    <option>Involved by carcinoma in situ</option>
                </select>


                <div class="py-2 w-100"></div>


                <h6 class="mt-2" >
                    Vascular Margin</h6>
                <select id="box22" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Not applicable</option>
                    <option>Cannot be assessed</option>
                    <option>Uninvolved by carcinoma</option>
                    <option>Involved by carcinoma</option>
                </select>

                <div class="py-2 w-100"></div>

                <h6 class="mt-2" >
                    Parenchymal Margin</h6>
                <select multiple id="box23" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Not applicable</option>
                    <option>Cannot be assessed</option>
                    <option>Uninvolved by invasive carcinoma</option>
                    <option>Uninvolved by lepidic component of invasive adenocarcinoma</option>
                    <option>Uninvolved by adenocarcinoma in situ</option>
                    <option>Involved by invasive carcinoma</option>
                    <option>Involved by lepidic component of invasive adenocarcinoma</option>
                    <option>Involved by adenocarcinoma in situ</option>
                </select>

                <div class="py-2 w-100"></div>

                <h6 class="mt-2" >
                    Other Attached Tissue Margin</h6>
                <select id="box24" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Cannot be assessed</option>
                    <option>Uninvolved by invasive carcinoma</option>
                    <option>Involved by invasive carcinoma</option>
                    <option selected>Not applicable</option>
                </select>

                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box24_2' style='display:none;' placeholder='Specify other margin'>
            </div>

















            <hr class="p-2" >
            <h5>Treatment Effect</h5>
            <select id="box25" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No known presurgical therapy</option>
                <option>Greater than 10% residual viable tumor</option>
                <option>Less than or equal to 10% residual viable tumor</option>
                <option>Cannot be determined</option>
            </select>


            <hr class="p-2" >
            <h5>Regional Lymph Nodes</h5>
            <form class="form-inline mt-2">
                <label class="form-check-label">Check here if any lymph nodes submitted?
                    <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box30" >
                </label>
            </form>

            <div class='lnchk' style='display:none;'>
                <form class="form-inline mt-2 col-8">
                    <label class="m-2">Number of lymph nodes examined:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3 maxnode" id="box31"></label>
                    <label class="m-2">Number of lymph nodes involved:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3 subnode" id="box32" ></label>
                    <div class="posnodes" style="display: none;">
                        <label class="m-2">Nodal station(s) involved:
                            <input type="text" class="form-control form-control-sm col-sm-6 ml-3" id="box33" placeholder=""></label>
                        <label class="m-2">+ Extranodal Extension:
                            <select id="box34" class='form-control selectpicker form-control-sm col-sm-6 ml-3 opt'>
                                <option></option>
                                <option>Not identified</option>
                                <option>Present</option>
                                <option>Cannot be determined</option>
                            </select></label>
                    </div>
                </form>
            </div>





            <hr class="p-2" >
            <h5>Pathologic Staging (pTNM)

            </h5>

            <h6>TNM Descriptors (select all that apply)</h6>
            <select id="box26" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                <option selected value="Not applicable">Not applicable</option>
                <option>m</option>
                <option>r</option>
                <option>y</option>
            </select>

            <div class="py-2 w-100"></div>

            <h6 class='mt-2'>pT
            <!-- Button trigger modal -->
            <button class="btn btn-sm btn-info ml-2 p-1"  data-toggle="modal" data-target="#help_lung-pt">pT definitions</button>

            <!-- Histology help Modal -->
            {{> page-modals/cap-helpers/lung-pt}}

            </h6>
            <select id="box27" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pTX">pTX: Primary tumor cannot be assessed, or tumor proven by presence of malignant cells in sputum or bronchial washings but not visualized by imaging or bronchoscopy</option>
                <option value="pT0">pT0: No evidence of primary tumor</option>
                <option value="pTis (SCIS)">pTis (SCIS): Squamous cell carcinoma in situ (SCIS)</option>
                <option value="pTis (AIS)">pTis (AIS): Adenocarcinoma in situ (AIS): adenocarcinoma with pure lepidic pattern, ≤3 cm in greatest dimension</option>
                <option value="pT1mi">pT1mi: Minimally invasive adenocarcinoma: adenocarcinoma (≤3 cm in greatest dimension) with a predominantly lepidic pattern and ≤5 mm invasion in greatest dimension (See note C)</option>
                <option value="pT1a">pT1a: Tumor ≤1 cm or less in greatest dimension</option>
                <option value="pT1b">pT1b: Tumor >1 cm, but ≤2 cm in greatest dimension</option>
                <option value="pT1c">pT1c: Tumor >2 cm but ≤3 cm in greatest dimension</option>
                <option value="pT2">pT2: Tumor involves main bronchus branch (but not carina) OR associated with lobar obstructive changes to the hilum</option>
                <option value="pT2a">pT2a: Tumor >3 cm, but ≤4 cm in greatest dimension</option>
                <option value="pT2b">pT2b: Tumor >4 cm, but ≤5 cm in greatest dimension</option>
                <option value="pT3">pT3: Tumor >5 cm but ≤7 cm in greatest dimension; or with direct invasion</option>
                <option value="pT4">pT4: Tumor >7 cm in greatest dimension; or tumor of any with direct invasion</option>
            </select>

            <div class="py-2 w-100"></div>

            <h6 class='mt-2'>pN</h6>
            <select id="box28" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pNX">pNX: Regional lymph nodes cannot be assessed</option>
                <option value="pN0">pN0: No regional lymph node metastasis</option>
                <option value="pN1">pN1: Metastasis in ipsilateral peribronchial and/or ipsilateral hilar lymph nodes, and intrapulmonary nodes, including involvement by direct extension</option>
                <option value="pN2">pN2: Metastasis in ipsilateral mediastinal and/or subcarinal lymph node(s)</option>
                <option value="pN3">pN3: Metastasis in contralateral mediastinal, contralateral hilar, ipsilateral or contralateral scalene, or supraclavicular lymph node(s)</option>
            </select>

            <div class="py-2 w-100"></div>

            <h6 class='mt-2'>pM</h6>
            <select id="box29" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected value='pMx'>pMx: Not applicable</option>
                <option value="pM1a">pM1a: Separate tumor nodule(s) in contralateral lobe; tumor with pleural or pericardial nodules or malignant pleural (or pericardial) effusion#</option>
                <option value="pM1b">pM1b: Single extrathoracic metastasis in a single organ (including involvement of a single nonregional lymph node)</option>
                <option value="pM1c">pM1c: Multiple extrathoracic metastases in single organ or in multiple organs</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box29_2" style="display:none;" placeholder="Specify metastatic sites">

            <div class="py-2 w-100"></div>





            <hr class="p-2" >
            <h5>+ Additional Pathologic Findings (select all that apply)</h5>
            <select multiple id="box35" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>None identified</option>
                <option>Atypical adenomatous hyperplasia</option>
                <option>Squamous dysplasia</option>
                <option>Metaplasia, specify</option>
                <option>Diffuse neuroendocrine hyperplasia</option>
                <option>Chronic inflammation</option>
                <option>Acute inflammation</option>
                <option>Acute and chronic inflammation</option>
                <option>Emphysema</option>
                <option>Other</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box35_2' style='display:none;' placeholder='Specify Other'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box35_3' style='display:none;' placeholder='Specify metaplasia type'>







            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
