<div class="container-fluid">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
				<li class="breadcrumb-item">
						<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>CAP Cancer Checklist</li>
				<li class="breadcrumb-item active" id="bc-jump"><i class="fa fa-flask mr-2"></i>Lung Cancer</li>
		</ol>

 {{> message-center this}}


		{{> page-partials/cap-header}}

	<div class="row">
		<div class="col col-md-8">
	<br>
	<h5>Specimen (select all that apply)</h5><br>
	<select class="form-control selectpicker form-control-sm "  multiple id="box1">
	<option selected>Lung</option>
	<option>Lobe, right upper</option>
	<option>Lobe, right middle</option>
	<option>Lobe, right lower</option>
	<option>Lobe, left upper</option>
	<option>Lobe, left middle</option>
	<option>Lingula</option>
	<option>Bronchus, right upper</option>
	<option>Bronchus, right middle</option>
	<option>Bronchus, right lower</option>
	<option>Bronchus, left upper</option>
	<option>Bronchus, left lower</option>
	<option>Other:</option>
	</select>
	<input type="text" class="form-control form-control-sm "  id='box1_2' style='display:none;' placeholder='Specify other specimen'  >

<hr class="p-2">

	<h5>Procedure</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box2">
	<option selected>Major airway resection</option>
	<option>Wedge resection</option>
	<option>Segmentectomy</option>
	<option>Lobectomy</option>
	<option>Bilobectomy</option>
	<option>Pneumonectomy</option>
	<option>Other:</option>
	<option>Not specified</option>
	</select>
	<input type="text" class="form-control form-control-sm "  id='box2_2' style='display:none;' placeholder='Specify other procedure'  >

<hr class="p-2">

	<h5>Specimen Integrity</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box3">
	<option selected>Intact</option>
	<option>Disrupted</option>
	<option>Indeterminate</option>
	</select>

<hr class="p-2">

	<h5>Specimen Laterality</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box4">
	<option selected>Right</option>
	<option>Left</option>
	<option>Not specified</option>
	</select>

<hr class="p-2">

	<h5>Tumor Site (select all that apply)</h5><br>
	<select class="form-control selectpicker form-control-sm "  multiple id="box5">
	<option selected>Upper lobe</option>
	<option>Middle lobe</option>
	<option>Lower lobe</option>
	<option>Mainstem bronchus</option>
	<option>Other:</option>
	<option>Not specified</option>
	</select>
	<input type="text" class="form-control form-control-sm "  id='box5_2' style='display:none;' placeholder='Specify site'  >

<hr class="p-2">

	<h5>Tumor Size:</h5><br> <input type="text" class="form-control form-control-sm "  id="box6"   placeholder='Greatest dimension (cm)'>

<hr class="p-2">

	<h5>Tumor Focality</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box7">
	<option selected>Unifocal</option>
	<option>Separate tumor nodules in same lobe</option>
	<option>Separate tumor nodules in different lobes</option>
	<option>Synchronous primaries</option>
	<option>Cannot be determined</option>
	</select><br>
	<input type="text" class="form-control form-control-sm "  id='box7_2' style='display:none;' placeholder='Specify sites in lobe'  >
	<input type="text" class="form-control form-control-sm "  id='box7_3' style='display:none;' placeholder='Specify lobes involved'  >

<hr class="p-2">

	<h5>Histologic Type:</h5><br>
	<input type="text" class="form-control form-control-sm "  id="box8" placeholder='Start typing here...'>
	<input type="text" class="form-control form-control-sm "  id='box8_2' style='display:none;' placeholder='Specify small-cell types'  >
	<input type="text" class="form-control form-control-sm "  id='box8_3' style='display:none;' placeholder='Specify non-small-cell types'  >
	<input type="text" class="form-control form-control-sm "  id='box8_4' style='display:none;' placeholder='Specify other type'  >

<hr class="p-2">

	<h5>+ Histologic Grade</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box9">
	<option selected>Not applicable</option>
	<option>GX: Cannot be assessed</option>
	<option>G1: Well differentiated</option>
	<option>G2: Moderately differentiated</option>
	<option>G3: Poorly differentiated</option>
	<option>G4: Undifferentiated</option>
	<option>Other:</option>
	</select>
	<input type="text" class="form-control form-control-sm "  id='box9_1' style='display:none;' placeholder='Specify other grade'  >

<hr class="p-2">

	<h5>Visceral Pleura Invasion </h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box10">
	<option selected>Not identified</option>
	<option>Present</option>
	<option>Indeterminate</option>
	</select>

<hr class="p-2">

	<h5>Tumor Extension (select all that apply)</h5><br>
	<select class="form-control selectpicker form-control-sm "  multiple id="box11">
	<option selected>Not applicable</option>
	<option>Not identified</option>
	<option>Superficial spreading tumor with invasive component limited to bronchial wall</option>
	<option>Tumor involves main bronchus 2 cm or more distal to the carina</option>
	<option>Parietal pleura</option>
	<option>Chest wall</option>
	<option>Diaphragm</option>
	<option>Mediastinal pleura</option>
	<option>Phrenic nerve</option>
	<option>Parietal pericardium</option>
	<option>Tumor in the main bronchus less than 2 cm distal to the carina but does not involve the carina</option>
	<option>Mediastinum</option>
	<option>Heart</option>
	<option>Great vessels</option>
	<option>Trachea</option>
	<option>Esophagus</option>
	<option>Vertebral body</option>
	<option>Carina</option>
	<option>Other:</option>
	</select>
	<input type="text" class="form-control form-control-sm "  id='box11_2' style='display:none;' placeholder='Specify other involved structure'  >

<hr class="p-2">

	<h5>Margins:</h5><br>
	<input class="form-check-input "  id="box12_0" type='checkbox'>
	Check here if all margins uninvolved by invasive carcinoma<br>
	<input type="text" class="form-control form-control-sm "  id="box12_1" style='display:none; width:270px' placeholder='Distance to closest margin (mm)'>
	<input type="text" class="form-control form-control-sm "  id="box12_2" style='display:none; width:270px' placeholder='Specify margin'>

<hr class="p-2">

	<div class="margins">
	<h5>Bronchial margin</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box13">
	<option selected>Not applicable</option>
	<option>Cannot be assessed</option>
	<option>Uninvolved by invasive carcinoma and carcinoma in situ</option>
	<option>Involved by invasive carcinoma</option>
	<option>Involved by carcinoma in situ</option>
	</select>

<hr class="p-2">

	<h5>Vascular margin</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box14">
	<option selected>Not applicable</option>
	<option>Cannot be assessed</option>
	<option>Uninvolved by invasive carcinoma</option>
	<option>Involved by invasive carcinoma</option>
	</select>

<hr class="p-2">

	<h5>Parenchymal margin</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box15">
	<option selected>Not applicable</option>
	<option>Cannot be assessed</option>
	<option>Uninvolved by invasive carcinoma</option>
	<option>Involved by invasive carcinoma</option>
	</select>

<hr class="p-2">

	<h5>Other Attached Margin</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box16">
	<option selected>Not applicable</option>
	<option>Cannot be assessed</option>
	<option>Uninvolved by invasive carcinoma</option>
	<option>Involved by invasive carcinoma</option>
	</select>
	<input type="text" class="form-control form-control-sm "  id='box16_2' style='display:none;' placeholder='Specify Margin'  >

<hr class="p-2">

	</div><!--end margins hidden div-->
	<h5>Treatment Effect (if applicable)</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box17">
	<option selected>Not applicable</option>
	<option>Cannot be determined</option>
	<option>Greater than 10% residual viable tumor</option>
	<option>Less than 10% residual viable tumor</option>
	</select>

<hr class="p-2">

	<h5>+ Tumor Associated Atelectasis or Obstructive Pneumonitis</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box18">
	<option selected>Cannot be determined</option>
	<option>Extends to the hilar region but does not involve entire lung</option>
	<option>Involves entire lung</option>
	</select>

<hr class="p-2">

	<h5>Lymph-Vascular Invasion</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box19">
	<option selected>Not identified</option>
	<option>Present</option>
	<option>Indeterminate</option>
	</select>
	<div class='lvi' style="display:none">
	<select class="form-control selectpicker form-control-sm "  id='box19_1' multiple>
	<optgroup label="Select all that apply">
	<option selected>Lymphatic</option>
	<option>Arterial</option>
	<option>Venous</option>
	</optgroup>
	</select></div>

<hr class="p-2">

	<h5>Lymph Nodes</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box20">
	<option selected>Not applicable </option>
	<option>Extranodal extension </option>
	<option>Not identified</option>
	<option>Present</option>
	</select>

<hr class="p-2">

	<h5>Pathologic Staging (pTNM)</h5><br>
	TNM Descriptors (select all that apply)<br>
	<select class="form-control selectpicker form-control-sm "  id="box21" multiple>
	<option selected value="Not applicable">Not applicable</option>
	<option>m</option>
	<option>r</option>
	<option>y</option>
	</select><br>
	Primary Tumor (pT)<br>
	<select class="form-control selectpicker form-control-sm "  id="box22">
	<option value="pTX">pTX: Cannot be assessed, or tumor proven by presence of malignant cells in sputum or bronchial washings but not visualized by imaging or bronchoscopy</option>
	<option value="pT0">pT0: No evidence of primary tumor</option>
	<option value="pTis">pTis: Carcinoma in situ</option>
	<option value="pT1a">pT1a: Tumor 2 cm or less in greatest dimension, surrounded by lung or visceral pleura, without bronchoscopic evidence of invasion more proximal than the lobar bronchus (ie, not in the main bronchus); or</option>
	<option value="null">Superficial spreading tumor of any size with its invasive component limited to the bronchial wall, which may extend proximally to the main bronchus</option>
	<option value="pT1b">pT1b: Tumor greater than 2 cm, but 3 cm or less in greatest dimension, surrounded by lung or visceral pleura, without bronchoscopic evidence of invasion more proximal than the lobar bronchus (ie, not in the main bronchus)</option>
	<option value="pT2a">pT2a: Tumor greater than 3 cm, but 5 cm or less in greatest dimension surrounded by lung or visceral pleura, without bronchoscopic evidence of invasion more proximal than the lobar bronchus (ie, not in the main bronchus); or Tumor 5 cm or less in greatest dimension with any of the following features of extent: involves main bronchus, 2 cm or more distal to the carina; invades the visceral pleura; associated with atelectasis or obstructive pneumonitis that extends to the hilar region but does not involve the entire lung</option>
	<option value="pT2b">pT2b: Tumor greater than 5 cm, but 7 cm or less in greatest dimension </option>
	<option value="pT3">pT3: Tumor greater than 7 cm in greatest dimension; or Tumor of any size that directly invades any of the following: parietal plural chest wall (including superior sulcus tumors), diaphragm, phrenic nerve, mediastinal pleura, parietal pericardium; or Tumor of any size in the main bronchus less than 2 cm distal to the carina but without involvement of the carina; or</option>
	<option value="null">Tumor of any size associated with atelectasis or obstructive pneumonitis of the entire lung; or Tumors of any size with separate tumor nodule(s) in same lobe</option>
	<option value="pT4">pT4: Tumor of any size that invades any of the following: mediastinum, heart, great vessels, trachea, recurrent laryngeal nerve, esophagus, vertebral body, carina; or Tumor of any size with separate tumor nodule(s) in a different lobe of ipsilateral lung (Note A)</option>
	<option value="null"></option>
	</select><br>
	Regional Lymph Nodes (pN)<br>
	<select class="form-control selectpicker form-control-sm "  id="box23">
	<option value="pNX">pNX: Cannot be assessed</option>
	<option value="pN0">pN0: No regional lymph node metastasis</option>
	<option value="pN1">pN1: Metastasis in ipsilateral peribronchial and/or ipsilateral hilar lymph nodes, and intrapulmonary nodes, including involvement by direct extension </option>
	<option value="pN2">pN2: Metastasis in ipsilateral mediastinal and/or subcarinal lymph node(s)</option>
	<option value="pN3">pN3: Metastasis in contralateral mediastinal, contralateral hilar, ipsilateral or contralateral scalene, or supraclavicular lymph node(s)</option>
	</select><br>
	Distant Metastasis (pM)<br>
	<select class="form-control selectpicker form-control-sm "  id="box24">
	<option value="pMX">pMX: Not applicable</option>
	<option value="pM1">pM1: Distant metastasis</option>
	<option value="pM1a">pM1a: Separate tumor nodule(s) in contralateral lung; tumor with pleural nodules or malignant pleural (or pericardial) effusion (Note A)</option>
	<option value="pM1b">pM1b: Distant metastases (in extrathoracic organs)</option>
	</select><br>
	Check here if any lymph nodes submitted?
	<input class="form-check-input " type="checkbox" id="box25"><br>
	<div class='lndiv' style="display:none">
	Number of lymph nodes examined: <input type="text" class="form-control form-control-sm "  id="box25_1"  ><br>
	Number of lymph nodes involved: <input type="text" class="form-control form-control-sm "  id="box25_2"  ><br>
	</div><!--end ln div-->

<hr class="p-2">

	<h5>+ Additional Pathologic Findings (select all that apply)</h5>
            <br>
    <select class="form-control selectpicker form-control-sm "  multiple id="box26">
	<option selected>None identified</option>
	<option>Atypical adenomatous hyperplasia</option>
	<option>Squamous dysplasia</option>
	<option>Metaplasia</option>
	<option>Diffuse neuroendocrine hyperplasia</option>
	<option>Inflammation</option>
	<option>Emphysema </option>
	<option>Other:</option>
	</select><br>
	<input type="text" class="form-control form-control-sm "  id='box26_2' style='display:none;' placeholder='Specify metaplasia type'  ><br>
	<input type="text" class="form-control form-control-sm "  id='box26_3' style='display:none;' placeholder='Specify inflammation type'  >

<hr class="p-2">
<h5>Ancillary molecular testing</h5><br>
	<small>If 'none performed', then this section will be skipped. CAP has a biomarker testing checklist you can use, but it is not required at this time.</small><br>
	<select class="form-control selectpicker form-control-sm "  multiple id="box27">
	<option selected>None performed</option>
	<option>Targeted Lung mutation panel by NGS pending</option>
	<option>KRAS mutation pending</option>
	<option>KRAS mutation detected</option>
	<option>ROS1 mutation pending</option>
	<option>ROS1 mutation detected</option>
	<option>ALK mutation pending</option>
	<option>ALK mutation detected</option>
	<option>EGFR mutation pending</option>
	<option>EGFR mutation detected</option>
	<option>ERBB2 mutation pending</option>
	<option>ERBB2 mutation detected</option>
	<option>BRAF mutation pending</option>
	<option>BRAF mutation detected</option>

	</select>
	<!-- close column -->
			</div>
			{{> page-partials/cap-footer}}
	<!-- close row -->
		</div>
		{{> page-partials/history-module}}
	<!-- close container -->
	</div>


			<!--
			"specificScripts":
				[
					"/js/cap/lung-scripts.js",
				]
		 -->
