<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Nasal cavity and Paranasal sinus tumors</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2">
            <h5>Procedure (select all that apply)</h5>
            <select multiple id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Excision</option>
                <option>Partial maxillectomy</option>
                <option>Radical maxillectomy</option>
                <option>Neck (lymph node) dissection </option>
                <option>Other </option>
                <option>Not specified</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2'
                   style='display:none;' placeholder='Specify Other'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_3'
                   style='display:none;' placeholder='Specify dissection site'>





            <hr class="p-2">
            <h5>Tumor Site</h5>
            <small>
                If 'maxillary sinus' is selected, pT options will default for maxillary primary
            </small>
            <select multiple id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Nasal septum</option>
                <option>Nasal floor</option>
                <option>Nasal lateral wall</option>
                <option>Nasal vestibule</option>
                <option>Nasal cavity, not otherwise specified</option>
                <option>Paranasal sinus(es), maxillary</option>
                <option>Paranasal sinus(es), ethmoid</option>
                <option>Paranasal sinus(es), frontal</option>
                <option>Paranasal sinus(es), sphenoid</option>
                <option>Other </option>
                <option>Not specified</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box2_2'
                   style='display:none;' placeholder='Specify Other'>





            <hr class="p-2">
            <h5>Tumor Laterality (select all that apply)</h5>
            <select multiple id="box3" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Right</option>
                <option>Left</option>
                <option>Midline</option>
                <option>Not specified</option>
            </select>





            <hr class="p-2">
            <h5>Tumor Focality</h5>
            <select id="box4" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Unifocal</option>
                <option>Multifocal</option>
                <option>Cannot be determined</option>
            </select>





            <hr class="p-2">
            <h5>Tumor Size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box5" placeholder="">




            <hr class="p-2">
            <h5>Histologic Type</h5>
            <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                <optgroup label="Squamous Cell Carcinoma + variants">
                    <option>Squamous cell carcinoma, keratinizing</option>
                    <option>Squamous cell carcinoma, nonkeratinizing</option>
                    <option>Adenosquamous carcinoma</option>
                    <option>Basaloid squamous cell carcinoma</option>
                    <option>Papillary squamous cell carcinoma</option>
                    <option>Spindle cell squamous cell carcinoma</option>
                    <option>Verrucous squamous cell carcinoma</option>
                    <option>Lymphoepithelial carcinoma (non-nasopharyngeal)</option>
                    <option>Sinonasal undifferentiated carcinoma (SNUC)</option>
                    <option>NUT carcinoma</option>
                </optgroup>
                <optgroup label="Adenocarcinoma, Non-Salivary Gland Type">
                    <option>Intestinal adenocarcinoma, papillary pattern</option>
                    <option>Intestinal adenocarcinoma, colonic pattern</option>
                    <option>Intestinal adenocarcinoma, solid pattern</option>
                    <option>Intestinal adenocarcinoma, mucinous pattern</option>
                    <option>Intestinal adenocarcinoma, mixed pattern</option>
                    <option>Non-intestinal adenocarcinoma, low grade</option>
                    <option>Non-intestinal adenocarcinoma, intermediate grade</option>
                    <option>Non-intestinal adenocarcinoma, high grade</option>
                </optgroup>
                <optgroup label="Carcinomas of Minor Salivary Glands">
                    <option>Mucoepidermoid carcinoma, low grade</option>
                    <option>Mucoepidermoid carcinoma, intermediate grade</option>
                    <option>Mucoepidermoid carcinoma, high grade</option>
                    <option>Adenoid cystic carcinoma, tubular pattern</option>
                    <option>Adenoid cystic carcinoma, cribriform pattern</option>
                    <option>Adenoid cystic carcinoma, solid pattern</option>
                    <option>Acinic cell carcinoma</option>
                    <option>Polymorphous adenocarcinoma, classic, low grade</option>
                    <option>Polymorphous adenocarcinoma, classic, intermediate grade</option>
                    <option>Polymorphous adenocarcinoma, classic, high grade</option>
                    <option>Polymorphous adenocarcinoma, cribriform, low grade</option>
                    <option>Polymorphous adenocarcinoma, cribriform, intermediate grade</option>
                    <option>Polymorphous adenocarcinoma, cribriform, high grade</option>
                    <option>(Mammary analogue) Secretory carcinoma</option>
                    <option>Salivary duct carcinoma</option>
                    <option>Epithelial-myoepithelial carcinoma</option>
                    <option>(Hyalinizing) clear cell carcinoma</option>
                    <option>Adenocarcinoma, not otherwise specified, low grade</option>
                    <option>Adenocarcinoma, not otherwise specified, intermediate grade</option>
                    <option>Adenocarcinoma, not otherwise specified, high grade</option>
                    <option>Carcinoma ex pleomorphic adenoma, minimally invasive</option>
                    <option>Carcinoma ex pleomorphic adenoma, invasive</option>
                    <option>Carcinoma ex pleomorphic adenoma, intracapsular (noninvasive)</option>
                </optgroup>
                <optgroup label="Neuroendocrine Carcinoma">
                    <option>Well-differentiated neuroendocrine carcinoma (typical carcinoid tumor)</option>
                    <option>Moderately differentiated neuroendocrine carcinoma (atypical carcinoid tumor)</option>
                    <option>Poorly differentiated neuroendocrine carcinoma, small cell type</option>
                    <option>Poorly differentiated neuroendocrine carcinoma, large cell type</option>
                    <option>Combined (or composite) neuroendocrine carcinoma with</option>
                </optgroup>
                <optgroup label="Melanoma">
                    <option>Mucosal melanoma</option>
                </optgroup>
                <option>Carcinoma, type cannot be determined</option>
                <option>Other histologic type</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2' style='display:none;' placeholder='Specify Other tumor type'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_3' style='display:none;' placeholder='Specify other combined tumor type'>





            <hr class="p-2">
            <h5>Histologic Grade</h5>
            <select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>G1: Well differentiated</option>
                <option>G2: Moderately differentiated</option>
                <option>G3: Poorly differentiated</option>
                <option>Other</option>
                <option>GX: Cannot be assessed</option>
                <option selected>Not applicable</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2">
            <h5>Margins - Invasive component</h5>

            <select id="box8" class='form-control selectpicker form-control-sm col-sm-8'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by invasive tumor</option>
                <option>Involved by invasive tumor</option>
            </select>

            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_1' style='display:none;' placeholder='Specify closest margin'>
            <input type="number" class="form-control form-control-sm col-sm-6" id='box8_2' style='display:none;' placeholder='Specify distance from margin (mm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_3' style='display:none;' placeholder='Specify involved margin'>





            <div class="negmargins" style="display: none;">
            <hr class="p-2">
            <h5>Margins - In-situ component
            <i class="fa fa-question-circle ml-2" data-placement="right"
               data-toggle="tooltip"
               title="Note: Applicable only to squamous cell carcinoma and histologic variants,
               and required only if margins uninvolved by invasive carcinoma." aria-hidden="true"></i>
            </h5>


            <select id="box9" class='form-control selectpicker form-control-sm col-sm-8'>
                <option selected>Not applicable - due to histology other than squamous cell (or variant)</option>
                <option>No high-grade dysplasia/in-situ disease present</option>
                <option>Cannot be assessed</option>
                <option>Uninvolved by high grade dysplasia/in situ disease</option>
                <option>Involved by high grade dysplasia/in situ disease</option>
            </select>

            <input type="text" class="form-control form-control-sm col-sm-6" id='box9_1' style='display:none;' placeholder='Specify closest margin'>
            <input type="number" class="form-control form-control-sm col-sm-6" id='box9_2' style='display:none;' placeholder='Specify distance from margin (mm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box9_3' style='display:none;' placeholder='Specify involved margin'>

            </div>




            <hr class="p-2">
            <h5>Lymphovascular Invasion</h5>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not Identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>





            <hr class="p-2">
            <h5>Perineural Invasion</h5>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not Identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>





            <hr class="p-2">
            <h5>Pathologic Staging (pTNM)

            </h5>

            <h6>TNM Descriptors (select all that apply)</h6>
            <select id="box12" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                <option selected value="Not applicable">Not applicable</option>
                <option>m</option>
                <option>r</option>
                <option>y</option>
            </select>
            <h6 class='mt-2'>pT</h6>
            <select id="box13" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pTX">pTX: Primary tumor cannot be assessed</option>
                <option value="pTis">pTis: Carcinoma in situ</option>
            </select>


            <h6 class='mt-2'>pN</h6>
            <select id="box14" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="null"></option>
            </select>


            <h6 class='mt-2'>pM</h6>
            <select id="box15" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected value='pMx'>pMx: Not applicable</option>
                <option value="pM1">pM1: Distant metastasis present</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box15_2" style="display:none;" placeholder="Specify metastatic sites">

            <form class="form-inline mt-2">
                <label class="form-check-label">Check here if any lymph nodes submitted?
                    <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box16" >
                </label>
            </form>

            <div class='lnchk' style='display:none;'>
                <form class="form-inline mt-2 col-8">
                    <label class="m-2">Number of lymph nodes examined:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3 maxnode" id="box17" style="width:100px"></label>
                    <label class="m-2">Number of lymph nodes involved:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3 subnode" id="box18" style="width:100px"></label>
                    <div class="posnodes" style="display:none;">
                        <label class="m-2">Laterality of Lymph Nodes Involved:
                            <select id="box19" class='form-control selectpicker form-control-sm col-sm-6 ml-3'>
                                <option>Ipsilateral (including midline)</option>
                                <option>Contralateral</option>
                                <option>Bilateral</option>
                                <option>Cannot be determined</option>
                            </select>
                        </label>
                        <label class="m-2">Size of Largest Metastatic Deposit (cm):
                            <input type="text" class="form-control form-control-sm col-sm-6 ml-3" id="box20" placeholder="">
                        </label>
                        <label class="m-2">Extranodal Extension:
                            <select id="box21" class='form-control selectpicker form-control-sm col-sm-6 ml-3'>
                                <option>Not identified</option>
                                <option>Present, ENEma (>2 mm)</option>
                                <option>Present, ENEmi (≤2 mm)</option>
                                <option>Cannot be determined</option>
                            </select>
                        </label>
                    </div>

                </form>
            </div>



            <hr class="p-2">
            <h5>+ Additional Pathologic Findings</h5>
            <select multiple id="box25" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>None identified</option>
                <option>Carcinoma in situ</option>
                <option>Epithelial dysplasia </option>
                <option>Sinonasal papilloma</option>
                <option>Chronic Inflammation </option>
                <option>Acute Inflammation </option>
                <option>Chronic and Acute Inflammation </option>
                <option>Squamous metaplasia</option>
                <option>Epithelial hyperplasia</option>
                <option>Colonization, fungal</option>
                <option>Colonization, bacterial</option>
                <option>Other</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box25_2' style='display:none;' placeholder='Specify Other'>







            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
