<div class="container-fluid">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
				<li class="breadcrumb-item">
						<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>CAP Cancer Checklist</li>
				<li class="breadcrumb-item active" id="bc-jump"><i class="fa fa-flask mr-2"></i>CNS tumors</li>
		</ol>

 {{> message-center this}}


		{{> page-partials/cap-header}}

	<div class="row">
		<div class="col col-md-8">
	<h5>Tumor Site (select all that apply) </h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box1" multiple >
	<option>Skull </option>
	<option>Dura </option>
	<option>Leptomeninges </option>
	<optgroup label="Brain"></option>
	<option>Cerebral lobe, Frontal</option>
	<option>Cerebral lobe, Parietal</option>
	<option>Cerebral lobe, Occipital</option>
	<option>Cerebral lobe, Temporal</option>
	<option>Basal ganglia</option>
	<option>Thalamus</option>
	<option>Hypothalamus</option>
	<option>Pineal</option>
	<option>Cerebellum </option>
	<option>Cerebellopontine angle</option>
	</optgroup>
	<option>Sellar/suprasellar/pituitary</option>
	<option>Cranial nerve </option>
	<option>Ventricle, lateral</option>
	<option>Ventricle, 3rd</option>
	<option>Ventricle, 4th</option>
	<option>Brain stem</option>
	<option>Spine (vertebral column)</option>
	<option>Spinal Cord</option>
	<option>Spinal nerve root(s) </option>
	<option>Peripheral nerve </option>
	<option>Ganglion </option>
	<option>Other:</option>
	<option>Not specified</option>
	</select>
	<input type="text" class="form-control form-control-sm "  id="box1_2" style="display:none" placeholder="Enter other site">

<hr class="p-2">

	<h5>Laterality</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box2">
	<option selected>Not specified</option>
	<option>Right</option>
	<option>Left</option>
	<option>Midline</option>
	<option>Bilateral</option>
	<option>Not applicable</option>
	</select>

<hr class="p-2">

	<h5>Procedure (Note B)</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box3">
	<option selected> Not Specified </option>
	<option>Open biopsy</option>
	<option>Resection</option>
	<option>Stereotactic biopsy</option>
	<option>Other:</option>
	</select>
	<input type="text" class="form-control form-control-sm "  id="box3_2" style="display:none" placeholder="Enter Procedure">

<hr class="p-2">

	<h5>Histologic Type (WHO classification of tumors of the central nervous system) (Note C)</h5><br>
	<input type="text" class="form-control form-control-sm "  id="box4" >

<hr class="p-2">

	<h5>Histologic Grade (WHO histologic grade) (Note D)</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box5">
	<option selected>Not Applicable</option>
	<option>WHO Grade I</option>
	<option>WHO Grade II</option>
	<option>WHO Grade III</option>
	<option>WHO Grade IV</option>
	<option>Cannot be determined</option>
	</select>

<hr class="p-2">

	<h5>+ Specimen Handling (select all that apply) (Note F)</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box6" multiple>
	<option selected>Squash/smear/touch preparation</option>
	<option selected>Frozen section</option>
	<option selected>Unfrozen, formalin-fixed for permanent paraffin sections</option>
	<option>Tissue for electron microscopy</option>
	<option>Frozen tissue</option>
	<option>Tissue for karyotype</option>
	<option>Tissue for cyto-molecular studies</option>
	<option>Not specified</option>
	</select>

<hr class="p-2">

	<h5> + Margins (malignant peripheral nerve sheath tumor only) (Note G)</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box7">
	<option selected>Not Applicable</option>
	<option>Cannot be assessed</option>
	<option>Margins not involved by tumor</option>
	<option>Margins involved by tumor</option>
	</select>
	<input type="text" class="form-control form-control-sm "  id="box7_2" style="display:none" placeholder="Dist to margin (cm)" >
	<input type="text" class="form-control form-control-sm "  id="box7_3" style="display:none" placeholder="Closest margin designation?" >
	<input type="text" class="form-control form-control-sm "  id="box7_4" style="display:none" placeholder="Which margin involved by tumor?" >

<hr class="p-2">

	<h5> + Ancillary Studies, if applicable (select all that apply) (Note H)</h5><br>
	Designated block for future studies:<br>
	<input type="text" class="form-control form-control-sm "  id="box8"  placeholder="Not applicable">

<hr class="p-2">

	<h5>+ Special Stains (select all that apply)</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box9" multiple>
	<option selected>None performed</option>
	<option>GMS</option>
	<option>AFB</option>
	<option>Gram</option>
	<option>EVG</option>
	<option>PAS-d</option>
	<option>Reticulin</option>
	</select>

<hr class="p-2">

	<h5>+ Immunohistochemistry: </h5><br>
            <input type="text" class="form-control form-control-sm "  id="box10"  placeholder="None performed">

<hr class="p-2">

	<h5>+ Electron Microscopy </h5><br>
    <input type="text" class="form-control form-control-sm "  id="box11"  placeholder="None performed">

<hr class="p-2">

	<h5>+ Molecular Genetic Studies </h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box12" multiple >
	<option selected>None performed</option>
	<option value="Array CGH pending; see addendum">array CGH</option>
	<option value="Solid tumor mutation panel pending; see addendum">NGS mutation panel</option>
	<option>Karyotype</option>
	<option>1p/19q FISH</option>
	<option>BRAF V600E </option>
	<option>NMYC amplification </option>
	<option>IDH1/2 mutation </option>
	<option>MGMT status </option>
	</select>

<hr class="p-2">

	<h5>The following sections will be appended only if applicable</h5><br>
	<h5>+ Preresection Treatment (select all that apply) (Note K)</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box13" multiple >
	<option selected>Unknown</option>
	<option>Chemotherapy</option>
	<option>Radiation therapy</option>
	<option>Corticosteroids</option>
	<option>Embolization</option>
	<option>Thermal ablastion</option>
	<option>Therapy performed, type not specified</option>
	</select>

<hr class="p-2">

	<h5>+ Treatment Effect (Note K)</h5><br>
	<select class="form-control selectpicker form-control-sm "  id="box14" >
	<option selected>Not identified</option>
	<option>Present</option>
	<option>Cannot be determined</option>
	</select>
	<input type="text" class="form-control form-control-sm "  id="box14_2" style="display:none" placeholder='Enter % necrosis seen' >

            <!-- close column -->
			</div>
			{{> page-partials/cap-footer}}
	<!-- close row -->
		</div>
		{{> page-partials/history-module}}
	<!-- close container -->
	</div>


			<!--
			"specificScripts":
				[
					"/js/cap/neuro-scripts.js",
				]
		 -->
