<div class="container-fluid">
	<!-- Breadcrumbs -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Home</a>
		</li>
		<li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i><a href="/cap/checklist">Cancer Synoptic Checklists</a></li>
		<li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>CNS Tumor Biomarker Template</li>
	</ol>
	{{> message-center this}}
	{{> page-partials/cap-header}}

	<div class="row">
		{{> page-partials/cap-validate-alert}}
		<div class="col col-md-8">

			<!-- paste markup here-->

			<hr>
			<div class="p-4">
			<h5>Tumor type</h5>
			<select id="box1" class='form-control selectpicker col-sm-12'>
				<option>Embryonal Tumor</option>
				<option>Glioma</option>
			</select>
			</div>
			<div class="embryonal">
				<hr class="p-2">

				<h4>Embryonal Tumor Biomarkers</h4>
				<hr class="p-2" >
				<h5>Nuclear Beta-Catenin Immunohistochemistry </h5>
				<select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
					<option value="Positive nuclear staining">Positive (nuclear staining in at least 50% of tumor cells)</option>
					<option value="Negative nuclear staining">Negative (no staining or nuclear staining in <50% of tumor cells)</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>Monosomy 6</h5>
				<select id="box3" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present</option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>GAB1 Immunohistochemistry</h5>
				<select id="box4" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Positive</option>
					<option>Negative</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>MYC Amplification</h5>
				<select id="box5" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present</option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>MYCN Amplification</h5>
				<select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present</option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>Isochromosome 17</h5>
				<select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present</option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>INI1 Immunohistochemistry</h5>
				<select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Loss of nuclear expression</option>
					<option>Intact nuclear expression</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>SMARCB1/INI1/HNSF5 Mutation</h5>
				<select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present </option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>

			</div>

			<div class="glioma" style="display:none;">

				<hr class="p-2">
				<h4>Glioma Biomarkers</h4>


				<hr class="p-2" >
				<h5>IDH1/2 Mutation</h5>
				<select id="box20" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present </option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>IDH1 R132H Immunohistochemistry</h5>
				<select id="box21" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Positive</option>
					<option>Negative</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>1p/19q Deletion </h5>
				<select id="box22" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>1p/19q co-deletion</option>
					<option>1p only deleted</option>
					<option>19q only deleted</option>
					<option>Polysomy </option>
					<option>Monosomy </option>
					<option>None detected </option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>TP53 Mutation</h5>
				<select id="box23" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present</option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>ATRX Mutation</h5>
				<select id="box24" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present</option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>ATRX Immunohistochemistry </h5>
				<select id="box25" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Loss of nuclear expression</option>
					<option>Intact nuclear expression </option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>EGFR Amplification </h5>
				<select id="box26" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present</option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>10q23 Deletion</h5>
				<select id="box27" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Deletion identified</option>
					<option>Polysomy</option>
					<option>Monosomy </option>
					<option>None detected</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>PTEN Mutatio</h5>
				<select id="box28" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present</option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>MGMT Promoter Methylation</h5>
				<select id="box29" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present</option>
					<option>Present, low level</option>
					<option>Present, high level</option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>BRAF Mutation</h5>
				<select id="box30" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>BRAF V600E (c.1799T>A) mutation present</option>
					<option>Other BRAF mutation present </option>
					<option>Absent </option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>BRAF V600E Immunohistochemistry</h5>
				<select id="box31" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Positive</option>
					<option>Negative</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>BRAF Rearrangement</h5>
				<select id="box32" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Present</option>
					<option>Absent</option>
					<option selected>Not applicable</option>
				</select>





				<hr class="p-2" >
				<h5>Ki-67%</h5>
				<input type="number" class="form-control form-control-sm col-sm-6" id="box33" placeholder="">

			</div>









			<hr class="p-2" >
			<h5>List any other findings here</h5>
			<textarea class="form-control form-control-sm w-100" id="box40" ></textarea>







			<!-- end markup-->

			<!-- close markup -->
		</div>
		{{> page-partials/cap-footer}}
		<!-- close row -->
	</div>
	{{> page-partials/history-module}}
	<!-- close container -->
</div>
