<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Neuroblastoma</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2">
            <h5>Specimen</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Adrenal/periadrenal</option>
                <option>Retroperitoneal, nonadrenal</option>
                <option>Thoracic paraspinal</option>
                <option>Cervical region</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2">
            <h5>Procedure</h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Resection</option>
                <option>Incisional biopsy</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box2_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2">
            <h5>Tumor Size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box3" placeholder="">




            <hr class="p-2">
            <h5>Patient Age</h5>
            <select id="box4" class='form-control selectpicker form-control-sm col-sm-6'>
                <option><18 months</option>
                <option>≥18 months and <5 years</option>
                <option>≥5 years</option>
            </select>





            <hr class="p-2">
            <h5>Histologic Type (select all that apply)</h5>
            <select multiple id="box5" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Neuroblastoma</option>
                <option>Ganglioneuroblastoma,  Nodular</option>
                <option>Ganglioneuroblastoma, Intermixed subtype</option>
                <option>Ganglioneuroma, Maturing</option>
                <option>Ganglioneuroma, Mature</option>
                <option>Neuroblastic tumor, unclassifiable</option>
                <option>Cannot be determined</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box5_2' style='display:none;' placeholder='Specify # of nodules'>





            <hr class="p-2">
            <h5>Degree of Differentiation (neuroblastic component)</h5>
            <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Undifferentiated</option>
                <option>Poorly differentiated</option>
                <option>Differentiating</option>
                <option>Cannot be determined </option>
                <option>Not applicable</option>
                <option selected>Not applicable</option>
            </select>





            <hr class="p-2">
            <h5>Mitotic-Karyorrhectic Index (neuroblastic component)</h5>
            <select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Low (<100 per 5000 cells; <2%)</option>
                <option>Intermediate (100-200 per 5000 cells; 2%-4%)</option>
                <option>High (>200 per 5000 cells; >4%)</option>
                <option>Cannot be determined</option>
                <option>Not applicable</option>
                <option selected>Not applicable</option>
            </select>





            <hr class="p-2">
            <h5>Treatment History</h5>
            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No known preoperative therapy</option>
                <option>Preoperative therapy given</option>
                <option>Not specified</option>
            </select>





            <hr class="p-2">
            <h5>+ Treatment Effect</h5>
            <select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No known preoperative therapy (not applicable)</option>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>

            <input type="number" class="form-control form-control-sm mt-3 col-sm-6" id='box9_2' style='display:none;' placeholder='Specify % tumor necrosi'>



            <hr class="p-2">
            <h5>International Neuroblastoma Pathology Classification
            <!-- Button trigger modal -->
            <button class="btn btn-sm btn-info ml-2 p-1"  data-toggle="modal" data-target="#help_inpc">
                INPC classification</button>

            <!-- Histology help Modal -->
            {{> page-modals/cap-helpers/nb-inpc}}

            </h5>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected>Favorable histopathology</option>
                <option>Unfavorable histopathology</option>
                <option>Multiple tumors present</option>
                <option>Cannot be determined secondary to insufficient material</option>
                <option>Not applicable due to previous therapy</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-10" id='box10_2' style='display:none;'
                   placeholder='List tumor and INPC classifications, separated by comma'>


            <hr class="p-2">
            <h5>Primary Tumor Extent</h5>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Encapsulated</option>
                <option>Extracapsular extension without adjacent organ involvement</option>
                <option>Extension into adjacent organs</option>
                <option>Extension into spinal canal</option>
                <option>Cannot be determined</option>
            </select>






            <hr class="p-2">
            <h5>Lymph Nodes</h5>


            <div class='lnchk'>
                <form class="form-inline mt-2 col-8">
                    <label class="m-2">Number of lymph nodes examined:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box13" style="width:100px"></label>
                    <label class="m-2">Number of lymph nodes involved:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box14" style="width:100px"></label>

                    <label class="m-2 posnodes" style="display: none;">Specify involved lymph nodes
                        <input type="text" class="form-control form-control-sm col-sm-6 ml-3" id="box15" placeholder="list involved sites"></label>
                </form>
            </div>





            <hr class="p-2">
            <h5>Distant Metastasis</h5>
            <select id="box16" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
                <option selected>Not applicable</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box16_2' style='display:none;' placeholder='Specify pathologically confirmed metastasis sites'>


            <hr class="p-2">

            <h5>Ancillary cytomolecular biomarker information</h5>

            <h6>MYCN Status</h6>

            <select class="form-control selectpicker form-control-sm" id="box21">
                <option>Not amplified</option>
                <option>Amplified</option>
                <option>Gain</option>
                <option>Cannot be determined</option>
                <option selected>Pending; see addendum</option>
                <option>Not performed</option>
                <option>Other </option>
            </select>

            <input id='box21_2' style='display:none;' placeholder='Specify'>


            <hr class="p-2">

            <h6>LOH Status</h6>

            <select class="form-control selectpicker form-control-sm" id="box22">
                <option>No LOH at 1p or 11q</option>
                <option>LOH at 1p; No LOH at 11q</option>
                <option>No LOH at 1p, LOH at 11q</option>
                <option>LOH at 1p and 11q detected</option>
                <option>Cannot be determined</option>
                <option selected>Pending; see addendum</option>
                <option>Not performed</option>
                <option>Other </option>
            </select>

            <input id='box22_2' style='display:none;' placeholder='Specify'>


            <hr class="p-2">

            <h6>Ploidy</h6>

            <select class="form-control selectpicker form-control-sm" id="box23">
                <option>Diploid</option>
                <option>near Diploid</option>
                <option>Hyperdiploid</option>
                <option>Tetraploid</option>
                <option>Cannot be determined</option>
                <option selected>Pending; see addendum</option>
                <option>Not performed</option>
                <option>Other </option>
            </select>

            <input id='box23_2' style='display:none;' placeholder='Specify'>

            <hr class="p-2">


            <h6>Alk status</h6>

            <select class="form-control selectpicker form-control-sm" id="box24">
                <option selected>Not applicable</option>
                <option>Alk positive (detected by IHC)</option>
                <option>Alk negative (detected by IHC)</option>
                <option>No Alk mutations (by sequencing)</option>
                <option>Alk mutation detected (by sequencing)</option>
                <option>Cannot be determined</option>
                <option >Pending; see addendum</option>
                <option>Not performed</option>
                <option>Other </option>
            </select>

            <input id='box24_2' style='display:none;' placeholder='Specify'>


            <hr class="p-2">
            <h5>INRG staging system
            <!-- Button trigger modal -->
            <button class="btn btn-sm btn-info ml-2 p-1"  data-toggle="modal" data-target="#help_inrg">INRG Staging System Explained</button>

            <!-- Histology help Modal -->
            {{> page-modals/cap-helpers/nb-inrg}}

            </h5>
            <select id="box25" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Stage L1</option>
                <option>Stage L2</option>
                <option>Stage M</option>
                <option>Stage MS</option>
                <option selected>Not applicable</option>
            </select>


            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
