<div class="container-fluid">
	<!-- Breadcrumbs -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Home</a>
		</li>
		<li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i><a href="/cap/checklist">Cancer Synoptic Checklists</a></li>
		<li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>CNS Tumor Biomarker Template</li>
	</ol>
	{{> message-center this}}
	{{> page-partials/cap-header}}

	<div class="row">
		{{> page-partials/cap-validate-alert}}
		<div class="col col-md-8">

			<!-- paste markup here-->

			<hr>
			<div class="p-4">

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">ATRX mutation</h5>
						<div class="card-block">
							<select id="box1" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
							</select><br>
							<input class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify details'>
						</div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">BRAF mutation</h5>
						<div class="card-block">
							<select id="box5" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present: BRAF V600E</option>
								<option>Present: Other BRAF mutation</option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">BRAF rearrangement</h5>
						<div class="card-block">
							<select id="box6" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present: KIAA1549-BRAF rearrangement</option>
								<option>Present: Other BRAF rearrangement</option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">Beta-catenin mutation</h5>
						<div class="card-block">
							<select id="box10" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">Beta-catenin nuclear IHC</h5>
						<div class="card-block">
							<select id="box11" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Nuclear expression absent</option>
								<option>Nuclear expression present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">C19MC alteration</h5>
						<div class="card-block">
							<select id="box15" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Absent with low-level gain</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">1p/19q codeletion</h5>
						<div class="card-block">
							<select id="box20" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>No codeletion detected</option>
								<option>1p/19q codeletion detected</option>
								<option>1p deletion only</option>
								<option>19q deletion only</option>
								<option>Relative deletion</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">Chromosome 7  gain</h5>
						<div class="card-block">
							<select id="box25" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">PTEN deletion</h5>
						<div class="card-block">
							<select id="box30" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">PTEN mutation</h5>
						<div class="card-block">
							<select id="box31" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">EGFR amplification</h5>
						<div class="card-block">
							<select id="box35" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Absent with low-level gain</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">EGFRvIII mutation</h5>
						<div class="card-block">
							<select id="box36" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">FGFR1 mutation</h5>
						<div class="card-block">
							<select id="box40" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">H3 gene family mutation</h5>
						<div class="card-block">
							<select id="box41" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
							</select><br>
							<input class="form-control form-control-sm mt-3 col-sm-6" id='box41_2' style='display:none;' placeholder='Specify H3 gene and locus'>
						</div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">Alk alteration</h5>
						<div class="card-block">
							<select id="box42" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present, mutation</option>
								<option>Present, rearrangement</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">NTRK alteration</h5>
						<div class="card-block">
							<select id="box43" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present, mutation</option>
								<option>Present, rearrangement</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">BCOR alteration</h5>
						<div class="card-block">
							<select id="box44" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present, mutation</option>
								<option>Present, rearrangement</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">SMARBC1 alteration</h5>
						<div class="card-block">
							<select id="box45" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present, deletion</option>
								<option>Present, mutation</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">IDH1/2 mutation</h5>
						<div class="card-block">
							<select id="box50" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">Isochromosome 17q</h5>
						<div class="card-block">
							<select id="box55" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">MGMT promoter methylation</h5>
						<div class="card-block">
							<select id="box60" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">Monosomy 6</h5>
						<div class="card-block">
							<select id="box65" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">MYC amplification</h5>
						<div class="card-block">
							<select id="box70" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">MYCN amplification</h5>
						<div class="card-block">
							<select id="box71" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">NAB2-STAT6 fusion</h5>
						<div class="card-block">
							<select id="box75" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">RELA fusion</h5>
						<div class="card-block">
							<select id="box80" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">TERT promoter mutation</h5>
						<div class="card-block">
							<select id="box85" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present, Hotspot mutation (C228T or C250T)</option>
								<option>Present, other TERT mutation</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">TP53 mutation</h5>
						<div class="card-block">
							<select id="box90" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">YAP1 fusion</h5>
						<div class="card-block">
							<select id="box95" class='form-control form-control-sm col-sm-6'>
								<option>Not performed</option>
								<option>Absent</option>
								<option>Present</option>
								<option></option>
							</select></div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">Other cytogenetic findings:</h5>
						<div class="card-block">
							<textarea class="w-100" rows="5" id="box98" placeholder=""></textarea> </div>
					</div>
				</div>

				<div class="card-block">
					<div class="card">
						<h5 class="card-header">Other molecular findings:</h5>
						<div class="card-block">
							<textarea class="w-100" rows="5" id="box99" placeholder=""></textarea> </div>
					</div>
				</div>
			</div>



			<!-- end markup-->

			<!-- close markup -->
		</div>
		{{> page-partials/cap-footer}}
		<!-- close row -->
	</div>
	{{> page-partials/history-module}}
	<!-- close container -->
</div>
