<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active" id="bc-jump"><i class="fa fa-flask mr-2"></i>Pancreatic Exocrine tumors</li>
    </ol>

    {{> message-center this}}


    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">


            <hr class="p-2">


            <h5>Procedure</h5>

            <select class="form-control selectpicker form-control-sm " id="box2">
                <option>Pancreaticoduodenectomy (Whipple resection), partial pancreatectomy</option>
                <option>Total pancreatectomy</option>
                <option>Partial pancreatectomy, pancreatic body</option>
                <option>Partial pancreatectomy, pancreatic tail</option>
                <option>Distal pancreatectomy (body, tail) and splenectomy</option>
                <option>Distal pancreatectomy (tail) and splenectomy</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>
            <input type="text" class="form-control form-control-sm " id='box2_2' style='display:none;'
                   placeholder='Specify procedure'>


            <hr class="p-2">


            <h5>Tumor Site (select all that apply)
            <!-- Button trigger modal -->
            <button class="btn btn-sm btn-info ml-2 p-1"  data-toggle="modal" data-target="#help_pancreas">A word about pancreactic anatomy</button>

            <!-- Histology help Modal -->
            {{> page-modals/cap-helpers/panc-exo-definition}}

            </h5>

            <select class="form-control selectpicker form-control-sm " multiple id="box3">
                <option>Pancreatic head</option>
                <option>Uncinate process</option>
                <option>Pancreatic body</option>
                <option>Pancreatic tail</option>
                <option>Other</option>
                <option>Cannot be determined</option>
                <option>Not specified</option>
            </select>

            <input type="text" class="form-control form-control-sm " id='box3_2' style='display:none;'
                   placeholder='Specify site'>


            <hr class="p-2">
            <h5>Tumor size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box4" placeholder="">

            <hr class="p-2">
            <h5>Histologic type</h5>
            <select id="box5" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Ductal adenocarcinoma</option>
                <option>Colloid carcinoma (mucinous noncystic carcinoma)</option>
                <option>Signet-ring cell carcinoma</option>
                <option>Adenosquamous carcinoma</option>
                <option>Intraductal papillary-mucinous neoplasm with an associated invasive carcinoma</option>
                <option>Intraductal tubulopapillary neoplasm with an associated invasive carcinoma</option>
                <option>Mucinous cystic neoplasm with an associated invasive carcinoma</option>
                <option>Large cell neuroendocrine carcinoma</option>
                <option>Small cell neuroendocrine carcinoma</option>
                <option>Neuroendocrine carcinoma (poorly differentiated)#</option>
                <option>Undifferentiated (anaplastic) carcinoma</option>
                <option>Undifferentiated carcinoma with osteoclast-like giant cells</option>
                <option>Acinar cell carcinoma</option>
                <option>Acinar cell cystadenocarcinoma</option>
                <option>Serous cystadenocarcinoma</option>
                <option>Mixed acinar-ductal carcinoma</option>
                <option>Mixed ductal-neuroendocrine carcinoma</option>
                <option>Mixed acinar-neuroendocrine carcinoma</option>
                <option>Mixed acinar-neuroendocrine-ductal carcinoma</option>
                <option>Solid-pseudopapillary neoplasm</option>
                <option>Hepatoid carcinoma</option>
                <option>Medullary carcinoma</option>
                <option>Other histologic type</option>
            </select>

            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box5_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">


            <h5>Histologic grade (ductal carcinomas only)</h5>

            <select class="form-control selectpicker form-control-sm " id="box6">
                <option>Not applicable</option>
                <option>GX: Cannot be assessed</option>
                <option>G1: Well differentiated</option>
                <option>G2: Moderately differentiated</option>
                <option>G3: Poorly differentiated</option>
                <option>G4: Undifferentiated</option>
                <option>Other</option>
            </select>
            <input type="text" class="form-control form-control-sm " id='box6_2' style='display:none;'
                   placeholder='Specify other grade'>


            <hr class="p-2">
            <h5>Tumor Extension (select all that apply)</h5>
            <select multiple id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No evidence of primary tumor</option>
                <option>No invasion (carcinoma in situ/high-grade dysplasia, includes pancreatic high-grade intraepithelial neoplasia)</option>
                <option>Tumor is confined to pancreas</option>
                <option>Tumor invades ampulla of Vater or sphincter of Oddi</option>
                <option>Tumor invades duodenal wall</option>
                <option>Tumor invades peripancreatic soft tissues</option>
                <option>Tumor invades retroperitoneal soft tissues</option>
                <option>Tumor invades mesenteric adipose tissue</option>
                <option>Tumor invades mesocolon</option>
                <option>Tumor invades other peripancreatic soft tissue</option>
                <option>Tumor invades extrapancreatic common bile duct</option>
                <option>Tumor invades other adjacent organs or structures</option>
                <option>Tumor involves posterior surface of pancreas</option>
                <option>Tumor involves anterior surface of pancreas</option>
                <option>Tumor involves vascular bed/groove (corresponding to superior mesenteric vein/portal vein)</option>
                <option>Cannot be assessed</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_2' style='display:none;' placeholder='Specify structures invaded'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_3' style='display:none;' placeholder='Specify soft tissue site'>

            <hr class="p-2">
            <h5>Margins</h5>
            <select id="box20" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>All margins are uninvolved by invasive carcinoma and high-grade intraepithelial neoplasia</option>
                <option>At least one margin involved by invasive carcinoma</option>
            </select>
            <div id='box20_2' class="negmargins">
                <h6 class="mt-3" >
                    Specify margins examined</h6>
                <select multiple id="box21" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>proximal pancreatic parenchymal</option>
                    <option>distal pancreatic parenchymal</option>
                    <option>pancreatic neck/parenchymal, uncinate </option>
                    <option>bile duct</option>
                    <option>proximal (gastric or duodenal)</option>
                    <option>distal (duodenal or jejunal)</option>
                    <option>Other margins</option>
                </select>

                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box21_2' style='display:none;' placeholder='Specify Other margins'>
            </div>
            <div id='box20_3' class="posmargins" style='display:none;'>

                <div class="segmental" style="display: none;">
                    <h6 class="mt-3" >
                        Margins - Proximal Pancreatic Parenchymal</h6>

                    <select multiple id="box22" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>Cannot be assessed</option>
                        <option>Uninvolved by invasive carcinoma and pancreatic high-grade intraepithelial neoplasia</option>
                        <option>Uninvolved by invasive carcinoma</option>
                        <option>Involved by invasive carcinoma</option>
                        <option>Involved by pancreatic high-grade intraepithelial neoplasia</option>
                    </select>

                    <input type="text" class="form-control form-control-sm col-sm-6" id='box22_2' style='display:none;' placeholder='Specify distance from margin (mm)'>






                    <h6 class="mt-3" >
                        Margins - Distal Pancreatic Parenchymal Margin</h6>

                    <select multiple id="box23" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>Not applicable</option>
                        <option>Cannot be assessed</option>
                        <option>Uninvolved by invasive carcinoma and pancreatic high-grade intraepithelial neoplasia</option>
                        <option>Uninvolved by invasive carcinoma</option>
                        <option>Involved by invasive carcinoma</option>
                        <option>Involved by pancreatic high-grade intraepithelial neoplasia</option>
                    </select>
                    <input type="text" class="form-control form-control-sm col-sm-6" id='box23_2' style='display:none;' placeholder='Specify distance from margin (mm)'>
                </div>
                <div class="whipple" >
                    <h6 class="mt-3">Margins - Pancreatic neck/parenchymal</h6>

                    <select multiple id="box24" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>Cannot be assessed</option>
                        <option>Uninvolved by invasive carcinoma and high-grade intraepithelial neoplasia</option>
                        <option>Uninvolved by invasive carcinoma</option>
                        <option>Involved by invasive carcinoma</option>
                        <option>Involved by high-grade intraepithelial neoplasia</option>
                    </select>
                    <input type="text" class="form-control form-control-sm col-sm-6" id='box24_2' style='display:none;' placeholder='Specify distance of invasive carcinoma to the margin (mm)'>







                    <h6 class="mt-3">Margins - Uncinate</h6>

                    <select id="box25" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>Cannot be assessed</option>
                        <option>Uninvolved by invasive carcinoma</option>
                        <option>Involved by invasive carcinoma</option>
                    </select>

                    <input type="text" class="form-control form-control-sm col-sm-6" id='box25_2' style='display:none;' placeholder='Specify distance of invasive carcinoma to this margin (mm)'>







                    <h6 class="mt-3">Margins - Bile duct</h6>

                    <select multiple id="box26" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>Cannot be assessed</option>
                        <option>Uninvolved by invasive carcinoma and high-grade intraepithelial neoplasia</option>
                        <option>Uninvolved by invasive carcinoma</option>
                        <option>Involved by invasive carcinoma</option>
                        <option>Involved by high-grade intraepithelial neoplasia</option>
                    </select>

                    <input type="text" class="form-control form-control-sm col-sm-6" id='box26_2' style='display:none;' placeholder='Specify distance from margin (mm)'>







                    <h6 class="mt-3">Margins - Proximal Margin</h6>
                    <select multiple id="box27" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>Cannot be assessed</option>
                        <option>Uninvolved by invasive carcinoma and high-grade dysplasia</option>
                        <option>Uninvolved by invasive carcinoma</option>
                        <option>Involved by invasive carcinoma</option>
                        <option>Involved by high-grade dysplasia</option>
                    </select>





                    <h6 class="mt-3">Margins - Distal Margin</h6>
                    <select multiple id="box28" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>Cannot be assessed</option>
                        <option>Uninvolved by invasive carcinoma and high-grade dysplasia</option>
                        <option>Uninvolved by invasive carcinoma</option>
                        <option>Involved by invasive carcinoma</option>
                        <option>Involved by high-grade dysplasia</option>
                    </select>





                </div><!-- end whipple margins-->

                <hr class="p-2">
                <h6>Margin - Other</h6>
                <select id="box29" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option selected>Not applicable</option>
                    <option>Cannot be assessed</option>
                    <option>Uninvolved by invasive carcinoma</option>
                    <option>Involved by invasive carcinoma</option>
                </select>

                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box29_2' style='display:none;' placeholder='Specify other margin'>

            </div>


            <hr class="p-2">


            <h5>Treatment effect (for carcinomas with neoadjuvant therapy)</h5>

            <select class="form-control selectpicker form-control-sm " id="box9">
                <option>No prior treatment</option>
                <option>Present; No viable cancer cells (complete response, score 0)</option>
                <option>Present; Single cells or rare small groups of cancer cells (near complete response, score 1)
                </option>
                <option>Present; Residual cancer with evident tumor regression, but more than single cells or rare small
                    groups of cancer cells (partial response, score 2)
                </option>
                <option>Extensive residual cancer with no evident tumor regression (poor or no response, score 3)
                </option>
                <option>Not known</option>
            </select>


            <hr class="p-2">


            <h5>Lymph-vascular invasion</h5>

            <select class="form-control selectpicker form-control-sm " id="box10">
                <option>Not identified</option>
                <option>Present</option>
                <option>Indeterminate</option>
            </select>


            <hr class="p-2">


            <h5>Perineural invasion</h5>

            <select class="form-control selectpicker form-control-sm " id="box11">
                <option>Not identified</option>
                <option>Present</option>
                <option>Indeterminate</option>
            </select>


            <hr class="p-2">
            <h5>Pathologic Staging (pTNM)

            </h5>

            <h6>TNM Descriptors (select all that apply)</h6>
            <select id="box30" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                <option selected value="Not applicable">Not applicable</option>
                <option>m</option>
                <option>r</option>
                <option>y</option>
            </select>
            <h6 class='mt-2'>pT
            <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
               title="(Carcinoma in-situ includes high-grade pancreatic intraepithelial neoplasia (PanIN-3), intraductal papillary mucinous neoplasm with high-grade dysplasia, intraductal tubulopapillary neoplasm with high-grade dysplasia, and mucinous cystic neoplasm with high-grade dysplasia)" aria-hidden="true"></i>
            </h6>
            <select id="box31" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pTX">pTX: Primary tumor cannot be assessed</option>
                <option value="pT0">pT0: No evidence of primary tumor</option>
                <option value="pTis">pTis: Carcinoma in situ</option>
                <option value="pT1">pT1: Tumor ≤2 cm in greatest dimension</option>
                <option value="pT1a">pT1a: Tumor ≤0.5 cm in greatest dimension</option>
                <option value="pT1b">pT1b: Tumor >0.5 cm and <1 cm in greatest dimension</option>
                <option value="pT1c">pT1c: Tumor 1–2 cm in greatest dimension</option>
                <option value="pT2">pT2: Tumor >2 cm and ≤4 cm in greatest dimension</option>
                <option value="pT3">pT3: Tumor >4 cm in greatest dimension</option>
                <option value="pT4">pT4: Tumor involves the celiac axis, superior mesenteric artery, and/or common hepatic artery</option>
            </select>


            <h6 class='mt-2'>pN</h6>
            <select id="box32" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pNX">pNX: Regional lymph nodes cannot be assessed</option>
                <option value="pN0">pN0: No regional lymph node metastasis</option>
                <option value="pN1">pN1: Metastasis in one to three regional lymph nodes</option>
                <option value="pN2">pN2: Metastasis in four or more regional lymph nodes</option>
            </select>


            <h6 class='mt-2'>pM</h6>
            <select id="box33" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected value='pMx'>pMx: Not applicable</option>
                <option value="pM1">pM1: Distant metastasis</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box33_2" style="display:none;" placeholder="Specify metastatic sites">

            <form class="form-inline mt-2">
                <label class="form-check-label">Check here if any lymph nodes submitted?
                    <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box34" >
                </label>
            </form>

            <div class='lnchk' style='display:none;'>
                <form class="form-inline mt-2 col-8">
                    <label class="m-2">Number of lymph nodes examined: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box35" style="width:100px"></label>
                    <label class="m-2">Number of lymph nodes involved: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box36" style="width:100px"></label>
                </form>
            </div>





            <hr class="p-2">


            <h5>+Additional pathologic findings (select all that apply)</h5>

            <select class="form-control selectpicker form-control-sm " multiple id="box14">
                <option>None identified</option>
                <option>Pancreatic intraepithelial neoplasia</option>
                <option>Chronic pancreatitis</option>
                <option>Acute pancreatitis</option>
                <option>Other</option>
            </select>

            <input type="text" class="form-control form-control-sm " id='box14_2' style='display:none;'
                   placeholder='Specify'>



            <!-- close column -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>


<!--
"specificScripts":
    [
        "/js/cap/pancexo-scripts.js",
    ]
-->
