<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Pharynx Tumors</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2">
            <h5>Procedure (select all that apply)</h5>
            <select multiple id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Excision</option>
                <option>Tonsillectomy</option>
                <option>Laryngopharyngectomy</option>
                <option>Neck (lymph node) dissection</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify Other'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_3' style='display:none;' placeholder='Specify dissection'>


            <hr class="p-2">
            <h5>Tumor Site
            <!-- Button trigger modal -->
            <button class="btn btn-sm btn-info ml-2 p-1"  data-toggle="modal" data-target="#help_pharynx">About pharyngeal tumor sites</button>

            <!-- Histology help Modal -->
            {{> page-modals/cap-helpers/pharyngeal-sites}}

            </h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Oropharynx</option>
                <option>Nasopharynx</option>
                <option>Hypopharynx</option>
                <option>Not specified</option>
            </select>
            
            <hr class="p-2">
            <h5>Tumor Laterality</h5>
            <select multiple id="box3" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Left</option>
                <option>Right</option>
                <option>Midline</option>
                <option>Not specified</option>
            </select>


            <hr class="p-2">
            <h5>Tumor Focality</h5>
            <select id="box4" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Unifocal</option>
                <option>Multifocal</option>
                <option>Cannot be determined</option>
            </select>


            <hr class="p-2">
            <h5>Tumor Size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box5" placeholder="">


            <hr class="p-2">
            <h5>Histologic Type</h5>
            <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                <optgroup label="Oropharynx/Hypopharynx carcinomas">
                    <option>Human papillomavirus (HPV)-mediated (positive) squamous cell carcinoma of oropharynx
                    </option>
                    <option>HPV-unrelated (negative) squamous cell carcinoma of oropharynx</option>
                    <option>Oropharyngeal squamous cell carcinoma, HPV status unknown</option>
                    <option>Hypopharyngeal squamous cell carcinoma</option>
                </optgroup>
                <optgroup label="Carcinomas of the Nasopharynx">
                    <option>Keratinizing squamous cell carcinoma</option>
                    <option>Nonkeratinizing squamous cell carcinoma</option>
                    <option>Basaloid squamous cell carcinoma</option>
                </optgroup>
                <optgroup label="Carcinomas of Minor Salivary Glands">
                    <option>Mucoepidermoid carcinoma, low grade</option>
                    <option>Mucoepidermoid carcinoma, intermediate grade</option>
                    <option>Mucoepidermoid carcinoma, high grade</option>
                    <option>Adenoid cystic carcinoma, tubular pattern</option>
                    <option>Adenoid cystic carcinoma, cribriform pattern</option>
                    <option>Adenoid cystic carcinoma, solid pattern</option>
                    <option>Acinic cell carcinoma</option>
                    <option>Polymorphous adenocarcinoma, classic, low grade</option>
                    <option>Polymorphous adenocarcinoma, classic, intermediate grade</option>
                    <option>Polymorphous adenocarcinoma, classic, high grade</option>
                    <option>Polymorphous adenocarcinoma, cribriform (cribriform adenocarcinoma of salivary origin), low grade
                    </option>
                    <option>Polymorphous adenocarcinoma, cribriform (cribriform adenocarcinoma of salivary origin),
                        intermediate grade
                    </option>
                    <option>Polymorphous adenocarcinoma, cribriform (cribriform adenocarcinoma of salivary origin), high
                        grade
                    </option>
                    <option>(Mammary analogue) Secretory carcinoma</option>
                    <option>Salivary duct carcinoma</option>
                    <option>Epithelial-myoepithelial carcinoma</option>
                    <option>Hyalinizing clear cell carcinoma</option>
                    <option>Adenocarcinoma, not otherwise specified, low grade</option>
                    <option>Adenocarcinoma, not otherwise specified, intermediate grade</option>
                    <option>Adenocarcinoma, not otherwise specified, high grade</option>
                    <option>Basal cell adenocarcinoma</option>
                    <option>Carcinosarcoma (true malignant mixed tumor)</option>
                    <option>Intraductal carcinoma, low grade</option>
                    <option>Intraductal carcinoma, high grade</option>
                    <option>Lymphoepithelial carcinoma</option>
                    <option>Myoepithelial carcinoma</option>
                    <option>Oncocytic carcinoma</option>
                    <option>Carcinoma ex pleomorphic adenoma, minimally invasive</option>
                    <option>Carcinoma ex pleomorphic adenoma, invasive</option>
                    <option>Carcinoma ex pleomorphic adenoma, intracapsular (noninvasive)</option>
                </optgroup>
                <optgroup label="Adenocarcinomas (Non-Salivary Gland Type)">
                    <option>Nasopharyngeal papillary adenocarcinoma</option>
                </optgroup>
                <optgroup label="Neuroendocrine Carcinoma">
                    <option>Small cell neuroendocrine carcinoma, HPV negative</option>
                    <option>Small cell neuroendocrine carcinoma, HPV positive</option>
                    <option>Large cell neuroendocrine carcinoma, HPV negative</option>
                    <option>Large cell neuroendocrine carcinoma, HPV positive</option>
                </optgroup>
                <optgroup label="Melanoma">
                    <option>Mucosal melanoma</option>
                </optgroup>
                <option>Carcinoma, type cannot be determined</option>
                <option>Other histologic type</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2' style='display:none;'
                   placeholder='Specify Other histology'>


            <hr class="p-2">
            <h5>Histologic Grade - required for squamous cell carcinomas only</h5>
            <select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>G1: Well differentiated</option>
                <option>G2: Moderately differentiated</option>
                <option>G3: Poorly differentiated</option>
                <option>Other</option>
                <option>GX: Cannot be assessed</option>
                <option selected>Not applicable</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Margins - Invasive tumor</h5>

            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by invasive tumor</option>
                <option>Involved by invasive tumor</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_1' style='display:none;'
                   placeholder='Specify closest margin'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_2' style='display:none;'
                   placeholder='Specify distance from margin (mm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_3' style='display:none;'
                   placeholder='Specify involved margin'>


            <hr class="p-2">
            <h5>Margins - High-grade dysplasia
            <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
               title="Applicable only to nonoropharyngeal and HPV-negative oropharyngeal squamous cell carcinoma and histologic variants, and required only if margins uninvolved by invasive carcinoma." aria-hidden="true"></i>
            </h5>

            <select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>No high-grade dysplasia/in situ disease present</option>
                <option>Uninvolved by high-grade dysplasia/in situ disease</option>
                <option>Involved by high-grade dysplasia/in situ disease</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box9_1' style='display:none;'
                   placeholder='Specify closest margin'><br>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box9_2' style='display:none;'
                   placeholder='Specify distance from margin (mm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box9_3' style='display:none;'
                   placeholder='Specify involved margin'>


            <hr class="p-2">
            <h5>Lymphovascular Invasion</h5>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>


            <hr class="p-2">
            <h5>Perineural Invasion</h5>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>


            <hr class="p-2">
            <h5>Pathologic Staging (pTNM)

            </h5>

            <h6>TNM Descriptors (select all that apply)</h6><br>
            <select id="box12" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                <option selected value="Not applicable">Not applicable</option>
                <option>m</option>
                <option>r</option>
                <option>y</option>
            </select>
            <h6 class='mt-2'>pT</h6>
            <select id="box13" class='form-control selectpicker form-control-sm col-sm-6'>

            </select>

            <h6 class='mt-2'>pN</h6>
            <select id="box14" class='form-control selectpicker form-control-sm col-sm-6'>

            </select>

            <h6 class='mt-2'>pM</h6>
            <select id="box15" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected value='pMx'>pMx: Not applicable</option>
                <option value="pM1">pM1: Distant metastasis</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box15_2" style="display:none;"
                   placeholder="Specify metastatic sites">

            <form class="form-inline mt-4">
                <label class="form-check-label">Check here if any lymph nodes submitted?
                    <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box16">
                </label>
            </form>
            <div class='lnchk' style='display:none;'>
                <form class="form-inline col-8">
                    <label class="m-2">Number of lymph nodes examined: <input type="number"
                                                                              class="form-control form-control-sm col-sm-6 ml-3"
                                                                              id="box17" style="width:100px"></label>
                    <label class="m-2">Number of lymph nodes involved: <input type="number"
                                                                              class="form-control form-control-sm col-sm-6 ml-3"
                                                                              id="box18" style="width:100px"></label>
                </form>
                        <div class="posnodes" style="display:none;">
                            <h6 class="mt-3">Laterality of Lymph Nodes Involved</h6>
                            <select id="box19" class='form-control selectpicker form-control-sm col-sm-6'>
                                <option value="Ipsilateral">Ipsilateral (including midline)</option>
                                <option>Contralateral</option>
                                <option>Bilateral</option>
                                <option>Cannot be determined</option>
                            </select>

                            <h6 class="mt-3">Size of Largest Metastatic Deposit (cm)</h6>
                            <input type="text" class="form-control form-control-sm col-sm-6" id="box20" placeholder="">


                            <h6 class="mt-3">Extranodal Extension</h6>
                            <select id="box21" class='form-control selectpicker form-control-sm col-sm-6'>
                                <option>Not identified</option>
                                <option>Present</option>
                                <option>Cannot be determined</option>
                            </select>
                        </div>
            </div>


            <hr class="p-2">
            <h5>+ Additional Pathologic Findings (select all that apply)</h5>
            <select multiple id="box22" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>None identified</option>
                <option>Keratinizing dysplasia, mild</option>
                <option>Keratinizing dysplasia, moderate</option>
                <option>Keratinizing dysplasia, severe (carcinoma in situ)</option>
                <option>Nonkeratinizing dysplasia, mild</option>
                <option>Nonkeratinizing dysplasia, moderate</option>
                <option>Nonkeratinizing dysplasia, severe (carcinoma in situ)</option>
                <option>Inflammation</option>
                <option>Squamous metaplasia</option>
                <option>Epithelial hyperplasia</option>
                <option>Colonization, fungal</option>
                <option>Colonization, bacterial</option>
                <option>Other</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box22_2' style='display:none;'
                   placeholder='Specify Other'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box22_3' style='display:none;'
                   placeholder='Specify Inflammation type'>


            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
