<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>CAP Cancer Checklist</li>
        <li class="breadcrumb-item active" id="bc-jump"><i class="fa fa-flask mr-2"></i>Plasma Cell Neoplasm: Targeted
            biopsy or resection (not random bone marrow)
        </li>
    </ol>

    {{> message-center this}}


    {{> page-partials/cap-header}}

    <div class="row">
        <div class="col col-md-8">
            <h5>Specimen</h5>
            <select class="form-control selectpicker form-control-sm " id="box1">
                <option>Bone</option>
                <option>Non-osseous site</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>
            <input type="text" class="form-control form-control-sm " id='box1_2'
                   placeholder='Specify site'><br>

            <hr>

            <h5>Procedure</h5>
            <select class="form-control selectpicker form-control-sm " id="box2">
                <option>Biopsy</option>
                <option>Resection</option>
                <option>Fine-needle aspiration</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>
            <input type="text" class="form-control form-control-sm " id='box2_2' style='display:none;'
                   placeholder='Specify'>
            <hr>

            <h5>+ Tumor size (cm)</h5>
            <input type="text" class="form-control form-control-sm " id="box3" placeholder='n/a'>
            <hr>

            <h5>+ Cytology</h5>
            <select class="form-control selectpicker form-control-sm " id="box4">
                <option>Nonplasmablastic</option>
                <option>Plasmablastic</option>
            </select>
            <br>
            <hr>

            <h5>+ Immunoglobulin deposits</h5>
            <select class="form-control selectpicker form-control-sm " id="box5">
                <option>Not detected</option>
                <option>Amyloid present; no special stain performed</option>
                <option>Congo Red stain performed: Positive for amyloid</option>
                <option>Congo Red stain performed: Negative for amyloid</option>
                <option>Non-amyloid deposits present</option>
                <option>Not assessed</option>
            </select>
            <br>
            <hr>

            <h5>+ WHO Classification Subtype</h5>
            <select class="form-control selectpicker form-control-sm " id="box6">
                <option>Plasma cell myeloma</option>
                <option>Plasmacytoma</option>
                <option>Solitary plasmacytoma of bone</option>
                <option>Extraosseous plasmacytoma</option>
                <option>Plasmacytoma, not otherwise specified</option>
                <option>Other</option>
            </select>
            <input type="text" class="form-control form-control-sm " id='box6_2' style='display:none;'
                   placeholder='Specify'>
            <br>
            <hr>

            <h5>+ Immunoglobulin light-chain type</h5>
            <select class="form-control selectpicker form-control-sm " id="box7">
                <option>Kappa light chain</option>
                <option>Lambda light chain</option>
                <option>No light chain detected</option>
            </select>
            <br>
            <hr>

            <h5>+ Cytogenetic results</h5>
            <select class="form-control selectpicker form-control-sm " multiple id="box8">
                <option>Not applicable</option>
                <option>Cytogenetic testing not performed</option>
                <option>FISH pending; see addendum</option>
                <option>Karyotype pending: see addendum</option>
                <option>Monosomy 13/del 13q detected</option>
                <option>del 17p detected</option>
                <option>t(11;14) detected</option>
                <option>IgH (14q32) rerrangement detected</option>
            </select>


            <!-- close column -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>


<!--
"specificScripts":
    [
        "/js/cap/plasmacytoma-scripts.js",
    ]
-->
