<div class="container-fluid">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
				<li class="breadcrumb-item">
						<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>CAP Cancer Checklist</li>
				<li class="breadcrumb-item active" id="bc-jump"><i class="fa fa-flask mr-2"></i>PNET / Ewing sarcoma - Resections</li>
		</ol>

 {{> message-center this}}


		{{> page-partials/cap-header}}

   <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">
	        <!-- paste markup here-->
	
            <!-- close column -->
			</div>
			{{> page-partials/cap-footer}}
	<!-- close row -->
		</div>
		{{> page-partials/history-module}}
	<!-- close container -->
	</div>

