<div class="container-fluid">
	<!-- Breadcrumbs -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="/">Home</a>
		</li>
		<li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>CAP Cancer Checklist</li>
		<li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Rhabdomyosarcoma</li>
	</ol>
	{{> message-center this}}
	{{> page-partials/cap-header}}

	<div class="row">
		{{> page-partials/cap-validate-alert}}
		<div class="col col-md-8">

			<!-- paste markup here-->

			<hr>
			<h5>Procedure</h5>
			<select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Biopsy, Core needle</option>
				<option>Biopsy, Incisional</option>
				<option>Biopsy, Excisional</option>
				<option>Marginal resection</option>
				<option>Wide local resection</option>
				<option>Radical resection</option>
				<option>Amputation</option>
				<option>Other</option>
				<option>Not specified</option>
			</select>
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify Amputation type'>
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_3' style='display:none;' placeholder='Specify Other'>





			<hr>
			<h5>Tumor Site</h5>
			<select id="box3" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Bile duct</option>
				<option>Bladder/prostate</option>
				<option>Cranial parameningeal</option>
				<option>Extremity</option>
				<option>Genitourinary (not bladder/prostate)</option>
				<option>Head and neck </option>
				<option>Orbit</option>
				<option>Other</option>
				<option>Not specified</option>
			</select>
			<br>
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box3_2' style='display:none;' placeholder='Specify Other'>





			<hr>
			<h5>Tumor Size (cm)</h5>
			<input type="text" class="form-control form-control-sm col-sm-6" id="box4" placeholder="">




			<hr>
			<h5>Histologic Type</h5>
			<select id="box5" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Embryonal</option>
				<option>Alveolar</option>
				<option>Spindle cell and sclerosing</option>
				<option>Ectomesenchymoma</option>
				<option>Other Rhabdomyosarcoma, not otherwise specified (NOS</option>
			</select>
			<br>
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box5_2' style='display:none;' placeholder='Specify Other'>





			<hr>
			<h5>Anaplasia</h5>
			<select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Not identified</option>
				<option>Focal (single or few scattered anaplastic cells)</option>
				<option>Diffuse (clusters or sheets of anaplastic cells)</option>
				<option>Cannot be determined</option>
				<option selected>Not applicable</option>
			</select>





			<hr>
			<h5>Fusion Status</h5>
			<select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Not performed</option>
				<option>FISH pending; see addendum</option>
				<option>cGH pending; see addendum</option>
				<option>No FOXO1 rearrangement deteced</option>
				<option>FOXO1 rearrangement present</option>
				<option>Other or variant translocation</option>
			</select>
			<br>
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_2' style='display:none;' placeholder='Specify Other'>




			<div class="margins" style="display: none;">
				<hr>
				<h5>Margins (for resections only)</h5>

				<select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
					<option selected>Not applicable</option>
					<option>Cannot be assessed</option>
					<option>Uninvolved by tumor</option>
					<option>Involved by tumor</option>
				</select>
				<input type="text" class="form-control form-control-sm col-sm-6" id='box8_1' style='display:none;' placeholder='Specify closest margin'><br>
				<input type="text" class="form-control form-control-sm col-sm-6" id='box8_2' style='display:none;' placeholder='Specify distance from margin (mm)'>
				<input type="text" class="form-control form-control-sm col-sm-6" id='box8_3' style='display:none;' placeholder='Specify involved margin'>


			</div>



			<hr>
			<h5>Distant Metastasis</h5>
			<select id="box12" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Not known</option>
				<option>Present</option>
			</select>
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box12_2' style='display:none;' placeholder='Specify sites'>

			<br>

			<hr>
			<h5>Lymph node sampling</h5>
			<form class="form-inline">
				<label class="form-check-label">Check here if any lymph nodes submitted?
					<input class="form-control form-control-sm col-sm-6" type="checkbox" id="box13" >
				</label>
			</form>
			<br>
			<div class='lnchk' style='display:none;'><br>
				<form class="form-inline col-8">
					<label class="m-2">Number of lymph nodes examined: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box14" style="width:100px"></label>
					<label class="m-2">Number of lymph nodes involved: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box15" style="width:100px"></label>
				</form>
			</div>






			<hr>
			<h5>+ Preoperative Treatment</h5>
			<select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>No known preoperative therapy</option>
				<option>Chemotherapy given</option>
				<option>Radiation therapy given</option>
				<option>Preoperative therapy given, type not specified</option>
				<option>Not specified</option>
			</select>







			<hr>
			<h5>+ Treatment Effect</h5>
			<select id="box16" class='form-control selectpicker form-control-sm col-sm-6'>
				<option selected>Not applicable</option>
				<option>No known preoperative therapy</option>
				<option>Not identified</option>
				<option>Present</option>
				<option>Cannot be determined</option>
			</select>
			<br>
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box16_2' style='display:none;' placeholder='Specify % tumor necrosis'>





			<hr>
			<h5>The Intergroup Rhabdomyosarcoma Study Postsurgical Clinical Grouping System</h5>
			<select id="box17" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Not applicable</option>
				<option>Cannot be assessed</option>
				<option value="Group IA">Group IA: A Localized tumor, confined to site of origin, completely resected</option>
				<option value="Group IB">Group IB: Localized tumor, infiltrating beyond site of origin, completely resected</option>
				<option value="Group IIA">Group IIA: Localized tumor, gross total resection, but with microscopic residual disease</option>
				<option value="Group IIB">Group IIB: Locally extensive tumor (spread to regional lymph nodes), completely resected</option>
				<optionvalue="Group IIC">Group IIC: Locally extensive tumor (spread to regional lymph nodes), gross total resection, but microscopic residual disease</option>
				<option value="Group IIIA">Group IIIA: Localized or locally extensive tumor, gross residual disease after biopsy only</option>
				<option value="Group IIIB">Group IIIB: Localized or locally extensive tumor, gross residual disease after major resection (greater than 50% debulking)</option>
				<option value="Group IV">Group IV: Any size primary tumor, with or without regional lymph node involvement, with distant metastases, without respect to surgical approach to primary tumor</option>
			</select>








			<!-- end markup-->

			<!-- close markup -->
		</div>
		{{> page-partials/cap-footer}}
		<!-- close row -->
	</div>
	{{> page-partials/history-module}}
	<!-- close container -->
</div>
