<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>CAP Cancer Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Small Intestine carcinomas</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2">
            <h5>Procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Segmental resection</option>
                <option>Ileocolic resection</option>
                <option>Pancreaticoduodenectomy (Whipple)</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>
            <br>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2">
            <h5>Tumor Site</h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Duodenum</option>
                <option>Jejunum</option>
                <option>Ileum</option>
                <option>Small intestine, not otherwise specified</option>
                <option>Other</option>
            </select>
            <br>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box2_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2">
            <h5>Tumor Size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box3" placeholder="">
            <br>



            <hr class="p-2">
            <h5>Macroscopic Tumor Perforation</h5>
            <select id="box4" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>
            <br>




            <hr class="p-2">
            <h5>Histologic Type</h5>
            <select id="box5" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="Adenocarcinoma, NOS">Adenocarcinoma (not otherwise characterized)</option>
                <option value="Mucinous adenocarcinoma">Mucinous adenocarcinoma (greater than 50% mucinous)</option>
                <option value="Signet-ring cell carcinoma">Signet-ring cell carcinoma (greater than 50% signet-ring cells)</option>
                <option>Medullary carcinoma</option>
                <option>Adenosquamous carcinoma</option>
                <option>Squamous cell carcinoma</option>
                <option>Large cell neuroendocrine carcinoma</option>
                <option>Small cell neuroendocrine carcinoma</option>
                <option>Neuroendocrine carcinoma (poorly differentiated)</option>
                <option>Mixed adenoneuroendocrine carcinoma</option>
                <option>Undifferentiated carcinoma</option>
                <option>Other histologic type</option>
            </select>
            <br>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box5_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2">
            <h5>Histologic Grade</h5>
            <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>G1: Well differentiated</option>
                <option>G2: Moderately differentiated</option>
                <option>G3: Poorly differentiated</option>
                <option>G4: Undifferentiated</option>
                <option>Other</option>
                <option>GX: Cannot be assessed</option>
                <option>Not applicable</option>
            </select>
            <br>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2">
            <h5>Tumor Extension</h5>
            <select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No evidence of primary tumor</option>
                <option>High-grade dysplasia/carcinoma in situ</option>
                <option>Tumor invades the lamina propria</option>
                <option>Tumor invades the submucosa</option>
                <option>Tumor invades the muscularis propria</option>
                <option>Tumor invades through the muscularis propria into the subserosa, or extends into nonperitonealized perimuscular tissue (mesentery or retroperitoneum) without serosal penetration</option>
                <option>Tumor perforates the visceral peritoneum</option>
                <option>Tumor directly invades other organs/structures</option>
                <option>Cannot be assessed</option>
            </select>
            <br>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_2' style='display:none;' placeholder='Specify other'>





            <hr class="p-2">
            <h5>Margins</h5>
            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>All margins are uninvolved by invasive carcinoma, carcinoma in situ and adenoma</option>
                <option>One or more margins involved by neoplasia</option>
            </select>
            <br>
            <div class="margins" style="display: none;">
            <h6 class="mt-3">Proximal Margin</h6>
            <select id="box8_2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by invasive carcinoma, carcinoma in situ or adenoma</option>
                <option>Involved by invasive carcinoma</option>
                <option>Involved by carcinoma in situ only</option>
                <option>Involved by adenoma only</option>
            </select>

            <h6 class="mt-3">Distal Margin</h6>
                <select id="box8_3" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Cannot be assessed</option>
                    <option>Uninvolved by invasive carcinoma, carcinoma in situ or adenoma</option>
                    <option>Involved by invasive carcinoma</option>
                    <option>Involved by carcinoma in situ only</option>
                    <option>Involved by adenoma only</option>
                </select>

            <div class="segmental" style="display:none;">

                    <h6 class="mt-3">Radial Margin</h6>
                    <select id="box8_4" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>Cannot be assessed</option>
                        <option>Uninvolved by invasive carcinoma, carcinoma in situ or adenoma</option>
                        <option>Involved by invasive carcinoma</option>
                        <option>Involved by carcinoma in situ only</option>
                        <option>Involved by adenoma only</option>
                    </select>

            </div>

            <div class="whipple" style="display:none;">

                <h6 class="mt-3">Uncinate Margin</h6>
                <select id="box8_5" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Not applicable</option>
                    <option>Cannot be assessed</option>
                    <option>Uninvolved by invasive carcinoma</option>
                    <option>Involved by invasive carcinoma (tumor present with in 1 mm from margin)</option>
                </select>


                <h6 class="mt-3">Bile Duct Margin</h6>
                <select id="box8_6" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Not applicable</option>
                    <option>Cannot be assessed</option>
                    <option>Uninvolved by invasive carcinoma</option>
                    <option>Involved by invasive carcinoma</option>
                </select>

                <h6 class="mt-3">Pancreatic Margin</h6>
                <select id="box8_7" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Not applicable</option>
                    <option>Cannot be assessed</option>
                    <option>Uninvolved by invasive carcinoma</option>
                    <option>Involved by invasive carcinoma</option>
                </select>

            </div>


                <h6 class="mt-3">Other Margin (use if needed only)</h6>
                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box8_8_2' value='Specify other margin'>
                <select id="box8_8" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option selected>Not applicable</option>
                    <option>Cannot be assessed</option>
                    <option>Uninvolved by invasive carcinoma</option>
                    <option>Involved by invasive carcinoma</option>
                </select>
               



            </div>
            <br>

                <hr class="p-2">
                <h5>Lymphovascular Invasion</h5>
                <select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Not identified</option>
                    <option>Present</option>
                    <option>Cannot be determined</option>
                </select>





                <hr class="p-2">
                <h5>Pathologic Staging (pTNM)

                </h5>

                <h6>TNM Descriptors (select all that apply)</h6><br>
                <select id="box10" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                    <option selected value="Not applicable">Not applicable</option>
                    <option>m</option>
                    <option>r</option>
                    <option>y</option>
                </select>
                <h6 class='mt-2'>pT
                <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
                   title="Note: For T3 tumors, the nonperitonealized perimuscular tissue is, for the jejunum and ileum, part of the mesentery and,
                   for the duodenum in areas where serosa is lacking, part of the interface with the pancreas." aria-hidden="true"></i>
                </h6>
                <select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option value="pTX">pTX: Primary tumor cannot be assessed</option>
                    <option value="pT0">pT0: No evidence of primary tumor</option>
                    <option value="pTis">pTis: High-grade dysplasia/carcinoma in situ</option>
                    <option value="null">pT1 Tumor invades the lamina propria or submucosa</option>
                    <option value="pT1a">pT1a: Tumor invades the lamina propria</option>
                    <option value="pT1b">pT1b: Tumor invades the submucosa</option>
                    <option value="pT2">pT2: Tumor invades the muscularis propria</option>
                    <option value="pT3">pT3: Tumor invades through the muscularis propria into the subserosa or extends into the nonperitonealized perimuscular tissue (mesentery or retroperitoneum) without serosal penetration#</option>
                    <option value="pT4">pT4: Tumor perforates the visceral peritoneum or directly invades other organs or structures (e.g., other loops of small intestine, mesentery of adjacent loops of bowel, and abdominal wall by way of serosa; for duodenum only, invasion of pancreas or bile duct)</option>
                </select>
                <br>

                <h6 class='mt-2'>pN</h6>
                <select id="box12" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option value="pNX">pNX: Regional lymph nodes cannot be assessed</option>
                    <option value="pN0">pN0: No regional lymph node metastasis</option>
                    <option value="pN1">pN1: Metastasis in one or two regional lymph nodes</option>
                    <option value="pN2">pN2: Metastasis in three or more regional lymph nodes</option>
                </select>
                <br>

                <h6 class='mt-2'>pM</h6>
                <select id="box13" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option selected value='pMx'>pMx: Not applicable</option>
                    <option value="pM1">pM1: Distant metastasis</option>
                </select>
                <input type="text" class="form-control form-control-sm col-sm-6" id="box13_2" style="display:none;" placeholder="Specify metastatic sites">
                <br>
                <form class="form-inline">
                    <label class="form-check-label">Check here if any lymph nodes submitted?
                        <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box14" >
                    </label>
                </form>
                <div class='lnchk' style='display:none;'><br>
                    <form class="form-inline col-8">
                        <label class="m-2">Number of lymph nodes examined: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box15" style="width:100px"></label>
                        <label class="m-2">Number of lymph nodes involved: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box16" style="width:100px"></label>
                    </form>
                </div>


                <hr class="p-2">
                <h5>+ Additional Pathologic Findings (select all that apply)</h5>
                <select multiple id="box17" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>None identified</option>
                    <option>Adenoma(s)</option>
                    <option>Crohn disease</option>
                    <option>Celiac disease</option>
                    <option>Other polyps</option>
                    <option>Other findings</option>
                </select>
                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box17_2' style='display:none;' placeholder='Specify polyp types'>
                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box17_3' style='display:none;' placeholder='Specify other findings'>







                <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
