<div class="container-fluid">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
				<li class="breadcrumb-item">
						<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>CAP Cancer Checklist</li>
				<li class="breadcrumb-item active" id="bc-jump"><i class="fa fa-flask mr-2"></i>Soft Tissue Tumor Resection</li>
		</ol>

 {{> message-center this}}


		{{> page-partials/cap-header}}

	<div class="row">
		<div class="col col-md-8">

            <hr>
            <h5>Procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Intralesional resection</option>
                <option>Marginal resection</option>
                <option>Wide resection</option>
                <option>Radical resection</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>
            <br>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify Other'>





            <hr>
            <h5>Tumor Site</h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Head and neck</option>
                <option selected>Trunk and extremities</option>
                <option>Abdominal visceral organs</option>
                <option>Thoracic visceral organs</option>
                <option>Retroperitoneum</option>
                <option>Orbit</option>
                <option>Not specified</option>
            </select>
            <br>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box2_2' placeholder='Specify site'>





            <hr>
            <h5>Tumor Size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box3" placeholder="">




            <hr>
            <h5>Histologic Type</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box4" placeholder="Start typing and choose from list...">




            <hr>
            <h5>Mitotic Rate</h5>
            <form class="form-inline">
                <div class="form-group">
                    <label>Specify:</label>
                    <input type="number" class="form-control form-control-sm ml-2 mr-2" id="box5" style="width:100px" placeholder="0">			/10 high-power fields
                </div>
                <p class="w-100"><small>note: 1 HPF x 400 = 0.1734 mm2; X40 objective; most proliferative area</small></p>
            </form>




            <hr>
            <h5>Necrosis</h5>
            <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
            </select>
            <br>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2' style='display:none;' placeholder='Specify % necrosis'>





            <hr>
            <h5>Histologic Grade - based on FNCLCC grading scheme<!-- Question trigger modal -->
                <i class="fa fa-question-circle ml-2" data-toggle="modal" data-target="#help_sarcgrade"></i>
            </h5>
            <select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Grade 1</option>
                <option>Grade 2</option>
                <option>Grade 3</option>
                <option>Ungraded sarcoma</option>
                <option>Cannot be assessed</option>
            </select>





            <hr>
            <h5>Margins</h5>

            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by sarcoma</option>
                <option>Involved by sarcoma</option>
            </select>
            <br>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_1' style='display:none;' placeholder='Specify close (<2.0 cm from tumor) margins'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_2' style='display:none;' placeholder='Specify distance from closest margin (cm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_3' style='display:none;' placeholder='Specify involved margin(s)'>






            <hr>
            <h5>+ Lymphovascular Invasion</h5>
            <select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>





            <hr>
            <h5>Pathologic Staging (pTNM)

            </h5>

            <h6>TNM Descriptors (select all that apply)</h6><br>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                <option selected value="Not applicable">Not applicable</option>
                <option>m</option>
                <option>r</option>
                <option>y</option>
            </select>
            <h6 class='mt-2'>pT</h6>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pTX">pTX: Primary tumor cannot be assessed</option>
                <option value="pT0">pT0: No evidence of primary tumor</option>
                <option value="pT1">pT1: Tumor 5 cm or less in greatest dimension</option>
                <option value="pT2">pT2: Tumor more than 5 cm and less than or equal to 10 cm in greatest dimension</option>
                <option value="pT3">pT3: Tumor more than 10 cm and less than or equal to 15 cm in greatest dimension</option>
                <option value="pT4">pT4: Tumor more than 15 cm in greatest dimension</option>
            </select>
            <br>

            <h6 class='mt-2'>pN</h6>
            <select id="box12" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pN0">pN0: No regional lymph node metastasis or unknown lymph node status</option>
                <option value="pN1">pN1: Regional lymph node metastasis</option>
            </select>
            <br>

            <h6 class='mt-2'>pM</h6>
            <select id="box13" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected value='pMx'>pMx: Not applicable</option>
                <option value="pM1">pM1: Distant metastasis</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box13_2' style='display:none;' placeholder='Specify metastatic sites'>

            <br>
            <form class="form-inline">
                <label class="form-check-label">Check here if any lymph nodes submitted?
                    <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box14" >
                </label>
            </form>
            <div class='lnchk' style='display:none;'><br>
                <form class="form-inline col-8">
                    <label class="m-2">Number of lymph nodes examined: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box15" style="width:100px"></label>
                    <label class="m-2">Number of lymph nodes involved: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box16" style="width:100px"></label>
                </form>
            </div>

            <hr>
            <h5>Ancillary Studies</h5><br>

            <h6>Immunohistochemistry</h6>
            <input type="text" class="form-control form-control-sm col-sm-6 mb-3" id="box17" placeholder="Start typing and choose from list...">


            <h6>Cytogenetics</h6>
            <input type="text" class="form-control form-control-sm col-sm-6 mb-3" id="box18" placeholder="Specify">


            <h6>Molecular testing</h6>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box19" placeholder="Specify">




            <hr>
            <h5>+ Preresection Treatment</h5>
            <select id="box20" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No known preresection therapy</option>
                <option>Chemotherapy performed</option>
                <option>Radiation therapy performed</option>
                <option>Therapy performed, type not specified</option>
                <option>Not specified</option>
            </select>





            <hr>
            <h5>Treatment Effect</h5>
            <select id="box21" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No known presurgical therapy</option>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>


            <!-- close column -->
            <!-- Sarcoma help Modal -->
            {{> page-modals/cap-helpers/sarcoma-grade-modal}}
			</div>
			{{> page-partials/cap-footer}}
	<!-- close row -->
		</div>
		{{> page-partials/history-module}}
	<!-- close container -->
	</div>


			<!--
			"specificScripts":
				[
					"/js/cap/softrx-scripts.js",
				]
		 -->
<!-- 2018 Jan update-->