<div class="container-fluid">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
				<li class="breadcrumb-item">
						<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
				<li class="breadcrumb-item active" id="bc-jump"><i class="fa fa-flask mr-2"></i>Testis - Orchiectomy</li>
		</ol>

 {{> message-center this}}


		{{> page-partials/cap-header}}

	<div class="row">
		{{> page-partials/cap-validate-alert}}
		<div class="col col-md-8">

			<hr class="p-2">
			<h5>Specimen Laterality</h5>
			<select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Right</option>
				<option>Left</option>
				<option>Not specified</option>
			</select>





			<hr class="p-2">
			<h5>Tumor Focality</h5>
			<select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Unifocal</option>
				<option>Multifocal</option>
				<option>Cannot be determined</option>
			</select>





			<hr class="p-2">
			<div class="add-tumor h5" style="display: none;">Primary</div>
			<h5>Tumor Size (cm)</h5>
			<input type="text" class="form-control form-control-sm col-sm-6" id="box3" placeholder="Greatest dimension">



			<div class="add-tumor" style="display: none;">
			<hr class="p-2">
			<h5>Tumor Size of Additional Tumor Nodules (cm)</h5>
			<input type="text" class="form-control form-control-sm col-sm-6" id="box4" placeholder="if applicable">
			</div>



			<hr class="p-2">
			<h5>Histologic Type</h5>
			<input type="text" class="form-control form-control-sm col-sm-6" id="box5" placeholder="Start typing and then choose from list">

			<input type="number" class="form-control form-control-sm col-sm-6 "  id="box5_2" style="display:none" placeholder='Enter %Seminoma' >
			<input type="number" class="form-control form-control-sm col-sm-6 "  id="box5_3" style="display:none" placeholder='Enter %Yolk Sac tumor' >
			<input type="number" class="form-control form-control-sm col-sm-6 "  id="box5_4" style="display:none" placeholder='Enter %Choriocarcinoma' >
			<input type="number" class="form-control form-control-sm col-sm-6 "  id="box5_5" style="display:none" placeholder='Enter %Embryonal carcinoma' >
			<input type="number" class="form-control form-control-sm col-sm-6 "  id="box5_6" style="display:none" placeholder='Enter %Teratoma' >
			<input type="text" class="form-control form-control-sm col-sm-6 "  id="box5_7" style="display:none" placeholder='Describe somatic malignant component' >
			<input type="text" class="form-control form-control-sm col-sm-6 "  id="box5_8" style="display:none" placeholder='Describe other malignant component' >
			<input type="text" class="form-control form-control-sm col-sm-6 "  id="box5_9" style="display:none" placeholder='Describe mixed sex-cord components' >




			<hr class="p-2">
			<h5>Tumor Extension</h5>
			<select multiple id="box6" class='form-control selectpicker form-control-sm col-sm-12'>
				<option>No evidence of primary tumor</option>
				<option>Germ cell neoplasia in situ only</option>
				<option>Tumor limited to testis</option>
				<option>Tumor invades rete testis</option>
				<option>Tumor invades hilar soft tissue</option>
				<option>Tumor invades epididymis</option>
				<option value="Tumor invades through tunica albuginea and perforates tunica vagginalis (mesothelium)">Tumor invades through tunica albug. and perforates tunica vag.</option>
				<option>Tumor invades spermatic cord</option>
				<option>Tumor invades scrotum</option>
				<option>Tumor invades other structures</option>
				<option>Cannot be assessed</option>
			</select>

			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2' style='display:none;' placeholder='Specify other'>





			<hr class="p-2">
			<h5>Margins</h5>
			<div class="ml-3">
				<h6>Spermatic cord</h6>
				<select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
					<option>Cannot be assessed</option>
					<option>Uninvolved by tumor</option>
					<option>Involved by tumor</option>
				</select>

				<div class="py-3 w-100"></div>

				<h6>Other margins</h6>

				<select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
					<option selected>Not applicable</option>
					<option>Cannot be assessed</option>
					<option>Uninvolved by tumor</option>
					<option>Involved by tumor</option>
				</select>

				<input type="text" class="form-control form-control-sm col-sm-6" id='box8_1' style='display:none;' placeholder='Specify margin'>
				<input type="text" class="form-control form-control-sm col-sm-6" id='box8_3' style='display:none;' placeholder='Specify involved margin'>


			</div>






			<hr class="p-2">
			<h5>Lymphovascular Invasion</h5>
			<select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Not identified</option>
				<option>Present</option>
				<option>Cannot be determined</option>
			</select>





			<hr class="p-2">
			<h5>Pathologic Staging (pTNM)

			</h5>

			<h6>TNM Descriptors (select all that apply)</h6>
			<select id="box10" class='form-control selectpicker form-control-sm col-sm-6' multiple>
				<option selected value="Not applicable">Not applicable</option>
				<option>m</option>
				<option>r</option>
				<option>y</option>
			</select>

			<div class="py-2 w-100"></div>

			<h6 class='mt-2'>pT</h6>
			<div class="bg-info small my-2 p-1 col-sm-6"># Subclassification of pT1 applies only to pure seminoma</div>
			<select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
				<option value="pTX">pTX: Primary tumor cannot be assessed</option>
				<option value="pT0">pT0: No evidence of primary tumor</option>
				<option value="pTis">pTis: Germ cell neoplasia in situ</option>
                <option value="pT1">pT1: Tumor limited to testis (including rete testis invasion) without lymphovascular invasion</option>
                <option value="pT1a">pT1a: Pure seminoma (<3 cm) limited to testis (including rete testis invasion) without lymphovascular invasion</option>
				<option value="pT1b">pT1b: Pure seminoma (>3 cm) limited to testis (including rete testis invasion) without lymphovascular invasion</option>
				<option value="pT2">pT2: Tumor limited to testis (including rete testis invasion) with lymphovascular invasion OR Tumor invading hilar soft tissue or epididymis or penetrating visceral mesothelial layer covering the external surface of tunica albuginea with or without lymphovascular invasion</option>
				<option value="pT3">pT3: Tumor directly invades spermatic cord soft tissue with or without lymphovascular invasion</option>
				<option value="pT4">pT4: Tumor invades scrotum with or without lymphovascular invasion</option>
			</select>

			<div class="py-2 w-100"></div>

			<h6 class='mt-2'>pN</h6>
			<select id="box12" class='form-control selectpicker form-control-sm col-sm-6'>
				<option value="pNX">pNX: Regional lymph node cannot be assessed</option>
				<option value="pN0">pN0: No regional lymph node metastasis</option>
				<option value="pN1">pN1: Metastasis with a lymph node mass 2 cm or smaller in greatest dimension and less than or equal to five nodes positive, none larger than 2 cm in greatest dimension</option>
				<option value="pN2">pN2: Metastasis with a lymph node mass larger than 2 cm but not larger than 5 cm in greatest dimension; or more than five nodes positive, none larger than 5 cm; or evidence of extranodal extension of tumor</option>
				<option value="pN3">pN3: Metastasis with a lymph node mass larger than 5 cm in greatest dimension</option>
			</select>

			<div class="py-2 w-100"></div>

			<h6 class='mt-2'>pM</h6>
			<select id="box13" class='form-control selectpicker form-control-sm col-sm-6'>
				<option selected value='pMx'>pMx: Not applicable</option>
				<option value="pM1a">pM1a: Nonretroperitoneal nodal or pulmonary metastases</option>
				<option value="pM1b">pM1b: Nonpulmonary visceral metastases</option>
			</select>
			<input type="text" class="form-control form-control-sm col-sm-6" id="box13_2" style="display:none;" placeholder="Specify metastatic sites">

			<div class="py-2 w-100"></div>

			<form class="form-inline">
				<label class="form-check-label">Check here if any lymph nodes submitted?
					<input class="form-control form-control-sm col-sm-6" type="checkbox" id="box14" >
				</label>
			</form>
			<div class='lnchk' style='display:none;'>
				<form class="form-inline col-8">
					<label class="m-2">Number of lymph nodes examined:
						<input type="number" class="form-control form-control-sm col-sm-6 ml-3 maxnode" id="box15" style="width:100px"></label>
					<label class="m-2">Number of lymph nodes involved:
						<input type="number" class="form-control form-control-sm col-sm-6 ml-3 subnode" id="box16" style="width:100px"></label>

				<div class="posnodes" style="display: none;">

					<div class="py-2 w-100"></div>

					Involved Lymph Node Site(s)
					<select multiple id="box17" class='form-control selectpicker form-control-sm col-sm-6 ml-3'>
						<option>interaortocaval</option>
						<option>paraaortic</option>
						<option>paracaval</option>
						<option>preaortic</option>
						<option>precaval</option>
						<option>retroaortic</option>
						<option>retrocaval</option>
						<option>Other</option>
					</select>

					<input type="text" class="form-control form-control-sm mt-3 col-sm-6 ml-3" id='box17_2' style='display:none;' placeholder='Specify Other involved site'>

					<div class="py-2 w-100"></div>

					Size of Largest Lymph Node (or Nodal Mass) Involved (cm)
					<input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box18" placeholder="">

					<div class="py-2 w-100"></div>

					Extranodal Extension
					<select id="box19" class='form-control selectpicker form-control-sm col-sm-6 ml-3'>
						<option>Not identified</option>
						<option>Present</option>
						<option>Cannot be determined</option>
					</select>

					<div class="py-2 w-100"></div>

					Histologic subtype of germ cell tumor in involved lymph nodes
					<select id="box20" class='form-control selectpicker form-control-sm col-sm-6 ml-3'>
						<option>Cannot be assessed</option>
						<option>Seminoma</option>
						<option>Embryonal carcinoma</option>
						<option>Yolk sac tumor</option>
						<option>Choriocarcinoma</option>
						<option>Placental site trophoblastic tumor</option>
						<option>Epithelioid trophoblastic tumor</option>
						<option>Cystic trophoblastic tumor</option>
						<option>Teratoma</option>
						<option>Sex Cord-Stromal Tumor</option>
						<option>Other</option>
					</select>

					<input type="text" class="form-control form-control-sm mt-3 col-sm-6 ml-3" id='box20_2' style='display:none;' placeholder='Specify Other'>

				</div>

				</form>



			</div>


			<hr class="p-2">
			<h5>+ Serum Tumor Markers</h5>
			<select id="box21" class='form-control selectpicker form-control-sm col-sm-6 opt'>
				<option></option>
				<option value="SX">SX: Serum marker studies not available or performed</option>
				<option value="S0">S0: Serum marker study levels within normal limits</option>
				<option value="S1">S1: LDH <1.5x normal  and HCG <5,000 mIU/ml and AFP <1,000 ng/ml</option>
				<option value="S2">S2: LDH  1.5-10x normal or HCG 5,000-50,000 mIU/ml or AFP 1,000-10,000 ng/ml</option>
				<option value="S3">S3: LDH  >10x normal or HCG >50,000 mIU/ml or AFP >10,000 ng/ml</option>
			</select>





			<hr class="p-2">
			<h5>+ Additional Pathologic Findings (select all that apply</h5>
			<select multiple id="box22" class='form-control selectpicker form-control-sm col-sm-6 opt'>
				<option>None identified</option>
				<option>Germ cell neoplasia in situ (GCNIS)</option>
				<option>Microlith</option>
				<option>Sertoli cell nodule (Pick’s adenoma)</option>
				<option>Atrophy</option>
				<option>Other</option>
			</select>

			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box22_2' style='display:none;' placeholder='Specify Other'>




			<div class="marsden" style="display: none">
			<hr class="p-2">
				<h5>+ Modified Royal Marsden Staging System (for patients with seminoma)</h5>
			<small><p>Some studies suggest that the staging of patients with seminoma by the TNM system is less meaningful
			   therapeutically than staging by a modification of the Royal Marsden method. This protocol therefore encourages the use of the TNM system with optional use of
			   the modified Royal Marsden staging system for patients with seminoma."
			</p>
			</small>

			<select id="box23" class='form-control selectpicker form-control-sm col-sm-6 opt'>
				<option></option>
				<option>Stage I: Tumor confined to the testis</option>
				<option>Stage IIA: Infradiaphragmatic nodal involvement, greatest dimension of involved nodes less than 2 cm</option>
				<option>Stage IIB: Infradiaphragmatic nodal involvement, greatest dimension of involved nodes 2 cm or more but less than 5 cm</option>
				<option>Stage IIC: Infradiaphragmatic nodal involvement, greatest dimension of involved nodes 5 cm or more but less than 10 cm</option>
				<option>Stage IID: Infradiaphragmatic nodal involvement, greatest dimension of involved nodes 10 cm or more</option>
				<option>Stage III: Supraclavicular or mediastinal involvement</option>
				<option>Stage IV: Extranodal metastases</option>
			</select>
			</div>









			<!-- close column -->
			</div>
			{{> page-partials/cap-footer}}
	<!-- close row -->
		</div>
		{{> page-partials/history-module}}
	<!-- close container -->
	</div>


			<!--
			"specificScripts":
				[
					"/js/cap/testis-scripts.js",
				]
		 -->
