<div class="container-fluid">
		<!-- Breadcrumbs -->
		<ol class="breadcrumb">
				<li class="breadcrumb-item">
						<a href="/">Home</a>
				</li>
				<li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
				<li class="breadcrumb-item active" id="bc-jump"><i class="fa fa-flask mr-2"></i>Thyroid Cancer</li>
		</ol>

 {{> message-center this}}


		{{> page-partials/cap-header}}

	<div class="row">
		{{> page-partials/cap-validate-alert}}

		<div class="col col-md-8">
			<hr class="p-2">
			<h5>Procedure</h5>
			<select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Total thyroidectomy</option>
				<option>Right partial excision</option>
				<option>Left partial excision</option>
				<option>Partial excision</option>
				<option>Right lobectomy</option>
				<option>Left lobectomy</option>
				<option>Right lobectomy with isthmusectomy </option>
				<option>Left lobectomy with isthmusectomy </option>
				<option>Right lobe with partial left lobectomy </option>
				<option>Left lobe with partial right lobectomy </option>
				<option>Completion thyroidectomy</option>
			</select>





			<hr class="p-2">
			<h5>Tumor Focality</h5>
			<select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Unifocal</option>
				<option>Multifocal</option>
				<option>Cannot be determined</option>
			</select>





			<hr class="p-2">
			<h5>Tumor Site</h5>
			<select multiple id="box3" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Right lobe</option>
				<option>Left lobe</option>
				<option>Isthmus</option>
				<option>Pyramidal lobe</option>
				<option>Other</option>
			</select>
			
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box3_2' style='display:none;' placeholder='Specify Other'>





			<hr class="p-2">
			<h5>Tumor Size (cm)</h5>
			<input type="text" class="form-control form-control-sm col-sm-6" id="box4" placeholder="Greatest dimension">




			<hr class="p-2">
			<h5>Histologic Type</h5>
			<input type="text" class="form-control form-control-sm col-sm-6" id="box5" placeholder="Start typing and choose match">
			



			<hr class="p-2">
			<h5>Margins</h5>

			<select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Cannot be assessed</option>
				<option>Uninvolved by carcinoma</option>
				<option>Involved by carcinoma</option>
			</select>
			
			<input type="text" class="form-control form-control-sm col-sm-6" id='box6_2' style='display:none;' placeholder='Specify distance from margin (mm)'>
			<input type="text" class="form-control form-control-sm col-sm-6" id='box6_3' style='display:none;' placeholder='Specify involved margin'>






			<hr class="p-2">
			<h5>Angioinvasion</h5>
			<select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Not identified</option>
				<option>Present, Focal (less than 4 vessels)</option>
				<option>Present, Extensive (4 or more vessels)</option>
				<option>Cannot be determined</option>
			</select>





			<hr class="p-2">
			<h5>Lymphatic Invasion</h5>
			<select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Not identified</option>
				<option>Present</option>
				<option>Cannot be determined</option>
			</select>





			<hr class="p-2">
			<h5>Mitotic Rate</h5>
			<form class="form-inline">
				<div class="form-group">
					<label for="">Specify:</label>
					<input type="number" class="form-control form-control-sm ml-2 mr-2" id="box9" style="width:100px" placeholder="0">/10 high-power fields (approx 2 mm^2)
				</div>
				<p class="w-100">
					<small>Note: Mitoses should be counted in 10 consecutive high power fields (HPF) at 400x
						in the most mitotically active area.
					For most microscopes, 10 HPF is roughly equivalent to 2.5 mm2</small></p>
			</form>




			<hr class="p-2">
			<h5>+ Perineural Invasion</h5>
			<select id="box10" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Not identified</option>
				<option>Present</option>
				<option>Cannot be determined</option>
			</select>





			<hr class="p-2">
			<h5>Extrathyroidal Extension</h5>
			<select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
				<option>Not identified</option>
				<option>Present, invading only strap muscles</option>
				<option>Present, invading subcutaneous soft tissues, larynx, trachea, esophagus or recurrent laryngeal nerve</option>
				<option>Present, invading prevertebral fascia or encasing the carotid artery or mediastinal vessels</option>
				<option>Cannot be determined</option>
			</select>





			<hr class="p-2">
			<h5>Pathologic Staging (pTNM)

			</h5>

			<h6>TNM Descriptors (select all that apply)</h6>
			<select id="box12" class='form-control selectpicker form-control-sm col-sm-6' multiple>
				<option selected value="Not applicable">Not applicable</option>
				<option>m</option>
				<option>r</option>
				<option>y</option>
			</select>
			<div class="py-2 w-100"></div>
			<h6 class='mt-2'>pT</h6>
			<select id="box13" class='form-control selectpicker form-control-sm col-sm-6'>
				<optgroup label="Papillary, Follicular, Poorly Differentiated, Hurthle Cell and Anaplastic">
				<option value="pTX">pTX: Primary tumor cannot be assessed</option>
				<option value="pT0">pT0: No evidence of primary tumor</option>
				<option value="pT1a">pT1a: Tumor ≤1 cm in greatest dimension limited to the thyroid</option>
				<option value="pT1b">pT1b: Tumor >1 cm but ≤2 cm in greatest dimension, limited to the thyroid</option>
				<option value="pT2">pT2: Tumor >2 cm, but ≤4 cm in greatest dimension, limited to thyroid</option>
				<option value="pT3a">pT3a: Tumor >4 cm limited to the thyroid</option>
				<option value="pT3b">pT3b: Gross extrathyroidal extension invading only strap muscles (sternohyoid, sternothyroid, thyrohyoid, or omohyoid muscles) from a tumor of any size</option>
				<option value="pT4a">pT4a: Gross extrathyroidal extension invading subcutaneous soft tissues, larynx, trachea, esophagus, or recurrent laryngeal nerve from a tumor of any size</option>
				<option value="pT4b">pT4b: Gross extrathyroidal extension invading prevertebral fascia or encasing the carotid artery or mediastinal vessels from a tumor of any size</option>
				</optgroup>
				<optgroup label="Medullary Thyroid Carcinoma">
				<option value="pTX">pTX: Primary tumor cannot be assessed</option>
				<option value="pT0">pT0: No evidence of primary tumor</option>
				<option value="pT1a">pT1a: Tumor ≤1 cm in greatest dimension limited to the thyroid</option>
				<option value="pT1b">pT1b: Tumor >1 cm but ≤2 cm in greatest dimension, limited to the thyroid</option>
				<option value="pT2">pT2: Tumor >2 cm, but ≤4 cm in greatest dimension, limited to thyroid</option>
				<option value="pT3a">pT3a: Tumor >4 cm in greatest dimension limited to the thyroid</option>
				<option value="pT3b">pT3b: Tumor of any size with gross extrathyroidal extension invading only strap muscles (sternohyoid, sternothyroid, thyrohyoid or omohyoid muscles)</option>
				<option value="pT4a">pT4a: Moderately advanced disease; tumor of any size with gross extrathyroidal extension into the nearby tissues of the neck, including subcutaneous soft tissue, larynx, trachea, esophagus, or recurrent laryngeal nerve</option>
				<option value="pT4b">pT4b: Very advanced disease; tumor of any size with extension toward the spine or into nearby large blood vessels, gross extrathyroidal extension invading the prevertebral fascia, or encasing the carotid artery or mediastinal vessels</option>
				</optgroup>
			</select>
			
			<div class="py-2 w-100"></div>
			<h6 class='mt-2'>pN</h6>
			<select id="box14" class='form-control selectpicker form-control-sm col-sm-6'>
				<option value="pNX">pNX: Regional lymph nodes cannot be assessed</option>
				<option value="pN0">pN0: No evidence of locoregional lymph node metastasis#</option>
				<option value="pN0a">pN0a: One or more cytologically or histologically confirmed benign lymph nodes</option>
				<option value="pN1">pN1: Metastasis to regional nodes</option>
				<option value="pN1a">pN1a: Metastasis to level VI or VII (pretracheal, paratracheal, or prelaryngeal/Delphian, or upper mediastinal) lymph nodes. This can be unilateral or bilateral disease.</option>
				<option value="pN1b">pN1b: Metastasis to unilateral, bilateral, or contralateral lateral neck lymph nodes (levels I, II, III, IV, or V) or retropharyngeal lymph nodes</option>
			</select>
			
			<div class="py-2 w-100"></div>
			<h6 class='mt-2'>pM</h6>
			<select id="box15" class='form-control selectpicker form-control-sm col-sm-6'>
				<option selected value='pMx'>pMx: Not applicable</option>
				<option value="pM1">pM1: Distant metastasis</option>
			</select>
			<input type="text" class="form-control form-control-sm col-sm-6" id="box15_2" style="display:none;" placeholder="Specify metastatic sites">
			<div class="py-2 w-100"></div>
			<form class="form-inline">
				<label class="form-check-label">Check here if any lymph nodes submitted?
					<input class="form-control form-control-sm col-sm-6" type="checkbox" id="box16" >
				</label>
			</form>
			<div class='lnchk' style='display:none;'>
				<!-- Button trigger modal -->
				<button class="btn btn-sm btn-info m-3"  data-toggle="modal" data-target="#help_thyroid_node">Some information about lymph node levels</button>

				<form class="form-inline col-8">
					<label class="m-2">Number of lymph nodes examined: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box17" style="width:100px"></label>
					<label class="m-2">Number of lymph nodes involved: <input type="number" class="form-control form-control-sm col-sm-6 ml-3" id="box18" style="width:100px"></label>
					<div class="py-2 w-100"></div>
					Specify Nodal Levels examined
					<select multiple id="box20" class='form-control selectpicker form-control-sm col-sm-6 m-2'>
						<option>Level VI - (central compartment dissection)</option>
						<option>Level VII (superior mediastinal lymph nodes)</option>
						<option>Level I-V (lateral neck dissection)</option>
						<option>Other</option>
					</select>

					<input type="text" class="form-control form-control-sm mt-3 col-sm-6 m-2" id='box20_2' style='display:none;' placeholder='Specify Other'>
					<div class="py-2 w-100"></div>
					<div class="node-involved" style="display: none;">

						Specify Nodal Levels involved
						<select multiple id="box19" class='form-control selectpicker form-control-sm col-sm-6 ml-3'>
							<option>Level VI - (central compartment dissection)</option>
							<option>Level VII (superior mediastinal lymph nodes)</option>
							<option>Level I-V (lateral neck dissection)</option>
							<option>Other</option>
						</select>

						<input type="text" class="form-control form-control-sm mt-3 col-sm-6 ml-3" id='box19_2' style='display:none;' placeholder='Specify Other'>

						<div class="py-2 w-100"></div>
						Size of Largest Metastatic Deposit (cm)
						<input type="text" class="form-control form-control-sm col-sm-6 ml-3" id="box21" placeholder="">
						<div class="py-2 w-100"></div>
						Extranodal Extension
						<select id="box22" class='form-control selectpicker form-control-sm col-sm-6 ml-3'>
							<option>Not identified</option>
							<option>Present</option>
							<option>Cannot be determined</option>
						</select>
					</div>
				</form>

			</div>










			<hr class="p-2">
			<h5>+ Additional Pathologic Findings (select all that apply)</h5>
			<select multiple id="box23" class='form-control selectpicker form-control-sm col-sm-6 opt'>
				<option>Adenoma</option>
				<option>Adenomatoid nodule(s) or nodular follicular disease</option>
				<option>Diffuse hyperplasia (Graves’ disease)</option>
				<option>Thyroiditis </option>
				<option>Parathyroid gland(s) present</option>
				<option>C-cell hyperplasia </option>
				<option>None identified</option>
				<option>Other</option>
			</select>
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box23_2' style='display:none;' placeholder='Specify # of parathyroid glands'>
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box23_3' style='display:none;' placeholder='Specify Other'>





			<hr class="p-2">
			<h5>+ Clinical History (select all that apply)</h5>
			<select multiple id="box24" class='form-control selectpicker form-control-sm col-sm-6 opt'>
				<option>Radiation exposure</option>
				<option>No known radiation exposure</option>
				<option>Family history</option>
				<option>Postoperative serum marker</option>
				<option>Other</option>
			</select>
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box24_2' style='display:none;' placeholder='Specify marker and level'>
			<input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box24_3' style='display:none;' placeholder='Specify Other'>

			<!-- close column -->
			<!-- Histology help Modal -->
			{{> page-modals/cap-helpers/thyroid-node-help}}


		</div>
			{{> page-partials/cap-footer}}
	<!-- close row -->
		</div>
		{{> page-partials/history-module}}
	<!-- close container -->
	</div>

