<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Urethra carcinomas</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2">
            <h5>Procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Partial urethrectomy</option>
                <option>Total urethrectomy</option>
                <option>Urethrectomy with cystectomy</option>
                <option>Urethrectomy with cystoprostatectomy</option>
                <option>Urethrectomy with penectomy</option>
                <option>Anterior exenteration</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;' placeholder='Specify Other'>


            <hr class="p-2" >
            <h5>+ Tumor Site (select all that apply)</h5>
            <select multiple id="box100" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <optgroup label="Male">
                    <option>Penile urethra</option>
                    <option>Bulbomembranous urethra</option>
                    <option>Prostatic urethra</option>
                </optgroup>
                <optgroup label="Female">
                    <option>Anterior urethra</option>
                    <option>Posterior urethra</option>
                </optgroup>
                <optgroup label="NOS">
                    <option>Urethra, not otherwise specified</option>
                </optgroup>
            </select>



            <hr class="p-2">
            <h5>+ Tumor Size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box2" placeholder="">




            <hr class="p-2">
            <h5>Histologic Type</h5>
            <select multiple id="box3" class='form-control selectpicker form-control-sm col-sm-12'>
                <optgroup label="Urothelial">
                    <option>Papillary urothelial carcinoma, noninvasive</option>
                    <option>Papillary urothelial carcinoma, invasive</option>
                    <option>Urothelial carcinoma in situ</option>
                    <option>Urothelial carcinoma, invasive</option>
                    <option>Urothelial carcinoma, nested (including large nested) variant</option>
                    <option>Urothelial carcinoma, microcystic variant</option>
                    <option>Urothelial carcinoma, micropapillary variant</option>
                    <option>Urothelial carcinoma, lymphoepithelioma-like variant</option>
                    <option>Urothelial carcinoma, plasmacytoid / signet ring / diffuse variant</option>
                    <option>Urothelial carcinoma, sarcomatoid variant</option>
                    <option>Urothelial carcinoma, giant cell variant</option>
                    <option>Urothelial carcinoma, poorly differentiated variant</option>
                    <option>Urothelial carcinoma, lipid-rich variant</option>
                    <option>Urothelial carcinoma, clear cell variant</option>
                    <option>Urothelial carcinoma with squamous differentiation</option>
                    <option>Urothelial carcinoma with glandular differentiation</option>
                    <option>Urothelial carcinoma with trophoblastic differentiation</option>
                    <option>Urothelial carcinoma with Mϋllerian differentiation</option>
                </optgroup>
                <optgroup label="Squamous">
                    <option>Squamous cell carcinoma</option>
                    <option>Verrucous (Squamous cell) carcinoma</option>
                    <option>Squamous cell carcinoma in situ only</option>
                </optgroup>
                <optgroup label="Glandular">
                    <option>Adenocarcinoma</option>
                    <option>Adenocarcinoma, enteric</option>
                    <option>Adenocarcinoma, mucinous</option>
                    <option>Adenocarcinoma, mixed</option>
                    <option>Adenocarcinoma in situ only</option>
                </optgroup>
                <optgroup label="Mullerian tumors">
                    <option>Clear cell carcinoma</option>
                    <option>Endometrioid carcinoma</option>
                </optgroup>
                <optgroup label="Neuroendocrine">
                    <option>Small cell neuroendocrine carcinoma</option>
                    <option>Large cell neuroendocrine carcinoma</option>
                    <option>Well-differentiated neuroendocrine carcinoma</option>
                </optgroup>
                <option>Other histologic type</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box3_2' style='display:none;' placeholder='Specify Other'>





            <hr class="p-2">
            <h5>+ Associated Epithelial Lesions</h5>
            <select multiple id="box4" class='form-control selectpicker form-control-sm col-sm-12'>
                <option>None identified</option>
                <option>Condyloma</option>
                <option>Squamous dysplasia (low, intermediate, high grade)</option>
                <option>Urothelial papilloma</option>
                <option>Urothelial papilloma, inverted type</option>
                <option>Papillary urothelial neoplasm, low malignant potential (PUNLMP)</option>
                <option>Urothelial proliferation of uncertain malignant potential</option>
                <option>Urothelial dysplasia</option>
                <option>Cannot be determined</option>
            </select>




            <div class="histo-grade-1" style="display: none;">
            <hr class="p-2">
            <h5>Histologic Grade - For urothelial carcinoma, other variants, or divergent differentiation</h5>
            <select id="box5" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected>Not applicable</option>
                <option>Low grade</option>
                <option>High grade</option>
                <option>Other</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box5_2' style='display:none;' placeholder='Specify Other'>

            </div>


            <div class="histo-grade-2" style="display: none;">
            <hr class="p-2">
            <h5>Histologic Grade - For squamous cell carcinoma or adenocarcinoma</h5>
            <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected>Not applicable</option>
                <option>G1: Well differentiated</option>
                <option>G2: Moderately differentiated</option>
                <option>G3: Poorly differentiated</option>
                <option>GX: Cannot be assessed</option>
                <option>Other</option>
                <option>Cannot be assessed</option>
                <option>Not applicable</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2' style='display:none;' placeholder='Specify Other'>
            </div>




            <hr class="p-2">
            <h5>Tumor Extension</h5>
            <div class="ml-3">
                <h6>Male carcinoma of penile and bulbomembranous urethra</h6>
                <select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Noninvasive papillary carcinoma</option>
                    <option>Carcinoma in situ</option>
                    <option>Tumor invades subepithelial connective tissue</option>
                    <option>Tumor invades adjacent structures</option>
                    <option selected>Not applicable</option>
                </select>
                <div class='invade1_hid mt-3 ml-3' style='display: none;' >
                    <h6>Choose structures which are invaded (select all that apply)</h6>
                    <select multiple id="box7_2" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>Corpus spongiosum</option>
                        <option>Periurethral muscle</option>
                        <option>Corpus cavernosum</option>
                        <option>Bladder wall</option>
                        <option>Rectum</option>
                        <option>Other</option>
                    </select>
                    <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_3' style='display:none;' placeholder='Specify Other'>
                </div>

                <div class="py-2 w-100"></div>

                <h6>Male carcinoma of the prostatic urethra</h6>
                <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Carcinoma in situ, involvement of the prostatic urethra</option>
                    <option>Carcinoma in situ, involvement of the prostatic ducts</option>
                    <option>Tumor invades urethral subepithelial connective tissue immediately underlying the urothelium</option>
                    <option>Tumor invades the prostatic stroma surrounding ducts either by direct extension from the urothelial surface or by invasion from prostatic ducts</option>
                    <option>Tumor invades the periprostatic fat</option>
                    <option>Tumor invades adjacent structures</option>
                    <option selected>Not applicable</option>
                </select>

                <div class='invade2_hid mt-3 ml-3' style='display: none;' >
                    <h6>Choose structures which are invaded (select all that apply)</h6>
                    <select multiple id="box8_2" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option>Extra-prostatic bladder wall</option>
                        <option>Rectum</option>
                        <option>Other</option>
                    </select>
                    <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box8_3' style='display:none;' placeholder='Specify Other'>
                </div>


                <div class="py-2 w-100"></div>

                <h6>Tumor Extension - Female carcinoma of urethra</h6>
                <select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Noninvasive papillary carcinoma</option>
                    <option>Carcinoma in situ</option>
                    <option>Tumor invades subepithelial connective tissue</option>
                    <option>Tumor invades adjacent structures</option>
                    <option selected>Not applicable</option>
                </select>

                <div class='invade3_hid mt-3 ml-3' style='display: none;' >
                    <h6>Choose structures which are invaded (select all that apply)</h6>
                    <select multiple id="box9_2" class='form-control selectpicker form-control-sm col-sm-6'>
                        <option value="Periurethral muscle">Periurethral muscle (fibromuscular and adipose tissue)</option>
                        <option>Anterior vagina</option>
                        <option>Bladder wall</option>
                        <option>Rectum</option>
                        <option>Other</option>
                    </select>
                    <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box9_3' style='display:none;' placeholder='Specify Other'>
                </div>

            </div>



            <hr class="p-2">
            <h5>Margins - Invasive</h5>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-10'>
                <option>Uninvolved by invasive carcinoma and carcinoma in situ/ noninvasive urothelial carcinoma
                </option>
                <option>Uninvolved by invasive carcinoma; dysplasia is present</option>
                <option value="Invasive carcinoma involving: ">Involved by invasive carcinoma</option>
            </select>
            
            <div class='margin_hid mt-3 ml-3' style='display: none;' >
                <h6>Choose margins which are involved (select all that apply)</h6>
                <select multiple id="box10_2" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Proximal mucosal margin</option>
                    <option>Distal mucosal margin</option>
                    <option>Deep soft tissue margin</option>
                    <option>Other</option>
                </select>
                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box10_3' style='display:none;' placeholder='Specify Other'>
            </div>

            <div class='dys mt-3 ' style='display: none;' >
            <hr class="p-2" >
            <h5>Margins - dysplasia</h5>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="Carcinoma in situ involving: ">Involved by carcinoma in situ/noninvasive high-grade urothelial carcinoma</option>
                <option value="Noninvasive low-grade urothelial carcinoma involving: ">Involved by noninvasive low-grade urothelial carcinoma/urothelial dysplasia</option>
                <option selected>Not applicable</option>
            </select>


            <div class='situ_hid mt-3 ml-3' style='display: none;' >
                <h6>Choose margins which are involved (select all that apply)</h6>
                <select multiple id="box11_2" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option>Proximal mucosal margin</option>
                    <option>Distal mucosal margin</option>
                    <option>Other</option>
                </select>
                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box11_3' style='display:none;' placeholder='Specify Other'>
            </div>
            </div>


            <hr class="p-2" >
            <h5>+ Lymphovascular Invasion</h5>
            <select id="box50" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option></option>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>


            <hr class="p-2" >
            <h5>Regional Lymph Nodes</h5>
            <form class="form-inline">
                <label class="form-check-label">Check here if any lymph nodes submitted?
                    <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box16" >
                </label>
            </form>
            <div class='lnchk' style='display:none;'>
                <form class="form-inline col-8">
                    <label class="m-2">Number of lymph nodes examined:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3 maxnode" id="box17" ></label>
                    <label class="m-2">Number of lymph nodes involved:
                        <input type="number" class="form-control form-control-sm col-sm-6 ml-3 subnode" id="box18" s></label>


                    <div class="py-2 w-100"></div>
                    <div class="posnodes" style="display: none">
                        + Size of Largest Metastatic Deposit (cm):
                        <input type="text" class="form-control form-control-sm col-sm-6 opt" id="box19" placeholder="">

                        <div class="py-2 w-100"></div>

                        + Extranodal Extension
                        <select id="box20" class='form-control selectpicker form-control-sm col-sm-6 ml-3 opt'>
                            <option></option>
                            <option>Not identified</option>
                            <option>Present</option>
                            <option>Cannot be determined</option>
                        </select>
                    </div>
                </form>
            </div>



            <hr class="p-2">
            <h5>Pathologic Staging (pTNM)

            </h5>

            <h6>TNM Descriptors (select all that apply)</h6>
            <select id="box12" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                <option selected value="Not applicable">Not applicable</option>
                <option>m</option>
                <option>r</option>
                <option>y</option>
            </select>
            <div class="py-2 w-100"></div>
            <h6 class='mt-2'>pT</h6>
            <select id="box13" class='form-control selectpicker form-control-sm col-sm-6'>
                <optgroup label="Male Penile and Female Urethra">
                <option value="pTX">pTX: Primary tumor cannot be assessed</option>
                <option value="pT0">pT0: No evidence of primary tumor</option>
                <option value="pTa">pTa: Non-invasive papillary carcinoma</option>
                <option value="pTis">pTis: Carcinoma in situ</option>
                <option value="pT1">pT1: Tumor invades subepithelial connective tissue</option>
                <option value="pT2">pT2: Tumor invades any of the following: corpus spongiosum, periurethral muscle</option>
                <option value="pT3">pT3: Tumor invades any of the following: corpus cavernosum, anterior vagina</option>
                <option value="pT4">pT4: Tumor invades other adjacent organs (eg, invasion of the bladder wall</option>
                </optgroup>
                <optgroup label="Prostatic urethra">
                <option value="pTa">pTa: Non-invasive papillary carcinoma</option>
                <option value="pTis">pTis: Carcinoma in situ involving the prostatic urethra or periurethral or prostatic ducts without stromal invasion</option>
                <option value="pT1">pT1: Tumor invades urethral subepithelial connective tissue immediately underlying the urothelium</option>
                <option value="pT2">pT2: Tumor invades the prostatic stroma surrounding ducts either by direct extension from the urothelial surface or by invasion from prostatic ducts</option>
                <option value="pT3">pT3: Tumor invades the periprostatic fat</option>
                <option value="pT4">pT4: Tumor invades other adjacent organs (eg, extraprostatic invasion of the bladder wall, rectal wall)</option>
                </optgroup>
            </select>

            <div class="py-2 w-100"></div>

            <h6 class='mt-2'>pN</h6>
            <select id="box14" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pNX">pNX: Regional lymph nodes cannot be assessed</option>
                <option value="pN0">pN0: No regional lymph node metastasis</option>
                <option value="pN1">pN1: Single regional lymph node metastasis in the inguinal region or true pelvis (perivesical, obturator, internal [hypogastric] and external iliac), or presacral lymph node</option>
                <option value="pN2">pN2: Multiple regional lymph node metastasis in the inguinal region or true pelvis (perivesical, hypogastric, obturator, internal and external iliac, or presacral lymph node)</option>
            </select>
            
            <div class="py-2 w-100"></div>

            <h6 class='mt-2'>pM</h6>
            <select id="box15" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected value='pMx'>pMx: Not applicable</option>
                <option value="pM1">pM1: Distant metastasis</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box15_2" style="display:none;" placeholder="Specify metastatic sites">

            <div class="py-2 w-100"></div>


            <hr class="p-2">
            <h5>+ Additional Pathologic Findings</h5>
            <select multiple id="box21" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>Keratinizing squamous metaplasia</option>
                <option>Inflammation/regenerative changes</option>
                <option>Therapy-related changes</option>
                <option>Urethritis cystica et glandularis</option>
                <option>Intestinal metaplasia</option>
                <option>Other</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box19_2' style='display:none;' placeholder='Specify Other'>







            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
