<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Uterine Sarcomas</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2">
            <h5>Procedure</h5>
            <select multiple id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Total hysterectomy and bilateral salpingo-oophorectomy</option>
                <option>Radical hysterectomy</option>
                <option>Simple hysterectomy</option>
                <option>Supracervical hysterectomy</option>
                <option>Bilateral salpingo-oophorectomy</option>
                <option>Right salpingo-oophorectomy</option>
                <option>Left salpingo-oophorectomy</option>
                <option>Salpingo-oophorectomy, side not specified</option>
                <option>Right oophorectomy</option>
                <option>Left oophorectomy</option>
                <option>Oophorectomy, side not specified</option>
                <option>Bilateral salpingectomy</option>
                <option>Right salpingectomy</option>
                <option>Left salpingectomy</option>
                <option>Salpingectomy, side not specified</option>
                <option>Omentectomy</option>
                <option>Peritoneal biopsies</option>
                <option>Peritoneal washing</option>
                <option>Other</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Specimen Integrity</h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Intact</option>
                <option>Opened</option>
                <option>Morcellated</option>
                <option>Other</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box2_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Tumor Size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box3" placeholder="Greatest dimension">


            <hr class="p-2">
            <h5>Histologic Type (select all that apply)
                <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
                   title="# Low-grade endometrial stromal sarcoma is distinguished from benign endometrial stromal nodule by
                    depth of myometrial invasion ≥3 mm, lymphovascular invasion, or ≥3 foci of myometrial invasion of any depth.
                    Minor marginal irregularity in the form of tongues <3 mm is allowable for an endometrial stromal nodule.
                    This protocol does not apply to endometrial stromal nodules."
                   aria-hidden="true"></i>
            </h5>
            <!-- Button trigger modal -->
            <button class="btn btn-sm btn-info mt-2 mb-2" data-toggle="modal" data-target="#help_utsarc_histo">
                Explanatory notes on tumor types
            </button>

            <!-- Histology help Modal -->
            {{> page-modals/cap-helpers/utsarc-histo-help}}
            
            <select id="box4" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Leiomyosarcoma</option>
                <option>Leiomyosarcoma, epithelioid type</option>
                <option>Leiomyosarcoma, myxoid type</option>
                <option>Endometrial stromal sarcoma, low grade</option>
                <option>Endometrial stromal sarcoma with smooth muscle differentiation, low grade</option>
                <option>Endometrial stromal sarcoma with sex cord elements, low grade</option>
                <option>Endometrial stromal sarcoma with glandular elements, low grade</option>
                <option>Endometrial stromal sarcoma, high grade</option>
                <option>Undifferentiated uterine/endometrial sarcoma</option>
                <option>Adenosarcoma</option>
                <option>Adenosarcoma with rhabdomyoblastic differentiation</option>
                <option>Adenosarcoma with cartilaginous differentiation</option>
                <option>Adenosarcoma with osseous differentiation</option>
                <option>Adenosarcoma with other heterologous element</option>
                <option>Adenosarcoma with sarcomatous overgrowth</option>
                <option>Rhabdomyosarcoma</option>
                <option>Malignant perivascular epithelioid cell tumor</option>
                <option>Other histologic type not listed</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box4_2' style='display:none;'
                   placeholder='Specify heterologouselement type'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box4_3' style='display:none;'
                   placeholder='Specify Other'>


            <div class="adenosarcoma" style="display: none;">
                <hr class="p-2">
                <h5>Histologic Grade (required only for adenosarcoma)</h5>
                <select id="box5" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option selected>Not applicable</option>
                    <option>Low grade</option>
                    <option>High grade</option>
                    <option>With sarcomatous overgrowth</option>
                    <option>Cannot be assessed</option>
                </select>


                <hr class="p-2">
                <h5>Myometrial Invasion (required only for adenosarcoma)</h5>
                <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                    <option selected>Not applicable</option>
                    <option>Not identified</option>
                    <option>Present</option>
                    <option>Cannot be determined</option>
                </select>
                <input type="number" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2'
                       style='display:none;' placeholder='Specify invasion depth (mm)'>
                <input type="number" class="form-control form-control-sm mt-3 col-sm-6" id='box6_4'
                       style='display:none;' placeholder='Specify myometrial thickness (mm)'>
                <input type="number" class="form-control form-control-sm mt-3 col-sm-6" id='box6_5'
                       style='display:none;' placeholder='Specify % myometrial invasion'>
                <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_3' style='display:none;'
                       placeholder='Specify why'>

            </div><!-- end hidden adenosarc items-->


            <hr class="p-2">
            <h5>Other Tissue/ Organ Involvement</h5>
            <select multiple id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not applicable</option>
                <option>Not identified</option>
                <option>Right ovary</option>
                <option>Left ovary</option>
                <option>Ovary (side not specified)</option>
                <option>Right fallopian tube</option>
                <option>Left fallopian tube</option>
                <option>Fallopian tube (side not specified)</option>
                <option>Vagina</option>
                <option>Right parametrium</option>
                <option>Left parametrium</option>
                <option>Parametrium (side not specified)</option>
                <option>Pelvic wall</option>
                <option>Omentum</option>
                <option>Other organs/tissue</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Margins</h5>

            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by sarcoma</option>
                <option>Involved by sarcoma</option>
            </select>
            
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_1' style='display:none;'
                   placeholder='Specify closest margin'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_2' style='display:none;'
                   placeholder='Specify distance from margin (mm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box8_3' style='display:none;'
                   placeholder='Specify involved margin'>


            <hr class="p-2">
            <h5>Lymphovascular Invasion</h5>
            <select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Not identified</option>
                <option>Present</option>
                <option>Cannot be determined</option>
            </select>


            <hr class="p-2">
            <h5>+ Peritoneal/Ascitic Fluid</h5>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option></option>
                <option>Not submitted/ unknown</option>
                <option>Negative for malignancy (normal/benign)</option>
                <option>Atypical and/or suspicious</option>
                <option>Malignant (positive for malignancy)</option>
                <option>Unsatisfactory/nondiagnostic</option>
                <option>Results pending</option>
            </select>


            <hr class="p-2">
            <h5>+ Ancillary Studies</h5>
            <input type="text" class="form-control form-control-sm col-sm-6 opt" id="box21" placeholder="Specify">


            <hr class="p-2" >
            <h5>Regional Lymph Nodes</h5>
            <form class="form-inline">
                <label class="form-check-label">Check here if any lymph nodes submitted?
                    <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box15">
                </label>
            </form>
            <div class='lnchk' style='display:none;'>
                <form class="form-inline">
                    <label class="mb-2">Total Number of Nodes Examined
                        <input type="number" class="form-control form-control-sm ml-3 maxnode" id="box16"></label>
                    <label class="mb-2">Number of Nodes with Metastasis (excludes ITCs)
                        <input type="number" class="form-control form-control-sm ml-3 subnode" id="box17"></label>
                    <label class="mb-2">Number of Nodes with Isolated Tumor Cells (ITCs)
                        <input type="number" class="form-control form-control-sm ml-3" id="box18">
                    </label>

                    <div class="posnodes" style="display: none;">
                        <label class="mb-2">Specify Lymph Node(s) with Tumor
                            <input type="text" class="form-control form-control-sm w-100 ml-3" id="box19">
                        </label>

                        + Additional Lymph Node Findings
                        <select id="box20" class='form-control selectpicker form-control-sm ml-3 opt'>
                            <option></option>
                            <option>None identified</option>
                            <option>Extranodal extension</option>
                            <option>Fixed/ulcerated nodes</option>
                            <option>Other</option>
                            <option>Cannot be determined</option>
                        </select>
                        <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box20_2'
                               style='display:none;' placeholder='Specify Other'>
                    </div>
                </form>
            </div>



            <hr class="p-2">
            <h5>Pathologic Staging (pTNM)
            </h5>

            <h6>TNM Descriptors (select all that apply)</h6>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                <option selected value="Not applicable">Not applicable</option>
                <option>r</option>
                <option>y</option>
            </select>
            <div class="py-2 w-100"></div>
            <h6>pT</h6>
            <select id="box12" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="null"></option>
                <optgroup label="All sarcomas except adenosarcoma">
                    <option value="pTX">pTX: Primary tumor cannot be assessed</option>
                    <option value="pT0">pT0: No evidence of primary tumor</option>
                    <option value="pT1a">pT1a: Tumor 5 cm or less in greatest dimension</option>
                    <option value="pT1b">pT1b: Tumor more than 5 cm</option>
                    <option value="pT2a">pT2a: Tumor involves adnexa</option>
                    <option value="pT2b">pT2b: Tumor involves other pelvic tissues</option>
                    <option value="pT3a">pT3a: Tumor infiltrates abdominal tissues in one site</option>
                    <option value="pT3b">pT3b: Tumor infiltrates abdominal tissues in more than one site </option>
                    <option value="pT4">pT4: Tumor invades bladder or rectum</option>
                </optgroup>
                <optgroup label="For adenosarcoma">
                    <option value="pTX">pTX: Primary tumor cannot be assessed</option>
                    <option value="pT0">pT0: No evidence of primary tumor</option>
                    <option value="pT1a">pT1a: Tumor limited to the endometrium/endocervix</option>
                    <option value="pT1b">pT1b: Tumor invades to less than half of the myometrium</option>
                    <option value="pT1c">pT1c: Tumor invades one half or more of the myometrium</option>
                    <option value="pT2a">pT2a: Tumor involves adnexa</option>
                    <option value="pT2b">pT2b: Tumor involves other pelvic tissues</option>
                    <option value="pT3a">pT3a: Tumor infiltrates abdominal tissues in one site</option>
                    <option value="pT3b">pT3b: Tumor infiltrates abdominal tissues in more than one site</option>
                    <option value="pT4">pT4: Tumor invades bladder and/or rectum</option>
                </optgroup>
            </select>
            
            <div class="py-2 w-100"></div>

            <h6>pN
            <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
               title="Note: Lymph nodes designated as pelvic, parametrial, obturator, internal iliac (hypogastric), external iliac, common iliac, sacral, presacral, and para-aortic are considered regional lymph nodes.
               Any other involved nodes should be categorized as metastases (pM1) and commented on in the distant metastasis section.
               Presence of isolated tumor cells no greater than 0.2 mm in regional lymph node(s) is considered N0(i+)."
               aria-hidden="true"></i></h6>
            
            <select id="box13" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pNX">pNX: Regional lymph nodes cannot be assessed</option>
                <option value="pN0">pN0: No regional lymph node metastasis</option>
                <option value="pN0(i+)">pN0(i+): Isolated tumor cells in regional lymph node(s) no greater than 0.2 mm
                </option>
                <option value="pN1">pN1: Regional lymph node metastasis</option>
            </select>

            <div class="py-2 w-100"></div>

            <h6>pM</h6>
            <select id="box14" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected value='pMx'>pMx: Not applicable</option>
                <option value="pM1">pM1: Distant metastasis (excluding adnexa, pelvic and abdominal
                    tissues)
                </option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box14_2" style="display:none;" placeholder="Specify metastatic sites">

            <div class="py-2 w-100"></div>


            <div class="not_adenosarcoma">
            <hr class="p-2" >
            <h5>+ FIGO Stage - For All Sarcomas Excluding Adenosarcoma</h5>
            <select id="box25" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option></option>
                <option value="FIGO Stage I">I: Tumor limited to uterus</option>
                <option value="FIGO Stage IA">IA: Less than or equal to 5 cm</option>
                <option value="FIGO Stage IB">IB: More than 5 cm</option>
                <option value="FIGO Stage II">II: Tumor extends beyond the uterus, within the pelvis</option>
                <option value="FIGO Stage IIA">IIA: Adnexal involvement</option>
                <option value="FIGO Stage IIB">IIB: Involvement of other pelvic tissues</option>
                <option value="FIGO Stage III">III: Tumor invades abdominal tissues (not just protruding into the abdomen)</option>
                <option value="FIGO Stage IIIA">IIIA: 1 site</option>
                <option value="FIGO Stage IIIB">IIIB: More than 1 site</option>
                <option value="FIGO Stage IIIC">IIIC: Metastasis to pelvic and/or para-aortic lymph nodes</option>
                <option value="FIGO Stage IV">IV: Tumor invades bladder and/or rectum and/or distant metastasis</option>
                <option value="FIGO Stage IVA">IVA: Tumor invades bladder and/or rectal mucosa  </option>
                <option value="FIGO Stage IVB">IVB: Distant metastasis</option>
            </select>
            </div>
            <div class="adenosarcoma" style="display: none;">
            <hr class="p-2" >
            <h5>+ FIGO Stage - For Adenosarcoma</h5>
            <select id="box26" class='form-control selectpicker form-control-sm col-sm-10 opt'>
                <option></option>
                <option value="FIGO Stage I">I: Tumor limited to uterus</option>
                <option value="FIGO Stage IA">IA: Tumor limited to endometrium/endocervix with no myometrial invasion</option>
                <option value="FIGO Stage IB">IB: Less than or equal to half myometrial invasion</option>
                <option value="FIGO Stage IC">IC: More than half myometrial invasion</option>
                <option value="FIGO Stage II">II: Tumor extends beyond the uterus, within the pelvis</option>
                <option value="FIGO Stage IIA">IIA: Adnexal involvement</option>
                <option value="FIGO Stage IIB">IIB: Tumor extends to extrauterine pelvic tissue</option>
                <option value="FIGO Stage III">III: Tumor invades abdominal tissues (not just protruding into the abdomen).</option>
                <option value="FIGO Stage IIIA">IIIA: 1 site</option>
                <option value="FIGO Stage IIIB">IIIB: More than 1 site</option>
                <option value="FIGO Stage IIIC">IIIC: Metastasis to pelvic and/or para-aortic lymph nodes</option>
                <option value="FIGO Stage IV">IV: Tumor invades bladder and/or rectum and/or distant metastasis</option>
                <option value="FIGO Stage IVA">IVA: Tumor invades bladder and/or rectal mucosa </option>
                <option value="FIGO Stage IVB">IVB: Distant metastasis</option>
            </select>
            </div>
            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
