<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Uveal Melanoma</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <hr class="p-2">
            <h5>Procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Local resection</option>
                <option>Enucleation</option>
                <option>Limited exenteration</option>
                <option>Complete exenteration</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Specimen Laterality</h5>
            <select id="box2" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Right</option>
                <option>Left</option>
                <option>Not specified</option>
            </select>


            <hr class="p-2">
            <h5>Tumor Site - macroscopic examination/transillumination (select all that apply)</h5>
            <select multiple id="box3" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Superotemporal quadrant of globe</option>
                <option>Superonasal quadrant of globe</option>
                <option>Inferotemporal quadrant of globe</option>
                <option>Inferonasal quadrant of globe</option>
                <option>Anterior chamber</option>
                <option>Between x and y o'clock</option>
                <option>Other</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-8" id='box3_2' style='display:none;'
                   placeholder="Specify clock designation (ie. between 3 and 6 o'clock">
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box3_3' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Tumor Size After Sectioning - Greatest basal diameter (mm)</h5>
            <input type="number" class="form-control form-control-sm col-sm-6" id="box4" placeholder="">


            <hr class="p-2">
            <h5>Tumor Size After Sectioning - Greatest thickness (mm) </h5>
            <input type="number" class="form-control form-control-sm col-sm-6" id="box5" placeholder="">


            <hr class="p-2">
            <h5>Tumor Site After Sectioning</h5>
            <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be determined</option>
                <option>Superonasal</option>
                <option>Inferonasal</option>
                <option>Superotemporal</option>
                <option>Inferotemporal</option>
            </select>


            <hr class="p-2">
            <h5>Tumor Involvement of Other Ocular Structures</h5>
            <select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Sclera</option>
                <option>Vortex vein(s)</option>
                <option>Optic nerve head</option>
                <option>Vitreous</option>
                <option>Choroid</option>
                <option>Ciliary body</option>
                <option>Iris</option>
                <option>Lens</option>
                <option>Anterior chamber</option>
                <option>Extrascleral extension (anterior)</option>
                <option>Extrascleral extension (posterior)</option>
                <option>Angle/Schlemm’s canal</option>
                <option>Optic nerve</option>
                <option>Retina</option>
                <option>Cornea</option>
                <option>Other</option>
                <option>Cannot be assessed</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box7_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Growth Pattern</h5>
            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be determined</option>
                <option>Solid mass</option>
                <option>Dome shape</option>
                <option>Mushroom shape</option>
                <option>Diffuse (ciliary body ring)</option>
                <option>Diffuse (flat)</option>
            </select>


            <hr class="p-2">
            <h5>Histologic Type</h5>
            <select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Spindle cell melanoma (>90% spindle cells)</option>
                <option>Mixed cell melanoma (>10% epithelioid cells and <90% spindle cells)</option>
                <option>Epithelioid cell melanoma (>90% epithelioid cells)</option>
            </select>


            <hr class="p-2">
            <h5>Scleral Involvement</h5>
            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>None</option>
                <option>Intrascleral</option>
                <option>Extrascleral (≤5 mm largest diameter)</option>
                <option>Extrascleral (>5 mm largest diameter)</option>
                <option>Cannot be determined</option>
            </select>


            <hr class="p-2">
            <h5>Margins</h5>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>No melanoma at margins</option>
                <option>Extrascleral extension (for enucleation specimens)</option>
                <option>Other margin(s) involved</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box11_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>Pathologic Staging (pTNM)</h5>
            <!-- Button trigger modal -->
            <button class="btn btn-sm btn-info mb-3" data-toggle="modal" data-target="#help_uveal">Click for information
                on how to choose the pT group
            </button>

            <!-- Histology help Modal -->
            {{> page-modals/cap-helpers/uveal-tnm-help}}

            <h6>TNM Descriptors (select all that apply)</h6>
            <select id="box12" class='form-control selectpicker form-control-sm col-sm-6' multiple>
                <option selected value="Not applicable">Not applicable</option>
                <option>m</option>
                <option>r</option>
                <option>y</option>
            </select>
            <div class="py-2 w-100"></div>
            <h6>pT</h6>
            <select id="box13" class='form-control selectpicker form-control-sm col-sm-6'>
                <optgroup label="Iris">
                    <option value="(Iris) pTX">pTX: Primary tumor cannot be assessed</option>
                    <option value="(Iris) pT0">pT0: No evidence of primary tumor</option>
                    <option value="(Iris) pT1a">pT1a: Tumor limited to the iris not more than 3 clock hours in size
                    </option>
                    <option value="(Iris) pT1b">pT1b: Tumor limited to the iris more than 3 clock hours in size</option>
                    <option value="(Iris) pT1c">pT1c: Tumor limited to the iris with secondary glaucoma</option>
                    <option value="(Iris) pT2a">pT2a: Tumor confluent with or extending into the ciliary body, without secondary glaucoma
                    </option>
                    <option value="(Iris) pT2b">pT2b: Tumor confluent with or extending into the ciliary body and
                        choroid, without secondary glaucoma
                    </option>
                    <option value="(Iris) pT2c">pT2c: Tumor confluent with or extending into the ciliary body, choroid,
                        or both, with secondary glaucoma
                    </option>
                    <option value="(Iris) pT3">pT3: Tumor confluent with or extending into the ciliary body, choroid, or
                        both, with scleral extension
                    </option>
                    <option value="(Iris) pT4a">pT4a: Tumor with extrascleral extension ≤5 mm in largest diameter
                    </option>
                    <option value="(Iris) pT4b">pT4b: Tumor with extrascleral extension >5 mm in largest diameter
                    </option>
                </optgroup>
                <optgroup label="Ciliary Body and Choroid">
                        <option value="(Ciliary Body/Choroid) pTX">pTX: Primary tumor cannot be assessed</option>
                        <option value="(Ciliary Body/Choroid) pT0">pT0: No evidence of primary tumor</option>
                        <option value="(Ciliary Body/Choroid) pT1a">pT1a: Tumor size category 1 without ciliary body
                            involvement and extraocular extension
                        </option>
                        <option value="(Ciliary Body/Choroid) pT1b">pT1b: Tumor size category 1 with ciliary body
                            involvement
                        </option>
                        <option value="(Ciliary Body/Choroid) pT1c">pT1c: Tumor size category 1 without ciliary body
                            involvement but with extraocular extension ≤5 mm in largest diameter
                        </option>
                        <option value="(Ciliary Body/Choroid) pT1d">pT1d: Tumor size category 1 with ciliary body
                            involvement and extraocular extension ≤5 mm in largest diameter
                        </option>
                        <option value="(Ciliary Body/Choroid) pT2a">pT2a: Tumor size category 2 without ciliary body
                            involvement and extraocular extension
                        </option>
                        <option value="(Ciliary Body/Choroid) pT2b">pT2b: Tumor size category 2 with ciliary body
                            involvement
                        </option>
                        <option value="(Ciliary Body/Choroid) pT2c">pT2c: Tumor size category 2 without ciliary body
                            involvement but with extraocular extension ≤5 mm in largest diameter
                        </option>
                        <option value="(Ciliary Body/Choroid) pT2d">pT2d: Tumor size category 2 with ciliary body
                            involvement and extraocular extension ≤5 mm in largest diameter
                        </option>
                        <option value="(Ciliary Body/Choroid) pT3a">pT3a: Tumor size category 3 without ciliary body
                            involvement and extraocular extension
                        </option>
                        <option value="(Ciliary Body/Choroid) pT3b">pT3b: Tumor size category 3 with ciliary body
                            involvement
                        </option>
                        <option value="(Ciliary Body/Choroid) pT3c">pT3c: Tumor size category 3 without ciliary body
                            involvement but with extraocular extension ≤5 mm in largest diameter
                        </option>
                        <option value="(Ciliary Body/Choroid) pT3d">pT3d: Tumor size category 3 with ciliary body
                            involvement and extraocular extension ≤5 mm in largest diameter
                        </option>
                        <option value="(Ciliary Body/Choroid) pT4a">pT4a: Tumor size category 4 without ciliary body
                            involvement and extraocular extension
                        </option>
                        <option value="(Ciliary Body/Choroid) pT4b">pT4b: Tumor size category 4 with ciliary body
                            involvement
                        </option>
                        <option value="(Ciliary Body/Choroid) pT4c">pT4c: Tumor size category 4 without ciliary body
                            involvement but with extraocular extension ≤5 mm in largest diameter
                        </option>
                        <option value="(Ciliary Body/Choroid) pT4d">pT4d: Tumor size category 4 with ciliary body
                            involvement and extraocular extension ≤5 mm in largest diameter
                        </option>
                        <option value="(Ciliary Body/Choroid) pT4e">pT4e: Any tumor size category with extraocular
                            extension >5 mm in largest diameter
                        </option>
                    </optgroup>
            </select>
            
            <div class="py-2 w-100"></div>
            <h6>pN</h6>
            <select id="box14" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pNX">pNX: Regional lymph nodes cannot be assessed</option>
                <option value="pN0">pN0: No regional lymph node metastasis</option>
                <option value="pN1">pN1: Regional lymph node metastasis or discrete tumor deposits in the orbit</option>
                <option value="pN1a">pN1a: Metastasis in one or more regional lymph node(s)</option>
                <option value="pN1b">pN1b: No regional lymph nodes are positive, but there are discrete tumor deposits
                    in the orbit that are not contiguous to the eye. (choroidal and ciliary body)
                </option>
            </select>
            
            <div class="py-2 w-100"></div>
            <h6>pM</h6>
            <select id="box15" class='form-control selectpicker form-control-sm col-sm-6'>
                <option value="pMx">pMx: Not applicable</option>
                <option value="pM1">pM1: Distant metastasis</option>
                <option value="pM1a">pM1a: Largest diameter of the largest metastasis ≤3 cm</option>
                <option value="pM1b">pM1b: Largest diameter of the largest metastasis 3.1-8.0 cm</option>
                <option value="pM1c">pM1c: Largest diameter of the largest metastasis ≥8.1 cm</option>
            </select>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box15_2" style="display:none;" placeholder="Specify metastatic sites">
            <div class="py-2 w-100"></div>
            <form class="form-inline">
                <label class="form-check-label">Check here if any lymph nodes submitted?
                    <input class="form-control form-control-sm col-sm-6" type="checkbox" id="box16">
                </label>
            </form>
            <div class='lnchk' style='display:none;'>
                <form class="form-inline col-8">
                    <label class="m-2">Number of lymph nodes examined: <input type="number"
                                                                              class="form-control form-control-sm col-sm-6 ml-3"
                                                                              id="box17" style="width:100px"></label>
                    <label class="m-2">Number of lymph nodes involved: <input type="number"
                                                                              class="form-control form-control-sm col-sm-6 ml-3"
                                                                              id="box18" style="width:100px"></label>
                </form>
            </div>


            <hr class="p-2">
            <h5>+ Additional Pathologic Findings (select all that apply)</h5>
            <select multiple id="box19" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected>None identified</option>
                <option>Mitotic rate</option>
                <option>Extravascular matrix pattern</option>
                <option>Vascular invasion (tumor vessels or other vessels)</option>
                <option>Degree of pigmentation</option>
                <option>Inflammatory cells/tumor infiltrating lymphocytes and macrophages</option>
                <option>Drusen</option>
                <option>Retinal detachment</option>
                <option>Invasion of Bruch’s membrane</option>
                <option>Nevus</option>
                <option>Hemorrhage</option>
                <option>Neovascularization</option>
                <option>Other</option>
            </select>
            <input type="number" class="form-control form-control-sm mt-3 col-sm-6" id='box19_2' style='display:none;'
                   placeholder='Specify Mitotic'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box19_3' style='display:none;'
                   placeholder='Specify Other'>


            <!-- end markup-->

            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>
