<div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item"><i class="fa fa-flask mr-2"></i>Cancer Synoptic Checklist</li>
        <li class="breadcrumb-item active"><i class="fa fa-flask mr-2"></i>Pediatric Renal tumor (Wilms)</li>
    </ol>
    {{> message-center this}}
    {{> page-partials/cap-header}}

    <div class="row">
        {{> page-partials/cap-validate-alert}}
        <div class="col col-md-8">

            <!-- paste markup here-->
            <h5>Procedure</h5>
            <select id="box1" class='form-control selectpicker form-control-sm col-sm-6'>
                <option data-proc="bx">Core biopsy</option>
                <option data-proc="bx">Incisional biopsy</option>
                <option data-proc="exc">Excisional biopsy</option>
                <option data-proc="exc">Partial nephrectomy</option>
                <option data-proc="exc">Radical nephrectomy</option>
                <option>Other</option>
                <option>Not specified</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box1_2' style='display:none;'
                   placeholder='Specify Other'>

            <div class="weight" style="display: none;">
            <hr class="p-2">
            <h5>Specimen Weight (g)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box2"
                   placeholder="(applicable to resection specimens only)">
            </div>

            <hr class="p-2">
            <h5>Specimen Laterality</h5>
            <select id="box3" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Right</option>
                <option>Left</option>
                <option>Not specified</option>
            </select>


            <hr class="p-2">
            <h5>Tumor Size (cm)</h5>
            <input type="text" class="form-control form-control-sm col-sm-6" id="box4" placeholder="">


            <hr class="p-2">
            <h5>Additional dimensions of multiple tumors (if necessary)</h5>
            <select multiple id="box5" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Greatest dimension tumor #2</option>
                <option>Greatest dimension tumor #3</option>
                <option>Other</option>
            </select>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box5_2' style='display:none;'
                   placeholder='Specify tumor #2 maximum dimension'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box5_3' style='display:none;'
                   placeholder='Specify tumor #3 maximum dimension'>
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box5_4' style='display:none;'
                   placeholder='Specify any other tumors and their dimensions'>


            <hr class="p-2">
            <h5>Tumor Focality</h5>
            <select id="box6" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Unifocal</option>
                <option>Multifocal</option>
                <option>Cannot be determined</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box6_2' style='display:none;'
                   placeholder='Specify number of tumors'>


            <hr class="p-2">
            <h5>Tumor Extent (applicable to resection specimens only) (select all that apply)</h5>
            <div class="ml-3 py-2">
            <h6>Gerota’s Fascia</h6>
            <select id="box7" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Gerota’s fascia intact</option>
                <option>Gerota’s fascia disrupted</option>
                <option>Cannot be determined</option>
            </select>

                <div class="py-2 w-100"></div>

            <h6>Renal Sinus</h6>
            <select id="box8" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No renal sinus involvement by tumor identified</option>
                <option>Tumor minimally extends into renal sinus soft tissue</option>
                <option>Tumor more than minimally involves renal sinus soft tissue</option>
                <option>Tumor involves lymph-vascular spaces in the renal sinus</option>
                <option>Cannot be determined</option>
            </select>

            <div class="py-2 w-100"></div>

            <h6>Renal Vein</h6>
            <select id="box9" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No renal vein invasion identified</option>
                <option>Renal vein invasion present</option>
                <option>Cannot be determined</option>
            </select>


            <div class="py-2 w-100"></div>

            <h6>Renal Capsule</h6>
            <select id="box20" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No extension beyond renal capsule</option>
                <option>Extension beyond renal capsule present</option>
                <option>Cannot be determined</option>
            </select>


            <div class="py-2 w-100"></div>

            <h6>Adjacent Organ Involvement</h6>
            <select id="box21" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>No tumor extension into adjacent organs identified</option>
                <option>Tumor extension into adjacent organ present</option>
                <option>Cannot be determined</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box21_2' style='display:none;'
                   placeholder='Specify present'>

            </div>

            <hr class="p-2">
            <h5>Margins</h5>

            <select id="box10" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Cannot be assessed</option>
                <option>Uninvolved by tumor</option>
                <option>Involved by tumor</option>
            </select>
            
            <input type="text" class="form-control form-control-sm col-sm-6" id='box10_1' style='display:none;'
                   placeholder='Specify closest margin'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box10_2' style='display:none;'
                   placeholder='Specify distance from margin (mm)'>
            <input type="text" class="form-control form-control-sm col-sm-6" id='box10_3' style='display:none;'
                   placeholder='Specify involved margin'>


            <hr class="p-2">
            <h5>Histologic Type</h5>
            <select id="box11" class='form-control selectpicker form-control-sm col-sm-6'>
                <option>Wilms tumor, favorable histology</option>
                <option>Wilms tumor, focal anaplasia</option>
                <option>Wilms tumor, diffuse anaplasia</option>
                <option>Nephrogenic rest only</option>
                <option>Congenital mesoblastic nephroma, classic</option>
                <option>Congenital mesoblastic nephroma, cellular</option>
                <option>Congenital mesoblastic nephroma, mixed</option>
                <option>Clear cell sarcoma</option>
                <option>Rhabdoid tumor</option>
                <option>Other</option>
                <option>Malignant neoplasm</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box11_2' style='display:none;'
                   placeholder='Specify Other'>


            <hr class="p-2">
            <h5>+ Nephrogenic Rests
            <!-- Button trigger modal -->
            <button class="btn btn-info p-1 ml-2" data-toggle="modal" data-target="#help_nephrogenic">About
                nephrogenic rests
            </button>
            </h5>

            
            <select multiple id="box12" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>No nephrogenic rests identified</option>
                <option>Intralobar nephrogenic rests present</option>
                <option>Perilobar, diffuse/hyperplastic rests present</option>
                <option>Perilobar, multifocal rests present</option>
                <option>Perilobar, focal rests present</option>
                <option>Nephrogenic rests, unclassified</option>
                <option>Cannot be determined</option>
            </select>


            <hr class="p-2">
            <h5>+ Posttherapy Histologic Classification (select all that apply)</h5>
            <select multiple id="box13" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>Not applicable</option>
                <option>No known preoperative therapy (not applicable)</option>
                <option>Low risk (no viable Wilms tumor present other than scattered nephroblastic tubules that may
                    represent residual nephrogenic rest)
                </option>
                <option>Intermediate risk, Viable tumor present comprising <33% of mass, regardless of histology
                </option>
                <option>Intermediate risk, Viable tumor present comprising >33% of mass, with blastemal histology
                    present in <66% of viable tumor
                </option>
                <option>High risk (viable tumor >33% of mass with blastemal histology present in >66% of viable tumor)
                </option>
                <option>Cannot be determined</option>
            </select>


            <hr class="p-2">
            <h5>Distant Metastasis</h5>
            <select id="box16" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected>Not applicable</option>
                <option>Present</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box16_2' style='display:none;'
                   placeholder='Specify site(s)'>


            <hr class="p-2">
            <h5>Children’s Oncology Group Staging System
                <i class="fa fa-question-circle ml-2" data-placement="right" data-toggle="tooltip"
                   title="For Pediatric Renal Tumors Other Than Renal Cell Carcinoma" aria-hidden="true"></i>
            </h5>

            <select id="box17" class='form-control selectpicker form-control-sm col-sm-8'>
                <option>Not applicable (nephrogenic rests only)</option>
                <option>Local Stage I: Tumor limited to kidney and completely resected</option>
                <option>Local Stage II: Tumor extends beyond kidney but is completely resected, with negative surgical
                    margins and negative regional lymph nodes
                </option>
                <option>Local Stage III: Residual tumor is suspected</option>
                <option>Stage IV: Metastatic disease</option>
                <option>Stage V: Bilateral renal involvement at diagnosis</option>
            </select>
            <!-- Button trigger modal -->
            <button class="btn btn-info p-1 mt-1" data-toggle="modal" data-target="#help_wilms-staging">About
                tumor staging
            </button>

            <hr class="p-2">
            <h5>Lymph nodes</h5>
            <form class="form-inline col-8">
                <label class="m-2">Number of lymph nodes examined: <input type="number"
                                                                          class="form-control form-control-sm col-sm-6 ml-3"
                                                                          id="box14" style="width:100px"></label>
                <label class="m-2">Number of lymph nodes involved: <input type="number"
                                                                          class="form-control form-control-sm col-sm-6 ml-3"
                                                                          id="box15" style="width:100px"></label>
            </form>


            <hr class="p-2">
            <h5>+ Ancillary Molecular/Genetic Studies</h5>
            <select multiple id="box18" class='form-control selectpicker form-control-sm col-sm-6 opt'>
                <option>None performed</option>
                <option>No LOH at 1p or 16q</option>
                <option>LOH at 1p; No LOH at 16q</option>
                <option>No LOH at 1p, LOH at 16q</option>
                <option>LOH at 1p and 16q detected</option>
                <option>Array CGH pending; see addendum</option>
                <option>t(12;15) FISH pending; see addendum</option>
                <option>NMYC amplification pending; see addendum</option>
                <option>EWSR FISH pending; see addendum</option>
                <option>22q11.2/INI FISH pending; see addendum</option>
                <option>Other</option>
            </select>
            
            <input type="text" class="form-control form-control-sm mt-3 col-sm-6" id='box18_2' style='display:none;'
                   placeholder='Specify other test'>


            <hr class="p-2">
            <h5>+ Known Underlying Genetic Syndrome</h5>
            <select id="box19" class='form-control selectpicker form-control-sm col-sm-6'>
                <option selected>Unknown at the time of resection</option>
                <option>Beckwith-Wiedemann syndrome</option>
                <option>Perlman familial nephroblastomatosis syndrome</option>
                <option>Denys-Drash syndrome</option>
                <option>Trisomy 18</option>
                <option>Neurofibromatosis</option>
            </select>


            <!-- end markup-->
            <!-- Staging help Modal -->
            {{> page-modals/cap-helpers/wilms-staging-help}}
            <!-- Nephrogenic rests help Modal -->
            {{> page-modals/cap-helpers/wilms-nephro-help}}


            <!-- close markup -->
        </div>
        {{> page-partials/cap-footer}}
        <!-- close row -->
    </div>
    {{> page-partials/history-module}}
    <!-- close container -->
</div>


<!--
			"specificScripts":
				[
					"/js/cap/$-scripts.js",
				]
		 -->